[2022-05-19 17:51] RafSafeSocial opened #1699 "getSubscriptions not returning offers from new Google play api"
Hi everyone.
There is a problem with getting offers for base plans which were set after new changes to Google play api.
Shape of products with offers changed , so right now only base plans are returned while calling
[code]
All base plans are active , offers as well.
Probably due change of api some amendments should be made in android code base.

### Version of react-native-iap
8.0.1

### Version o

[2022-05-19 19:48] tezqa commented on #1408
I just removed the other (and unused) library, previously installed by another developer.

[2022-05-21 17:15] pi0trpietruszewski commented on #1699
☝️  Is there plan to support Billing Library 5?

[2022-05-21 21:43] mifi commented on #1496
I believe this is fixed.

[2022-05-21 21:43] #1496 closed

[2022-05-25 10:59] elinahovakimyan opened #1701 "How to send external data with requestSubscription on iOS"
### Version of react-native-iap

7.5.0

### Version of react-native

0.67.3

### Platforms you faced the error (IOS or Android or both?)

iOS

### Expected behavior

Hello. We need to send some external user data with iOS subscription as the app user can have a different email, etc. For Android, we use `obfuscatedAccountIdAndroid` and `obfuscatedProfileIdAndroid` in the `requestSubscription` metho

[2022-05-25 15:08] yaroslavnikiforov opened #1702 "[iOS] getSubscriptions and getProducts return empty discounts"
### Version of react-native-iap
8.0.9

### Version of react-native
0.67.1

### Platforms you faced the error (IOS or Android or both?)
IOS

### Expected behavior
`getSubscriptions` should return not empty discounts array if a subscription has promotional offers.

### Actual behavior
`getSubscriptions` stopped returning newly added to the subscription promotional offers.

### Tested environment (Em

[2022-05-26 08:22] CodingByJerez commented on #1702
I have the same problem

[2022-05-26 08:51] MariusCatanoiu opened #1703 "RNIap.isReadyAndroid() not returning something. looks broken"
### Version of react-native-iap
 8.0.9
### Version of react-native:
0.68.1
### Platforms you faced the error (IOS or Android or both?)
android
### Expected behavior
RNIap.isReadyAndroid()  must return true/false
### Actual behavior
RNIap.isReadyAndroid()  returns nothing
### Tested environment (Emulator? Real Device?)
Samsung A6, Samsung S 21
### Steps to reproduce the behavior
I made a condition:

[2022-05-26 15:40] seanDeCoder commented on #1699
Did you test using a licensed tester?

[2022-05-26 22:04] goguda commented on #1623
Are you marking the receipt of the consumable as acknowledged server-side by chance?

I was having the same issue and was acknowledging server-side which turned out to be the mistake. As per [Google's documentation](https://developer.android.com/google/play/billing/integrate#process), only non-consumables should be acknowledged, and consumables should be consumed. It appears that if you acknowledg

[2022-05-27 18:01] RafSafeSocial commented on #1699
Yes ... Licensed tester is configured. New Subscriptions plans are returned , no new api offers returned.

[2022-05-28 16:49] Dallas62 commented on #1683
Hi,
Does #1698 fix this issue ?
Regards

[2022-06-01 08:35] Ravi2501 opened #1707 "Subscription not working"
IAP version : "react-native-iap": "^8.0.10"
React native Version:  "react-native": "0.66.4"

Subscription not working RNIap.requestSubscription(sku) method gives an error Item not available for purchase but  InApp purchase working fine issues with subscription product.

[2022-06-01 09:46] Ravi2501 commented on #1593
same issue when i call RIAP.requestSubscription()

[2022-06-01 10:19] lukebars commented on #1403
Any news about this migration? Do you need any help?

[2022-06-01 19:14] charneykaye opened #1708 "iOS get subscriptions just hangs, never resolves/rejects"
The following component functions nominally under Android. We thought we were cool.

But, the same code on iOS hangs when it tries to get subscriptions. The request doesn't succeed, doesn't fail, doesn't crash. The JS promise is seemingly never resolved or rejected.

Has anyone experienced this? Any ideas on what I should try next?

This is running on my 100% real iPhone logged into my Apple accou

[2022-06-01 20:35] charneykaye commented on #1708
Also reminiscent of https://github.com/dooboolab/react-native-iap/issues/984

[2022-06-01 20:40] charneykaye commented on #1708
This other iOS issue is still open, potentially nearby **purchaseUpdatedListener called only once on app start, and never calls after requestSubscription call** #985

[2022-06-01 20:55] charneykaye commented on #1708
Upgrading from `react-native-iap@8.0.0-rc.6` to `8.0.10` resolved this issue.

[2022-06-01 20:55] #1708 closed

[2022-06-02 10:26] Vuconghieu2022 commented on #1699
Play console has been updated:
--> "Recent changes to subscriptions in Play Console" (https://support.google.com/googleplay/android-developer/answer/12124625)

[2022-06-02 16:12] SimonDamberg commented on #1699
I am also only getting one base plan per subscription, not able to get my other plan. The one that is returned is the one I select to be backwards-compatible.

[2022-06-03 04:19] Tharinducn commented on #1699
After adding the offer with two phases (Single payment and Free trial) and selecting "Use for deprecating billing methods" I received the offer.

<img width="299" alt="1" src="https://user-images.githubusercontent.com/35630380/171783422-857456f2-49fa-4b24-a44f-e8f1a9cf0908.png">

<img width="431" alt="2" src="https://user-images.githubusercontent.com/35630380/171785113-97be0f6d-bf91-463a-8d48-a788

[2022-06-03 10:33] SimonDamberg commented on #1699
@Tharinducn I have one baseplan with a montly subscription and an attached offer of a free trial for two weeks. When I call `requestSubscription(sku)`, the free trial does not show up in the dialog.

[2022-06-03 18:23] andresesfm commented on #1707
Please use the template when creating issues.

[2022-06-03 18:23] #1707 closed

[2022-06-05 08:50] SimonDamberg opened #1710 "Migrate to Google Play Billing Library 5"
Would be great if we could use the new features in the latest version :)

[Migration Guide](https://developer.android.com/google/play/billing/migrate-gpblv5)
[Compatability Guide](https://developer.android.com/google/play/billing/compatibility)

[2022-06-06 02:04] jkfurog commented on #1702
I am also getting empty discounts issue

[2022-06-06 09:37] Tharinducn opened #1711 "[iOS] getSubscriptions not returning introductory offers in the IOS production app"
### Version of react-native-iap

7.5.6

### Version of react-native

0.63.4

### Platforms you faced the error (IOS or Android or both?)

IOS

### Expected behavior

React Native IAP should return the available introductory offers in both production and sandbox environment

### Actual behavior

React Native IAP only returns the available introductory offers in the sandbox environment

### Tested e

[2022-06-06 10:28] Ravi2501 opened #1712 "Suscription getSubscription getting empty array also requestSubscription not return anything"
### Version of react-native-iap

8.0.10

### Version of react-native

0.66.4

### Platforms you faced the error (IOS or Android or both?)

Android

### Expected behavior

React native IAP return empty array

### Actual behavior

React native IAP test purchased working fine but problem with subscription product

### Tested environment (Emulator? Real Device?)

Real Device

### Steps to reproduce th

[2022-06-06 13:19] FabianTauriello opened #1713 "Product in getProducts() returns correct currency but incorrect price (iOS only)"
### Version of react-native-iap

4.6.3

### Version of react-native

0.62.2

### Platforms you faced the error (IOS or Android or both?)

IOS

### Expected behavior

The product should return the correct currency and associated price.

### Actual behavior

When testing my in-app purchase, the product that's returned includes the correct currency (GBP) but the incorrect price.

### Tested environme

[2022-06-06 16:35] andresesfm commented on #1712
@Ravi2501  What is being returned instead of the empty list?

[2022-06-06 16:38] andresesfm commented on #1711
@Tharinducn can you clarify why you expect that behavior? Do you have a link to the native documentation that supports this expectation?

[2022-06-06 17:41] Tharinducn commented on #1711
@andresesfm this worked on both staging and production in the same way previously. But after adding an introductory offer to the App Store Connect yesterday I'm getting the introductory offer only in the staging environment now.

Found a similar issue [here](https://developer.apple.com/forums/thread/706677).

[2022-06-06 17:52] andresesfm commented on #1693
Please try: https://github.com/dooboolab/react-native-iap/releases/tag/8.0.10

[2022-06-06 17:52] #1693 closed

[2022-06-06 17:55] andresesfm commented on #1685
Better to use stackoverflow for this kind of question

[2022-06-06 17:55] #1685 closed

[2022-06-06 18:04] andresesfm commented on #1659
Closing as it has been merged

[2022-06-06 18:04] #1659 closed

[2022-06-06 18:47] andresesfm commented on #1658
For Android, if the subscription is returned, it means that it's active.
For iOS the suggested way is to persist the transaction on your backend. Discussion: https://stackoverflow.com/questions/63362493/how-to-check-if-subscription-is-active-in-ios-on-app-restart-or-reinstall

[2022-06-06 18:47] #1658 closed

[2022-06-07 04:45] Ravi2501 commented on #1712
Now its working with auto renewal product but what about prepaid??

[2022-06-07 10:55] karel-suchomel-uhk opened #1715 "Unable to cancel subscription from settings"
This is more of a question, I don't know if it is related to this package, but I haven't found anything. Everything works fine, I can successfully purchase the subscription, receive a receipt and validate it, but I cannot cancel it from the settings.
Any help or feedback would be appreciated.

### Version of react-native-iap
8.0.10
### Version of react-native
0.66.0
### Platforms you faced the err

[2022-06-07 11:58] vovBorya opened #1716 "bundleRelease error on jitsi-meet project"
Our project cloned from [jitsi-meet](https://github.com/jitsi/jitsi-meet) . I'm trying install for Android your package manually using this guide https://react-native-iap.dooboolab.com/docs/manual_install/ . For [jitsi-meet](https://github.com/jitsi/jitsi-meet) repository there are [some different places](https://jitsi.github.io/handbook/docs/dev-guide/dev-guide-mobile-jitsi-meet/#adding-extra-dep

[2022-06-07 15:36] bitfabrikken opened #1717 "Hard crash on iOS calling getSubscriptions() for subscription with trial / promotional offer"
### Version of react-native-iap
8.0.10

### Version of react-native
0.67.2

### Platforms you faced the error (IOS or Android or both?)
IOS

### Expected behavior
Call getSubscriptions() without crashing

### Actual behavior
Calling getSubscriptions() crashes the app.

### Tested environment (Emulator? Real Device?)
Both

### Steps to reproduce the behavior
Call getSubscriptions() within an app th

[2022-06-08 02:18] Tharinducn commented on #1711
I received the offer. It took more than a day to receive it after creating the offer. Seems like an issue from App Store Connect side

[2022-06-08 02:18] #1711 closed

[2022-06-08 08:50] catmans1 commented on #1478
@caoyongfeng0214
[code]
Because of this above.
on iOS don't need implement it.
We can change the code a bit
[code]

[2022-06-08 18:16] #1687 closed

[2022-06-08 20:11] #1418 closed

[2022-06-08 20:17] #1648 closed

[2022-06-08 20:18] #1642 closed

[2022-06-08 20:23] #1597 closed

[2022-06-08 20:23] #1555 closed

[2022-06-08 20:26] #1118 closed

[2022-06-08 20:26] #1120 closed

[2022-06-08 20:45] andresesfm commented on #1716
@vovBorya By the looks of the error you posted, the build process is not finding the rn-iap itself. please make sure the path is correct when added to settings.gradle. I'll close as this is better suited for stackoverflow. I hope this helps

[2022-06-08 20:45] #1716 closed

[2022-06-08 20:57] andresesfm commented on #1717
Hello @bitfabrikken Looking at the logs. Seems like this is the line where it blows up: https://github.com/dooboolab/react-native-iap/blob/main/ios/RNIapIos.swift#L776 Could it be that the discount has a strange price Locale?

[2022-06-08 21:29] andresesfm commented on #1717
Doesn't look like it can be null or have a strange value: https://developer.apple.com/documentation/storekit/skproduct/3043534-discounts

[2022-06-08 23:53] andresesfm commented on #1717
This is my proposed solution: https://github.com/dooboolab/react-native-iap/pull/1720

[2022-06-09 17:35] andresesfm commented on #1715
All I can think about is that maybe the sku you are purchasing is not a subscription after all. I'm closing this since the actual subscription is handled by the OS/Apple, and as such this is better suited for stackoverflow

[2022-06-09 17:35] #1715 closed

[2022-06-09 17:37] andresesfm commented on #1713
@FabianTauriello I would advise you to update the library. It's probably been fixed since the version you are using is pretty dated. Reopen if issue persists

[2022-06-09 17:37] #1713 closed

[2022-06-09 17:48] andresesfm commented on #1712
Glad to hear it's working. For prapaid use prorationMode = `IMMEDIATE_AND_CHARGE_FULL_PRICE` as per native documentation: https://developer.android.com/google/play/billing/subscriptions#prepaid-plans feel free to re-open or create a separate issue for that

[2022-06-09 17:48] #1712 closed

[2022-06-09 17:57] andresesfm commented on #1676
@rush86999 Do you mean that `RNIapQueue` is undefined and `RNIapQueue.shared is undefined`? It's a strange error since I can see it being declared as a static method: https://github.com/dooboolab/react-native-iap/blob/main/ios/RNIapQueue.swift#L18

[2022-06-13 09:28] rusakovic commented on #221
@hyochan
Hello. Thank you for your work!

I have the same error, if I signed in in Play Store, but I have >1 Google accounts in my phone.

If I leave only 1 google account - all is OK.

Could you, please, check it?

react-native-iap: 8.0.10
Xiaomi Redmi 10 Android 11
Play Store 30.6.16-21

[2022-06-13 12:36] ajdobson commented on #1713
Afternoon @FabianTauriello can you confirm how you fixed this? Am getting the same error? What version did you upgrade to? I dont really want to have to upgrade my react native version etc. Let me know

[2022-06-13 12:59] FabianTauriello commented on #1713
Hi ajdobson. I updated the library to the latest version but that didn't fix my issue. Strangely, if I use a sandbox account from a different region (e.g. Australia), the correct value is returned so it seems to be an issue with the GBP price locale only. Though it's probably an issue with Apple and not this library.

[2022-06-13 13:59] jsallstrom commented on #1172
This is happening in our app frequently, only in sandbox fortunately but its still annoying to deal with. Pls fix this as soon as you can <3

[2022-06-13 23:34] grxp-charlie opened #1721 "iOS Offer Code Redemption does not trigger purchaseUpdatedListener"
### Version of react-native-iap: 7.3.0

### Version of react-native: 0.66.0

### Platforms you faced the error (IOS or Android or both?): IOS

### Expected behavior
1. Trigger Offer Code Redemption flow via either `presentCodeRedemptionSheet` or AppStoreConnect url https://apps.apple.com/redeem?context=offercodes&id=#######&code=CODE
2. Successfully redeem Offer Code
3. Return to app
4. `purchaseU

[2022-06-14 17:47] andresesfm commented on #1721
Have you tried with the latest @grxp-charlie ?

[2022-06-15 06:34] hyochan commented on #1717
Please come back if this happens in `8.1.0`.

[2022-06-15 06:39] nkpatnis commented on #221
after calling initConnection getting this error
`Billing is unavailable. This may be a problem with your device, or the Play Store may be down.`

[2022-06-15 10:16] Mandoliiin commented on #1702
I also have this issue and it is very critical to have it resolved as soon as possible since we can't make any updates to the subscriptions right now. Hope there will be a solution soon!

[2022-06-15 10:49] SimonDamberg opened #1722 "Build crashes on iOS as of latest version at swift guard check"
Seems like #1720 breaks builds on iOS.

![Skärmavbild 2022-06-15 kl  12 49 33](https://user-images.githubusercontent.com/49840909/173809978-929bf250-46ce-4529-8f16-0febe12ce01c.png)

[2022-06-15 10:54] axdra opened #1723 "CI for iOS"
There should be CI workflow for iOS for pull requests and release.

#1722

[2022-06-15 11:40] roots-ai commented on #1172
Any updates here?

[2022-06-15 14:02] #1722 closed

[2022-06-15 14:06] hyochan commented on #1717
Reopened because this is reverted in `8.1.1`.

[2022-06-15 17:14] shashank-shinde opened #1725 "Not getting any result in purchaseUpdatedListener"
### Version of react-native-iap:
8.1.1

### Version of react-native:
0.67.4

### Platforms you faced the error (IOS or Android or both?):
iOS

### Code snippet

[code]

### Expected behavior
Whenever we make a purchase, `purchaseUpdatedListener` should return a response of the type `InAppPurchase | SubscriptionPurchase | ProductPurchase`.

### Actual behavior
Always getting undefined in `purchaseU

[2022-06-16 11:35] harshsanghani commented on #1725
+1

[2022-06-17 16:58] andresesfm commented on #1723
Thank you for your suggestion @axdra. I agree we should have it. Any interest in helping with a PR?

[2022-06-17 17:01] axdra commented on #1723
I've began looking into it but just at the moment I don't have the time to do it. But for sure I'm interested in helping.

[2022-06-18 06:36] tpagram-pwc commented on #1526
I am seeing these errors in production for a subset of users. Has anyone been able to reproduce this locally? I'm struggling to emulate this

[2022-06-18 06:39] okcompewter commented on #1526
I can reproduce it locally using an emulated device that does not have Google Play Store/services.

[2022-06-18 07:24] azeezWebsultanate commented on #1229
Same issue on real device ( iPhone 11 )
react native (0.67.4)
react-native-iap : (^8.0.7)

[2022-06-19 17:32] mcjambi commented on #1636
i have the same issue here, isReadyAndroid is not exist, and i do not know why document has it

[2022-06-20 09:37] garrett-gottlieb opened #1728 "Subscription not returning after changing App Store Connect account + Bundle ID"
After switching to a new App Store Connect account and Bundle ID, my new subscription (which is "Available" on App Store Connect) is not being returned from `getSubscriptions()`. The Product ID is `unlimited_monthly` on App Store Connect, and so I'm using `getSubscriptions(['unlimited_monthly'])`. Why isn't this working anymore?

### Version of react-native-iap
7.5.4

### Version of react-native
0

[2022-06-21 14:05] vuniverseklaus commented on #1040
I had this problem on android:
Not initialized, Please call initConnection()

 I have fixed by adding on build.gradle:
implementation "com.android.billingclient:billing:2.0.3"

and by adding a tester (email) in play console, the same email I have logged in into Play Store on android device emulator.

after that:
cd android && ./gradlew clean && cd ../ && react-native run-android

[2022-06-21 20:41] #1683 closed

[2022-06-22 11:35] Desintegrator commented on #1728
same (android and ios)
android - can not get subscriptions but can get products

[2022-06-22 11:37] Desintegrator commented on #1702
same

[2022-06-22 11:50] Desintegrator commented on #1699
same

[2022-06-22 17:40] edodusi commented on #1696
I have those crashes too with `8.1.3` and also this error which I think it's related:

[code]

[2022-06-22 17:41] edodusi commented on #1696
(also this should be labeled as bug I think)

[2022-06-23 07:50] sandeep14 opened #1732 "unable to purchase same item twice or multiple time in android"
### Version of react-native-iap
8.0.8

### Version of react-native
0.67

### Platforms you faced the error (IOS or Android or both?)
Android

### Expected behavior
allow to purchase same item multiple times

### Actual behavior
not allowing to purchase it twice, it shown you already bought this item

### Tested environment (Emulator? Real Device?)
RealDevice

### Steps to reproduce the behavior
Ju

[2022-06-23 08:18] usmanabid94 commented on #126
You are a savior it worked like a charm (Y)

[2022-06-23 14:49] Mkolakoglu opened #1733 "Reconnecting billingClient is not working"
### Version of react-native-iap
8.1.3
### Version of react-native
0.68.1
### Platforms you faced the error (IOS or Android or both?)
Android
### Expected behavior
When I call `initConnection` -> `endConnection` -> `initConnection` (again), the iap service can not be used. I am thinking that it will not reconnect when the connection is lost because of the long lived connections on Android.
### Actu

[2022-06-23 22:40] andresesfm commented on #1733
@Mkolakoglu can you please describe if you get an error? are you manually ending the connection every time? As you can see here: https://github.com/android/play-billing-samples/blob/master/TrivialDriveJava/app/src/main/java/com/sample/android/trivialdrivesample/billing/BillingDataSource.java#L206 They don't need to set the client to null, they simply retry to connect.

@ifsnow you mentioned you ar

[2022-06-23 23:37] ifsnow commented on #1733
@Mkolakoglu This issue occurs in the latest version. Rolling back to the previous version fixed it right away.

You can easily reproduce it with the steps below. It seems to be the same in the emulator.

- Start the app
- Using react-native-iap
- Close the app with the back button
- Restart the app
- Connection error when using react-native-iap

[2022-06-23 23:39] andresesfm commented on #1732
What type of product? for example, subscriptions would not allow you to repurchase. Seems more suitable for stackoverflow

[2022-06-23 23:39] #1732 closed

[2022-06-23 23:52] andresesfm commented on #1733
@ifsnow Do you mean rolling back from `8.1.3` back to `8.1.2` fixed the issue?

[2022-06-23 23:55] andresesfm commented on #1733
Can you kindly post here any error messages/logs you are seeing? It might be easier to rollback that small change than it is to convert to null objects

[2022-06-24 05:23] sandeep14 commented on #1732
I am talking about consumable product in android. not about subscription.

[2022-06-24 08:52] Mkolakoglu commented on #1733
Here is the error log:

<img width="1039" alt="Screen Shot 2022-06-24 at 10 47 20" src="https://user-images.githubusercontent.com/16003411/175499452-5256063e-526a-4c0c-b69c-79db5c1b606e.png">

The main fix I applied was adding `billingClient = BillingClient.newBuilder(reactContext).enablePendingPurchases().setListener(this).build()` into `initConnection()`. The rest can be reverted if you are not

[2022-06-24 09:42] lukebars commented on #1403
@hyochan I'm investigating the migration to SK2, got some methods already working. I'll share my findings in a week or so, when whole transition POC will be complete. Seems like we're gonna need to support both, as SK2 supports only  iOS 15.0+.

[2022-06-24 15:03] PaxLyj commented on #1710
Really needs this update. Is there any plan?

[2022-06-26 01:42] bmitioglov commented on #1579
same here :(

[2022-06-26 10:18] hyochan commented on #1733
Looks like this is resolved in `8.2.0`. Please come back if this is not resolved. Thanks again @Mkolakoglu 🥇

[2022-06-26 10:18] #1733 closed

[2022-06-26 10:19] hyochan commented on #1403
@lukebars Sounds fabulous. Looking forward to it!

[2022-06-28 03:44] andresesfm commented on #1697
We could filter them using https://developer.apple.com/documentation/storekit/skproduct/2936884-subscriptionperiod

[2022-06-29 02:10] jkfurog commented on #1710
Yeah , same here. One of our requirements is to implement IAP discount on both android and IOS

[2022-06-30 02:53] #1661 closed

[2022-06-30 08:23] Wanes-Tutunjian commented on #1576
thanks for pointing this out... we added the applicationUsername parameter to the request subscription function and patched the package... works like a charm 👍🏿

[2022-06-30 08:29] Wanes-Tutunjian commented on #1701
@elinahovakimyan please check out this comment on a similar issue, i think it would be useful to your case  https://github.com/dooboolab/react-native-iap/issues/1576#issuecomment-1084989032

You will have to patch the package to keep the changes, and you will be limited to only using UUID's in the given applicationUsername field; however you could assign users UUIDs and use them on your server to

[2022-06-30 13:07] He1nr1chK commented on #1576
Hi @Wanes-Tutunjian, would you mind posting what you changed and how etc? Would love to do this myself. Thanks

[2022-06-30 18:37] javier2409 opened #1737 "purchaseUpdatedListener not getting called for subscription renewals if i keep the app in foreground"
### Version of react-native-iap
8.2.1
### Version of react-native
0.66.2
### Platforms you faced the error (IOS or Android or both?)
iOS
### Expected behavior
1.  User purchases a monthly subscription
2. Listener gets called
3. App sends the purchase to my backend to unlock content for the user until the expiration date
4. App calls finishTransaction
5. Wait 5 minutes for renewal
6. Listener gets

[2022-07-01 08:53] RenatoSerra22 commented on #830
On your developer account or on your user account?

[2022-07-03 17:37] rassemdev commented on #1339
Have you found any solution? My confirmation modal not showing after one successful purchase, even in development.

[2022-07-04 19:02] luco opened #1738 "Getting TypeError: null is not an object (evaluating 'getNativeModule().initConnection')"
### Version of react-native-iap
8.2.1 (also tried with 7.5.3)

### Version of react-native
0.63.4

### Platforms you faced the error (IOS or Android or both?)
Android

### Actual behavior
Getting `TypeError: null is not an object (evaluating 'getNativeModule().initConnection')`

![image](https://user-images.githubusercontent.com/246373/177206766-f876bd3d-6f29-4f20-b372-244dd6b3e750.png)

### Teste

[2022-07-04 21:30] AdamGerthel commented on #1713
I've had the same problem. Even Apple's own reviewers noticed and complained about it, but I told them it had to be an error on their end and they let it go.

[2022-07-05 00:43] andresesfm commented on #1738
When the native module is undefined, it means that you are not linking (or auto-linking is failing) for the native module.

[2022-07-05 00:43] #1738 closed

[2022-07-05 01:08] andresesfm commented on #1737
Can you please clarify if `Wait 5 minutes for renewal` if this is waiting for the Apple store or your own server? I ask because if you called finish transaction, what would we be waiting for at that point? And if this gets resolved by putting the app in the background and restarting it. I way to debug would be by calling end connection after the 5 min and `initConnection` again

[2022-07-05 01:09] andresesfm commented on #1738
feel free to reopen if you still think this is an issue with this library. Otherwise, I'd suggest posting on stackoverflow

[2022-07-05 13:56] javier2409 commented on #1737
`Wait 5 minutes for renewal` means waiting for the apple store to renew the monthly subscription, which is 5 minutes in sandbox mode. And yes, I called finished transaction but isn't the renewal a new transaction that needs to be finished with finishTransaction? Maybe I am wrong but at least that's what I'm understanding from what 's happening, because the listener is being called with the new tra

[2022-07-05 14:11] alburdette619 commented on #1676
I'm in this position currently.  Following the docs here is very rough if you have an objective c `AppDelegate` & aren't as knowledgable outside the JS context.

<img width="1007" alt="Screen Shot 2022-07-05 at 10 11 26 AM" src="https://user-images.githubusercontent.com/22638838/177347953-83728538-ccb8-413c-8eee-b2b9a04670a2.png">

[2022-07-05 16:00] alburdette619 commented on #1676
After some research, I set all of targets `Objective-C Generated Interface Header Name` to the same & attempted to use `#import <{ProductName}-Swift.h>` but the build still failed with the same error.

[2022-07-05 18:27] luco commented on #1738
I think it's something to do with this library since every module I installed autolinked properly. It's only IAP on Android.
I also tried manually linking and had no success.

[2022-07-06 14:13] jeffy2007 commented on #1576
A little more info here, when the subscription is renew from a expired subscription via App Store Manage Subscription page, the uuid you provided previously would not be included.

[2022-07-07 15:56] He1nr1chK commented on #1576
Hi @jeffy2007 thanks a lot. Really appreciate that you took the time to help out.

[2022-07-08 09:06] naiverforest commented on #1240
Same issue. Anyone solved this?😭

[2022-07-08 19:21] nurbekboz commented on #1240
Each country has its own tax laws. For now you have to fill the US and Brazil tax form and submit it to google. This way my problem was solved. I contacted Google, they sent me a form, I filled out the form completely and the problem was solved.

[2022-07-10 22:33] tpagram-pwc commented on #1614
I am currently using react-native-iap-rd (8.0.0-rd) to get around this issue. A big thank you to @rohitatcoffee .

@rohitatcoffee  Would you be able to raise a PR for the change you made into this repo? Otherwise I am happy to help - I am just conscious that your fork is starting to fall behind this main repo and keen to get back onto the main release chain.

[2022-07-14 21:32] yisselda commented on #1699
Any more information about how to get all the plans currently?

[2022-07-15 11:40] skjangid opened #1745 "Unable to get pre paid subscription."
I have a quick concern about getting the subscriptions list on my app. i am using the getSubscriptions method to get the all subscriptions list. I created 3 auto renewal and 1 one time pre paid subscriptions. But the getSubscriptions method returns only 3 auto renewal subscriptions, it's not return prepaid subscriptions. .

[2022-07-17 23:47] andresesfm commented on #1745
Please use the template

[2022-07-17 23:47] #1745 closed

[2022-07-19 10:15] dannyeddyy commented on #1593
Had the same issue, followed all steps, it seems that this just takes a while to be available for purchase - does not appear to be immediate.

[2022-07-19 12:07] cristea2017 commented on #1076
hi can you show your code ?

[2022-07-19 13:04] mathews-p commented on #1076
Tried _**finishTransaction**_ but it not acknowledged the purchase..

async componentDidMount(thisObj) {
    thisObjSet = thisObj;
    try {
      await RNIap.initConnection();
      if (Platform.OS === 'android') {
        await RNIap.flushFailedPurchasesCachedAsPendingAndroid();
      } else {
        await RNIap.clearTransactionIOS();
      }
    } catch (err) {
      console.warn(err.code, err

[2022-07-19 17:17] Hasham24 commented on #1076
@mathews-p sure you can approach me here so I can help you out,
 https://www.linkedin.com/in/ahmad-hasham-6a70a5104/

[2022-07-20 07:15] moYousefAlarand opened #1750 "requestInIAPPurchase go to screen with cannot connect message"
I use sandbox apple Id  to test in-app-purchase when I call  requestInIAPPurchase after I confirm the terms & conditions dialog go to  a screen with cannot connect message
![Image from iOS](https://user-images.githubusercontent.com/85170567/179919657-b1de3723-08cc-49d9-afd0-f109574a561f.png)

### Version of react-native-iap
8.2.2

### Version of react-native
0.67.4

### Platforms you faced the err

[2022-07-21 08:56] dannyeddyy commented on #1699
**For anyone who finds this thread because they do not see offers they have added**: it seems to be taking between 12-24 hours for Google to make the offers available in our `getSubscriptions()` response.

[2022-07-22 03:02] #1676 closed

[2022-07-22 04:49] rohitatcoffee commented on #1614
@tpagram-pwc :
MR: https://github.com/dooboolab/react-native-iap/pull/1753

[2022-07-22 06:56] GaneshDanu opened #1754 "Prepaid" base plans attached to subscription are NOT returned from Google Play Billing API. Only subscriptions supported by react-native-iap which have "Auto renew" base plan attached. This is because the Android module uses a deprecated method for querying SKU details which is not supported by "Prepaid" base plans"
### Version of react-native-iap
##### 8.2.2
### Version of react-native
##### 0.66.3
### Platforms you faced the error (IOS or Android or both?)
##### both
### Expected behavior
##### getSubscriptionDetails() should be able to fetch Prepaid Subscription plans from google billing console.
##### Google Play console mentions "Prepaid Base plans for Subscriptions" as non backward compatible. And react

[2022-07-22 19:02] andresesfm commented on #1723
https://github.com/dooboolab/react-native-iap/pull/1752

[2022-07-23 16:25] #1723 closed

[2022-07-25 05:14] rohitatcoffee commented on #1614
https://github.com/dooboolab/react-native-iap/pull/1755

[2022-07-25 14:10] sercaneryaz opened #1757 "IAP Build crash on IOS"
### Version of react-native-iap
        "react-native-iap": "^8.3.0",

### Version of react-native
 react: 17.0.2 => 17.0.2
    react-native: 0.68.2 => 0.68.2
### Platforms you faced the error (IOS or Android or both?)
IOS
### Expected behavior
Works regular
### Actual behavior
Even app cant build
### Tested environment (Emulator? Real Device?)
Both
### Steps to reproduce the behavior
npm install

[2022-07-25 17:30] BLOCKMATERIAL opened #1758 "IOS Build Crash"
### Version of react-native-iap
8.3.0

### Version of react-native
0.64.2

### Platforms you faced the error (IOS or Android or both?)
IOS Platfrom

### Description
An error occurs when building the IOS version .

### Tested environment (Emulator? Real Device?)
Emulator

### Steps to reproduce the behavior
1.Install package npm
2.pod install
3.Build app

![image](https://user-images.githubusercont

[2022-07-25 18:10] sercaneryaz commented on #1758
have you ever get this error ever?
![Ekran Resmi 2022-07-25 21 10 05](https://user-images.githubusercontent.com/40642548/180845287-e5e14c94-ec21-4ac4-96da-dde766bc17ac.png)

[2022-07-25 18:46] sercaneryaz commented on #1758
@BLOCKMATERIAL downgrading to 8.1.1 is worked for me on same bug

[2022-07-25 18:47] sercaneryaz commented on #1757
i think its about the last version. i just downgraded to 8.1.1 and it worked. i think theres issue on last release

[2022-07-25 19:51] andresesfm commented on #1758
Duplicate of https://github.com/dooboolab/react-native-iap/issues/1757

[2022-07-25 19:51] #1758 closed

[2022-07-25 19:59] andresesfm commented on #1757
@BLOCKMATERIAL @sercaneryaz can you please take a look at IapExample and tell me what's different from yours? it is working fine for me and now I added a CI build and it's passing

[2022-07-25 20:03] andresesfm commented on #1757
FYI This is the only iOS change I see between 8.1.1 and 8.3.0 that could be causing this issue: https://github.com/dooboolab/react-native-iap/commit/37d4b24ba9af173bd70c667c6408946ecd373598.

[2022-07-25 20:37] andresesfm commented on #1614
@rohitatcoffee The current version 8.3.0 has been fixed and it now has checks for compilation on both Android and iOS. I'd also like to help with this fix but on those PRs I can't tell what actually changed. 🙏 share with us the snipped and we can integrate it directly without having to make that huge merge.

[2022-07-25 20:37] andresesfm commented on #1612
Closing in favor of: https://github.com/dooboolab/react-native-iap/issues/1614

[2022-07-25 20:37] #1612 closed

[2022-07-25 21:34] andresesfm commented on #1697
Fixed here: https://github.com/dooboolab/react-native-iap/pull/1760

[2022-07-25 21:52] andresesfm commented on #1702
This is the only condition I see that would prevent discounts from being populated: https://github.com/dooboolab/react-native-iap/blob/main/ios/RNIapIos.swift#L766 . Is that the case for you?

[2022-07-25 21:59] #1682 closed

[2022-07-25 22:00] #1158 closed

[2022-07-25 22:09] #1160 closed

[2022-07-25 22:19] #1216 closed

[2022-07-25 22:32] andresesfm commented on #1403
Any updates on this @lukebars ?

[2022-07-26 09:46] BLOCKMATERIAL commented on #1757
I tried downgrading to 8.1.1, the result is the same
<img width="1130" alt="image" src="https://user-images.githubusercontent.com/46076319/180976999-081b1ba4-0866-4403-af49-58c73810012a.png">

[2022-07-26 10:35] BLOCKMATERIAL commented on #1757
@andresesfm   with difficulty but 8.3.0 IapExample I was able to run .

[2022-07-26 11:03] #1468 closed

[2022-07-26 12:05] BLOCKMATERIAL commented on #1757
@andresesfm
I found what the problem was with
Because Hermes was enabled and if it was, the pod React-Core 0.64.2 would not install because it was not needed for work.

The same problem was with the Lottie library.
https://github.com/lottie-react-native/lottie-react-native/pull/738

At the moment, if a user has Hermes enabled, he can't use react-native-iap it's a big problem :(

<img width="342" a

[2022-07-26 18:33] andresesfm commented on #1757
@BLOCKMATERIAL
I'm able to run the IapExample app with Hermes just by changing this line: https://github.com/dooboolab/react-native-iap/blob/main/IapExample/ios/Podfile#L16
from `:hermes_enabled => flags[:hermes_enabled],` to `:hermes_enabled => true,` and running pod install again:
![Screen Shot 2022-07-26 at 11 17 46 AM](https://user-images.githubusercontent.com/335280/181081763-b4762de3-dba3-46

[2022-07-26 18:53] andresesfm commented on #1432
Thank you for the info @JorgeMoV

[2022-07-26 18:53] #1432 closed

[2022-07-26 21:36] andresesfm commented on #1172
Can somebody please confirm this is happening on 8.x.x? If so, can somebody please provide a way to reproduce using IapExaple?

[2022-07-26 21:58] andresesfm commented on #1361
@belyylis for Android we have changed the way the init code is executed. Can you please try the latest 8.x.x?

[2022-07-26 22:02] andresesfm commented on #1361
@victoriaSh can you please help us check if this is still an issue on 8.x.x for iOS?

I have found the following as something that is expected from the native SDK: https://stackoverflow.com/a/3633571/570612
If it stil happens on 8.x.x and the above doesn't fix. We'll reopen. Thank you

[2022-07-26 22:02] #1361 closed

[2022-07-26 22:04] andresesfm commented on #1419
@Akashdeep312 can you please help us check if this is still an issue on 8.x.x for iOS?

I have found the following as something that is expected from the native SDK: https://stackoverflow.com/a/3633571/570612
If it still happens on 8.x.x and the above doesn't fix. We'll reopen. Thank you

[2022-07-26 22:04] #1419 closed

[2022-07-26 22:07] andresesfm commented on #1194
Can you please help us check if this is still an issue on 8.x.x for iOS?

I have found the following as something that is expected from the native SDK: https://stackoverflow.com/a/3633571/570612
If it still happens on 8.x.x and the above doesn't fix. We'll reopen. Thank you

Note: I'm not trying to minimize the issue. I see there are multiple posts about it in various forms and I'm trying to make

[2022-07-26 22:07] #1194 closed

[2022-07-26 22:07] andresesfm commented on #1172
I have found the following as something that is expected from the native SDK: https://stackoverflow.com/a/3633571/570612
If it still happens on 8.x.x and the above doesn't fix. We'll reopen. Thank you

Note: I'm not trying to minimize the issue. I see there are multiple posts about it in various forms and I'm trying to make sense of it but with no help and it being reported on such an old version

[2022-07-26 22:08] andresesfm commented on #1278
Can you please help us check if this is still an issue on 8.x.x for iOS?

I have found the following as something that is expected from the native SDK: https://stackoverflow.com/a/3633571/570612
If it still happens on 8.x.x and the above doesn't fix. We'll reopen. Thank you

Note: I'm not trying to minimize the issue. I see there are multiple posts about it in various forms and I'm trying to make

[2022-07-26 22:08] #1278 closed

[2022-07-26 22:09] #1483 closed

[2022-07-26 22:11] andresesfm commented on #1489
Can you please help us check if this is still an issue on 8.x.x for iOS?
If it still happens on 8.x.x  We'll reopen. Thank you

Note: I'm not trying to minimize the issue. I see there are multiple posts about it in various forms and I'm trying to make sense of it but with no help and it being reported on such an old version of the library is close to impossible. Thank you for understanding

[2022-07-26 22:11] #1489 closed

[2022-07-26 22:13] andresesfm commented on #1631
Thank you for the information

[2022-07-26 22:13] #1631 closed

[2022-07-26 22:24] andresesfm commented on #1312
@nes123 can you please confirm this is happening on the latest 8.x.x? There was a bug fix for `finishTransaction` not resolving the promise that I recently fixed

[2022-07-26 22:25] andresesfm commented on #1312
Can you please help us check if this is still an issue on 8.x.x for iOS?
If it still happens on 8.x.x  We'll reopen. Thank you

Note: I'm not trying to minimize the issue. I see there are multiple posts about it in various forms and I'm trying to make sense of it but with no help and it being reported on such an old version of the library is close to impossible. Thank you for understanding

[2022-07-26 22:25] #1312 closed

[2022-07-26 22:34] andresesfm commented on #1670
`requestPurchase` will return `true` if the purchase was successful but the actual purchase will be in the listener. If listener is being called earlier than the purchase execurinting. It might be that you have some pending transactions

[2022-07-26 22:34] #1670 closed

[2022-07-26 22:38] andresesfm commented on #1304
Can somebody please confirm this is happening on 8.x.x? If so, can somebody please provide a way to reproduce using IapExaple?

I have found the following as something that is expected from the native SDK: https://stackoverflow.com/a/3633571/570612
If it still happens on 8.x.x and the above doesn't fix. We'll reopen. Thank you

Note: I'm not trying to minimize the issue. I see there are multiple p

[2022-07-26 22:38] #1304 closed

[2022-07-26 23:04] andresesfm commented on #1710
Migrated here: https://github.com/dooboolab/react-native-iap/pull/1762/files
Looks like the API is backwards compatible

[2022-07-27 02:53] jkfurog commented on #1710
hi @andresesfm , is it possible also to use the `queryProductDetailsAsync` instead of the deprecated `querySkuDetailsAsync`? the main reason I am requesting is that the  `queryProductDetailsAsync` is now returning the promos for that subscription

[2022-07-27 04:03] #1697 closed

[2022-07-27 08:42] nes123 commented on #1312
It seems to work fine

[2022-07-27 09:04] BLOCKMATERIAL commented on #1757
@andresesfm
This seems to be a problem with **React 0.64 + Hermes (true) + IAP 8.30**
I created a blank project and reproduced the same thing
<img width="300" alt="image" src="https://user-images.githubusercontent.com/46076319/181207601-b9b50646-9b41-47f7-be0c-d1261483a5c3.png">
<img width="1278" alt="image" src="https://user-images.githubusercontent.com/46076319/181207834-e0f1fb21-eee3-4a28-af26-

[2022-07-27 11:48] sercaneryaz commented on #1757
@BLOCKMATERIAL  i cant compare for now because after downgrade it started to work so im using for now. but when i do pod deintegrate and install latest version of iap its giving error on build.

[2022-07-27 22:07] andresesfm commented on #1684
Thank you for your contribution @yasodha-r

[2022-07-27 22:07] #1684 closed

[2022-07-27 22:08] andresesfm commented on #1710
@jkfurog please take a look at the updated PR

[2022-07-27 22:10] andresesfm commented on #1562
It should be fixed in 8.4.0. Please take a look. Reopen if the issue comes back. Thank you

[2022-07-27 22:10] #1562 closed

[2022-07-27 22:11] andresesfm commented on #1754
Implemented here: https://github.com/dooboolab/react-native-iap/pull/1762

[2022-07-27 22:11] andresesfm commented on #1699
Implemented here: https://github.com/dooboolab/react-native-iap/pull/1762

[2022-07-27 22:12] andresesfm commented on #1554
This has been fixed in version 8.3.0. Please update and let me know if the issue persist

[2022-07-27 22:12] #1554 closed

[2022-07-27 22:55] andresesfm commented on #1757
@BLOCKMATERIAL , have you tried: https://stackoverflow.com/a/60629386/570612 ?

[2022-07-27 23:02] andresesfm commented on #1622
Fixed here: https://github.com/dooboolab/react-native-iap/pull/1765

[2022-07-27 23:02] #1622 closed

[2022-07-27 23:03] andresesfm commented on #1692
Closing as stale

[2022-07-27 23:03] #1692 closed

[2022-07-27 23:05] andresesfm commented on #1235
This was reported long ago and with a very old version of the library. Please reopen/ create a new issue if this is still happening on 8.x.x

[2022-07-27 23:05] #1235 closed

[2022-07-27 23:11] andresesfm commented on #1620
Could this be related: https://developer.apple.com/forums/thread/660817 ?

[2022-07-27 23:11] andresesfm commented on #1620
Please reopen if it's still an issue on 8.x.x

[2022-07-27 23:11] #1620 closed

[2022-07-27 23:12] andresesfm commented on #1601
Thank you for the info @cbothra

[2022-07-27 23:12] #1601 closed

[2022-07-27 23:13] andresesfm commented on #1362
Could it be related to https://developer.apple.com/forums/thread/660817 ? Please reopen if this is still an issue on 8.x.x

[2022-07-27 23:13] #1362 closed

[2022-07-27 23:18] #1667 closed

[2022-07-27 23:20] andresesfm commented on #1617
Could it be related to this on iOS? https://developer.apple.com/forums/thread/660817
Please reopen if it still happens on 8.x.x

[2022-07-27 23:20] #1617 closed

[2022-07-27 23:21] andresesfm commented on #1594
Please reopen if this is still an issue in 8.x.x

[2022-07-27 23:21] #1594 closed

[2022-07-27 23:22] andresesfm commented on #1573
better suited for stackoverflow

[2022-07-27 23:22] #1573 closed

[2022-07-27 23:32] andresesfm commented on #1699
Created release 9.0.0-beta. Please create tickets against that if you find any issues

[2022-07-27 23:32] #1699 closed

[2022-07-27 23:33] andresesfm commented on #1754
Created release 9.0.0-beta. Please create tickets if you find issues with it. Thank you

[2022-07-27 23:33] #1754 closed

[2022-07-27 23:40] andresesfm commented on #1579
Can anyone confirm this is still an issue using 8.x.x?
Seems that this could be caused by A) Calling `initConnection` multiple times or B) because of this: https://stackoverflow.com/a/3633571/570612.
A possible solution for A) is to reject multiple calls to init but for B) looks like you also have to be ready for delayed callbacks.

[2022-07-28 01:10] ntcong91 commented on #1757
+ 1 crash
#ifdef RCT_MAIN_THREAD_WATCH_DOG_THRESHOLD
  if (RCTIsMainQueue()) {
    CFTimeInterval start = CACurrentMediaTime();
    [_invocation invokeWithTarget:module];
    CFTimeInterval duration = CACurrentMediaTime() - start;
    if (duration > RCT_MAIN_THREAD_WATCH_DOG_THRESHOLD) {
      RCTLogWarn(
          @"Main Thread Watchdog: Invocation of %@ blocked the main thread for %dms. "

[2022-07-28 02:07] jkfurog commented on #1710
hi @andresesfm I am encountering this issue after U upgrade to v9.0.0-beta

[code]

[2022-07-28 02:33] andresesfm commented on #1710
It's strange because CI is passing. Are you overriding the Google Play billing version on your gradle files @jkfurog ?

[2022-07-28 03:06] jkfurog commented on #1710
nope I am not @andresesfm , I was able to make it work by modifying this
<img width="743" alt="image" src="https://user-images.githubusercontent.com/103121173/181411370-eff99eb4-e4a4-456f-a1e4-52913797f374.png">

however I am now encountering this issue when I am trying to do : `IAP.setAndroidNativeModule(NativeModules.RNIapModule)`

it says : `[TypeError: _reactNativeIap.default.setAndroidNativeM

[2022-07-28 03:11] andresesfm commented on #1710
Thank you for reporting the native issue. About the J's issues. Can you please check iap.js inside your node_modules. I'm thinking maybe I misspelled the name of the setter.

I'll run some tests and push your suggestions in the morning

[2022-07-28 03:17] jkfurog commented on #1710
looks like the `setAndroidNativeModule()` has not been used
<img width="765" alt="image" src="https://user-images.githubusercontent.com/103121173/181412885-036631a9-4e69-45cc-9a0f-02ea5792ca13.png">

[2022-07-28 03:32] jkfurog commented on #1710
and also @andresesfm looks like the `selectedOfferIndex` params has not been exposed to `requestSubscription` function in `iap.ts`

<img width="1193" alt="image" src="https://user-images.githubusercontent.com/103121173/181414449-d60082d3-4916-458e-ae39-5d13bdece6fd.png">

[2022-07-28 03:42] andresesfm commented on #1710
Good catch, I'm not exporting it

[2022-07-28 03:45] andresesfm commented on #1710
Good catch again, I'm only adding it to the purchase method.

[2022-07-28 06:44] SimonDamberg commented on #1710
@andresesfm Thanks for your work on this! I am trying out the 9.0.0 beta with our app. What is the expected behaviour? Am I supposed to pass the product-id of the subscription in `getSubscriptions()` to get all the base plans/offers? Do I need to pass the id of the base-plans/offers?

[2022-07-28 15:13] firemanx07 opened #1768 "deepLinkToAndoridSubscription is not working"
Version of react-native-iap
  `  "react-native-iap": "^8.3.0",`
Version of react-native
[code]

Platforms you faced the error (IOS or Android or both?)
Android

Expected behavior
Redirection to subscription account
Actual behavior
Product not found (wrong packageName)

Tested environment (Emulator? Real Device?)
Real Device

Possible Issue : **RNIapModule.getPackagname() is not returning the corre

[2022-07-28 15:44] Skarabei007 commented on #1728
https://github.com/dooboolab/react-native-iap/pull/1769

[2022-07-28 15:45] Skarabei007 commented on #1702
https://github.com/dooboolab/react-native-iap/pull/1769

[2022-07-28 18:25] andresesfm commented on #1710
https://github.com/dooboolab/react-native-iap/pull/1771 will merge shortly to create beta 2

[2022-07-28 18:27] andresesfm commented on #1710
@SimonDamberg If you use subscription offer then you'd need to pass the offer index when calling `requestSubscription`. If you don't use it, there should be little change. (The subscribe method now takes an object instead of separate parameters but that's it)

[2022-07-28 18:47] andresesfm commented on #1768
Thank you for the report @firemanx07. Can you please be more specific on how the package is returned incorrectly?

[2022-07-28 18:53] andresesfm commented on #1757
@ntcong91 the log you posted looks more like a runtime crash. Could you please share what method is that happening on?

[2022-07-28 18:54] andresesfm commented on #1750
@moYousefAlarand that looks like a system-level dialog that we don't control from this library. Please consider using stackoverflow

[2022-07-28 18:54] #1750 closed

[2022-07-28 18:56] andresesfm commented on #1737
Let me know if this helps: https://developer.apple.com/forums/thread/74556

[2022-07-28 19:03] andresesfm commented on #1725
@shashank-shinde do you mean that the listener never gets called or that the purchase you get is undefined?

[2022-07-28 20:16] andresesfm commented on #1588
This has been fixed, please try latest 8.x.x

[2022-07-28 20:16] #1588 closed

[2022-07-28 20:17] andresesfm commented on #1575
This is better suited for stackoverflow

[2022-07-28 20:17] #1575 closed

[2022-07-28 20:22] andr50 commented on #1490
I'm seeing this same issue, though it's triggering from simply getting the store items (no subscriptions, just one iAP)

` const products = await RNIap.getProducts(storeItems).catch((e)=> {
                console.log("error in getting products", e);
            });`

That's throwing this error:

`error in getting products [TypeError: getIosModule().getItems(skus).filter is not a function. (In 'ge

[2022-07-28 20:26] andresesfm commented on #1536
sku is returned as "productId"

[2022-07-28 20:26] #1536 closed

[2022-07-28 20:28] andresesfm commented on #1543
This issue has been reported in multiple tickets. Could this be the issue: https://developer.apple.com/forums/thread/74556 ? Please reopen if that's not the case and it still happens on 8.x.x

[2022-07-28 20:28] #1543 closed

[2022-07-28 20:45] #1737 closed

[2022-07-28 20:47] andresesfm commented on #1579
It should have been fixed indirectly by https://github.com/dooboolab/react-native-iap/pull/1770

[2022-07-28 20:47] #1579 closed

[2022-07-28 20:51] andresesfm commented on #1710
Hello @jkfurog I have published 9.0.0-beta2. However, I can't reproduce the android native error you displayed. I tried enforcing the type but it's marked as unnecessary. Can you please take a look and see if this fixed it for you? If it doesn't, can you please confirm the react-native version you are using? I've tested on 0.66 and .69.1 (same as our CI build)

[2022-07-28 21:49] SimonDamberg commented on #1710
Great! But how do I fetch the different available plans/offers to display in my app? I call `getSubscriptions()` with the product-ids for my two different subscriptions, which both have two different offers (month & year), but only one offer for each is returned (month, which is the offer marked as backwards compatible in Google Play). Are they supposed to show up as different `Subscription` objec

[2022-07-28 22:37] andresesfm commented on #1710
@SimonDamberg Yes, use `getSubscriptions`, which returns a List of subscription objects. Each subscription has a list of `subscriptionOfferDetails`. from that list, pick the offer and pass that as `selectedOfferIndex`. I have just updated the types to reflect that list.

Forgive me if I haven't included all the details. I'm updating the doc as we go. I'm trying to do this as interactive as possibl

[2022-07-29 00:18] andresesfm commented on #1710
published beta3 with fixes to types

[2022-07-29 00:57] jkfurog commented on #1710
hi @andresesfm I'll check it, thanks you so much !

[2022-07-29 02:08] jkfurog commented on #1710
hi @andresesfm , I am still getting the Native Android Issues

[code]

My react-native version is `0.63.4`

[2022-07-29 02:23] ntcong91 commented on #1757
Sorry @andresesfm. That is my code problem.
Just call multiple apis at the same time like. So It blocked the UI thread.
iap.getProducts();

[2022-07-29 02:37] jkfurog commented on #1710
and also @andresesfm  if I am not passing any value for `selectedOfferIndex` or I am passing a `null` , I am getting this error
<img width="336" alt="image" src="https://user-images.githubusercontent.com/103121173/181671229-3c087051-6c8b-499d-a394-b57707c7d195.png">

[2022-07-29 03:09] andresesfm commented on #1710
Now it makes sense: https://github.com/facebook/react-native/commit/d76556543f96f4d739be3a708b8f6314bb32cc87

[2022-07-29 03:40] ntcong91 opened #1775 "Android - Crash on requestPurchase 9.0.0-beta3"
### Version of react-native-iap
9.0.0-beta3
### Version of react-native
0.67.4
### Platforms you faced the error (IOS or Android or both?)
Android
### Expected behavior

### Actual behavior

### Tested environment (Emulator? Real Device?)
Real Device SM-A31
### Steps to reproduce the behavior
await iap.requestPurchase({
            sku: 'com.iap.item',
            andDangerouslyFinishTransactionAu

[2022-07-29 04:30] andresesfm commented on #1710
Thank you @jkfurog I have fixed the null issue here: https://github.com/dooboolab/react-native-iap/pull/1776. However, the issue you report when passing empty `selectedOfferIndex` is harder to trace. Are you saying that if you pass a value, things work but if it's null then it fails? also can you get me a stacktrace maybe so I can debug?

[2022-07-29 05:22] ntcong91 commented on #1775
add before initConnection
[code]
=> no longer crash -> but no IAP popup from google play showed!

[2022-07-29 07:57] professorkolik commented on #1768
@andresesfm this method `NativeModules.RNIapModule.getPackageName()` is now returning `{}`
May be you can specify from which attribute it should get the value, there is a possibility that smth wrong with our flavors config

[2022-07-29 08:08] jkfurog commented on #1710
yes @andresesfm if I pass a value aside from null then it works, will try to obtain the logs

[2022-07-29 08:58] SimonDamberg commented on #1710
@andresesfm Thanks, you are doing amazing work! Unfortunately, the `subscriptionOfferDetails` attribute is undefined for all my returned subscriptions. In Google Play, I have two subscriptions, `*.*.*.nordic` and `*.*.*.usa`, which I am passing to `getSubscriptions()`. Each subscription has two base plans, one monthly and one yearly, both with an offer for a free trial. The monthly base plan for e

[2022-07-29 09:12] jkfurog commented on #1710
hi @SimonDamberg have you implemented this ?

[code]

[2022-07-29 09:21] SimonDamberg commented on #1710
@jkfurog Thank you, I didn't know I had to do that. It works now! :D

[2022-07-29 11:27] daba-faith commented on #727
Receipt is always different everytime a user tries to purchase, even when the user is already subscribed to the product, a new receipt is generated 🥲, how do we go about that?

[2022-07-29 13:36] jeremyhalin commented on #1172
I just updated to `8.3.0` and still have the issue.
I updated my API so it can skip previously saved orders.
I don't see side effects on my side even if behavior is weird.

[2022-07-29 17:37] andresesfm commented on #1775
Fixed here: https://github.com/dooboolab/react-native-iap/pull/1776

[2022-07-29 17:37] #1775 closed

[2022-07-29 17:40] andresesfm commented on #1710
I have fixed the issue when `selectedOfferIndex` is undefined here: https://github.com/dooboolab/react-native-iap/pull/1776 I will create a new beta when that's done

[2022-07-29 18:12] andresesfm commented on #1768
Thank you @professorkolik. The method is only defined for the GooglePlay flavor. Amazon doesn't implement it. Should we?

[2022-07-29 18:15] andresesfm commented on #1768
I just confirmed it working on the IapExample app by calling the method directly on a Google Play build

[2022-07-29 18:18] andresesfm commented on #1710
I have published beta4 with the optional `selectedOfferIdex` fix. It should be truly optional now. Thank you @jkfurog

[2022-07-29 18:34] andresesfm commented on #1710
@ntcong91 here is where we are tracking those issues

[2022-07-29 18:45] andresesfm commented on #1490
Thank you for the info @andr50, @saeedtkh . the new beta4 should have it as it was fixed with this https://github.com/dooboolab/react-native-iap/pull/1767

[2022-07-29 20:41] professorkolik commented on #1768
@andresesfm thank you for quick response
And sorry by flavor I meant we have staging and `production`
Could you please point out from which field the method `getPackageName()` it retrieves the value?

in our app/build.gradle we have
[code]

and `applicationId` is set in defaultConfig
So WE expect to get from method =>   `app.package.name.staging`

I'll also run the IapExample and play with it

[2022-07-30 00:30] jkfurog commented on #1710
thank you @andresesfm I will check it, thanks a lot ! :)

[2022-08-01 02:49] cdiddy77 opened #1780 "Exception 'buyProduct:appAccountToken:andDangerouslyFinishTransactionAutomatically:applicationUsername:resolve:reject: is not a recognized Objective-C method"
### Version of react-native-iap

9.0.0-beta4

### Version of react-native

0.66.4

### Platforms you faced the error (IOS or Android or both?)

iOS

### Expected behavior

buyProduct works

### Actual behavior
[code]

### Tested environment (Emulator? Real Device?)

### Steps to reproduce the behavior

Use any recent version >= 8.5.1 or 9.0.0-beta4, any version that contains https://github.com/doo

[2022-08-01 06:45] hyochan commented on #1780
Thanks for submitting the issue. This is related to #1782

[2022-08-01 11:20] aliMurtaja opened #1784 "promo code response"
### Version of react-native-iap

### Version of react-native

### Platforms you faced the error (IOS or Android or both?)

### Expected behavior

### Actual behavior

### Tested environment (Emulator? Real Device?)

### Steps to reproduce the behavior

[2022-08-01 11:29] aliMurtaja commented on #1784
Hello,

I want to apply the promo code in my android/iOS app, I have successfully applied them, it's working as expected.
but I didn't get any response when applying the promo code.

**actually, I want to hit my rest API on the basis of promo code status**

for instance, if my promo code gets success like below, then apply this API

_[myDomain]/promocode/success_

![processed-169beb15-afe7-4622-b8

[2022-08-01 15:41] khj3132 opened #1785 "requestPurchaseWithOffer cause app crash"
### Version of react-native-iap
v8.5.1
### Version of react-native
v0.66.3
### Platforms you faced the error (IOS or Android or both?)
IOS
### Expected behavior
`requestPurchaseWithOffer` work
### Actual behavior
`requestPurchaseWithOffer` cause app crash
### Tested environment (Emulator? Real Device?)
real device - iphone 12 mini
### Steps to reproduce the behavior
1. get subscription info having

[2022-08-01 17:26] andresesfm commented on #1780
Fix merged

[2022-08-01 17:26] #1780 closed

[2022-08-01 18:19] BLOCKMATERIAL commented on #1757
Didn't work ,same problem

[2022-08-01 19:01] BLOCKMATERIAL commented on #1172
any workhound ?

[2022-08-01 19:42] ydv0121 commented on #1785
+1
same here

[2022-08-02 04:29] aadityapaliwal94 commented on #1696
Can anyone look into this issue? Causing crash on production.

[2022-08-02 04:53] jomachh opened #1790 "getSubscriptions returns empty array - Google Play Billing v5 - RNIap v9.0.0-beta5"
### Version of react-native-iap
**9.0.0-beta5**

### Version of react-native
**0.67.4**

### Platforms you faced the error (IOS or Android or both?)
**Android**

### Expected behavior
**Array of subscriptions (base plans and offers)**

### Actual behavior
**Empty array**

### Tested environment (Emulator? Real Device?)
**Real Device (Android 9)**

### Steps to reproduce the behavior
I'm using a si

[2022-08-02 13:28] lukebars commented on #1403
Hey @andresesfm, I've managed to migrate most of the methods to SK2, now need to do the listeners and so on. I'll publish the branch is somebody wants to get their hands on it. We also need to think about some kind of architecture to support both, as SK1 and SK2 are quite different.

[2022-08-02 15:48] Mkolakoglu opened #1791 "getSubscriptions does not return Android offers - v9.0.0-beta7"
Hello,

I am trying to use `getSubscriptions` to fetch the offers. However, there is no offer data in the object it returns:
<img width="300" alt="Screen Shot 2022-08-02 at 17 41 20" src="https://user-images.githubusercontent.com/16003411/182416128-65db5b99-5fc1-47c6-bba4-ac74a86ad563.png">

When I check `RNIapModule.kt`, I see that the new classes from Google Play Billing v5 are not recognized. I

[2022-08-02 17:52] CawanTavares commented on #1576
from which version of RNIap is the applicationUsername included in the subscription function?

[2022-08-02 17:55] MadsonDouglas commented on #1576
from which version of RNIap is the applicationUsername included in the subscription function?

[2022-08-02 21:32] andresesfm commented on #1403
That's great news @lukebars. Yes, please post your branch so we can start looking at it

[2022-08-02 23:55] andresesfm commented on #1790
Hello, I have made some fixes, please try version `9.0.0-beta9`

[2022-08-02 23:55] #1790 closed

[2022-08-02 23:56] andresesfm commented on #1791
Hello, I have made some fixes, please try version `9.0.0-beta9`

[2022-08-02 23:56] #1791 closed

[2022-08-03 00:03] jgillick opened #1800 "Android: E_IAP_NOT_AVAILABLE due to promotedProductListener call"
Version: 8.6.0

Using `withIAPContext` on Android throws the `E_IAP_NOT_AVAILABLE` because it calls the iOS-only method `promotedProductListener`.

The source of the bug is this line:
https://github.com/dooboolab/react-native-iap/blob/d5adf25f2220a2a4a334aa10fb4bd378f039c2fb/src/hooks/withIAPContext.tsx#L138-L145

From PR: https://github.com/dooboolab/react-native-iap/pull/1786

[2022-08-03 17:41] andresesfm opened #1803 "Error: Failed to load parser '@babel/eslint-parser'"
@jeremybarbet . Are you seeing:
Error: Failed to load parser '@babel/eslint-parser' declared in '.eslintrc.js': Cannot find module '@babel/eslint-parser'
I get that error on vscode
Looks like it's been marked as read-only here: https://github.com/babel/babel-eslint/issues/788. Do we still need it?

[2022-08-03 17:42] andresesfm opened #1804 "Github issues template is gone"
@jeremybarbet I just realized that the github template for new issues is no longer appearing after your recent changes. Is it OK if we revert?

[2022-08-03 17:55] jeremybarbet commented on #1804
It has been moved in here https://github.com/dooboolab/react-native-iap/tree/main/.github/ISSUE_TEMPLATE. Probably because the name has to follow a convention. Let me check the Github documentation and open a PR to fix that

[2022-08-03 18:13] jeremybarbet commented on #1804
Fixed in here https://github.com/dooboolab/react-native-iap/pull/1805

[2022-08-03 18:16] jeremybarbet commented on #1803
After pulling main from this [commit](https://github.com/dooboolab/react-native-iap/commit/d5adf25f2220a2a4a334aa10fb4bd378f039c2fb) did you:

[code]

Go to `yarn.lock` and `IapExample/yarn.lock`, delete the content of both files and save.

Then you can run `yarn` at the root.

It's very likely you still have cache from yarn@1

[2022-08-03 18:29] andresesfm commented on #1803
Just tried the suggested steps but no luck 🤷 . It's strange because I see that `@babel/eslint-parser` is indeed in `devDepencencies`

[2022-08-03 18:32] #1804 closed

[2022-08-03 18:32] andresesfm commented on #1804
That worked @jeremybarbet thank you

[2022-08-03 18:35] jeremybarbet commented on #1803
Also tried myself and everything works fine in vscode or through the terminal. You can try to run `yarn lint`? Are you on `main` or `next`?

[2022-08-03 20:30] andresesfm commented on #1803
I'm on `next` but I just merged from main.  `yarn lint` works. This only happens when I open a `.ts` file

[2022-08-03 20:49] andresesfm commented on #1803
just had to restart vscode 🙃

[2022-08-03 20:49] #1803 closed

[2022-08-03 21:32] jeremybarbet commented on #1803
Ahah nice! Switching between `main` and `next` might definitely break stuff along the way. Packages version/lock files are totally different, you might have to clean everything each time, until we can sync both branches

[2022-08-03 22:51] andresesfm commented on #1800
Fix available in latest release

[2022-08-03 22:51] #1800 closed

[2022-08-04 00:23] andresesfm commented on #1710
I just published beta12. It looks pretty stable

[2022-08-04 13:43] atul8 opened #1806 "Dynamic Product Add Over In-App-Purchase From App"
**Description**

I need to add dynamic products on app store from mobile app for IAP feature.Just i go through on link then i got Generic in-app-purchase implementation required and subscription groups. How do i implement the generic in-app-purchase implementation.
I go through it with the help of SKProductsRequest we can get it.

**Expected Behavior**

Dynamic Add Products From App Over In-APP-Fe

[2022-08-04 17:39] andresesfm commented on #1806
This is not the library for you. We only read the products and allow purchase but not creation

[2022-08-04 17:39] #1806 closed

[2022-08-05 01:28] liquidvisual commented on #1478
@catmans1 Does this mean we don't need to initConnection for iOS at all? I wish the docs mentioned that.

[2022-08-05 02:27] ifsnow opened #1808 "getReceiptIOS function is gone."
As of version 8.6.0, `getReceiptIOS` has been removed.

https://github.com/dooboolab/react-native-iap/blob/8.5.3/src/iap.ts#L665 : exists
https://github.com/dooboolab/react-native-iap/blob/8.6.0/src/iap.ts#L665 : removed

I wonder if this is a breaking change.

[2022-08-05 06:04] atul8 commented on #1806
Dear Team,

Thank you for your reply.

On Thu, 4 Aug 2022, 23:09 Andres Aguilar, ***@***.***> wrote:

[2022-08-05 06:47] atul8 commented on #1806
Dear Sir,

Hope you are doing well.
                                        Please recommend another library,
which can  full fill my requirement. Product Creation as well Product Read
And Product Purchase And Product History And Order Details. It would be
very helpful for me.

Thank You
Best Regards
Atul Kumar Ojha

On Fri, Aug 5, 2022 at 11:33 AM Atul ojha ***@***.***> wrote:

[2022-08-05 08:08] SimonDamberg commented on #1710
@andresesfm Great work! ETA on official release? Do you think there will be any more breaking changes or can I start to migrate our app to it?

[2022-08-05 13:01] MariusCatanoiu opened #1811 "RNIap.getProducts is not a function"
**Description**

I made an upgrade from v8.0.9 to v.8.6.3 and I get this errors:

`RNIap.getProducts is not a function. (In 'RNIap.getProducts(ids)','RNIap.getProducts' is undefined)`
on iOS simulator and physical device

`undefined  is not a function`
on Android emulator and physical device

**Environment:**

- react-native-iap: 8.6.3
- react-native:  0.69.3

[2022-08-05 16:01] andresesfm commented on #1808
@jeremybarbet was this removed by mistake?

[2022-08-05 16:05] andresesfm commented on #1811
Hello @MariusCatanoiu The method is still there: https://github.com/dooboolab/react-native-iap/blob/main/src/iap.ts#L145 and it's being exported. Are you using flow by any change?

[2022-08-05 16:09] andresesfm commented on #1710
Hello @SimonDamberg, I don't foresee any more breaking changes at this moment. I'm going to focus on any bugs found and promote it to RC if no big issues come along in the next couple of days. Any feedback as far as bug reports are greatly appreciated

[2022-08-05 16:38] jeremybarbet commented on #1808
Yep definitely a mistake when I moved some code around

[2022-08-05 17:18] andresesfm commented on #1808
fix: https://github.com/dooboolab/react-native-iap/pull/1812/files

[2022-08-05 17:19] andresesfm commented on #1768
Any updates on this @professorkolik , @firemanx07 ? I've tested using the example app and it seems to work as expected

[2022-08-05 21:51] yanush commented on #1811
I have a similar issue after upgrading from 8.5.1 to 8.6.3
I get "undefined is not a function" when calling RNIap.initConnection()
When looking in the source of the library I can see the function does exist

[2022-08-06 09:08] atul8 commented on #1806
Dear Sir,
                Please recommend it another library which can full fill my requirement. Help me!!!!

[2022-08-06 12:09] jeremybarbet commented on #1811
That must be coming on how the library and methods are now exported: `import * as RNIap`. I changed quite a lot of stuff at the same time and didn't think to try the star import.

Best guess would be to move from `import * as RNIap` to `import * as RNIap`.

If that still doesn't work, you could check if the method/type you are looking for is part of the destructured import `import { the_method } f

[2022-08-06 14:35] MariusCatanoiu commented on #1811
`Change "import * as RNIap from 'react-native-iap';" to "import RNIap from 'react-native-iap';"`
this fixed the issue. Thanks!

[2022-08-06 14:49] MariusCatanoiu commented on #1811
Now, the issue is that I get app crash on android on RNIap.requestPurchase

`2022-08-06 17:44:14.706 24529-24718/? E/AndroidRuntime: FATAL EXCEPTION: mqt_native_modules
    java.lang.NullPointerException: Parameter specified as non-null is null: method kotlin.jvm.internal.Intrinsics.checkNotNullParameter, parameter sku
        at com.dooboolab.RNIap.RNIapModule.buyItemByType`

No issue on iOS

[2022-08-06 18:21] jeremybarbet commented on #1811
That's not related tot he initial error.

How are you calling either `requestPurchase` or `requestSubscription`? it sounds like the `sku` parameter to one of the two function is null and should be instead a string.

Methods signature changed from `requestPurchase/requestSubscription(sku)` to `requestPurchase/requestSubscription({ sku })`

[2022-08-06 18:23] jeremybarbet commented on #1808
It's fixed in this release https://github.com/dooboolab/react-native-iap/releases/tag/8.6.4

[2022-08-06 18:23] #1808 closed

[2022-08-06 22:29] #1811 closed

[2022-08-06 23:07] andresesfm commented on #1710
Released 9.0.0-rc.1 to npm after some cleanup and merging the latest fixes from main

[2022-08-08 05:43] davidshariff commented on #1602
Also getting this issue, but only in development mode. Release mode is fine.

"react-native-iap": "8.6.3"
"react-native": "0.64.2"

[2022-08-08 07:00] SimonDamberg commented on #1710
@andresesfm Great, I'll migrate our app this week. I can't seem to find 9.0.0-rc.1 on npm, only beta12 is available.

[2022-08-08 07:21] sampsonjoliver commented on #1576
https://github.com/dooboolab/react-native-iap/tree/8.4.0

[2022-08-08 07:38] SimonDamberg commented on #1710
@andresesfm Hmm, I am experiencing the same issue as #1800. Was the fix (#1801) only included in main release and not in the 9.0.0 beta?

[2022-08-08 08:09] SimonDamberg commented on #1710
Seems like the code is on the next branch but not included in the [9.0.0-beta12](https://github.com/dooboolab/react-native-iap/releases/tag/9.0.0-beta12) release. It is included in [9.0.0-rc.1](https://github.com/dooboolab/react-native-iap/releases/tag/9.0.0-rc.1) so it should be fixed when that is released to npm 😄

[2022-08-08 09:27] ponleukea opened #1822 "In android device when get product or subscription with hook api return empty any solution pls ?"
**Description**

**Expected Behavior**

**Screenshots**

**Environment:**

- react-native-iap: 8.3.0
- react-native: 0.67.0
- Platforms android real device:

**To Reproduce**
Steps to reproduce the behavior:

1. Go to '...'
2. Press '...'
3. Error '...' is shown

---

[Optional] **Additional Context**

[2022-08-08 09:36] #1822 closed

[2022-08-08 15:25] khj3132 opened #1823 "seletedOfferIndices non-null error"
**Description**

When I use `requestSubscription` without `selectedOfferIndices` property, the following error occurs.

`Parameter specified as non-null is null: method kotlin.jvm.internal.Intrinsics.checkNotNullParameter, parameter selectedOfferIndices`

The default value of `selectedOfferIndices` is undefined , but it doesn't seem to be optional here.

[code]

Then, when I set `[-1]` to `selecte

[2022-08-08 16:02] andresesfm commented on #1710
@SimonDamberg , @hyochan took care of the release. I can see it's not available on npm.

[2022-08-08 21:34] andresesfm commented on #1823
Hello @khj3132 . I'm working on this

[2022-08-08 21:35] andresesfm commented on #1710
I'm fixing this: https://github.com/dooboolab/react-native-iap/issues/1823 will post updates here

[2022-08-08 23:50] andresesfm commented on #1823
`offerToken` is required. The error occurs when trying to build `ProductDetailsParams`:
[code]

[2022-08-08 23:51] andresesfm commented on #1823
Fixed here: https://github.com/dooboolab/react-native-iap/pull/1825

[2022-08-09 01:31] khj3132 commented on #1823
Thank you @andresesfm I will check it, thanks a lot!

[2022-08-09 01:31] #1823 closed

[2022-08-09 02:48] jkfurog commented on #1710
hi @andresesfm I am still encountering `Parameter specified as non-nll is null: method kotlin.jvm.internal.Intrinsics.checkNotNullParameter, parameter selectedOfferIndices`

when subscribing and not passing `selectedOfferIndices` :
` yield call(IAP.requestSubscription, {sku:product_id});`

<img width="258" alt="image" src="https://user-images.githubusercontent.com/103121173/183552710-6894fd12-9d23

[2022-08-09 03:24] jkfurog commented on #1710
and if I pass `[-1]` as `selectedOfferIndices` :
`yield call(IAP.requestSubscription, {sku:product_id, selectedOfferIndices: [-1]});`

I am getting this error :
<img width="258" alt="image" src="https://user-images.githubusercontent.com/103121173/183556911-ccfd5169-2bf5-4e77-a85b-2db5a3ef9de7.png">

[2022-08-09 07:21] SimonDamberg opened #1826 "pricingPhaseList property on android is not typed as a list"
**Description**

The `pricingPhaseList` property is typed as an object but returns a list.

**Expected Behavior**

Should be typed as a list

**Environment:**

- react-native-iap: 9.0.0-rc.1

[2022-08-09 07:22] SimonDamberg commented on #1826
Opened up #1827 to fix this

[2022-08-09 08:20] SimonDamberg commented on #1710
@andresesfm I am getting a hard crash after `requestSubscription()` gets completed. The correct offer shows up and I get the receipt on my order from Google Play, but `currentPurchase` does not update before it crashes. Below is the AndroidRuntimeException when debugging

[code]

[2022-08-09 14:46] professorkolik commented on #1768
@andresesfm Sorry to not update, yes I checked example app as well, and it works, so the problem in our config

[2022-08-09 15:57] andresesfm commented on #1826
Merged

[2022-08-09 15:57] #1826 closed

[2022-08-09 17:24] andresesfm commented on #1823
I have released 9.0.0-rc.2

[2022-08-09 18:14] andresesfm commented on #1710
Hello everybody, I have released `9.0.0-rc.3` If includes the fix for the reported crash by @SimonDamberg as well as his fix for the type `pricingPhaseList`.
This RC includes all the refactoring needed to support both one-time purchases as well as subscriptions. The biggest breaking change from rc.1 is that you now need to pass an array of SubscriptionOffer objects instead of an array of selectedO

[2022-08-09 18:29] #1768 closed

[2022-08-09 18:52] SimonDamberg commented on #1710
@andresesfm Great! I will try the new changes and report if I encounter any issues :)

[2022-08-09 19:30] SimonDamberg commented on #1710
@andresesfm 9.0.0-rc.3 seems to work great for me! However, I do have one request. Would it be possible to include the offer in the `Purchase` object? As of now, there is no way of knowing what offer the user purchased when processing the purchase, which makes it difficult for me when communicating to our backend.

[2022-08-09 23:17] sampsonjoliver commented on #1717
We are also seeing this crash in `v8.6.5`

[code]

[2022-08-10 01:48] jkfurog commented on #1710
hi @andresesfm I am getting this error again after upgrading to `9.0.0-rc.3`

`*/node_modules/react-native-iap/android/src/play/java/com/dooboolab/RNIap/RNIapModule.kt: (442, 81): Type mismatch: inferred type is String? but String was expected`

thanks :)

[2022-08-10 02:09] atech-basemalnabulsi opened #1831 "Handle IOS promocode and implement promoted subscriptions - RNIap/RNIap-Swift.h' file not found"
**Description**

I am trying to use Promocode and promotion service form APPLE since it's required now to use it and not using our own promocode implementation.
While trying to define the Queue we faced import issue as "'RNIap/RNIap-Swift.h' file not found"
Based on RNIap documentation we should import it to define purchase queue, can you help to find the missing part.

Documentation URL is:
https

[2022-08-10 02:27] jkfurog commented on #1710
hi @andresesfm :) would just like to clarify if this is the intended behavior: for the android we no longer use the `sku` parameter ? and the `subscriptionOffers` param is then required ? just wondering what will be the behavior if that subscription does not have any offer. thank you ! :)

<img width="688" alt="image" src="https://user-images.githubusercontent.com/103121173/183796586-baeb4a7d-6760

[2022-08-10 02:35] andresesfm commented on #1710
Thank you, I will fix it for older versions of RN

[2022-08-10 02:51] andresesfm commented on #1710
Hello @jkfurog. That is correct, we no longer use sku for Android. Now subscriptionOffers is required. My understanding is that every subscription you query by calling `getSubscriptions()` will contain at least one `subscriptionOfferDetails` and that will always have an `offerToken`

[2022-08-10 03:02] jkfurog commented on #1710
noted @andresesfm thank you so much ! :) aside from the `inferred type is String? but String was expected` everything seems working on my end

[2022-08-10 03:45] andresesfm commented on #1710
`9.0.0-rc.4` fixes the null check. It also adds some documentation to the process and it fixes the common type.

[2022-08-10 03:51] andresesfm commented on #1831
`RNIapQueue` has been recently removed as it is no longer necessary. Documentation needs to be updated

[2022-08-10 05:22] lvhiep commented on #1791
Hi @andresesfm, i still facing this issue on version 9.0.0-beta9 and version 9.0.0-rc1
getSubscriptions(["id"]) alway return empty.
btw, getSubscriptions with more than 1 sku will work but sometime not return all items.

[2022-08-10 06:08] andresesfm commented on #1791
Hello @lvhiep si you are saying that passing a single element array makes it not return any subscription?

Also, if you are are getting mixed results, can you please add more detail? Any errors or stack trace?

Can you please confirm this happens on 9.0.0-rc.4?

[2022-08-10 07:20] SimonDamberg opened #1833 "Add offer or billingPeriod to Purchase objects on Android for 9.0.0"
When processing subscriptions, there is no way of knowing what offer the user purchased. This makes it difficult in cases where it is important for the backend to know what the user purchased. Adding the `pricingPhase`, or just the `billingPeriod`, to the `Purchase` object would be great.

[2022-08-10 07:46] lvhiep commented on #1791
Hi @andresesfm , it work well on 9.0.0-rc.4. Thank you!

[2022-08-10 16:43] yuri-lomashko-itechart opened #1837 "iOS Build native error: applicationUsername is optional"
**Description**

iOS stopped building on the latest version. There is a error in `RNIapIos.swift` file

**Expected Behavior**

App builds successfully

**Screenshots**

<img width="671" alt="Screen Shot 2022-08-10 at 19 34 27" src="https://user-images.githubusercontent.com/54143988/183965037-5f6f1982-abcb-4c00-bb8e-af83a28a542c.png">

**Environment:**

- react-native-iap: 8.6.5
- react-native: 0.6

[2022-08-10 16:43] andresesfm commented on #1831
https://github.com/dooboolab/react-native-iap/pull/1836

[2022-08-10 17:45] andresesfm commented on #1837
Thank you for reporting this @yuri-lomashko-itechart. Could this be related to using an older version of react native? (Our CI process is building correctly)

[2022-08-10 18:27] yuri-lomashko-itechart commented on #1837
Yeah, it could be. It's a native project with integrated React Native part. So there are a lot of old things :).
Unfortunately I know swift not well and don't know correct solution here, but I temporary fixed it with that patch
[code]

[2022-08-10 18:29] jeremybarbet opened #1838 "Unsync between `main` and `next`"
Hey @andresesfm

When I try to open a PR to merge `next` into `main` the diff looks very off. Like some files are missing from `next` or `main` but they are present in both. That make my rebases for my branches off `next` insanely complicated.

You can check it out there https://github.com/dooboolab/react-native-iap/compare/main...next

Any chance something went wrong when merging between branches

[2022-08-10 18:41] andresesfm commented on #1838
Can you give me some examples of such files?
It is definitely messy, there's been a lot of merging from main to next along with many other commits inside next. When we do the merge we'll have to pay attention to those but they'll be all squashed into a single commit so no need to worry about all the inbetween commits

[2022-08-10 18:43] #1831 closed

[2022-08-10 19:12] jeremybarbet commented on #1838
If you open the link and click on the "files changed", for the first 5 files they are both present on main and next but appears as a diff which is weird. When you go the path for each of these files on main and next they are both same files

[2022-08-10 20:42] andresesfm commented on #1837
@yuri-lomashko-itechart I think this is a better option: https://github.com/dooboolab/react-native-iap/pull/1839 (Closer to the original intent)

[2022-08-11 01:49] sampsonjoliver commented on #1717
For visibility, the fix was reverted in PR https://github.com/dooboolab/react-native-iap/pull/1724

[2022-08-11 06:53] SimonDamberg commented on #1833
@andresesfm Yes, but the issue is when a purchase happens in the background, for example a renewal, or if something happens during the processing of the `Purchase` (crash, user closes, network disconnect etc.). In this case, the `Purchase` would be processed on the next application start, but there would be no state with the offer available to communicate to the backend in the listener. Because of

[2022-08-11 09:15] angelos3lex opened #1844 "iOS transactionId is different than the receipt's transactionID"
**Description**
We noticed some edge case where the `SubscriptionPurchase.transactionId` is different than the `transaction_id` that's included inside the `SubscriptionPurchase.transactionReceipt`.  We call `https://buy.itunes.apple.com/verifyReceipt` using the `SubscriptionPurchase.transactionReceipt` as body, and the returned response contains a different transactionId than the original that was

[2022-08-11 14:41] dmdeganov opened #1845 "transactionReceipt gets enormously big and repeats the same transactionReceipt inside many times"
Hello. We use hooks approach in our project. So when a user buys something we get currentPurchase object from useIAP() hook. Then we validate currentPurchase.transactionReceipt on the server side of out app.

The problem we encountered during testflight and sandbox testing is that the currentPurchase.transactionReceipt kind of concatanates  the same value inside each time when  currentPurchase cha

[2022-08-11 18:02] andresesfm commented on #1833
@SimonDamberg I think you are correct in the sense that 1) You should be able to track the offer information. and 2) That Google Billing Library doesn't support it.

Having said that, the suggestion would be to store the information in your backend when the purchase is initiated and then reconcile it when you verify the purchase on your backend.

[2022-08-11 19:27] andresesfm commented on #1717
New attempt to fix this: https://github.com/dooboolab/react-native-iap/pull/1846

[2022-08-11 19:41] #1845 closed

[2022-08-11 19:46] dmdeganov commented on #1845
all of these blocks are slightly different so it seems to be normal

[2022-08-11 22:07] #1837 closed

[2022-08-12 00:24] andresesfm commented on #1710
I have created the following discussion: https://github.com/dooboolab/react-native-iap/discussions/1852 for the release of 9.0.0 with Google Billing Library v5. Please use this chance to report any final issues

[2022-08-12 00:24] andresesfm commented on #1838
Closing in favor of: https://github.com/dooboolab/react-native-iap/discussions/1852

[2022-08-12 00:24] #1838 closed

[2022-08-12 06:36] SimonDamberg commented on #1833
Yes, that is my workaround as of now. I hope it gets added to the Google Billing Library since it would make sense to be able to access it there as well :)

[2022-08-12 11:14] Shiviagg commented on #1127
HIi, I am facing the same issue? can someone help it

[2022-08-12 11:21] Shiviagg commented on #1127
For Discussion

[2022-08-12 12:25] YoFiq opened #1854 "Documentation misleading and misunderstanding"
Can somebody provide updated documentation about how to use that lib?

On website half of documentation describing old versions of the lib
Half of IAP hooks not works
Almost all info is written for Class-based components and no function-based

Also in advanced usage example lot of function was just removed in latest versions

[2022-08-12 15:40] BLOCKMATERIAL commented on #1757
How can I get these changes ?
Are they downloaded for the latest version ?

[2022-08-12 15:47] hyochan commented on #1854
If you are looking for function component example, I hope our example code helps for now.

https://github.com/dooboolab/dooboolab.com/blob/main/src/components/pages/Sponsor.tsx

Hopefully we can update the doc soon

[2022-08-12 17:11] andresesfm commented on #1710
9.0.0 has been released

[2022-08-12 17:11] #1710 closed

[2022-08-12 17:11] #1833 closed

[2022-08-12 19:48] jeremybarbet commented on #1854
Wip for new documentation here https://github.com/dooboolab/react-native-iap/pull/1815

[2022-08-12 22:48] andresesfm commented on #1403
Please follow updates/ collaborate here: https://github.com/dooboolab/react-native-iap/discussions/1370

[2022-08-12 23:36] mandrewsan commented on #1195
@sohanpc Did you ever fix this issue?

[2022-08-13 14:08] andresesfm commented on #1785
@khj3132 the method respects `withOffer` to be an object please take a look at the documentation

[2022-08-13 14:08] #1785 closed

[2022-08-14 21:26] mikemangas opened #1856 "Error when using Hooks - offerTokenArr"
**Description**

I switched to  useIAP hooks.

And whenever I call the requestPurchase function (purchase Button),  i get the error (see screenshot).
According the Screenshot, the "offerTokenArr" is missing, but i get this token, only when calling "getSubscriptions" and not "getProducts".

**Expected Behavior**

No error. Successfull purchase.

**Screenshots**

My Code:
<img width="868" alt="Scree

[2022-08-15 05:11] lincdh commented on #203
After calling RNIap.validateReceiptIos I see the object with these keys: `['environment', 'latest_receipt', 'latest_receipt_info', 'pending_renewal_info', 'receipt', 'status']`. Then why does one need to decode `latest_receipt`?

[2022-08-15 11:09] SergiOnGit commented on #1856
It isn't about hooks. I got this error too. Just upgraded to version 9 and now I have this error during requestPurchase. As I see latest stable version is 8.2.1. Others have bugs or am I doing something wrong? As I see docs are the same, nothing changed.

[2022-08-15 12:06] sampsonjoliver commented on #1717
Unfortunately we haven't been able to deploy and verify this fix, as we've detected another crash after updating to 8.6.7 reported by @phillip-kic on https://github.com/dooboolab/react-native-iap/issues/1696

[2022-08-15 18:23] andresesfm commented on #1856
Fixed here: https://github.com/dooboolab/react-native-iap/pull/1857

[2022-08-15 18:37] andresesfm commented on #1856
`9.0.1` has been released with the fix

[2022-08-15 21:49] SergiOnGit commented on #1856
@andresesfm Now there is another error
![Screenshot_1660599391](https://user-images.githubusercontent.com/13105977/184724264-73f69d51-51ca-4013-8025-8309235e3d96.png)
r

[2022-08-15 22:03] andresesfm commented on #1856
@SergiOnGit Can you please post here an example of your call to do the purchase?

[2022-08-15 22:10] SergiOnGit commented on #1856
Here you are @andresesfm

[code]

[2022-08-15 22:25] andresesfm commented on #1856
I see. Please note that `requestPurchase` now takes an object as parameter instead of positional parameters. Please try `requestPurchase({sku:mySku}`

[2022-08-15 22:35] SergiOnGit commented on #1856
@andresesfm Hm right. Looks like I have to update the code.

[2022-08-15 23:19] #1856 closed

[2022-08-16 16:32] saadanii opened #1862 "[Android] requestSubscription throws an error "Attempt to invoke virtual method 'java.lang.String android.content.Intent.getStringExtra(java.lang.String)' on a null object reference"
<h3>Version of react-native-iap</h3>
8.6.7

<h3>Version of react-native</h3>
0.68.2

<h3>Platforms you faced the error (IOS or Android or both?)</h3>
Android

[<h3>Screenshot</h3>
![screenshot](https://user-images.githubusercontent.com/36452851/184930192-1f2b26d6-2ed4-485b-b2a0-dbb0e1095deb.png)

<h3>Expected behavior</h3>
requestSubscription should open the native store modal to purchase a subscr

[2022-08-16 16:51] andresesfm commented on #1862
@saadanii Can you please share how you are calling the method? The method recently changed to take an object instead of positional parameters. Please also consider moving to 9.0.2 or newer

[2022-08-16 16:55] saadanii commented on #1862
@andresesfm i'm calling it like this :
`
await requestSubscription({
          sku: productId,
          obfuscatedAccountIdAndroid: currentUser?.uuid,
          obfuscatedProfileIdAndroid: eventUuid,
          applicationUsername: eventUuid,
});
`

[2022-08-16 17:15] andresesfm commented on #1862
@saadanii I found this issue. Seems to be related to a bug in the library: https://stackoverflow.com/q/65095426/570612. Can you please try in 9.0.2 and see if that fixes it?

[2022-08-16 17:19] saadanii commented on #1862
We're atm trying to stay away from version 9 as it uses billling v5 and we based all iap logic on billing v4

[2022-08-16 18:06] andresesfm commented on #1862
I see, in that case, I would suggest forcing your app to use a newer version of the library: https://developer.android.com/google/play/billing/release-notes#4-1

[2022-08-16 18:06] #1862 closed

[2022-08-16 18:16] niraj-khatiwada opened #1863 "[Production] Received purchase response without a transaction but including an action URL with buy params"
**Description**
Recently one of our user did in app purchase but their payment method was connected to Paypal. They said that the paypal already did the charge but in app purchase did not completed. Looking at the client log I found that it says "Verification Required" and "Received purchase response without a transaction but including an action URL with buy params". What might be the cause of thi

[2022-08-16 20:40] professorkolik commented on #1844
I think you should rely on `originalTransactionIdentifierIOS` which is originalTransactionId on Apple side

[2022-08-16 21:26] mandrewsan commented on #1643
@spakanati123 Did you find a resolution to this? I began facing the same issue for my Amazon build after upgrading.

[2022-08-16 22:17] mandrewsan opened #1865 "Amazon began crashing on app start"
**Description**

In release mode, only when building for Amazon, the app crashes as soon as it starts. In debug mode, an error screen is shown, but can be bypassed, and the app will run fine. The main error says:

[code]
This error occurs even after removing all imports to the module in source. It only goes away if I completely uninstall the package.

I can also confirm this happens when setting u

[2022-08-16 23:14] andresesfm commented on #1865
Fixed here: https://github.com/dooboolab/react-native-iap/pull/1867

[2022-08-16 23:56] andresesfm commented on #1865
Fix published on `9.0.3`

[2022-08-16 23:56] #1865 closed

[2022-08-17 04:34] lincdh commented on #1856
After upgrading to 9.0.1 then 9.0.3 I still get this error @andresesfm.

I have checked src/iap.ts buyItemByType there is nothing wrong([] exists instead of undefined)

[2022-08-17 16:54] andresesfm commented on #1717
I'll close this as completed. I'll take a look at the other issue

[2022-08-17 16:54] #1717 closed

[2022-08-17 18:21] andresesfm commented on #1757
@BLOCKMATERIAL please make the changes locally on your `node_modules` and let us know if that fixes the issue for you

[2022-08-17 19:58] mandrewsan opened #1869 "Amazon crash when requesting purchase"
**Description**

App crashes when calling `RNIap.requestPurchase({ sku })` from an Amazon Kindle Fire.

Main error is saying: `RNIapAmazonModule.buyItemByType got 10 arguments, expected 3`

**Expected Behavior**

This was previously working, prior to upgrading.

**Environment:**

- react-native-iap: 9.0.3
- react-native: 0.69.2
- Platforms (iOS, Android, emulator, simulator, device): Amazon Kindle

[2022-08-17 19:59] mandrewsan commented on #1865
Thank you! I can confirm this error is no longer showing up for me.

[2022-08-17 21:22] andresesfm commented on #1869
Thank you for the report @mandrewsan . Fix is here: https://github.com/dooboolab/react-native-iap/pull/1870

[2022-08-17 21:49] andresesfm commented on #1869
Fix released on `9.0.4`

[2022-08-17 21:49] #1869 closed

[2022-08-17 22:36] mandrewsan commented on #1869
Thank you! The fix worked.

[2022-08-17 23:22] julianxlozano opened #1874 "Invalid Product ID - RNIap.requestSubscription()"
Hey. I've been stuck on this problem for weeks now. I've seen every issue thread, every article, every stack overflow question, youtube video, and even contacted apple support to no avail.

I have all my Tax & Banking Stuff in order, and my products say "Ready To Submit"
I'm able to successfully call RNIap.getSubscriptions() and see an array of my products from apple.

When I call RNIap.requestSub

[2022-08-18 02:22] andresesfm commented on #1874
Please use the template to report an issue

[2022-08-18 02:22] #1874 closed

[2022-08-18 08:09] jeremybarbet commented on #1874
Just FYI, in case you updated between 2 versions of react-native-iap: https://github.com/dooboolab/react-native-iap/releases/tag/8.5.2

[2022-08-18 08:25] lincdh opened #1875 "android promo code option does not appear, ios offer code cannot be redeemed"
**Description**

on iOS I have created an offer code for the expected subscription and use the Offer Code URL with the correct CODE to redeem it.

I also try with `presentCodeRedemptionSheetIOS()` but it always return a modal with cannot redeem code, try another code.

on Android I have created an promo code for the expected subscription. And expecting when checkout modal popups there will be prom

[2022-08-18 15:14] julianxhuntclub commented on #1874
@jeremybarbet You just saved my ass. Thank you! I didn't find this change in any documentation, so this was extremely helpful, and it worked!

[2022-08-18 16:45] andresesfm commented on #1875
Hello @lincdh, can you please point me to the native documentation or an example of what it should look like?

[2022-08-18 16:57] andresesfm commented on #1875
For Android it should be in the payment options as per: https://developer.android.com/static/images/google/play/billing/promo-payment-methods.png

[2022-08-19 07:28] BLOCKMATERIAL commented on #1757
It didn't work :(

[2022-08-19 07:29] BLOCKMATERIAL commented on #1757
It didn't work :(

[2022-08-19 18:28] lincdh commented on #1875
@andresesfm Here it is inn test mode.
![Screen Shot 2022-08-20 at 01 25 45](https://user-images.githubusercontent.com/21136244/185683712-651939a5-7d6e-4a9f-9a28-47357498c368.png)

[2022-08-19 19:51] andresesfm commented on #1875
Yeah, I think that's the expected behavior for a test purchase

[2022-08-19 20:44] andresesfm commented on #1757
@BLOCKMATERIAL Thank you for trying. It's really hard to attempt a fix without a way to easily reproduce the issue. I would recommend trying to replicate it in the IapExample app so we can get more eyes on it

[2022-08-20 09:40] roots-ai commented on #1114
Any updates here?

[2022-08-20 09:41] roots-ai commented on #1034
Any updates here?

[2022-08-20 21:03] mikemangas commented on #1856
works perfectly fine for me, since updated to 9.0.4
Thank you so much!

[2022-08-21 19:02] nes123 commented on #1202
The original receipt should work, at least in my experience. Did anyone experience something else?

[2022-08-21 20:07] nes123 commented on #1202
Now i wonder if there is a risk in updating the receipt. Or is it going to be validated the same as the original token..didn't find any documentation on what is the healthiest approach.

[2022-08-22 07:25] aadityapaliwal94 commented on #1050
@MidnightCoke What do you mean by type? I am facing this issue after RN update.

[2022-08-22 10:29] mmajk55 opened #1878 "[Android] Duplicated pricing phase in subscriptionOfferDetails"
I've created a subscription and I've added an offer to the base plan and now I have two duplicated pricing phases in `subscriptionOfferDetails`. Is this an expected behavior? Shouldn't we have only one subscription offer detail in this case?

**Expected Behavior**
Don't have duplicated `pricingPhase` in separate `subscriptionOfferDetails` element if discount offer is added

**Screenshots**
![Scree

[2022-08-22 18:07] andresesfm commented on #1878
Hello @mmajk55 . I also get that duplication. My interpretation is that you might want to have the option to show the free trial or have your users purchase directly without trial. This is not a bug on our end since we are just passing down what the native library returns.

[2022-08-22 18:08] #1875 closed

[2022-08-23 07:08] mmajk55 commented on #1878
Hello, @andresesfm thanks for explaining!

[2022-08-23 07:08] #1878 closed

[2022-08-24 07:11] Huseyinnurbaki commented on #1854
Also please have a look at the external links/articles mentioned in the documentation.
Some of them are outdated and misleading.

For example:
https://medium.com/dooboolab/announcing-react-native-iap-hooks-96c7ffd3f19a
4.Purchase Products
requestPurchase usage looks like outdated.

https://medium.com/dooboolab/react-native-in-app-purchase-121622d26b67
not misleading but a little old.

[2022-08-24 12:03] Relax594 opened #1883 "Parameter specified as non-null is null: skuArr after updating to 10.0.0"
**Description**

App is crashing when running `getSubscriptions(['android.test.purchased', 'android.test.item_unavailable'])` after updating to v10.0.0. Working fine with v9.x

`Parameter specified as non-null is null: method kotlin.jvm.internal.Intrinsics.checkNotNullParameter, parameter skuArr`
in `getItemsByType`

**Expected Behavior**

Don't crash

**Screenshots**

**Environment:**

- react-na

[2022-08-24 16:05] minosvasilias commented on #1883
Was facing the same error earlier today. Check `src/iap.ts`:
https://github.com/dooboolab/react-native-iap/blob/dd3d6d04cc21f1f0971c1571fbf159505666f88d/src/iap.ts#L138-L142

Expected value is `getSubscriptions({skus: ['android.test.purchased', 'android.test.item_unavailable']})`

[2022-08-24 16:44] minosvasilias opened #1884 "Missing @ReactModule annotation, getNativeModule fails on Android"
**Description**

I am looking into using this module in an app that requires both react-native as well as native Android/iOS code to access the IAP functionality. On the Android side, the native part of the app is added via `.aar` library.

When compiling that library, i use a `compileOnly` implementation of this module (specifically [RNIapModule](https://github.com/dooboolab/react-native-iap/blob

[2022-08-24 16:50] #1883 closed

[2022-08-24 18:57] andresesfm commented on #1884
Hello @minosvasilias I can see they added that annotation here: https://github.com/react-native-async-storage/async-storage/commit/fbaef6cf72fd53eab7d46a6035aeb4631d43fa39
and here: https://github.com/facebook/react-native/commit/3d1b79cd156e8055eab54cefa84a3532572be82c#diff-3ed0194b1ea14b9f11455ae371a7bc901ec028ca1622b6237eb0f31ef3b351eb

However, I don't see it in the documentation here: https:/

[2022-08-24 19:22] BLOCKMATERIAL commented on #1757
@andresesfm
I created a sample project with the same dependencies as mine , the problem remains the same you can view my code here -> https://github.com/BLOCKMATERIAL/react-native-iap-example-0.64.2

[2022-08-24 19:37] minosvasilias commented on #1884
Hey @andresesfm, thanks for the quick reply, appreciate it!

You're right that this is not mentioned in the docs (though it probably should be), however we can follow the `getNativeModule` method in question, which is implemented [here](https://github.com/facebook/react-native/blob/f3def13a92f0fce72a76d9fc5bdcf619e94688af/ReactAndroid/src/main/java/com/facebook/react/bridge/ReactContext.java#L179)

[2022-08-24 23:26] andresesfm commented on #1884
Yeah, I don't see a problem with adding it. Implementation here: https://github.com/dooboolab/react-native-iap/pull/1886

[2022-08-24 23:35] andresesfm commented on #1884
Released in v10.0.1. Please consider supporting us. Any contribution is greatly appreciated

[2022-08-24 23:35] #1884 closed

[2022-08-24 23:49] minosvasilias commented on #1884
Wonderful, thank you very much! :)

[2022-08-25 03:30] normtronics opened #1889 "applicationUsername is not showing up in transaction received from apple when using requestSubscription"
**Description**

I am trying to pass a UUID to the applicationUsername field when requesting a subscription. Upon completing that subscription and looking at the transaction info from apple, the appAccountToken isn't present

**Expected Behavior**
I expect the appAccountToken to be present int the transaction info received from apple when setting applicationUsername in requestSubscription

**Scree

[2022-08-25 05:04] #1889 closed

[2022-08-25 08:08] Mansiwebiots opened #1890 "Error: An unknown error occured - RNIap.requestPurchase()"
Hello

I'm facing an issue while implementing IAP with ios, in the sandbox the payment is working properly but in production, I'm getting this error after I add my apple id and password.

![2022-8-25 12 47 1 192](https://user-images.githubusercontent.com/53261194/186610118-8977e55b-9234-41ae-9aa5-290074a79858.jpeg)

**Environment:**

- react-native-iap: 8.6.7
- react-native:0.63.3
- Platforms : IO

[2022-08-25 09:30] duchoang145 commented on #1889
+1

[2022-08-25 17:11] andresesfm commented on #1890
@Mansiwebiots can you please post some logs so we can take a look?

[2022-08-26 05:53] Mansiwebiots commented on #1890
@andresesfm I'm only getting An unknown error occurred as an issue but I won't be able to show you because the issue is in production so I'm not getting any logs.

[2022-08-26 12:11] XeroDays commented on #157
Nur senga e?

[2022-08-26 19:16] jcrunge commented on #1433
Did you try change the "receipt-body" with 'receipt-data'? https://react-native-iap.dooboolab.com/docs/usage_instructions/receipt_validation

[2022-08-28 17:32] Dallas62 commented on #1785
@andresesfm The issue is more:
The change wasn't documented in the Changelog.

<img width="918" alt="image" src="https://user-images.githubusercontent.com/3429329/187087080-923d2c48-aa6b-470e-8eaa-53a5a0d94fd8.png">

...

[2022-08-29 06:00] Dallas62 opened #1894 "Changelog and Undocumented Breaking changes !"
**Description**

Upgrade a Minor version breaks the method compatibility.

**Expected Behavior**

No breaking changes on minor version and fully-documented changelog.

**Screenshots**

`v8.0.0`
<img width="706" alt="image" src="https://user-images.githubusercontent.com/3429329/187132342-d5afb907-2b34-43ba-b764-f973ea6ffae7.png">

`v8.5.2`
<img width="1315" alt="image" src="https://user-images.gith

[2022-08-29 06:05] Dallas62 commented on #1854
#1894

[2022-08-29 07:55] skjangid opened #1895 "getProducts and getSubscriptions returns empty array in ios working fine in android"
"react": "17.0.2",
"react-native": "0.66.4",
"react-native-iap": "8.0.5",

getProducts and getSubscriptions returns empty array  in ios working fine in android.

[2022-08-29 18:06] #1894 closed

[2022-08-29 18:08] andresesfm commented on #1895
Please try a newer version. If the problem persists, it would mean this is a configuration issue on the AppStore. (Skus not matching what you are passing)

[2022-08-29 18:08] #1895 closed

[2022-08-30 07:22] yanush opened #1898 "Native exception is thrown when calling requestPurchase after upgrading to 10.0.1"
Native exception is thrown when calling requestPurchase after upgrading to 10.0.1

I'm trying to upgrade my library to v10.0.1 and I can't solve this issue. It happens when using the iOS emulator

- react-native-iap: 10.0.1
- react-native: 0.69.4
- Platforms (iOS, Android, emulator, simulator, device): iOS emulator

this is my method:

[code]
Attached a screenshot of the exception.
Please advise

[2022-08-30 07:37] AngelDev727 commented on #1213
Same here.
How can I solve this issue?

[2022-08-30 07:42] dprajapati1179 commented on #1172
Any solution I am facing the same issue of calling both purchaseUpdatedListener purchaseErrorListener multiple times (more than 15 times)

I am using the latest released version  "react-native-iap": "10.0.1"
@andresesfm respond me if there is any specific fixes for the same.

[2022-08-30 09:18] dprajapati1179 commented on #1579
Still having the same issue in latest release "react-native-iap": "10.0.1",

[2022-08-30 10:34] Kadir-prog opened #1899 "requestPurchase showing an error"
![screenshot-1661852813275](https://user-images.githubusercontent.com/80304501/187414624-93b7392d-2754-4adc-bb10-7e2adbd2241e.png)

version
"react-native-iap": "^9.0.0-rc.4",

when i pass product id every time i'm getting same error

here is my code

const initilizeIAPConnection = async () => {

        await IAP.initConnection()

            .then(async (connection) => {

                console.

[2022-08-30 10:37] Kadir-prog commented on #1899
this is new one

![screenshot-1661855773516](https://user-images.githubusercontent.com/80304501/187415987-ce68d61b-8325-4a24-bdc5-5f2fcaea0e19.png)

[2022-08-30 15:32] mtnt opened #1901 "A requestPurchase promise not resolves if endConnection called for Android"
**Description**

My app is configured to end connection when it fall into background state and init connection again when it returns into active state. So, when I call `requestPurchase` on android, the native payment modal cause the app goes into background state and the connection brakes and neither then or catch branch code executed.

I do not remember why I configured the app so, but I did it d

[2022-08-30 15:33] andresesfm commented on #1172
Can you please share what kind of events are you getting?

Could it be previous transaction that were not finished?

[2022-08-30 16:20] andresesfm commented on #1901
@mtnt Should you be using `await` before init and end connection?

[2022-08-30 16:23] andresesfm commented on #1899
@Kadir-prog please try the 9.0.4 release instead of the beta, I think that issue was fixed. Reopen if it's still failing

[2022-08-30 16:23] #1899 closed

[2022-08-30 16:35] mtnt commented on #1901
@andresesfm I use it in regular promise way:
[code]
and
[code]

this code is not coupled with `requestPurchase` call

[2022-08-30 16:53] mtnt commented on #1901
so, is it possible to restore listening after reinit and resolve existing promise?

[2022-08-31 07:17] yanush commented on #1898
I have tried it in every possible way
This is what I get when I use `await requestPurchase({ sku: productId });`:
![Simulator Screen Shot - iPhone 12 - 2022-08-31 at 10 16 55](https://user-images.githubusercontent.com/2669268/187616892-9af9533d-eadf-4807-a229-38c11e85672e.png)

[2022-08-31 13:16] mmajk55 commented on #1878
@andresesfm I have one more question. In Google play we are setting the `basePlanId` for each base plan. There is no chance to receive it from API?

[2022-08-31 16:20] andresesfm commented on #1901
I don't think so. For the new init it would be as if the request never existed

[2022-08-31 16:20] #1901 closed

[2022-08-31 16:29] andresesfm commented on #1403
I have just published `11.0.0-alpha.1` with the basic implementation of SK2. Please let me know of any issues

[2022-08-31 17:38] mtnt commented on #1901
@andresesfm why did you close it? There is still an unfinished promise, it leads to unreachable code branches and memory leak. You can at least reject the promise

[2022-08-31 19:25] hkeithk commented on #1890
Seeing something similar on our end here as well. will try to provide some logs here shortly

[2022-08-31 20:50] andresesfm commented on #1901
@mtnt You bring up a good point. I have created a PR to address such memory leaks: https://github.com/dooboolab/react-native-iap/pull/1910. I'm not sure it'll help in your particular case since the request will still be cancelled as soon as your app goes to the background but I agree this is a good practice

[2022-08-31 21:02] andresesfm commented on #1878
@mmajk55 I thought about the same but I don't see a way to get it from the native API. As an alternative I see that there's the concept of "tags". Accoding to the documentation:

-- | --

I haven't used them but if they do work for you, please let us know to add to the documentation

[2022-08-31 21:15] andresesfm commented on #1576
Please help us test 11.0.0-alpha1 (Migration to Storekit 2) Otherwise this has been merged on main. Can be found on the latest 10.x.x

[2022-08-31 21:15] #1576 closed

[2022-08-31 21:23] andresesfm commented on #1898
@yanush are you sure you ran `yarn`? because the parameter name `appAccountToken` is no longer in the code base. I'm thinking that it could be a regression but it could also be that you are not using the version you think. Please let us know

[2022-08-31 21:32] andresesfm commented on #1579
I have released 10.0.3 that might resolve this issue by cleaning up promises when calling disconnect: https://github.com/dooboolab/react-native-iap/pull/1910

[2022-08-31 21:34] andresesfm commented on #1901
Released 10.0.3

[2022-08-31 23:02] hkeithk commented on #1890
This is when I am trying to call requestPurchase on an android device. Not sure if this is very helpful but these are the logs i pulled out of sentry:

`java.lang.NullPointerException: Attempt to invoke virtual method 'double java.lang.Double.doubleValue()' on a null object reference
    at com.facebook.react.bridge.ReadableNativeArray.getDouble(ReadableNativeArray.java:92)
    at com.facebook.rea

[2022-08-31 23:09] andresesfm commented on #1890
@hkeithk What you are reporting is for Android, the original ticket is for iOS Please create an issue using the template

[2022-08-31 23:11] hkeithk commented on #1898
@andresesfm im seeing a similar issue here only on android devices. I am on rn-iap version 10.0.1, react native 0.68.2. platforms: android only

Unfortunately when the error occurs, I dont see any error message provided in the logs. Strangely enough, the google play store dialog opens, while the app crashes in the background.

![image](https://user-images.githubusercontent.com/22736937/187800725-2

[2022-08-31 23:15] andresesfm commented on #1898
@hkeithk This is for an iOS issue please create a separate issue using the provided template

[2022-08-31 23:27] hkeithk opened #1913 "NativeException thrown on requestPurchase on android device/emulator"
**Description**

When requestPurchase is called on an android device/emulator, the play console billing dialog comes up, but app crashes. Took a look at the change logs and updated the parameters. Code sample:

[code]

**Expected Behavior**

Expected behavior is when the play store dialog opens when a productId is passed. No crash occurs. Clicking on the confirmation or '1-tap buy' will successful

[2022-09-01 02:28] andresesfm commented on #1913
@hkeithk does it happen if you don't pass `obfuscatedAccountIdAndroid`?

[2022-09-01 05:18] Kadir-prog commented on #1899
![screenshot-1662009337539](https://user-images.githubusercontent.com/80304501/187836857-bf2b5bb7-753f-4419-a0b4-51808fdf760c.png)

hi @andresesfm this is new one

[2022-09-01 05:44] dprajapati1179 commented on #1172
Yes it gets called imiidatly for multiple times with the same purchase,

I want to call My API to store the recipt for the subscription and due to multiple call backend will be confused

Any solution to stop I am also finishing transaction after calling my API but before finishing it get called again and again.

[2022-09-01 05:53] dprajapati1179 commented on #1172
@andresesfm  also note that the same is happening for purchaseErrorListener.

I am attaching the screenshot of the already having subscription error after pressing the ok button from the popup.

1.
![image](https://user-images.githubusercontent.com/67822877/187840919-ea18eeb2-9c61-44b2-98a4-50da9f105184.png)

2.
![image](https://user-images.githubusercontent.com/67822877/187841570-19c261ac-1185-43

[2022-09-01 05:59] hkeithk commented on #1913
@andresesfm when I remove the  `obfuscatedAccountIdAndroid` the behavior i see is the second screenshot. Google play dialog comes up, no error message, but still an app crash

[2022-09-01 06:07] Kadir-prog opened #1915 "Attempt to invoke virtual method 'java.lang.String java.lang.Object.toString()' on a null object reference"
**Description**
when calling request purchase getting this error

**Expected Behavior**
should be display payment model

**Screenshots**
![screenshot-1662012194103](https://user-images.githubusercontent.com/80304501/187843193-a2a64011-b173-428d-9d38-57144704b73d.png)

**Environment:**

- react-native-iap: ^9.0.0-rc.4
- react-native:0.67.4
- Platforms Android,device:

[2022-09-01 07:39] mtnt commented on #1901
@andresesfm nice, so will the promise be rejected?

[2022-09-01 11:21] MaxJadav opened #1916 "Undefined is not an object (evaluating 'purchase.transactionId')"
**Description**

When I call await finishTransaction(purchase); throw error in try catch block.
[TypeError: undefined is not an object (evaluating 'purchase.transactionId')]

**Expected Behavior**
Shuld not throw undefined error.

**Screenshots**

**Environment:**
Sandbox
- react-native-iap:"^10.0.3"
- react-native:"0.67.2"
- Platforms (iOS,real device):

**To Reproduce**
Steps to reproduce the be

[2022-09-01 12:52] cakesoft-shashank opened #1917 "Crashing on android"
**Description**
Crashing on android when calling `initConnection().then`

**Screenshots**![Screenshot_20220901-182016.jpg](https://user-images.githubusercontent.com/50690016/187918060-3408c7e2-02f4-436a-97a4-04129fdbedaf.jpg)

**Environment:** android

- react-native-iap:10.0.3
- react-native:0.68.2
- Platforms (iOS, Android, emulator, simulator, device): android phone

[2022-09-01 16:04] mmajk55 commented on #1878
@andresesfm thanks for the answer. I will try it and let you know

[2022-09-01 17:26] andresesfm commented on #1915
@Kadir-prog 9.0.0-rc.4 was a prerelease build. Please use `[9.0.4](https://github.com/dooboolab/react-native-iap/releases/tag/9.0.4) or even better, use the new 10.x.x version

[2022-09-01 18:00] andresesfm commented on #1913
@hkeithk I'm having a hard time reproducing this. I think it might be something in your app other than this library. Can you please try to reproduce using `IapExample`. I looked at places where `getDouble()` could be called but nothing looks out of place

[2022-09-01 18:05] mtnt commented on #1901
Great) it`s enough for me, I will get purchase from the `purchaseUpdatedListener`

[2022-09-01 18:07] andresesfm commented on #1899
Use `requestPurchase({sku})`

[2022-09-01 20:32] andresesfm commented on #1917
try `getProducts({skus:....}`

[2022-09-01 20:32] #1917 closed

[2022-09-01 20:34] andresesfm commented on #1916
try `finishTransaction({purchase})`

[2022-09-01 20:34] #1916 closed

[2022-09-01 20:42] andresesfm commented on #1898
@yanush please try `requestPurchase({ sku:productId });`

[2022-09-01 20:42] #1898 closed

[2022-09-01 21:51] hkeithk commented on #1913
Hey @andresesfm, thanks for your help. You were right - after some more digging it was not caused by react-native-iap. Apologies and thanks for your help. Closing the ticket now

[2022-09-01 21:51] #1913 closed

[2022-09-01 22:49] andresesfm commented on #1403
Published 11.0.0-alpha.6 with backwards compatiblity. No longer need to target iOS 15 in order to use the library. However, in order to use sk2 you'll need to target ios 15.0

[2022-09-01 22:51] andresesfm commented on #1757
@BLOCKMATERIAL. The minimum ios Version is '12.4'. But you are using https://github.com/BLOCKMATERIAL/react-native-iap-example-0.64.2/blob/main/exampleReactNativeIAP/ios/Podfile#L4

[2022-09-01 22:56] andresesfm commented on #1532
Not sure if it's even possible. I googled around but was not able to find any info. If you find something, please let us know. I'd be happy to include it

[2022-09-01 22:56] #1532 closed

[2022-09-01 22:58] andresesfm commented on #1696
Not sure but I think this: https://github.com/dooboolab/react-native-iap/pull/1910 might have fixed some memory leaks related to this. If not, please reopen

[2022-09-01 22:59] #1593 closed

[2022-09-01 23:00] #1592 closed

[2022-09-01 23:03] #1477 closed

[2022-09-01 23:05] andresesfm commented on #1528
Please help us test the alpha version of 11.0.0 Migrates to storekit 2 that targets ios 15 and above

[2022-09-01 23:05] #1528 closed

[2022-09-01 23:06] andresesfm commented on #1701
`requestPurchase` now supports `applicationUsername`

[2022-09-01 23:06] #1701 closed

[2022-09-01 23:08] #1478 closed

[2022-09-01 23:09] #1439 closed

[2022-09-01 23:10] #1352 closed

[2022-09-01 23:12] andresesfm commented on #1406
Please open a new issue if this is still happening on the latest version. Please include what kind of transactions are being sent. Are they cancelled for example? They should be easy to filter

[2022-09-01 23:12] #1406 closed

[2022-09-01 23:17] andresesfm commented on #1526
Billing Services are not available on Emulators

[2022-09-01 23:17] #1526 closed

[2022-09-01 23:20] #1295 closed

[2022-09-01 23:23] andresesfm commented on #1172
Please try 10.0.3 that adds clean up on disconnect. Please open a new ticket if this is still an issue. Even if the symptoms are the same, the code has changed too much to trace back. Thank you for understanding

[2022-09-01 23:23] #1172 closed

[2022-09-02 00:30] phongit1995 opened #1920 "Parameter specified as non-null is null: parameter token"
**Description**
App is crashing when running
await requestPurchase({
              sku: productId
  });

Parameter specified as non-null is null: method kotlin.jvm.internal.Intrinsics.checkNotNullParameter, parameter token

**Expected Behavior**

**Screenshots**
![302394450_778185016849443_8950993567380914766_n](https://user-images.githubusercontent.com/40308146/188034392-80371f9b-d625-4c4c-b4d2-d

[2022-09-02 04:44] Kadir-prog commented on #1915
thanks @andresesfm its working thanks for your time

[2022-09-02 11:22] dprajapati1179 commented on #1172
Okay, I will try with the 10.0.3 and update you here.
Thank you for the replay @andresesfm

[2022-09-02 17:21] andresesfm commented on #1311
Fixed here: https://github.com/dooboolab/react-native-iap/pull/1921

[2022-09-02 17:41] andresesfm commented on #1311
10.0.5 has been published with the fix

[2022-09-02 17:41] #1311 closed

[2022-09-02 17:43] andresesfm commented on #1920
The crash is not happening when calling `requestPurchase` but when calling `finishTransaction` Please change the parameters fo finishTransaction with an object

[2022-09-02 17:43] #1920 closed

[2022-09-02 17:45] andresesfm commented on #1339
Please check if the user already owns the item, or if the previous transaction hasn't been finished

[2022-09-02 17:45] #1339 closed

[2022-09-02 17:48] #1433 closed

[2022-09-02 19:44] andresesfm commented on #1702
Closing, please reopen if it's still an issue on latest

[2022-09-02 19:44] #1702 closed

[2022-09-02 19:45] #1469 closed

[2022-09-02 19:47] #1502 closed

[2022-09-02 19:48] andresesfm commented on #1545
`requestPurchase` now accepts a parameter `applicationUsername`

[2022-09-02 19:48] #1545 closed

[2022-09-02 20:05] yanush commented on #1898
Seems like it was fixed in the latest version (10.0.5)
Thanks

[2022-09-02 20:15] andresesfm commented on #1647
This issue has been fixed by checking for the locale to be not null. Please use the latest

[2022-09-02 20:15] #1647 closed

[2022-09-02 20:16] #1613 closed

[2022-09-02 20:26] andresesfm commented on #1614
I couldn't identify any changes in the provided PR

[2022-09-02 20:26] #1614 closed

[2022-09-02 20:28] andresesfm commented on #1654
The user probably already owns the product

[2022-09-02 20:28] #1654 closed

[2022-09-02 20:30] #1725 closed

[2022-09-02 20:32] andresesfm commented on #1664
Those properties come directly from Apple's receipt validator, not modified by this library

[2022-09-02 20:32] #1664 closed

[2022-09-02 20:33] #1784 closed

[2022-09-02 20:34] #1635 closed

[2022-09-02 20:35] #1632 closed

[2022-09-02 20:36] #1668 closed

[2022-09-02 20:36] andresesfm commented on #1668
I just merged an specialized error for this case of interrupted purchase

[2022-09-02 20:37] #1721 closed

[2022-09-02 20:38] #1728 closed

[2022-09-02 20:38] #1844 closed

[2022-09-02 20:39] andresesfm commented on #1863
Probably a transient error

[2022-09-02 20:39] #1863 closed

[2022-09-02 20:41] andresesfm commented on #1890
Could be fixed on the latest release if the error was really an interruption to sign new terms and conditions

[2022-09-02 20:41] #1890 closed

[2022-09-02 20:41] #1603 closed

[2022-09-02 20:42] andresesfm commented on #1854
Happy to accept PRs to fix the documentation. Thank you for understanding

[2022-09-05 04:54] dprajapati1179 commented on #1172
Hello @andresesfm,

I used the latest version 10.0.5 but still, the listeners are called 3-4 times.
Am I making any mistake?

[2022-09-05 09:39] dprajapati1179 commented on #1757
@andresesfm
I have been trying to build an iOS app for more than 15 days but having the same issue described here.
I have used the latest version 10.0.5 but having the same issues as described above,

Exception file not found, bridge header, Objective C module.

Please let me know if there is any specific change or version mismatch for iOS installation.

[2022-09-05 15:29] andresesfm commented on #1757
@dprajapati1179 please check the IapExample. Most likely you are setting your minimum iOS version too low

[2022-09-05 20:00] basemanabulsi opened #1925 "Documentation getSubscriptions parameters"
**Description**

In documentation its saying: `getSubscriptions(skuArr)`, also in example `https://github.com/dooboolab/dooboolab.com/blob/main/src/components/pages/Sponsor.tsx` its saying the same.

If we write it in the same way we will get an arror:

**Parameter specefied as non-null is null: method kotlin.jvm.internal.Intrinsics.checkNotNullParameter, parameter skuArr**

After investigating an

[2022-09-06 03:55] dprajapati1179 commented on #1172
Hi @andresesfm

I tried with the latest version but still the same is happening for purchaseErrorListener and purchaseUpdatedListener.
Now the listeners are called 3-4 times not more than that.

Anything else I can try?

[2022-09-06 03:58] dprajapati1179 commented on #1757
Thank you for replying @andresesfm .

I am trying you example and I will update you here.

[2022-09-06 10:39] Singed-jj commented on #1446
Any update exists? I met same issue.

[2022-09-06 17:06] andresesfm commented on #1172
@dprajapati1179 the listeners will get every purchase transaction

[2022-09-07 01:22] huanvu opened #1930 "10.0.x releases throwing IAP_NOT_AVAILABLE error in tests"
**Description**

10.0.x releases throwing IAP_NOT_AVAILABLE error in tests

**Expected Behavior**

You should be able to stub/mock library as normally.

**Environment:**

- react-native-iap: 10.0.5
- react-native: 0.64.2
- Platforms (iOS, Android, emulator, simulator, device): local (mac)

**To Reproduce**
Steps to reproduce the behavior:

1. Write test where react-native-iap is imported at any so

[2022-09-07 09:35] BLOCKMATERIAL commented on #1757
@andresesfm `platform :ios, '12.4' || platform :ios, '13.0'` same problem, reopen please topic.

[2022-09-07 16:35] andresesfm commented on #1930
Proposed fix: https://github.com/dooboolab/react-native-iap/pull/1932.

[2022-09-07 16:48] andresesfm commented on #1930
Released on 10.0.7

[2022-09-07 16:48] #1930 closed

[2022-09-07 17:27] basemanabulsi commented on #1925
@linaia
I got the offerToken from getSubscriptions, its returned from SDK
Also, the object has alot of changes in the latest versions. I have upgraded from V7.4 to V10 I faced those issues.

The issue I am currently facing is that the payment box after clicking on requestSubscription is not shown, I tried to debug the SDK but I could find anything yet.

I put this thread to help anyone faced issue

[2022-09-07 17:39] basemanabulsi commented on #1403
Hello guys,
How can I help? is there any guidance I can walk through to contribute with you? I am interested to work with you on the features

[2022-09-07 17:46] andresesfm commented on #1854
Merged @jeremybarbet 's PR with updated documentation. Please create a PR if you find any issues with the documentation that were not covered on his updates

[2022-09-07 19:13] basemanabulsi commented on #1925
After multiple tried with requestSubscriptions and digging into RNIAP package I found it.

the sku is optional in android, you only have to send subscriptionOffers which contains array of objects each object consists of sku and offerToken

I append the method in the screenshot, maybe someone will save time while requesting it.

<img width="442" alt="Screen Shot 2022-09-07 at 10 11 40 PM" src="http

[2022-09-07 20:09] huanvu commented on #1930
Thank you @andresesfm for the super quick turnaround!

[2022-09-08 04:16] gurmanpsingh commented on #198
In 2022, the products fetch like:
// simple productIDs without bundle identifier.
let allSkus={
          skus:[
          'productID1',
          'productID2',
        ]
      }

      RNIap.getSubscriptions(allSkus); // to fetch the products
      RNIap.requestSubscription({sku:'productID1'}) // to request the subscription.

[2022-09-08 06:40] dprajapati1179 commented on #1757
Hello @andresesfm,

I am using react-native version 0.64 so I thought that is the problem so to check that I have created a new project with the same version I have in my current project and just installed IAP latest version.

Then when I am building iOS app without adding a bridging header it gives a build error but once I select the project and add a new swift file then the pop-up of configuring

[2022-09-08 11:57] trickeyd commented on #615
Hey - I don't believe this issue should have been closed - it seems to me that this is a critical bit of functionality. Was something implemented that can achieve this in the latest version? I see no mention of it in the docs.
Thanks

[2022-09-08 14:41] vietMaiExe commented on #1925
that's exactly what I found. The documentation looks incorrect with the getSubscriptions and getProducts method. Regarding to the declared types, these 2 methods are accepting an object with skus as a key instead of an array with skus.
<img width="812" alt="Screen Shot 2022-09-08 at 21 39 01" src="https://user-images.githubusercontent.com/96100244/189151236-6b54a6e8-7201-403f-9428-0e3f7c0a5cec.png

[2022-09-08 17:28] andresesfm commented on #1925
That is correct, thank you @basemanabulsi @vietMaiExe

[2022-09-08 17:28] #1925 closed

[2022-09-08 21:12] andresesfm commented on #1403
@basemanabulsi take a look at the `next` branch, that's where I'm merging the Sk2 changes. Help with testing/ documentation would be greatly appreciated. Also need help exposing the new methods to Js. I'm currently working on backward compatibility. Let me know what interests you the most and I can create a ticket with the details

[2022-09-08 21:28] #1854 closed

[2022-09-08 22:14] JameDodgers opened #1936 "Help in Android subscription downgrade with DEFERRED mode"
Hello there,

Could you guys help me to understand what exactly should I do when trying to perform a subscription downgrade on Android? Currently when I call `requestSubscription()` with `ProrationModesAndroid.DEFERRED` my listener gives me the same purchase object that I'm downgrading from. If I try to call `finishTransaction()` upon that purchase it gives me the error _"purchase is not suitable

[2022-09-08 22:43] andresesfm commented on #1936
Correct, you can't finish that transaction on the client. Your backend will get the update and you have to acknowledge it there

[2022-09-08 22:43] #1936 closed

[2022-09-08 23:22] Abdelalim-dev commented on #1725
@andresesfm what was the fix for this issue?

[2022-09-08 23:28] andresesfm commented on #1725
Not able to reproduce in the latest version and no response from reporter. Closed as stale

[2022-09-08 23:32] Abdelalim-dev commented on #1725
I have reproduced it. How can I help you figure it out?
In my case, the listener is called but the purchase is undefined.
I am testing with StoreKit on a simulator running iOS 15.5

[2022-09-08 23:39] andresesfm commented on #1725
In that case, you can start by creating a new issue using the new template. Please include as much information as you can.

[2022-09-09 00:11] JameDodgers commented on #1936
But what should I do with the `currentPurchase`? Keep spamming my backend server with it? As my backend will receive the notification when the billing period ends, is there a way to know if a purchase is in this state to prevent sending it to my backend? Sorry if I was not clear

[2022-09-09 06:37] achuinard commented on #1915
I'm still getting this on Android using the `requestSubscription` hook:

[code]

Am I doing something wrong by chance?

[2022-09-09 06:55] achuinard commented on #1915
I believe it's this `val productParamsList = ...` line in the RNIapModule.kt. I modified it to add logging:

[code]

They both logged size 1, then it crashes immediately after on (I believe) the `map { it.toString() }`

[2022-09-09 13:38] joaotmachado opened #1940 "react-native-iap 10.1.0 doens't work with new React Native 0.70"
**Description**

iOS: Eternal loading when purchase is requested.
Android: Crash when opening the purchase screen.

**Expected Behavior**

The paywall to show after purchase is requested.

**Screenshots**

iOS:
<img width="425" alt="Screen Shot 2022-09-09 at 10 37 52" src="https://user-images.githubusercontent.com/65225461/189363026-a4a9379d-50ae-4c08-b64b-db73cd6ff6b3.png">

Android:
<img width="

[2022-09-09 16:15] andresesfm commented on #1940
Hello, the request parameters have changed as of 10.0.0. Please pass an object with the parameters. Reopen if any other issues

[2022-09-09 16:15] #1940 closed

[2022-09-09 18:16] andresesfm commented on #1940
Addeed: https://react-native-iap.dooboolab.com/docs/migrate_to_10.x.x for quick reference

[2022-09-09 18:39] joaotmachado commented on #1940
it worked @andresesfm !

But on android im getting : Possible Unhandled Promise Rejection (id: 0):
"subscriptionOffers are required for Google Play Subscriptions"

do you have a clue?

[2022-09-09 20:02] andresesfm commented on #1940
Described in documentation
https://react-native-iap.dooboolab.com/docs/guides/purchases

[2022-09-09 20:04] andresesfm commented on #1915
@achuinard what are the values you are passing?

[2022-09-09 20:08] andresesfm commented on #1915
Also @achuinard ```subscriptionOffers is not the same as sub.subscriptionOfferDetails ```  the types are different

[2022-09-09 20:08] #1915 closed

[2022-09-11 05:18] achuinard commented on #1915
@andresesfm Thanks for getting back to me, I was passing `subscriptionOffers` from the first call which as you pointed out was wrong. I managed to get it working off one of your other examples.

[2022-09-12 00:37] mars-lan commented on #1696
I don't think https://github.com/dooboolab/react-native-iap/pull/1910 addressed the issue as this is to do with thread safety, not memory leaks. Keeping this re-opened for now.

[2022-09-12 16:37] TomNes94 opened #1952 "getSubscriptions gives different results when developing locally versus Google Play Store build"
**Description**

Using getSubscriptions on Android does not fetch old style introductory offers. The element that should contain both the normal price and the introductory offer is missing.  It does work for newly created introductory offers. This does however only occur when using the app from internal testing (have not tried production app for obvious reasons). Running the app locally (debug and

[2022-09-12 19:43] goguda opened #1953 "v10: Inconsistencies in products/subscriptions returned from getProducts and getSubscriptions across iOS & Android"
Trying to upgrade to v10 from 8.6.7. The documented API changes have been implemented, and the implementation continues to work just fine on iOS.

But, it appears that the structure of the products/subscriptions being returned on Android has _completely_ changed unexpectedly compared to what is returned on iOS and this does not appear to be documented.

For example, take the following product retu

[2022-09-12 20:06] andresesfm commented on #1953
@goguda Starting on version 9. Android was migrated to use the latest Billing v5 which provides a different API. In particular handles subscriptions very differently. I'm working on updating iOS in the new rn-iap version 11.0.0 (currently in beta). Once you've done the integration I'm open to see your concrete suggestions on how to unify both interfaces

[2022-09-12 20:06] #1953 closed

[2022-09-12 20:07] andresesfm commented on #1952
@TomNes94 I don't think this is a bug in the library. Most likely you are using different skus for testing. Please reopen if otherwise

[2022-09-12 20:07] #1952 closed

[2022-09-12 20:16] goguda commented on #1953
Makes sense, thanks for the quick reply. I'd be interested in playing around with v11 to see what changes get made for iOS. I think after those changes are made, from there we could look at which values are similar between iOS and Android and consolidate the API from there for v12.

[2022-09-12 21:37] k8xian commented on #1642
https://react-native-iap.dooboolab.com/docs/api_reference/methods this is now a dead link

[2022-09-13 01:31] phillip-kic commented on #1696
Due to the [Google Play Billing Client depreciation](https://developer.android.com/google/play/billing/deprecation-faq) we have to upgrade our in production use of react native iap (v6), but every attempt we run into serious crashes such as this one now.

Can anyone confirm if upgrading to Version 7 (First version with Billing Client 4) is safe in production, or if there is a specific version that

[2022-09-13 03:44] basemanabulsi commented on #1403
@andresesfm Awesome, thank you for the guidance. Currently I am browsing and understanding the code more so I can dig into it.
Also, I am happy to update the documentation

[2022-09-13 04:42] andresesfm commented on #1403
@basemanabulsi if you are changing the documentation please do it against the next branch as I'm currently getting it ready for release. Thank you and let me know if any questions

[2022-09-13 16:43] whyamsx opened #1957 "Crash Android app – java.lang.NoSuchMethodError: No virtual method queryPurchase"
**Description**

I followed all the steps to install the module, but when I try to open my application, it immediately closes with an error:
`java.lang.NoSuchMethodError: No virtual method queryPurchases(Ljava/lang/String;)Lcom/android/billingclient/api/Purchase$PurchasesResult; in class Lcom/android/billingclient/api/BillingClient; or its super classes (declaration of 'com.android.billingclient.a

[2022-09-13 18:28] iamkunall commented on #1957
Hi @whyamsx please update your react native version according to the required react native version for IAP.

[2022-09-13 18:47] whyamsx commented on #1957
Yes, I came to the conclusion that this was the problem
But I can't update the version because it will break my project, so I just rolled back the module version and it worked for me

[2022-09-13 18:48] #1957 closed

[2022-09-14 07:48] TomNes94 commented on #1952
I did some more testing, and it is indeed not a bug in the library. The Google Play Billing Library v5 will not send subscriptionOfferDetails of introductory offers a user is not eligible for anymore, while the previous version did.

[2022-09-14 14:13] mujuappsile opened #1958 "Unable to auto-initialize connection"
![image](https://user-images.githubusercontent.com/113532312/190178469-8fbe2d61-41f9-43c6-b374-aac4765fe201.png)
There is issue init connection

[2022-09-14 16:54] andresesfm commented on #1958
Please use the issue template.

[2022-09-14 16:54] #1958 closed

[2022-09-14 17:55] andresesfm commented on #1952
Thank you for the info @TomNes94

[2022-09-14 17:58] andresesfm commented on #1642
@k8xian It is part of the migration to code-generated documentation. Please use https://react-native-iap.dooboolab.com/docs/api/modules in the meantime. Sorry for the inconvenience

[2022-09-14 23:23] andresesfm commented on #1403
Released `11.0.0-rc.1` Including migration guide: https://github.com/dooboolab/react-native-iap/blob/next/docs/docs/migrate_to_11.0.0.md Please let me know if any issues before the actual 11.0.0 release

[2022-09-15 04:38] tharwi opened #1961 "getAvailablePurchases() does not resolve in iOS 16"
**Description**

getAvailablePurchases() does not resolve in iOS 16. Checked with both iOS 15.5, and 15.6 devices. The response is returning as expected. But on iOS 16 device it doesn't return anything.

**Expected Behavior**

getAvailablePurchases() should return a success or error response

**Environment:**

- react-native-iap: 7.2.1
- react-native: 0.63.4
- Platforms (iOS, Android, emulator, si

[2022-09-15 09:07] RocMark opened #1962 "import IAP but got undefined"
**Description**
upgrade to v11.0.0-rc.1, import IAP getting IAP undefined.
works fine when using v9.0.0-rc.4.
i had follow the migrate docs. https://github.com/dooboolab/react-native-iap/blob/next/docs/docs/migrate_to_11.0.0.md
not sure what i missed.

[code]

**Expected Behavior**
same as ^9.0.0-rc.4

**Screenshots**
[code]

**Environment:**

- react-native-iap: 11.0.0-rc.1
- react-native: 0.68.2

[2022-09-15 10:07] nes123 commented on #1962
It seems that you need to import * as IAP
It got changed again?! the syntax is very different in general could not make it to work yet.

[2022-09-15 13:41] Mkolakoglu opened #1963 "`purchaseUpdatedListener()` is returning undefined values"
**Description**
Hi,

I am trying to do a purchase with `RNIap.requestSubscription` and listening the result with `purchaseUpdatedListener()`. But it's returning an object with undefined values for Android:
[code]

However, the subscription is getting complete successfully when I check it from Play Store.

**Expected Behavior**

`purchaseUpdatedListener()` should return meaningful data

**Screensho

[2022-09-15 15:15] nes123 commented on #1963
Same problem on IOS

[2022-09-15 17:33] andresesfm commented on #1963
@Mkolakoglu can you please share if android-specific fields show the same issue?:
[code]

[2022-09-15 17:49] andresesfm commented on #1961
Please help us test the pre-release versions of 11.0.0. Its main purpose is to use Storekit 2 that focuses on iOS 15 environments

[2022-09-15 18:10] andresesfm commented on #1963
I have found a possible issue related to this. I have fixed and published version 11.0.0-rc.2` please take a look and see if it fixes it for you

[2022-09-15 18:12] andresesfm commented on #1962
To upgrade from 9 -> 11 please implement the changes detailed here: https://github.com/dooboolab/react-native-iap/blob/next/docs/docs/migrate_to_10.0.0.md followed by the changes detailed here: https://github.com/dooboolab/react-native-iap/blob/next/docs/docs/migrate_to_11.0.0.md

[2022-09-15 18:12] #1962 closed

[2022-09-15 18:51] andresesfm commented on #1961
Please reopen if it still happens on 11.x.x

[2022-09-15 18:51] #1961 closed

[2022-09-16 13:11] Mkolakoglu commented on #1963
Hi @andresesfm, thanks for the quick action! I can confirm that it's fixed for Android 🎊

[2022-09-16 14:57] #1963 closed

[2022-09-18 02:42] YaoHuiJi opened #1967 "get a status code 21000 when validate receipt"
**Description**

I upgrade from 7.5.3 to 10.1.0, and get a status code 21000 when validate receipt via "validateReceiptIos".

according to the apple document

the validation request should be POST not Get

But 'enhancedFetch' uses GET by default

https://github.com/dooboolab/react-native-iap/blob/5d812d59dc79e1e8bb937e627830986724fa4972/src/iap.ts#L881-L897

everything will be ok if you don't set

[2022-09-18 07:24] liyamahendra opened #1968 "iOS Receipt Validation Returns Status 21002"
**Description**

On app startup, I want to check if the auto-renewing subscription is still active or not. I'm using the below code:

[code]

However, the `decodedReceipt ` returns ` {"status": 21002}`

**Expected Behavior**

Should return the Receipt Info

**Screenshots**

**Environment:**

- react-native-iap: 10.1.0
- react-native: 0.67.3
- Platforms (iOS, Android, emulator, simulator, device):

[2022-09-18 08:45] ToniNikolaev23 commented on #1172
@andresesfm Hello i have some questions about transactions and updateListener.I start to use react-native-iap and for testing i used sandbox like everybody i think..when i make purchase for any product everything is good i get receipt, sending to my server to validate, if server send me status okey i finishTransaction (this method always return undefined). And sandbox make multiple payments every

[2022-09-18 10:09] YaoHuiJi opened #1969 "iOS crash: RNIapIos.getPurchaseData takes up more than 1 GB of memory"
**Description**

After upgrading from 7.5.3 to 10.1.0, my app crashes everytime in half a minute after startup

In the Console log, I found the app crashed after hundreds of

and with hundreds of

in the xcode console

here is the Instruments screenshot

<img width="923" alt="截屏2022-09-18 17 38 11" src="https://user-images.githubusercontent.com/741543/190896171-1d818901-c515-4fa6-8fb7-1d276e2ac255

[2022-09-18 20:25] mdrazu24 opened #1970 "getSubscriptions return empty array."
getProduct api is working just fine but when I'm trying  getSubscription api it's returning empty array. I've tried several version of this package and currently I'm on 11.0.0-rc.2

    "react-native-iap": "11.0.0-rc.2",
    "react-native": "0.69.5",
    "react": "18.0.0",
    "expo": "~46.0.9",

here's the code :
 const items = Platform.select({
    ios: [],
    android: ["monthly_big_20"], //tes

[2022-09-18 22:23] TaylorPringleNZME commented on #1961
@andresesfm Do you have any options for version 10?

We are currently experiencing this issue in development and TestFlight builds but production is fine.

[2022-09-19 05:12] junedomingo commented on #1967
Same issue here, also upgrading from 8.0.8 to 10.1.0

[2022-09-19 06:27] mujuappsile commented on #1958
@andresesfm did't found about it...

[2022-09-19 12:35] YaoHuiJi commented on #1969
take one of these tests, for example, in 8 seconds more than 9000 object(size 112kb~656kb) is created, and then app is killed by os, most of these object is about receipt data

after commenting out some code related to receipt Data, the app will still get a memory warning, but it will not be killed. Again, I am not familiar with both Swift and native development. I just wonder if receipt data is s

[2022-09-19 13:04] vishalhyperspace opened #1971 "Got error "Cannot read properties of undefined (reading 'includes')" in my tvOS reactnative project."
When I am tring to access any method of RNIap i got the error below:
"Cannot read properties of undefined (reading 'includes')"

Here is my code which I used to get subscripion detail

`const itemSubs = Platform.select({
      ios: ['com.tc.subGold'],
      android: ['com.tc.subGold'],
    });

    try {
      const products = await RNIap.getProducts(itemSubs);
      console.log('Products => ', pr

[2022-09-19 15:09] YaoHuiJi commented on #1969
There probably won't be hundreds of subscriptions in the actual account, so maybe it will probably only affect Test Flight users, whose sandbox accounts, as far as I know, can't clear its purchase history. I guess I can never use my own Apple Id to test my beta version app in Test Flight from now on.

Or, does anyone know how to clear the purchase history of their Test Flight sandbox account with

[2022-09-19 16:31] #1971 closed

[2022-09-19 16:49] andresesfm commented on #1968
@liyamahendra : have you tried it without reencoding with `btoa`? the receipt is already returned in base64

[2022-09-19 16:52] andresesfm commented on #1968
Closing in favor of: https://github.com/dooboolab/react-native-iap/issues/1967

[2022-09-19 17:02] andresesfm commented on #1970
@mdrazu24  Can you please confirm if this is happening on 10.x.x? It could be a regression bug on 11 RC

[2022-09-19 17:11] andresesfm commented on #1967
Thank you for the help @YaoHuiJi
Fixed here: https://github.com/dooboolab/react-native-iap/pull/1972

[2022-09-19 17:48] andresesfm commented on #1967
released in `10.1.1` Please consider making a donation to the project, thank you

[2022-09-19 17:51] andresesfm commented on #1969
@YaoHuiJi this is a common complaint. As you have mentioned, this happens when you use the same account to test on sandbox. I've seen some SO posts where the suggestion is to use new accounts every time

[2022-09-19 18:31] EliasR01 opened #1973 "RequestPurchase not working on iOS 16"
**Description**

When I call the method `requestPurchase` method, it does nothing on the screen, does not trigger anything and, doesn't throw an error

**Expected Behavior**

`requestPurchase` method will trigger iOS native function to show up the payment sheet

**Environment:**

- react-native-iap: 10.0.0
- react-native: 0.68.2
- Platforms (iOS, Android, emulator, simulator, device): iPhone 11 /

[2022-09-19 18:35] andresesfm commented on #1958
When you create a new issue, select Bug report and fill out all the required info

[2022-09-19 18:42] andresesfm commented on #1172
@ToniNikolaev23 You might get many duplicate transactions on sandbox as you are making many purchases with the same account. This is not typical in production

[2022-09-19 18:43] andresesfm commented on #1973
Please add more detail as of how you are calling `requestPurchase`

[2022-09-19 18:48] andresesfm commented on #1961
@TaylorPringleNZME Please create a new ticket with more detail. I think the latest 10.x fixed an issue related to this, but otherwise, I'll need more detail to understand your issue. Also, please consider contributing to the project

[2022-09-19 18:57] EliasR01 commented on #1973
I'm calling it the following way:

[code]

Where `inAppProducts` is a React `ref` that contains an array with the ID of the products

[2022-09-19 20:51] andresesfm commented on #1973
are you calling `getProducts` before this?

[2022-09-19 21:40] andresesfm commented on #1973
This is usually caused by using the wrong sku or sku being of the wrong kind (product vs subscription)

[2022-09-19 22:49] andresesfm commented on #1973
Please help us test the new  pre-release of 11.0.0

[2022-09-19 22:51] andresesfm commented on #1969
For reference: https://stackoverflow.com/questions/7747457/clearing-purchases-from-ios-in-app-purchase-sandbox-for-a-test-user

[2022-09-19 22:51] #1969 closed

[2022-09-19 22:52] EliasR01 commented on #1973
I know. But I'm pretty sure that we're using the right sku (We were using the wrong before and getting different error)

Sure, I'll do it

[2022-09-19 23:22] andresesfm commented on #1403
Released `11.0.0-rc.3` with updated migration instructions

[2022-09-19 23:45] YaoHuiJi commented on #1969
thank you for your reply, maybe I didn't make it clear, I already know how to clear the purchase history of an ordinary sandbox account, I mean the sandbox account of Test Flight, this sandbox account is different from the sandbox account of development mode, you can't find it in Connect and clear its purchase history, it is the same real account as the Apple Store account.

[2022-09-19 23:55] YaoHuiJi commented on #1969
thank you, I'm not familiar with native development, I think a lot of React Native developers aren't, either. It would have been nice if there had been a hint in the document "Frequently Asked Questions."

[2022-09-20 01:01] rajeshrthl commented on #1526
I keep getting a lot of "Not initialized, Please call initConnection() errors". Looks like still an ongoing issue.

[2022-09-20 03:20] liyamahendra commented on #1968
@andresesfm my initial attempt was without reencoding with `btoa` and it didn't work. Out of curiosity, I tried to encode it using base64 but no luck with that either. Sorry, I forgot to remove that from the issue details I posted.

I upgraded to 10.1.1 and still facing the same issue.

Any advise please? Do you need any specific details?

[2022-09-20 03:50] andresesfm commented on #1968
@liyamahendra in that case, I think it's related to this: https://stackoverflow.com/questions/32836058/ios-receipt-validation-error-21002.

[2022-09-20 04:00] liyamahendra commented on #1968
@andresesfm thank you for reopening the issue! I'm not doing server-side validation of the Receipt. I think the `RNIap.validateReceiptIos` call does validation against AppStore, right?

[2022-09-20 04:03] liyamahendra commented on #1968
One of the [Stackoverflow answer](https://stackoverflow.com/a/32838343/562073) recommends replacing `\r` and `\n` characters. Do you think that's required? I've done Receipt validation in native iOS code - hadn't faced such issue there.

[2022-09-20 04:59] mdrazu24 commented on #1970
Yes I'm getting the same error with 10.x.x. I was gtting the product list succesfully but the subscription list did not work. I was suspicious of declaration of my subscription list. But It seems alright.

[2022-09-20 12:32] amwetahealthtech opened #1976 "Facing the issue when i install the library in my application and at the time of running the app in debug mode it gives below error"
* What went wrong:
Could not determine the dependencies of task ':app:mergeDebugAssets'.

     Required by:
         project :app

          - amazonDebugRuntimeElements
          - playDebugRuntimeElements
        All of them match the consumer attributes:
          - Variant 'amazonDebugRuntimeElements' capability medmora:react-native-iap:unspecified declares a runtime of a component, as well as

[2022-09-20 14:33] andresesfm commented on #1976
https://react-native-iap.dooboolab.com/docs/get-started

[2022-09-20 14:33] #1976 closed

[2022-09-20 14:37] andresesfm commented on #1976
(`missingDimensionStrategy`)

[2022-09-20 14:57] andresesfm commented on #1968
Fixed here following the suggestion from SO: https://github.com/dooboolab/react-native-iap/pull/1977

[2022-09-20 15:07] didac-wh commented on #284
Changing the parameters seems to refresh the caché.

`productSkuList.push("any-random-string");
RNIap.getProducts(productSkuList)
...
`

Also take into account that Google Play takes some minutes to refresh details.

[2022-09-20 15:09] andresesfm commented on #1968
Released as part of `10.1.2`

[2022-09-20 15:25] nguyen95 commented on #1970
Same issue

[2022-09-20 15:29] mdrazu24 commented on #1970
It's still the same. I'm waiting to hear from any of the collaborator

[2022-09-20 15:34] liyamahendra commented on #1968
Hi @andresesfm thank you for looking into this again. I installed the module from cloning your fork and checking the [base_64_encoding_options](https://github.com/andresesfm/react-native-iap/tree/base_64_encoding_options) branch.

Test the app but it still returns `{"status": 21002}`.

[2022-09-20 16:58] nguyen95 commented on #1970
Oh sorry, in my case, getSubscriptions return data but data dont have "price" param (or empty). Show i must get price from subscriptionOfferDetails.

[2022-09-20 17:10] nguyen95 commented on #1970
My code same with you. But i cannot open console right now. Waiting for tomorrow, i can get it for you.

[2022-09-20 17:11] nguyen95 commented on #1970
<img width="497" alt="Screen Shot 2022-09-21 at 00 10 36" src="https://user-images.githubusercontent.com/36287542/191321728-370030e6-01f8-444f-89e4-ad06a2f93665.png">

[2022-09-20 17:12] mdrazu24 commented on #1970
Thanks bro

[2022-09-20 17:24] andresesfm commented on #1968
Have you tried looking at the receipt and see if there's something strange we are not seeing?

[2022-09-20 17:33] liyamahendra commented on #1968
I noticed that you merged the [base_64_encoding_options](https://github.com/andresesfm/react-native-iap/tree/base_64_encoding_options). I installed `10.1.2` and made sure to test the app using TestFlight build.

This seeing the same issue.

I'll comment about the receipt shortly.

[2022-09-20 17:48] nguyen95 opened #1978 "[ANDROID] Price and currency params return empty value"
**Description**

Price and currency params return empty value. So i must get these information from offerDetail

**Expected Behavior**

Price and currency params return string value

**Environment:**

- react-native-iap: 10.0.0
- Platforms (iOS, Android, emulator, simulator, device): Android

[2022-09-20 17:55] liyamahendra commented on #1968
I used the tool available here to decode the receipt using my shared secret. Following is the decoded receipt content:

[code]

[2022-09-20 18:40] andresesfm commented on #1968
It looks like a valid JSON to me. So what's left is your SECRET, could it be that you are using the wrong one?

[2022-09-20 18:42] liyamahendra commented on #1968
Well, I used the same secret to decode the receipt in the tool above - so I don't believe its the wrong one.

[2022-09-20 20:13] andresesfm commented on #1978
What is your proposal to handle onetime and subscription offers in that case @nguyen95 ?

[2022-09-21 01:32] #1970 closed

[2022-09-21 01:33] andresesfm commented on #1968
In that case, try sending it manually with curl or fetch

[2022-09-21 02:02] nguyen95 commented on #1978
I'm clear the response data in api 5.0. So I will close this issue. Thank you

[2022-09-21 02:04] #1978 closed

[2022-09-21 02:59] phillip-kic commented on #1696
For anyone else in this issue, we upgraded successfully to version 7. So version 7 does not have this issue, it was introduced in version 8 and that version should be avoided

[2022-09-21 08:33] liyamahendra commented on #1968
The request succeeds using CURL.

[2022-09-21 09:53] junedomingo opened #1981 "Access Free Trial Phase on Android Subscriptions"
**Description**

In the previous version (8.0.8), we can access free trial period via `subscription.freeTrialPeriodAndroid`.
Is there a way to access it on the new version (10.1.3)?

This is the result of the new version
[code]

Or did I miss something?

**Expected Behavior**

Able to get free trial period on android

**Environment:**

- react-native-iap: 10.1.3
- react-native: 0.67.4
- Platforms

[2022-09-21 11:19] dprajapati1179 commented on #1916
Hi @andresesfm,

I am using the latest version but, still unable to finish transaction on iOS getting TypeError: undefined is not an object (evaluating 'purchase.transactionId' when not sending params into object and undefied when sending into an object.

[2022-09-21 13:19] yurii-p-apiko commented on #1973
I have faced the same issue after upgrading to xCode 14 / iOS 16 (on xCode 13 / IOS 15 everything is working fine)

**Environment**:
- xCode: 14
- react-native-iap: 10.0.0
- react-native: 0.64.3
- Platforms (iOS, Android, emulator, simulator, device): iPhone Xr / iOS 16.0

My logs
[code]

[2022-09-21 13:24] yurii-p-apiko commented on #1973
Updrading lib to 11.0.0 did not help (I am trying to use storekit 2)

I got a new error
[code]

[2022-09-21 14:08] andresesfm commented on #1916
What's the exact version @dprajapati1179 ?

[2022-09-21 14:10] andresesfm commented on #1968
Can you please post here an example of the curl? Thank you for all your help

[2022-09-21 15:40] roots-ai commented on #964
Is this in any case related to function params changed to object. Do we have to pass any kind of object in the `finishTransaction ` method?
Wish there was a better documentation.

[2022-09-21 16:32] liyamahendra commented on #1968
Here is the complete curl command:

[code]

[2022-09-21 17:36] andresesfm commented on #1981
@junedomingo You only get it if the user is elegible.

[2022-09-21 17:50] andresesfm commented on #1968
2 things come to mind: 1) You are using the URL that would be used if `isTestEnvironment` is passed as true. Can you verify that's the case? and 2) If that's still the case, you'd need to capture the request using your dev tools or proxy.
Please let me know how that goes

[2022-09-21 18:19] andresesfm commented on #1973
@yurii-p-apiko `E_DEFERRED_PAYMENT` is a valid response that you should account for in your code.

[2022-09-21 18:28] andresesfm commented on #1973
As for `E_USER_CANCELLED` It's also a valid outcome. Please see: https://stackoverflow.com/a/66290633/570612

[2022-09-21 18:28] #1973 closed

[2022-09-21 21:21] Mi6u3l opened #1984 "getAvailablePurchases() not getting resolved on iOS 16"
Description

getAvailablePurchases() is not resolving on iOS 16.
It is working fine on iOS 15 and 15.5.

Expected Behavior

getAvailablePurchases() should return a success or error response

Environment:

react-native-iap: 10.1.3 and 11.0.0-rc.3
react-native: 0.67.0
Platforms iOS (any simulator with iOS 16) tested on physical device iPhone 13 mini device (iOS 16)

[2022-09-21 21:44] andresesfm commented on #1984
@Mi6u3l when trying `11.0.0-rc.3` did you enable Storekit2?

[2022-09-21 21:59] Mi6u3l commented on #1984
@andresesfm I did not. Apologies if it was a requirement and I missed it.
I expected that getAvailablePurchases() would work as usual, with my existing subscriptions created on app store connect.

[2022-09-21 22:03] andresesfm commented on #1403
Released `11.0.0-rc.4` with updated migration instructions. This will be the last RC

[2022-09-21 22:09] andresesfm commented on #1984
Please help us test the recently released `11.0.0-rc.4` here are the migration instructions: https://github.com/dooboolab/react-native-iap/blob/next/docs/docs/migrate_to_11.0.0.md . The main objective of this release is to use storekit2 which is for ios 15 and up

[2022-09-21 23:18] andresesfm commented on #1403
PR to merge into main: https://github.com/dooboolab/react-native-iap/pull/1985

[2022-09-22 01:27] manuelbieh commented on #1984
Running into the same issue here. I have just upgraded to `11.0.0-rc.4` and some weird things are going on in my app.

I have imported the _named export_ `{ setup }` from `react-native-iap`  (**not** `setup` as the [migration guide](https://github.com/dooboolab/react-native-iap/blob/next/docs/docs/migrate_to_11.0.0.md#how-do-i-enable-the-use-of-storekit-2) states at this point [PR here](https://gi

[2022-09-22 02:46] andresesfm commented on #1984
That looks correct @manuelbieh . (Thank you for the PR) I will have a look

[2022-09-22 09:02] emberist commented on #1403
Hey @andresesfm, when do you think version 11.0.0 will be released?

[2022-09-22 09:26] manuelbieh commented on #1984
I double checked and created this minimum reproducible example in my app folder to sort out possible side effects and I still get the error there:

[code]

that's my complete RN app at this point and I'm getting the error as described above. Other calls like `await getSubscriptions({ skus: SUBSCRIPTION_SKUS })` work fine after changing the function signature from an array to an object as described

[2022-09-22 09:40] vvodicka opened #1987 "getAvailablePurchases returns correct data only once on iOS"
**Description**

Docs for `getAvailablePurchases` says, it shall return "all purchases made by the user (either non-consumable, or haven't been consumed yet)". If I use it to get not-yet-consumed consumables, it returns correct data only once. Then it returns empty array till I make another purchase. `currentPurchase` is still set correctly during this behaviour. Above description applies also to

[2022-09-22 10:09] ajouve commented on #1593
I have this issue running in local with metro, but when taking the `Internal testing` version from Google play it works
The code is the same one
I have four account on my phone, they are all in the license testing list

[2022-09-22 10:59] derRaab commented on #1984
We're also running into this problem on iOS 16 with version 10.1.3, so I tried to build our master branch, which uses 7.5.6: Similar behaviour.

So right now we can't release an update and I wonder if this might still work with a different library version?

I hope this can somehow be fixed soon (we would help, but our insights are very minimal, especially on the native side of things).

[2022-09-22 14:07] derRaab commented on #1984
A small side note that might not really be useful. We do have one TestFlight user on iPhone 12 mini with iOS 16 who is able to start the application. So my guess is that this bug is somewhat related to the App Store user itself. But again - just a wild guess.

[2022-09-22 14:21] Mi6u3l commented on #1984
For me, it works in production. But not on development or Testflight

[2022-09-22 18:56] andresesfm commented on #1987
The reason for this is that the restore transactions are marked as finished as soon as `getAvaiableItems` gets called. It makes it convenient because other platforms (including Storekit2) handle it automatically. However, there are situations when you'd like to have the freedom to handle finishing the transaction manually. I have this on my list to fix as soon as 11.0.0 lands

[2022-09-22 18:56] #1981 closed

[2022-09-22 19:01] andresesfm commented on #1593
That's a limitation of the Play Billing Library

[2022-09-22 19:02] andresesfm commented on #1526
Did you call `initConnection` ?

[2022-09-22 20:05] andresesfm commented on #1984
Released fix as part of `11.0.0-rc.5`

[2022-09-22 20:09] andresesfm commented on #1403
As soon as we get enough eyes that validate it is stable @emberist. Implementation is complete. The code will be exactly what you'll see in `11.0.0-rc.5` if you want to start integrating and give us feedback, it would be of great help

[2022-09-23 05:29] Hassan-Riaz opened #1991 "Android Linking issue #Android"
**Description**

I have integrated react-native-iap: 10.1.0
And facing this error not able to gradle sync or build
Recompile with -Xlant:deprecation for detalls
/Applications/.../MainActivity.java: 4: error: cannot find symbol
import com.dooboolad.RNlap.lapPackage:

Have also tried linking manually using the link below but its not working i am not able to build or run the project its keep saying g

[2022-09-23 05:48] mharrison-nzme commented on #1984
Experiencing the same symptoms on 7.5.1
React native 63.3

Blocked doing any releases until we figure out whats going on. Id love to try the v11 alpha but our react native version will not support it

[2022-09-23 08:30] derRaab commented on #1984
@andresesfm Thank you very much! So we need to migrate from 10 to 11 or is this also fixable for version 10?

[2022-09-23 10:18] Aiosa commented on #1984
Installed the `11.0.0-rc.5` but the function still does not resolve. Moreover, `getSubscriptions` results in

maybe I just messed up the installation...

[2022-09-23 10:20] manuelbieh commented on #1984
`11.0.0-rc.5` works for me. Thanks!

@Aiosa you should check the 10.0.0 migration guide.

[2022-09-23 11:05] derRaab commented on #1984
@Aiosa For me it does resolve now in version `11.0.0-rc.5`, after I found out that my sandbox user wasn't able to connect. So doublecheck you device sandbox user is correctly logged in.

[2022-09-23 12:01] derRaab opened #1992 "iOS simulator 13.7 crashes with: dyld: lazy symbol binding failed: Symbol not found: _$s8StoreKit7ProductVMa"
**Description**

Using version `11.0.0-rc.5` in our app on an iOS simulator with version `13.7` does crash with this exception immediately after starting the app:

[code]

Works fine with an iOS 16 simulator. :/

**Expected Behavior**

App doesn't crash.

**Environment:**

- react-native-iap: 11.0.0-rc.5
- react-native: 0.68.3
- Platforms iOS 13.7 simulator

**To Reproduce**
Steps to reproduce the

[2022-09-23 12:49] MariusCatanoiu opened #1993 "On cancel requestPurchase on android I have no catch error"
On iOS we have this on cancel requestPurchase:

[code]

which is ok.
But on android I have no error.

code:

[code]

**Environment:**

- react-native-iap: 10.1.3
- react-native: 0.69.5
- Platforms (iOS, Android, emulator, simulator, device): Android

**To Reproduce**
Steps to reproduce the behavior:

1. requestPurchase
2. cancel the flow

[2022-09-23 13:21] junedomingo commented on #1981
Hi @andresesfm , thanks for all the hard work here!

So I switched to another Google account (to be eligible), and there's a new `Free` pricingPhase obj.
Unlike in the old version, you can access the `freeTrialPeriodAndroid` value (to show it in the UI) even if your account is no longer eligible for a Free trial but it makes more sense now.

[2022-09-23 14:21] ys-sherzad commented on #1992
1+
Also happening in 14.+ versions

[2022-09-23 18:12] andresesfm commented on #1992
🤔 I think I might have to change the way Sk2 is being included: https://developer.apple.com/forums/thread/650886

[2022-09-23 18:14] andresesfm commented on #1991
Most likely: https://react-native-iap.dooboolab.com/docs/get-started/
`missingDimensionStrategy`

[2022-09-23 20:10] andresesfm commented on #1984
That would be a nice contribution to the project @Aiosa

[2022-09-23 23:07] andresesfm commented on #1992
Proposed fix is here: https://github.com/dooboolab/react-native-iap/pull/1994

[2022-09-24 02:07] andresesfm commented on #1992
Released as part of `11.0.0-rc.6`

[2022-09-24 06:20] liyamahendra commented on #1968
I verified the URL using Charles - the sandbox url is used. Please see the screencast below:

https://user-images.githubusercontent.com/911879/192083142-658459b4-1032-4ad1-8523-1ec3c6c8f036.mp4

[2022-09-24 15:42] derRaab commented on #1984
@andresesfm Thanks for your great work! It's kind of weird, but with `11.0.0-rc.6` with `STOREKIT1_MODE` we did experience this problem again (on iPhone 14 Pro). So I did log out the sandbox user on my device. Still didn't work. Then I logged the sandbox user back in again and now it seems to work again. It did resolve for other testers sometimes with and sometimes without sandbox user.  So I will

[2022-09-24 16:19] derRaab commented on #1992
Hi @andresesfm - I tried this but now the iOS Simulator crashes hard around the time I call `getSubscriptions()` Since the app crashes I don't know exactly what happens because the Xcode console doesn't say much. BUT I get this sentry error in our logs:

[code]

<img width="476" alt="Bildschirmfoto 2022-09-24 um 18 17 09" src="https://user-images.githubusercontent.com/2079540/192108329-39c8a9e0-9c

[2022-09-24 16:21] derRaab opened #1995 "STOREKIT_HYBRID_MODE will use Storekit 2 on iOS 13.7 Simulator"
**Description**

When using `STOREKIT_HYBRID_MODE`, the fallback to Storekit 1 seems to not work (at least on iOS Simulator 13.7).

Since calling `setup({ storekitMode: 'STOREKIT_HYBRID_MODE'  })` immediately logs `Using Storekit 2` I assume this is just a basic internal misconfiguration.

All calls to `initConnection()`, `getSubscriptions()` and `getProducts()` also fail with `[Error] Method only

[2022-09-24 18:37] andresesfm commented on #1992
We've battled with that Exception for a while but this is the first time I actually see someone posting the stacktrace. I haven't been able to reproduce locally. It might be related to this: https://stackoverflow.com/questions/53169358/pricelocale-throw-an-exc-breakpoint-when-accessed

[2022-09-25 03:38] andresesfm commented on #1995
Fixed as part of `11.0.0-rc.7`

[2022-09-25 03:38] #1995 closed

[2022-09-25 03:38] andresesfm commented on #1992
Fixed as part of: `11.0.0-rc.7`

[2022-09-25 03:38] #1992 closed

[2022-09-25 12:21] roots-ai commented on #1710
There are no subscriptionOffers and therefore I am sending an empty array instead
 `await RNIap.requestSubscription({sku: sku, subscriptionOffers: []});`

But I am still getting the following error "subscriptionOffers are required for Google Play Subscriptions. @andresesfm

[2022-09-25 14:33] andresesfm commented on #1710
You get them from `getSubscriptions()` @roots-ai

[2022-09-25 15:47] liyamahendra commented on #1968
@andresesfm is there anything I can do to help you debug this issue and hopefully fix this?

How do you test & verify it on your end?

[2022-09-25 16:35] derRaab opened #1997 "subscriptionIOS.subscriptionPeriodNumberIOS missing in 11.0.0-rc-7 in STOREKIT_HYBRID_MODE"
**Description**

After upgrading from 10.1.3 to 11.0.0-rc.7 `SubscriptionIOS` doesn't contain the value for `subscriptionPeriodNumberIOS` on iOS 16 anymore.

I've checked https://github.com/dooboolab/react-native-iap/blob/next/docs/docs/migrate_to_11.0.0.md again but it doesn't mention that changed and I did't find any other value that's representing the duration of the description.

iOS 13.7 does

[2022-09-26 06:02] derRaab commented on #1997
I tried using Storekit 1 again, but then on my iOS 16 Simulator `getAvailablePurchases()` will not resolve, like mentioned in this ticket: https://github.com/dooboolab/react-native-iap/issues/1984

[2022-09-26 09:02] hieuptit93 opened #1998 "Android requestSubscription return true"
**Description**
I try requestSubscription on android and the result is always return true.
Not return
{
    "orderId":"GPA.2023-9153-0180-49403",
    "packageName":"com.package.name",
    "productId":"subscription.name.sku",
    "purchaseTime":1565763897962,
    "purchaseState":0,
    "purchaseToken":"kkoohioagkpieamagedjoiji.AO-J1Owj3YPtGxM9YOBSCywUo07BwcX79dAS24w7DvvxVi-gEzsXeRvkY5NGETBH8oDUaWc0

[2022-09-26 16:07] fdobre commented on #1541
I can confirm setting `kotlinVersion` in rootProject in Gradle works with `react-native-iap 8.6.7` and ` RN 0.66.4`

[2022-09-26 16:58] andresesfm commented on #1998
Hello @hieuptit93. The method returns a `Promise`

[2022-09-26 17:33] andresesfm commented on #1403
`11.0.0` has been released. Thank you everybody for your feedback. Gooing forward please create new tickets if you run into any issues

[2022-09-26 17:33] #1403 closed

[2022-09-26 18:00] andresesfm commented on #1997
Fixed here: https://github.com/dooboolab/react-native-iap/pull/1999

[2022-09-26 18:03] andresesfm commented on #1984
@derRaab there's a report here: https://github.com/dooboolab/react-native-iap/issues/1987 of a problem caused by transactions being automatically finished the first time you call `getAvailableItems` the first time. Can you please confirm that's the issue you are experiencing?

[2022-09-26 18:03] #1991 closed

[2022-09-26 18:14] andresesfm commented on #1987
Fixed here: https://github.com/dooboolab/react-native-iap/pull/2000

[2022-09-26 18:22] andresesfm commented on #1997
Released on `11.0.1`

[2022-09-26 18:22] #1997 closed

[2022-09-26 18:23] #1998 closed

[2022-09-26 18:26] andresesfm commented on #1696
Please create a new ticket if this is still happening on 11.x.x. Also please use the new Bug report template. There's simply not enough information here to try to reproduce.  I'll be happy to look at it.

[2022-09-26 18:26] #1696 closed

[2022-09-26 18:35] andresesfm commented on #1987
Released on `11.0.2` Please set `automaticallyFinishRestoredTransactions` to false when calling `getAvailableItems`. Like so: `getAvailableItems({automaticallyFinishRestoredTransactions:false})` Keep in mind that when this is set to false, you'll have to call `finishTransaction` when you are done restoring the purchase

[2022-09-26 18:35] #1987 closed

[2022-09-26 18:57] andresesfm commented on #1993
I just tested on version `11.0.2` and I cannot reproduce. I used the IapExample app.
Launch the app, tap on "Products"
Tap on buy on any of the items
Tap outside the popup dialog.
 See the rejection error on the screen.

Please let me know if I'm missing anything

[2022-09-26 18:57] #1993 closed

[2022-09-26 19:06] andresesfm commented on #1968
@liyamahendra can you please confirm that the request to sandbox captured on Charles is the same as the one you used in the cUrl?

[2022-09-27 00:50] suupham2506 opened #2002 "Product update listener trigger multiple times???"
**Description**

When I successfully purchase an item, it triggers 21 times on purchaseUpdatedListener.

**Expected Behavior**
It should trigger once.

**Screenshots**

**Environment:**

- react-native-iap: 10.1.3
- react-native: 0.69.5
- Platforms (iOS, Android, emulator, simulator, device): IOS

**To Reproduce**
Steps to reproduce the behavior:

1. Go to '...'
2. Press '...'
3. Error '...' is sh

[2022-09-27 07:19] vvodicka commented on #1987
Thanks! Really appreciate a prompt resolving!

[2022-09-27 07:45] derRaab opened #2003 "iOS 13.7 Simulator getAvailablePurchases() throws NSInvalidArgumentException: +[NSInvocation _invocationWithMethodSignature:frame:]"
**Description**

Calling `getAvailablePurchases()` on iOS 13.7 simulator using Storekit 1 throws this native exception: `[native] NSInvalidArgumentException: +[NSInvocation _invocationWithMethodSignature:frame:]: method signature argument cannot be nil`.

This is how it get's called:

[code]

I also tried `automaticallyFinishRestoredTransactions = true` but got the same exception. Storekit2 seems

[2022-09-27 07:52] derRaab commented on #2003
Additional information:

[code]

<img width="583" alt="Bildschirmfoto 2022-09-27 um 09 51 35" src="https://user-images.githubusercontent.com/2079540/192466736-b557d858-c942-4873-a900-dba28da416c2.png">

[2022-09-27 10:15] exzos28 commented on #2002
You must provide a minimal code example, please.

[2022-09-27 14:16] liyamahendra commented on #1968
@andresesfm yes, I can confirm the requests were the same.

[2022-09-27 17:47] andresesfm commented on #2002
Added to FAQ: https://github.com/dooboolab/react-native-iap/pull/2005

[2022-09-27 17:47] #2002 closed

[2022-09-27 18:35] andresesfm commented on #2003
Fix here: https://github.com/dooboolab/react-native-iap/pull/2007

[2022-09-27 18:37] andresesfm commented on #1968
Check the headers and the encoding please

[2022-09-27 18:41] andresesfm commented on #1987
Fixed here: https://github.com/dooboolab/react-native-iap/pull/2007

[2022-09-27 19:38] leo0grau commented on #1920
i am with this error, when calling requestSubscription, any sollution ?

[2022-09-27 20:12] sbulmahn commented on #1920
Hi -- I have this exact same issue. Has anyone else found a solution for this?

[2022-09-27 20:35] andresesfm commented on #2003
This has been released as part of `11.0.4` Thank you for your patience @derRaab . Let me know if any other issues

[2022-09-27 20:35] #2003 closed

[2022-09-27 20:49] andresesfm commented on #1920
Same version of the library? have you tried updating to the latest?

[2022-09-28 05:19] derRaab commented on #2003
@andresesfm Thank you for your work! And - yes I will. :)

[2022-09-28 07:15] liyamahendra commented on #1968
@andresesfm below is the screenshot showing the headers ( and the URL as well)

<img width="904" alt="image" src="https://user-images.githubusercontent.com/911879/192713064-c98eda6f-cb6d-496f-90b5-28d970dd8566.png">

[2022-09-28 09:18] Kadir-prog commented on #1998
hi @hieuptit93 before you request any purchase, you should set purchaseUpdatedListener to get the updates as soon as the application is launched

[2022-09-28 10:02] Kadir-prog commented on #1998
hi @andresesfm so how can we get that response after purchase any subscription

[2022-09-28 15:56] andresesfm commented on #1920
Did you follow the migration guides in the docs?

[2022-09-28 15:57] andresesfm commented on #1998
follow the sample code in the documentation

[2022-09-28 20:35] rajeshrthl commented on #1526
Yes I did. It is there since we started using this library.

[2022-09-29 10:06] hubciorz commented on #1545
@andresesfm This is only true for `requestPurchase`, not `requestSubscription`.

[2022-09-29 11:34] sbulmahn commented on #1920
Hi Andres – Yes, we did follow the implementation details that we found on the Git site.

Question: would this issue happen if we don’t yet have our application hosted in the Google Play store? We’re still doing implementation testing and haven’t yet posted it.

Thanks again for your help, and please advise

Regards,

Scott

From: Andres Aguilar ***@***.***>
Sent: Wednesday, September 28, 2022 10:

[2022-09-29 11:36] danicunhac commented on #1526
Same, I'm using version 7.1.0 but it's not with hooks
[code]

[2022-09-29 13:45] kayro2222 commented on #1961
hey @andresesfm, i'm facing this problem with `11.0.5`. It's a very inconsistent error, due to I have the promise being resolved with my physical device (Iphone 13 iOS 16) with the version 10.0.1 with a Testflight build. When I upgrade to `11.0.5`, I also have being experience this error on simulators.

Here's my code:

[code]

[2022-09-29 17:36] andresesfm commented on #1545
For iOS the parameter name has changed to `appAccountToken` And for Android, you could use `obfuscatedAccountIdAndroid,
  obfuscatedProfileIdAndroid`

[2022-09-29 17:38] andresesfm commented on #1920
You can only test Android IAP if the app is in the Play Store

[2022-09-29 17:39] andresesfm commented on #1526
you have to check the result of `initConnection` and wrap it in a `try-catch` as it might not be available on a device or it may fail to initialize

[2022-09-29 17:43] andresesfm commented on #1961
@kayro2222 please consider using Storekit 2. It's described in the migration guide to 11.0.0

[2022-09-29 17:44] andresesfm commented on #1968
@liyamahendra those are the response headers, I meant the request headers

[2022-09-30 11:44] quocbaovu15101996 commented on #1920
I have the same issues. Any Idea?

[2022-09-30 11:57] quocbaovu15101996 commented on #1920
I used version 8.0.4 a few days ago everything is ok. But today when I run yarn or npm install this error appears.
Change RNIap.requestSubscription(sku) -> to RNIap.requestSubscription({sku}) is working for me. Is there any explanation?

[2022-09-30 11:57] danicunhac commented on #1526
That's what I did actually, I put it inside the try-catch below and it shows me the following
[code]
Should I be using a real device to test/develop using this library?

[2022-09-30 12:13] danicunhac commented on #1526
@andresesfm I found another issue and saw that I wasn't connected to the play store.

[2022-10-03 16:27] andresesfm commented on #1920
You must have updated it to 10.x.x + where that change was made

[2022-10-03 21:00] danicunhac commented on #1330
@bodrius have you figured this out?

[2022-10-04 12:03] Kadir-prog opened #2013 "purchaseUpdatedListener call so many times"
**Description**
when app is purchase is done purchaseUpdatedListener gets executed when go back from screen and call again still purchaseUpdatedListener called and resubmit previous data to api how to remove all listener

**Expected Behavior**
need to remove listener after purchase

**Screenshots**

**Environment:**

- react-native-iap: 9.0.4
- react-native: 0.67.4
- Platforms (Android, device):
-

[2022-10-04 15:32] nriccar commented on #1823
Hello to all!

Im still getting this error, althought Im sending the proper offerToken from the subscription.

Any help? I have 11.0.7 version

[2022-10-04 16:26] andresesfm commented on #2013
read FAQ

[2022-10-04 16:26] #2013 closed

[2022-10-04 16:28] andresesfm commented on #1823
see Migration guides in documentation, probably not passing an object

[2022-10-04 21:49] jokernomade opened #2016 "Only one requestPurchase at a time"
**Description**

Trying to purchase one item, while the first purchased item is being processed.

**Expected Behavior**

Be able to buy both items while the first is being processed.

**Screenshots**

![WhatsApp Image 2022-10-04 at 18 42 58](https://user-images.githubusercontent.com/3135444/193935997-d07db927-1429-4b0f-9cd3-5807e312a0c4.jpeg)

**Environment:**

- react-native-iap: 11.0.7
- react-n

[2022-10-05 04:33] #2016 closed

[2022-10-05 04:53] alihassan143 commented on #1968
[Apple Developer Documentation](https://developer.apple.com/documentation/appstorereceipts/status)
that is not even an issue of the plugin developer have to apply simple checks and he is good to go
just read this documentation learn about different status code based on receipt

[2022-10-05 06:23] liyamahendra commented on #1968
@alihassan143 sorry, not sure what checks you're referring to!

[2022-10-05 06:36] alihassan143 commented on #1968
@liyamahendra  you can check apple documentation and based on different status code you can perform actions accordingly you have to do it in app

[2022-10-05 09:27] LamQuyet opened #2017 "Purchased successfully and deducted but no money transferred to google console"
**one of my customers made an in-app purchase and paid successfully but google console was not credited. Is there any way to catch this error?**

**Environment:**

- react-native-iap: 10.0.0
- react-native: 0.66.3
- Platforms (iOS, Android, emulator, simulator, device): Android devices
- Environment: production

---

[2022-10-05 11:27] myklosbotond opened #2018 "clearTransactionIOS not working with StoreKit 2"
**Description**

Calling `clearTransactionIOS` returns a TypeError when using StoreKit 2.

**Expected Behavior**

The call either works, or the unavailability of this method is documented.

**Screenshots**

**Environment:**

- react-native-iap: 11.0.7
- react-native: 0.66.4
- Platforms (iOS, Android, emulator, simulator, device): iOS 16

**To Reproduce**
Steps to reproduce the behavior:

1. Enable

[2022-10-05 17:32] andresesfm commented on #2017
Did you finish the transaction successfully? If so, it could be a problem you should bring up with the Google Play folks

[2022-10-05 17:32] #2017 closed

[2022-10-05 18:54] andresesfm commented on #2018
released on `12.0.1`

[2022-10-05 18:54] #2018 closed

[2022-10-05 23:02] andresesfm commented on #1757
I tried creating a new app with 0.64.2 but it would not build.
[code]
It fails with the following error:
[code]
if I remove rn-iap I still get
[code]

RN 64.0 uses `IPHONEOS_DEPLOYMENT_TARGET = 10.0;` which is no longer supported. I don't think we should support that old of a version

[2022-10-05 23:02] #1757 closed

[2022-10-06 05:46] namhd1992 opened #2021 "Help me 'purchase is not suitable to be purchased'"
Code:

[code]

[code]

**Description**
When I click buy product, an error occurs when calling finishTransaction

- react-native-iap:^12.0.1
- react-native: 0.70.1
- Platforms:  Android
- Expected: calling finishTransaction succeeds
Actual: finishTransaction fails with "purchase is not suitable to be purchased"
Test env: real device

[2022-10-06 06:41] myklosbotond opened #2022 "Android subscription does not have localizedPrice"
**Description**

`localizedPrice` is not present in an android subscription, yet the types say that it is.

**Expected Behavior**

`localizedPrice` is either not present in `SubscriptionAndroid` or is marked as optional.

**Screenshots**

**Environment:**

- react-native-iap: 12.0.1
- react-native: 0.66.4
- Platforms (iOS, Android, emulator, simulator, device): Android (or rather TypeScript)

**To

[2022-10-06 12:53] SergiOnGit commented on #1958
@mujuappsile How did you solve it?

[2022-10-06 16:13] guptavishesh143 commented on #723
This helped me in getting products from Appstore

`
  useEffect(() => {
    const checkCurrentPurchase = async () => {
      const connection = await RNIap.initConnection();

      if (connection === true) {
        const clearProducts = await RNIap.clearProductsIOS();
        console.log("clear Products", clearProducts);
        const subscriptions = await RNIap.getSubscriptions({
          skus:

[2022-10-06 17:37] andresesfm commented on #2021
@namhd1992 Thank you for your report. Can you please share what the `purchase` object looks like in that case?

[2022-10-06 17:44] roots-ai commented on #880
@scchess Such strange solution. Only needed for iOS.

[2022-10-06 17:47] andresesfm commented on #2022
Fixed here: https://github.com/dooboolab/react-native-iap/pull/2025

[2022-10-06 18:07] andresesfm commented on #2022
Released on `12.0.2` Thank you @myklosbotond

[2022-10-06 18:07] #2022 closed

[2022-10-06 21:55] kayro2222 opened #2026 "Unable to get the history of purchases"
I'm trying to get the user's purchases with `getPurchaseHistory()` and `getAvailablePurchases()` to verify if the user has active subscription to send him to the main navigator of the app or to the subscription offers. The functions are returning an undefined value or an empty array.

**Expected behavior**

I need to get the history of purchases to validate if the date is expired or not. Using the

[2022-10-06 23:13] roots-ai commented on #1127
Any updates here?

[2022-10-06 23:14] roots-ai commented on #1229
Any updates here?

[2022-10-07 00:13] andresesfm commented on #2026
@kayro2222 it looks like a bug that would happen when using hooks. Can you please try passing the following parameter to the method:

[code]
That should fix it while I come up with an actual fix

[2022-10-07 07:19] johnolofsson opened #2027 "The return type is not correct for getProducts function"
**Description**

The return type is not correct for `getProducts` function.

I'm migrating from version 5.1.1 to 11.0.7. I have read all the release notes and migrated breaking changes and it seems to work pretty well except for one thing.

For version 5.1.1 when using an Android device and I call `getProducts` I get a response like this:

[code]
For version 11.0.7 I get a response like this:
[cod

[2022-10-07 16:32] andresesfm commented on #2027
It has been fixed in [12.0.2](https://github.com/dooboolab/react-native-iap/commit/c0a0f3d0c80c8ab6378838d5b033dbbe7ebd6627)

[2022-10-07 16:32] #2027 closed

[2022-10-07 18:57] andresesfm commented on #1229
`12.0.3`

[2022-10-07 18:57] andresesfm commented on #1127
`12.0.3`

[2022-10-07 23:15] andresesfm commented on #2026
Since you are using Storekit 2. You can try `await IapIosSk2.latestTransaction(sku)`

[2022-10-07 23:40] kayro2222 commented on #2026
it worked @andresesfm! thanks for your time.

[2022-10-08 11:09] mujuappsile commented on #1958
@SergiOnGit did you used endConnection method ? if you used this then removed it

[2022-10-09 01:11] jokernomade commented on #1732
The documentation isn't clear. To make it work I had to do
`finishTransaction({purchase: purchase, isConsumable:true})` and not `finishTransaction(purchase, true)`

[2022-10-09 12:43] omidbarcelona commented on #1710
After using `RNIap.getSubscriptions()` and getting the `subscriptionOfferDetails`, how should I give inputs to `RNIap.requestSubscription()`?  I ask this question because I am also getting this error "subscriptionOffers are required for Google Play Subscriptions".
option 1)
`const subscriptionOffers = [{
      sku: sku,
      offerToken
    }]
const result = RNIap.subscriptionOffers(subscriptionOf

[2022-10-09 13:07] omidbarcelona commented on #1710
An example of getting  requestSubscription

@roots-ai & @andresesfm
An issue for the error of "subscriptionOffers are required for Google Play Subscriptions." can be sending the subscriptionOffers to requestSubscription as "RNIap.requestSubscription(subscriptionOffers)" instead of "RNIap.requestSubscription(**{**subscriptionOffers**}**)", see **{ }** around subscriptionOffers.
See below an example

[2022-10-09 18:08] Haseeba393 opened #2031 ""Request Error: Error: An unknown error occurred" on requestSubscription method (iOS)"
**Description**
I'm using `"react-native-iap": "^11.0.0-rc.7"` following version of react-native-iap. While requesting subscription purchase, I'm getting following error on iOS
`"Request Error: Error: An unknown error occurred"`

Here is the my code for requesting purchase
[code]

I have also wrote the listener for purchase which you can see in below code:

[code]

**Expected Behavior**
On calling

[2022-10-09 19:52] SergiOnGit commented on #1958
@mujuappsile Yeah removing endConnection helped. Thank you.

[2022-10-09 21:09] roots-ai commented on #1127
Do you mean we need to upgrade to `12.0.3` to make this work?

[2022-10-09 21:48] roots-ai commented on #1968
I tried this with `12.0.3` as well. Same 21002  error.

[2022-10-10 08:14] roots-ai commented on #1582
Can you please share the code? (unsure how to get this done)

[2022-10-10 14:46] quentinNpApnl commented on #1889
@normtronics did you find a solution?

[2022-10-10 16:08] andresesfm commented on #2031
@Haseeba393 please use the release version: `12.0.3`. The RCs are not stable for production environments. Please reopen if this still happens on the stable release version

[2022-10-10 16:08] #2026 closed

[2022-10-10 16:22] andresesfm commented on #1732
Fixed documentation here: https://github.com/dooboolab/react-native-iap/pull/2035

[2022-10-10 20:01] akaoppa commented on #2021
instead of   IAP.finishTransaction(purchase, false);
Use IAP.finishTransaction({purchase:purchase, isConsumable: false, developerPayloadAndroid: "" });

[2022-10-10 20:49] kayro2222 commented on #2026
hey @andresesfm, I'm receiving `[Error: Can't find product for sku **my_sku**]` using `IapIosSk2.subscriptionStatus(skus.monthly)` when I reload my app. At fast refresh, I'm able to get the subscriptions.

[2022-10-10 23:08] kayro2222 commented on #2026
it seems that I need to use the context hook at the history too

[2022-10-11 07:36] Jake818-j commented on #1240
Its the same in UK? Our UK users have the same problem.

[2022-10-11 07:37] Jake818-j commented on #1240
Its the same in UK? Our UK users have the same problem.

[2022-10-11 14:23] ardhendu12345 opened #2040 "RNIap.getSubsription(itemSubs) get empty Array but RNIap.getProduct(itemSku) get Products"
react-native -0.70.1
react-native-iap-8.2.1

here i can get the product after using RNIap.getProduct(itemSku) , but in the same app there is also an subscription Plan likewise
product , though i can able to get the product but get empty Array for subscription by using RNIap.getSubscription(itemSubs)
please help me how to get the  the subscription details..Please help ..

[2022-10-11 15:24] skjangid commented on #1920
Thanks @quocbaovu15101996 , it's working for me.

[2022-10-11 17:11] andresesfm commented on #2021
Doc fixed here: https://github.com/dooboolab/react-native-iap/pull/2041

[2022-10-11 17:11] #2021 closed

[2022-10-11 22:31] FeTree opened #2042 "getReceiptIos is not a function"
**Description**

Hi, im trying to fetch the transactionReceipt base 64 encoded string so I can send to our server to verify the IAP. When using getReceiptIOS() i am getting the error:
[code]

Code i am using:
[code]

**Expected Behavior**

The string is printed to the console

**Screenshots**

N/A

**Environment:**

- react-native-iap: 12.0.3
- react-native: 0.69.3
- Platforms (iOS, Android, emula

[2022-10-12 02:34] biphan100897 commented on #1622
If you still want to use manual consumption instead of finishTransaction:
Version 11.0.7
RNIap.AndroidModule.consumeProduct(purchaseToken,developerPayload); only android

[2022-10-12 09:49] ardhendu12345 opened #2043 "react-native-iap V12.0.3 gives the error parameter specified as non-null is null: method kotlin .jvm.internal.Intrinsics.checkNotNullParameter,parameter skuArr"
when i use real device for
React native - 0.70.1
react-native-iap- 12.0.3

it giges me error when i call RNIap.getSubscription(itemSubs) or RNIap.getProducts(itemSku)
"parameter specified as non-null is null: method kotlin .jvm.internal.Intrinsics.checkNotNullParameter,parameter skuArr "

please help me to solve the issue

[2022-10-12 10:30] derRaab commented on #1984
@andresesfm After many days of refactoring and analysing we are still experiencing this kind of problem, but the circumstances become a little more clear now. Maybe there is now a way to understand this a little more?

We are only using only `STOREKIT1_MODE` since we need to support iOS 12 and we also have an already existing receipt validation process which relies on the `transactionReceipt` valu

[2022-10-12 16:39] swushi opened #2044 "Provide Better Errors"
**Description**
Right now, it appears that this library groups all errors together when using `requestPurchase`. It typically looks like: `[Error: The operation couldn’t be completed. (SKErrorDomain error 2.)]`

Unfortunately, this also includes the user cancelling the purchase entirely. So, there is currently no way to distinguish between the user cancelling the purchase-attempt, and an actual er

[2022-10-12 18:34] andresesfm commented on #2044
@swushi The error object has a `code` field that you can use for that effect

[2022-10-12 18:47] swushi commented on #2044
Wonderful, are the possible types defined anywhere?

[2022-10-12 18:51] swushi commented on #2044
Just found it: https://github.com/dooboolab/react-native-iap/blob/main/src/purchaseError.ts

[2022-10-12 18:57] #2044 closed

[2022-10-12 21:06] andresesfm commented on #2042
`requestReceipt` is only available on Sk1. Fix here: https://github.com/dooboolab/react-native-iap/pull/2045

[2022-10-12 21:11] FeTree commented on #2042
I see, thank you @andresesfm

[2022-10-12 21:11] #2042 closed

[2022-10-12 21:38] andresesfm commented on #2043
read migration guides

[2022-10-12 21:38] #2043 closed

[2022-10-12 21:39] andresesfm commented on #2040
read migration guides

[2022-10-12 21:39] #2040 closed

[2022-10-13 00:09] RenatoSerra22 commented on #1913
Hey @hkeithk  what was causing it for you?
Im having the exact same exception on request purchase and not sure what im doing wrong now, it was working fine before my upgrade

[2022-10-13 00:58] andresesfm commented on #1984
@derRaab can you please post some (native) logs of when that occurs?
In particular, one of these should be printed:
[code]
or
[code]

[2022-10-13 02:05] mikedream89 commented on #461
@EduardoASAP  how to fix？

[2022-10-13 06:20] hsource commented on #1913
@RenatoSerra22 Sorry about that! I introduced a bug in the latest version. #2046 should fix it.

If you're in a rush, you can temporarily install a version with the fix by doing `yarn add wanderlog/react-native-iap#12.1.1-wanderlog.1` or just wait for the new fix to be released on npm

[2022-10-13 07:34] RenatoSerra22 commented on #1913
thank you @hsource do you have an ETA more or less of when this will be released to npm?
Like hours, days, weeks? just for me to know which approach to pick :)
Thank you

[2022-10-13 10:55] Isaccobosio opened #2047 "`purchaseUpdatedListener()` returns a purchase with `transactionReceipt` equale to `null`"
**Description**

Having issue with `purchaseUpdatedListener`. It returns all purchase data correctly but `transactionReceipt` is `null` or `''`.

**Expected Behavior**

Receive `transactionReceipt`

**Environment:**

- react-native-iap: 12.1.1
- react-native: 0.66.4
- Platforms (iOS, Android, emulator, simulator, device): iOS, device

**To Reproduce**

Can't share code right now

[2022-10-13 12:37] derRaab commented on #1984
@andresesfm Unfortunately none of them did appear in my logs. A colleague on the other hand did receive it only once. 🤦🏻

I'm still investigating...

[2022-10-13 12:37] Isaccobosio commented on #2047
I thing that I found something.
This piece of code found on `src/eventEmitter.ts` declares `purchaseUpdatedListener`

[code]

This method is using a mapper (or something) called `transactionSk2Map` and in `src/typeds/appleSk2.ts` I found its declaration:
[code]
As you can see the value of `transactionReceipt` is not passed and signed as "Not available".
In my code I actually need to receive the re

[2022-10-13 13:05] timbrandin opened #2048 "Storekit 2 - missing discounts (Introductory and Promotional Offers) in getSubscriptions"
When using Storekit 2 mode, there aren't any introductory or promotional offers mapped to the Product type in the subscriptionSk2Map.

These fields are set if available offers are set:
[code]

**Environment:**

- react-native-iap: 12.0.1
- react-native: 0.66.1
- Platforms (iOS, Android, emulator, simulator, device): iOS

**To Reproduce**
Steps to reproduce the behavior:

1. Create products in App

[2022-10-13 15:05] hsource commented on #1913
You alternatively could just use the current version, but pass in `prorationModeAndroid: ProrationMode. UNKNOWN_SUBSCRIPTION_UPGRADE_DOWNGRADE_POLICY`, which probably just does nothing

[2022-10-13 15:47] RenatoSerra22 commented on #1913
For now i've just done a patch-package till its live.
Thank you for telling me whats up :)

[2022-10-13 18:14] andresesfm commented on #2047
@Isaccobosio Sk2 Automatically verifies the payload using JWS tokens. The SDK does provide the jwt token but we are not currently exposing it

[2022-10-13 18:20] andresesfm commented on #2048
@timbrandin. For Sk2 you can use product.subscriptionInfo. This could use some polishing

[2022-10-13 20:08] arifhakanarslan commented on #2043
I'm having the same problem too. Any progress?

[2022-10-13 20:38] andresesfm commented on #1984
Doing some research on this I found the following:

When we build the app from Xcode or download from Testflight, receipt is not bundled within the app since the app is not downloaded from AppStore. We can use SKReceiptRefreshRequest to download receipt from sandbox Appstore
restoreCompletedTransactions updates app receipt

from:
https://github.com/onmyway133/blog/issues/703

So it might not be an