[2019-12-26 10:55] #668 closed

[2019-12-26 16:30] yanush commented on #880
A weird thing with that error is that everything was working for me, until it suddenly stopped when no code changes were made.
The only thing that solved and got it back to work again was to create a new test user and sign in with its apple id on my test device

[2019-12-26 18:38] yanush opened #887 "requestPurchase still returns a promise"
### Version of react-native-iap
4.3.3
### Expected behavior
should return void according to docs
### Actual behavior
returns a promise

[2019-12-26 18:40] yanush commented on #880
one more thing. make sure it's a release build you're running. for some reason it's not working for me in debug

[2019-12-26 18:54] damialajogun commented on #880
@yanush Thanks for responding, unfortunately it has never worked for me to begin with and I've tried all the solutions from other similar threads. I have a sandbox tester account on a real device that I'm using to test but I still get the error 'invalid product id'. I'm also running a release build but no luck.

[2019-12-26 19:05] yanush commented on #880
do you have your test apple id configured also under "iTunes & App Store -> Sandbox Account"?
(In the device settings)

[2019-12-26 19:10] damialajogun commented on #880
@yanush When I go to setting -> iTunes & App Store, I scrolled all the way down but don't see an option for Sandbox Account. Will it not work even if the apple ID I am signed into is the sandbox account itself?

[2019-12-26 19:16] mrcwerfar commented on #237
Look here:

https://developer.apple.com/library/archive/releasenotes/General/ValidateAppStoreReceipt/Chapters/ValidateRemotely.html

"21007:  This receipt is from the test environment, but it was sent to the production environment for verification. Send it to the test environment instead."

use this address for test environment verification: https://sandbox.itunes.apple.com/verifyReceipt
 

[2019-12-26 19:18] yanush commented on #880
i'm not sure. just started using this package myself.
which ios version are you using? I'm on 12.4.4 (cause it's an old ipad and it didn't get ios 13)
maybe this thread might help you:
https://stackoverflow.com/questions/57850713/ios-13-how-to-login-in-in-app-purchase-sandbox-account

[2019-12-26 21:51] damialajogun commented on #880
@yanush Do you have content hosting on? Do you know if that is required for RN's IAP to work in iOS?

[2019-12-26 22:16] yanush commented on #880
I don't have it on and therefore it's not mandatory for RNIap to work

[2019-12-26 22:19] damialajogun commented on #880
@yanush Sorry for all the questions, I've been stuck on this for the past month. Do you have a server set up for your IAP? That's not needed is it? I don't know what else to look into....

[2019-12-26 22:30] yanush commented on #880
you should be able to validate receipts through client only

[2019-12-26 22:45] damialajogun commented on #880
@yanush Does your app sell non-consumable, auto-renewable subscription, or non-renewing subscription products by chance?

[2019-12-27 05:11] yanush commented on #880
nope. just consumables for now

[2019-12-27 06:26] falidd18 commented on #886
same here

[2019-12-27 07:00] abbas321 commented on #886
same here

[2019-12-27 18:03] howg0924 commented on #707
@AsbarAli We also encountered this problem. Did you find the solution in the end?

We tried RNIap 4.3.0 & 4.3.3, the issue is basically the same. The only difference is the registered purchase error listener will be called with the following error due to [this change](https://github.com/dooboolab/react-native-iap/commit/91c7a31e2b333b962557ea12750718721ca36299) on 3.4.12:

{ message: 'purchases ar

[2019-12-27 19:08] diegogurpegui commented on #788
Still happening to me with 4.3.3 (and RN 0.59.10)
The Java file seems to be expecting 6 params (plus the result promise), and the JS code seems to be sending 6. So I don't know where the "expected 8" comes from.
I tried cleaning every compile/build file I found.

Any luck anyone?

[2019-12-27 23:19] diegogurpegui commented on #788
Fixed it!

I tried to reset the cache to Metro Bundler with no luck.

But after that I changed the JS code of the library (file node_modules\react-native-iap\index.js) to add a log. That changed made some cache (which I'm unaware of) to refresh. And after that everything worked fine.
Needless to say I removed the log line and everything kept working.

Hope it helps.

[2019-12-28 00:01] yanush commented on #880
@damialajogun can you show me the part of your code where you call RNIap.getProducts()?

[2019-12-28 00:16] damialajogun commented on #880
I actually removed it from my code because it wasn't being called. I added it in initially to console log and make sure the product IDs are being pulled, which they were, but then removed it as the RNIAP.requestPurchase() isn't using it. Do you think this is wrong?

[2019-12-28 05:56] howg0924 opened #888 "Error when upgrade/downgrade subscription on Android with DEFERRED mode"
### Version of react-native-iap

4.3.3

### Version of react-native

0.59.10

### Platforms you faced the error (IOS or Android or both?)

Android

### Expected behavior

When upgrade/downgrade a subscription with DEFERRED mode, purchase update listener should be called with new transaction receipt.

### Actual behavior

purchase error listener is called with following error:

{ message: 'purchase

[2019-12-28 07:06] #674 closed

[2019-12-28 07:15] yanush commented on #880
yup. you have to call it every time your app starts

[2019-12-28 18:18] yanush opened #889 "purchaseErrorListener product sku"
Is there a way to get the product sku of the failed purchase?
In my app I have a store with 6 products (represented by 6 buttons).
When a user tries to buy a product I'm disabling its button and put loader on the button until I get either success or failure.
The problem is that when I get a failure I can't seem to find a way of knowing the failed package sku
Please advise

[2019-12-29 11:12] hyochan commented on #879
Could you verify yourself that you've installed `react-native-iap` correctly?

[2019-12-29 11:17] #883 closed

[2019-12-29 11:18] hyochan commented on #886
Have you checked  [this](https://github.com/dooboolab/react-native-iap/issues/159#issuecomment-389413989)?

[2019-12-29 11:19] hyochan commented on #887
Would you like to give us a `PR` on this? We've previously removed `promises` but still, someone wanted to be there to check any internal error.

[2019-12-29 11:38] hyochan commented on #888
Try to call `getAvailablePurchases` after you've upgrade/downgrade subscription.
Refer to [doc](https://developer.android.com/google/play/billing/billing_subscriptions#Allow-upgrade).

[2019-12-29 11:44] hyochan commented on #889
Since `onPurchaseUpdated` listener doesn't know which purchases have failed since it is all running asynchronously, it is hard to track if you enabled multiple purchases attempts to the user. Why don't you try to handle this one by one and restrict another payment attempt when it is in progress?

[2019-12-29 16:21] howg0924 commented on #888
I tried getAvailablePurchases() after upgrade/downgrade the subscription, but unfortunately, only the transaction receipt of original purchase is in the returned array.

RNIap v2.3.19 & v2.5.5 works correctly, buySubscription() will return a new receipt when upgrade/downgrade the subscription. But I would like to upgrade to v3 or v4 which has a better event based model if possible.

Here is a [ref

[2019-12-29 22:37] damialajogun commented on #880
@yanush you were right, it works now! Thank you soooo much! You have no idea!

[2019-12-29 22:38] #880 closed

[2019-12-29 22:49] yanush commented on #889
Currently I'm using the promise returned from requestPurchase to catch errors.
When requestPurchase fails I can tell in the catch section which productId (sku) was sent.
Can't you just emit the sku (or even the entire purchase) to purchaseErrorListener along with the error? you're doing it in purchaseUpdatedListener so it should be the same, no?

[2019-12-29 22:50] yanush commented on #887
I would also like to keep it this way since i'm using the error returned.
I would suggest to fix the docs, not the code

[2019-12-30 02:06] LeeMoonki commented on #886
@hyochan yes I did check the list. The below list is what I did in detail which is not mentioned above.

1. I installed the `react-native-iap` following **[Using React Native >= 0.60](https://github.com/dooboolab/react-native-iap#mostly-automatic-installation)** only(not **[Manual installation](https://github.com/dooboolab/react-native-iap#manual-installation)**.  And write the **android/build/gra

[2019-12-30 03:42] hyochan commented on #887
@yanush PRing on the doc would help us too. I hope you can help us with this.

[2019-12-30 03:46] hyochan commented on #888
@howg0924 Thanks for confirming this. I'd like to compare the differences with v2 and our current version and see how I can fix this issue.

[2019-12-30 03:58] hyochan commented on #889
Maybe my other library ([react-native-iap](https://medium.com/dooboolab/react-native-iap-v3-1259e0b0c017)) will help you understand this problem. The promise returned from `requestPurchase` is similar to `purchaseErrorListener`. However, I'd not recommend handling this way because when `requesting`, it does not guarantee which purchases attempt should finish the first hand. Therefore, if you are m

[2019-12-30 04:15] hyochan commented on #886
@LeeMoonki apk should only be uploaded. You can also follow [this](https://medium.com/bleeding-edge/testing-in-app-purchases-on-android-a6de74f78878). Cheers 🙏

[2019-12-30 05:14] denkeni commented on #525
I have similar experience when implementing in-app purchase subscription in iOS *native* code. And I would suggest:

- Get rid of in-app page for upgrading/downgrading subscription on production app
- Just redirect user to App Store subscription management page ( https://apps.apple.com/account/subscriptions works for iOS 12 or later, or just use the legacy https://buy.itunes.apple.com/WebObjects/M

[2019-12-31 02:21] LeeMoonki commented on #886
@hyochan Thank you for answer. I will upload(I think this can be the release of app with Alpha test) the app. But it will takes some time since we need to prepare some informations, for instance app image. After uploading the app, I will try to get the product list.

[2020-01-02 13:03] diegogurpegui commented on #878
Still getting this error on version 4.3.4.
I'm editing the original post from version 3.5.6 to 4.3.4

[2020-01-02 13:47] rajsavaliya commented on #879
yes i have installed react-native-iap correctly and in android working perfectally

[2020-01-03 10:32] mgreci commented on #587
This may or may not be known already but I never had success connecting to the App Store (errorCode = 0, unknown) in the iOS simulator but it worked every time when testing on a real device.

[2020-01-03 17:08] #695 closed

[2020-01-04 03:10] jimbol commented on #720
@b3hz4d could you go into a little more detail?

[2020-01-05 03:15] #700 closed

[2020-01-05 08:57] hyochan commented on #888
I've looked up the code on the weekend for you!
The new update will be comming in `4.4.0`.

Could you kindly test `react-native-iap@4.4.0-rc.1` version out?

[2020-01-05 09:24] hyochan commented on #887
Closes via #890

[2020-01-05 09:24] #887 closed

[2020-01-05 09:28] hyochan commented on #879
Well but `startListening` is only triggered for `android` and not `ios`.
![image](https://user-images.githubusercontent.com/27461460/71777841-2d2c8800-2fe9-11ea-9f46-b4b8d5c156fd.png)

The above error message looks very weird to me.

[2020-01-05 09:29] #886 closed

[2020-01-05 09:29] #889 closed

[2020-01-05 09:33] hyochan commented on #878
Have you called `finishTransaction`?

[2020-01-05 09:36] hyochan commented on #874
Looks like you are using old version of `react-native-iap`. Please try our recent one which starts from `4.0.0+`

[2020-01-05 09:36] #874 closed

[2020-01-05 09:37] #862 closed

[2020-01-05 09:39] hyochan commented on #841
Closes via #890

[2020-01-05 09:39] #841 closed

[2020-01-05 09:40] #804 closed

[2020-01-05 10:49] howg0924 commented on #888
@hyochan I just tried 4.4.0-rc.1, but the situation is still the same.

After calling RNIap.requestSubscription(oldSku, false, newSku 4) and finish the upgrade/downgrade, error listener is called with following error:

{ message: 'purchases are null.',
code: 'OK',
debugMessage: '',
responseCode: 0 }

And getAvailablePurchases() only contains old receipt.

[2020-01-05 11:27] hyochan commented on #888
@howg0924 If you know how to debug `android`, I hope you to test out putting some `Log.d` and see if it passes `if` conditions in `buyItemByType`. Would that possible for you? I want to see how they are being executed.

[2020-01-05 11:35] hyochan commented on #888
@howg0924 Oh wait~! I think I found the problem let me get back to you soon!

[2020-01-05 11:39] hyochan commented on #888
@howg0924 Could you try `4.4.0-rc.2`? I think it will work this time.

[2020-01-05 12:09] #848 closed

[2020-01-05 13:19] howg0924 commented on #888
@hyochan 4.4.0-rc.2 build failed on:

[code]

[2020-01-05 13:48] howg0924 commented on #888
@hyochan I monitored buyItemByType() of 4.4.0-rc.1. When upgrade/downgrade, it did execute:
[code]
and also executed:
[code]

Do you want me to monitor/dump any flow/data?

[2020-01-05 13:59] howg0924 commented on #888
The error message "purchases are null." comes from onPurchasesUpdated() -> sendUnconsumedPurchases() which uses billingClient.queryPurchases().

Is it possible that something is wrong in queryPurchases()? Not sure whether this is related:

[billingClient.queryPurchases returns the list with already cancelled subsription](https://github.com/android/play-billing-samples/issues/122)

which says query

[2020-01-05 15:16] hyochan commented on #888
@howg0924 Sorry that I've made mistake because I did not have a good debugging `env`. I've reverted this in `4.4.0-rc.3`. It looks like your code is not running `builder.setOldSku(oldSku)` which is most important.

[2020-01-05 15:17] howg0924 commented on #888
After compare with 2.5.5, I found 2.5.5 does not call

builder.setReplaceSkusProrationMode(BillingFlowParams.ProrationMode.DEFERRED);

when using the DEFERRED mode.

So I try to remove this line on 4.4.0-rc.1, and it works! But, I don't know:

1.what proration mode it is working on now.
2.why it doesn't work when set to DEFERRED mode by setReplaceSkusProrationMode()

[2020-01-05 16:15] hyochan commented on #888
[code]

We are currently passing down the `ProrationMode` as above. So does that mean you can `auto-renew` subscriptoin when you've removed `DEFERRED`?

[2020-01-05 16:26] howg0924 commented on #888
I mean if I change code to:

[code]

then I can use RNIap.requestSubscription(newSku, false, sku, 4 /* DEFERRED mode */) to upgrade/downgrade a subscription. Though I am not sure whether what proration mode it actually works on since builder.setReplaceSkusProrationMode() is not executed, as v2.5.5 did.

Following code is from v2.5.5:

[code]

[2020-01-06 02:23] HyeonjuPark commented on #886
@hyochan Have you tried on release version? I have same problem here. When I tested it before, it worked. I purchased my item several times, but suddenly this is not working on Android device.

[2020-01-06 02:46] hyochan commented on #888
@howg0924 Well this is very strange since we did not even set `DEFFERED` in our [current master branch](https://github.com/dooboolab/react-native-iap/blob/3efd1750d95efa071171d29b2824ef6d99766b42/android/src/main/java/com/dooboolab/RNIap/RNIapModule.java#L399-L410) which is `4.3.4`. I've added this code in `4.4.0+`.

I think the reason might be something different. I hope you can come back if ther

[2020-01-06 02:51] hyochan commented on #888
Related #391

[2020-01-06 02:59] hyochan commented on #886
@LeeMoonki You can only upload apk to alpha stage. Playstore just need your built apk without releasing it to production level. Please check your `in-app-purchases` configuration once more and I think this is what you need in this stage. `react-native-iap` doesn't have the following issue in `example` project.

[2020-01-06 09:02] howg0924 commented on #888
OK, I will try more and report back.

Related #707

[2020-01-06 11:21] howg0924 commented on #888
@hyochan After further test on 4.4.0-rc.1:

IMMEDIATE_WITH_TIME_PRORATION => works
IMMEDIATE_AND_CHARGE_PRORATED_PRICE => works
IMMEDIATE_WITHOUT_PRORATION => works
DEFERRED => NOT WORK (don't know why)

I believe this is because of the [following code in 4.3.0](https://github.com/dooboolab/react-native-iap/blob/4.3.0/android/src/main/java/com/dooboolab/RNIap/RNIapModule.java#L404-L406) still set

[2020-01-06 12:44] diegogurpegui commented on #878
Yes I did. However, the past couple of days we re-build the app and tried to make sure `react-native-iap` was cleared and rebuilt (because of the version upgrade).
As of now the problem is no longer there. So, if fixed it would be because of the version upgrade of this module.
I'll keep this issue updated.

If the problem arises again I'll post the exact error. But it was the one in the title of t

[2020-01-06 13:06] hyochan commented on #888
Ok so we should know why the [Deffered](https://developer.android.com/google/play/billing/billing_library_releases_notes.html) won't work.

[2020-01-06 13:08] hyochan commented on #878
@diegogurpegui Thanks for coming back! I'll close this for now and please feel free to reopen when the problem arises.

[2020-01-06 13:08] #878 closed

[2020-01-06 13:27] rajsavaliya commented on #879
thanks for your suggestion i solved my issue and thanks for your help

[2020-01-06 15:13] hyochan commented on #879
Good to hear! What was the cause?

[2020-01-06 16:07] tanya-marych commented on #851
I had this because I tried to display in alert
Alert.alert('finishTransaction error', ackErr);
but correct is
Alert.alert('finishTransaction error', JSON.stringify(ackErr));

Maybe it is also your problem
And then you can see why it crashes

[2020-01-07 02:49] jimbol commented on #800
Any more info on this?

[2020-01-07 03:09] hyochan commented on #800
Have you guys re-uploaded `apk` in playstore after upgrading `react-native-iap`?

[2020-01-07 03:14] jimbol commented on #800
Thanks for responding! I'm running `react-native-iap@4.3.0` on production right now. Has there been a change that fixes this issue?

[2020-01-07 03:18] hyochan commented on #800
version 3 api `Requires Google Play client version 3.9.16 or higher.`. I've gone through the [doc](https://stuff.mit.edu/afs/sipb/project/android/docs/google/play/billing/versions.html), and currently, don't have idea to make this downward compatible.

[2020-01-07 03:21] jimbol commented on #800
Ok, I will add a message to the user to upgrade their Google Play app.

[2020-01-07 05:38] stefangiapantzakis opened #894 "RNIap.getSubscriptions() fails to resolve"
### Version of react-native-iap
^3.5.2
### Version of react-native
0.60.3
### Platforms you faced the error (IOS or Android or both?)
IOS
### Expected behavior
RNIap.getSubscriptions([skus]) should resolve
### Actual behavior
On some devices it hangs forever and never resolves
### Tested environment (Emulator? Real Device?)
Real Device's, live on store
### Steps to reproduce the behavior
Call RNIa

[2020-01-07 06:06] hyochan commented on #894
We are recommending to use `purchaseUpdatedListener` instead of using `getSubscriptions`. `Promises` can't always be reliable. Please see the [medium blog](https://medium.com/dooboolab/react-native-iap-v3-1259e0b0c017)

[2020-01-07 06:11] stefangiapantzakis commented on #894
@hyochan I am using the purchaseUpdatedListener for handling purchases. This is for fetching subscriptions and their data (price etc). The purchaseUpdatedListener doesn't return that information?

[2020-01-07 06:14] hyochan commented on #894
@stefangiapantzakis use `requestSubscription`

[2020-01-07 06:15] hyochan commented on #894
![image](https://user-images.githubusercontent.com/27461460/71872691-8539ca80-3160-11ea-9f2a-44a48663232f.png)

Try using above two methods. You might have forgotten to `finishTransaction` which may cause this behavior.

[2020-01-07 06:37] stefangiapantzakis commented on #894
@hyochan Ok, thanks, I'll try the above. I am calling `finishTransaction` after validating the receipt in the `purchaseUpdatedListener`. The issue presents itself when a user launches the app and a receipt is generated in the StoreKit Queue because the `purchaseUpdatedListener` calls `fetchSubscription` initially in order to grab the subscription information for analytics purposes (prices etc). Wh

[2020-01-07 06:45] hyochan commented on #894
I hope you can provide some codes in which it is hanging. We might have to think about how to handle that situation.

[2020-01-07 14:58] rajsavaliya commented on #879
It, caused to i forget to manually link to xcode

On Mon, 6 Jan, 2020, 8:43 PM Hyo Chan Jang, <notifications@github.com>
wrote:

[2020-01-07 15:04] #879 closed

[2020-01-08 09:56] #697 closed

[2020-01-08 10:07] niklaskors opened #895 "NullPointerException on acknowledgePurchase"
### Version of react-native-iap

3.0.3

### Version of react-native

0.59.10

### Platforms you faced the error (IOS or Android or both?)

Android

### Expected behavior

Not crash (should have a billing client)

### Actual behavior

Crashes occasionally with
[code]

### Tested environment (Emulator? Real Device?)

Real Devices in production environment

### Steps to reproduce the behavior

I was

[2020-01-08 16:26] virendave96 opened #898 "if (type.equals(oldSku != null) {"
### Version of react-native-iap
    "react-native-iap": "^4.4.0-rc.5",

### Version of react-native
    "react-native": "0.61.5",

### Platforms you faced the error (IOS or Android or both?)
Android

### Expected behavior
npx react-native run-android should run app in emulator.

### Actual behavior
react-native-iap\android\src\main\java\com\dooboolab\RNIap\RNIapModule.java:417: error: ')' expected

[2020-01-08 19:56] nolanrbrady commented on #898
If you go to line 417 in the NPM package and make
[code]
into this
[code]
If should run just fine. It looks like a simple typo that needs to be fixed with a PR.

[2020-01-09 04:25] #895 closed

[2020-01-09 04:37] hyochan commented on #898
Fixes in `4.4.0-rc.7`.

[2020-01-09 04:37] #898 closed

[2020-01-10 02:22] phillmill opened #899 "Acknowledging transactions seems to work only 50% of the time"
### Version of react-native-iap
4.3.0

### Version of react-native
0.61.3

### Platforms you faced the error (IOS or Android or both?)
Android

### Expected behavior
Aall purchases are acknowledged

### Actual behavior
I'm having an issue where roughly half of all subscription charges get stuck in "Payment Pending" mode for multiple days. However, the other half of them charge successfully, so I k

[2020-01-10 07:49] hyochan commented on #899
Looks like it is related #896 which is merged in `4.4.0`. Would you like to try it?

[2020-01-10 12:37] varungupta85 opened #900 "Invalid product ID during requestSubscription on iOS"
### Version of react-native-iap
4.3.0
### Version of react-native
0.61.5
### Platforms you faced the error (IOS or Android or both?)
iOS
### Expected behavior
See Apple UI to request a subscription
### Actual behavior
Get an error "Invalid product ID"
### Tested environment (Emulator? Real Device?)
Real Device
### Steps to reproduce the behavior
I am having two issues while using subscriptions on

[2020-01-10 13:45] hyochan commented on #900
We need more information to to take care of your issue. Also please check you `javascript` code too.

[2020-01-10 21:26] phillmill commented on #899
@hyochan I will try it out for sure and report back, thanks!

Although I don't have any RNIap crashes in crashlytics.

[2020-01-10 21:47] lklepner commented on #899
We have found that acknowledging android purchases occasionally results in the JS bundle being restarted... which we've found very different to explain.

[2020-01-11 04:16] varungupta85 commented on #900
I have fixed the issue. We need to sign out of the iTunes account on the phone and sign in using the sandbox account in the app directly. I am having another issue which is I get error `Cannot connect to iTunes store` whenever I try to request a purchase. I will open a separate issue for that. Thanks!

[2020-01-11 04:16] #900 closed

[2020-01-11 04:20] varungupta85 opened #901 "Cannot connect to iTunes store error on iOS in sandbox environment."
### Version of react-native-iap
4.3.0
### Version of react-native
0.61.5
### Platforms you faced the error (IOS or Android or both?)
iOS
### Expected behavior
Sign into the iTunes store and buy the subscription
### Actual behavior
`requestSubscription` call fails with error `Cannot connect to iTunes Store`.
### Tested environment (Emulator? Real Device?)
Real Device
### Steps to reproduce the beha

[2020-01-11 05:07] #901 closed

[2020-01-11 17:30] sidpauhal opened #902 "RNIap.requestSubscription not working if already subscribed"
### Version of react-native-iap
react-native-iap -> 3.4.4

### Version of react-native
react-native -> 0.60.5

### Platforms you faced the error (IOS or Android or both?)
Android

### Expected behavior
Should show payment option

### Actual behavior
Does not happen anything

### Tested environment (Emulator? Real Device?)
Real Device

Hi,

I have membership screen with 3 subscription plans
Silver,

[2020-01-12 13:20] greenkeeper[bot] opened #903 "An in-range update of @dooboo/eslint-config is breaking the build 🚨"
## The devDependency [@dooboo/eslint-config](https://github.com/dooboolab/eslint-config) was updated from `0.3.4` to `0.3.5`.

🚨 [View failing branch](https://github.com/dooboolab/react-native-iap/compare/master...dooboolab:greenkeeper%2F%40dooboo%2Feslint-config-0.3.5).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

@doo

[2020-01-13 02:19] re7eal commented on #888
I've got the same issue but behavior is different.

When I call `requestSubscription(newSku, false, oldSku, 4)`, it throws an error with error code `OK` and empty error message. Payment on Google Play side is as expected (it's deferred). When the next subscription charge happen, I get `purchaseUpdatedListener` event on app start but unable to acknowledge the purchase (through calling `finishTransa

[2020-01-13 15:38] #903 closed

[2020-01-14 07:52] hyochan commented on #902
Have you `acknowledged` the purchase?

[2020-01-14 12:34] sidpauhal commented on #902
@hyochan hi what do you mean by "acknowledged the purchase"?

[2020-01-14 19:45] lklepner commented on #902
Android requires an acknowledgement step after purchase.

On Tue, Jan 14, 2020 at 7:34 AM sidpauhal <notifications@github.com> wrote:

--
Lou Klepner
CTO & Co-Founder, Bright Parenting
Download to Discover the Great Parent in You!
<https://app.adjust.com/gfpvhd1?fallback=https%3A%2F%2Fapps.apple.com%2Fus%2Fapp%2Fbright-parenting%2Fid1386175679>

[2020-01-15 11:34] sidpauhal commented on #902
@lklepner Hi thanks for the reply

I have update my code to this

[code]
Will it work now? Will user be able to select another plan?
Let me know if this is enough or I have to do something else too?

[2020-01-15 13:19] #715 closed

[2020-01-16 10:31] iqbalfaisal opened #905 "In App Purchase - auto renew subscription - How to get notified if the user cancel or auto renewable subscription?"
I am working on an app which has our own user database and cross platforms subscription. and my questions are:

1- What happens if they uninstall the app?  Does the subscription automatically get cancelled?
2- What happens if they have the app installed on two devices, do both of them get notified?
3- What happens if they have the app installed on two devices and Login with different App Account a

[2020-01-16 19:31] mustafaaksoy commented on #901
what is is resolve this bug?

[2020-01-16 20:30] mustafaaksoy commented on #875
same issue...

[2020-01-16 20:47] mustafaaksoy commented on #803
I have the same error.

[2020-01-16 22:27] julioxavierr commented on #679
I don't know if this is something that changed recently, but I've just tested and this redirects to install iTunes app. After some research I got to this new solution:

[code]

[2020-01-18 18:27] julioxavierr opened #907 "Eligibility on Auto-Renewal Subscriptions"
### Version of react-native-iap
4.4.0

### Version of react-native
0.61.2

### Platforms you faced the error
iOS

### Expected behavior

Accordingly to [Apple's documentation](https://developer.apple.com/documentation/storekit/in-app_purchase/implementing_introductory_offers_in_your_app) (check Determine Eligibility section) lapsed subscribed aren't eligible to take an introductory offer unless th

[2020-01-18 19:00] nesvold opened #908 "nullpointer happening in sendUnconfirmedPurchses every now and then on android"
### Version of react-native-iap
4.3.4

### Version of react-native
0.61.2

### Platforms you faced the error (IOS or Android or both?)
Android

### Expected behavior

### Actual behavior

Ive collected this from an app crash reported in production. Ive seen it happen some times now. Sorry for not having real line numbers to report, but the error is real..

(NB- line numbers are not correct)
java.l

[2020-01-18 19:31] denkeni commented on #905
On iOS side:

1. Only since iOS 13, user gets alert about subscription after deleting the app ([ref](https://www.macrumors.com/2019/06/18/ios-13-alert-when-delete-app-with-subscription/)). The subscription does *not* get cancelled automatically.
2. I don't understand what you said about "notified".
3. Same above. With your own user database, you should keep and link receipt to your user identify,

[2020-01-19 00:16] #708 closed

[2020-01-20 19:31] NMahendroo opened #909 "purchaseUpdatedListener not getting called in Production Environment working fine in Sandbox(iOS)"
### Version of react-native-iap:

### Version of react-native:

### Platforms you faced the error (IOS or Android or both?):

### Expected behavior:

### Actual behavior:

### Tested environment (Emulator? Real Device?):

### Steps to reproduce the behavior:

[2020-01-20 22:30] Dellybro opened #910 "Error:0909006c:PEM routines:get_name:no start line"
### Version of react-native-iap
4.2.2
### Version of react-native
6.0.5
### Platforms you faced the error (IOS or Android or both?)
Android
### Expected behavior
Not really sure
### Actual behavior
Errors out with error:0909006c:PEM routines:get_name:no start line
### Tested environment (Emulator? Real Device?)
Real Device
### Steps to reproduce the behavior
Setup test accounts on play store, beta

[2020-01-20 23:36] Dellybro commented on #910
This has something to do with my backend. Sorry

[2020-01-20 23:36] #910 closed

[2020-01-21 12:59] hpereira98 commented on #370
@curiousdustin  Do you think you can join your changes with the Amazon Store compatibility to the master branch ? It would be very useful

[2020-01-21 13:34] curiousdustin commented on #370
The updates we made to support Amazon, are not compatible with the major changes in 3.0. See above.

[2020-01-22 02:31] grubstarstar commented on #525
I will get back to this in the next month or two hopefully and will let you know thE outcome

[2020-01-22 07:06] NMahendroo commented on #843
I am facing this issue in the Production build that is live on App Store.

The purchaseUpdatedListener getting triggered during the Sandbox environment but isn't working in Production.

I am facing this issue with iOS version.

[2020-01-22 07:43] NMahendroo commented on #756
Hey can you please help me out too.

In my case the purchaseUpdatedListener is getting called in the Sandbox environment and in Production for some In App products it is getting called.

Can you please suggest me what wrong I may be doing?

I didn't implement any checks regarding the Sandbox and Production environment in the Code. The same code is getting executed for both the Environment.

I am u

[2020-01-22 12:16] franj0 commented on #756
I did not manage still anything new.
For now I refactored my IAP feature.

Because differents behaviors of purchaseListener between Android and iOS I export IAP listeners from seperated file to the first component(Home) of my app.
Because of that componentDidMount will be called only one time until app is relaunched.
With this I have same behavior for Android and iOS.

[2020-01-22 21:29] Akeuuh commented on #909
It seems that I have the same issue.

Everything works fine on android but when I test it on apple device, I can't get any product from the store. I have no errors in logs.
The only weird thing are in the Xcode logs, I get some things as :
`nw_socket_handle_socket_event [C48148.1:1] Socket SO_ERROR [61: Connection refused]`

`nw_connection_get_connected_socket [C48148] Client called nw_connection_

[2020-01-23 16:11] davidwico opened #914 "RNIap.getAvailablePurchases() return empty array [iOS]"
### Version of react-native-iap
4.3.0

### Version of react-native
0.60.4

### Platforms you faced the error (IOS or Android or both?)
iOS

### Expected behavior
RNIap.getAvailablePurchases() should return non-consumable subscription

### Actual behavior
RNIap.getAvailablePurchases() returns empty array

### Tested environment (Emulator? Real Device?)
Real Device, debug mode, sandbox user

### Ste

[2020-01-24 07:26] NMahendroo commented on #909
@Akeuuh I didn't face any connection problem like yours, but how are you calling it?
I might be able to help with respect to my implementation

[2020-01-24 07:30] NMahendroo commented on #756
Hi @franj0
I also have implemented the Listeners at Top Level Component and the listeners are working fine in Sandbox, but this is the issue that I am facing in Production on iOS.

The component in which listeners are set up is unmounted only when the app gets closed.

[2020-01-24 08:21] Akeuuh commented on #909
Hi @NMahendroo !

Thank you for your answer!

I've solved my probleme late this night but it seems that it was not an error with the code. My products on App Store Connect where not fully set, I had not filled the part for review so my item were not valid.

Now that I've done it, everythings woks fine!

Hope you will find your answers!

[2020-01-24 09:15] #577 closed

[2020-01-24 11:45] hyochan commented on #909
Looks like it can be closed

[2020-01-24 11:45] #909 closed

[2020-01-24 16:13] wouterds commented on #842
We have thousands of these errors in our error logger (different lib). Rarely I can reproduce this by accident but I have no clue how or what causes it exactly (yes I always test payments on a real device).

[2020-01-24 22:15] #735 closed

[2020-01-26 15:52] greenkeeper[bot] opened #915 "An in-range update of @dooboo/eslint-config is breaking the build 🚨"
## The devDependency [@dooboo/eslint-config](https://github.com/dooboolab/eslint-config) was updated from `0.3.5` to `0.3.6`.

🚨 [View failing branch](https://github.com/dooboolab/react-native-iap/compare/master...dooboolab:greenkeeper%2F%40dooboo%2Feslint-config-0.3.6).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

@doo

[2020-01-27 03:16] #915 closed

[2020-01-27 16:43] Infokora commented on #914
same problem, someone solved this problem?

[2020-01-28 03:45] LectricAvenue commented on #400
Hey guys,

Forgive me if this is the wrong place, but this is the only place that I have found discussion about using promo codes redeemed through the app store. It might be helpful to add some information promo codes to the documentation (not promoted products)

What method has #490 changed? My IAPs are working, but the promo codes are not. All of my IAPs are subscriptions, and the promo code is

[2020-01-28 08:59] davidwico commented on #914
In my case it was because I used non-renewable subscriptions, which is not supported by under hood Apple method restoreCompletedTransactions()

[2020-01-28 13:26] InfiniteDreamz opened #918 "iOS Receipt Validation from Server Side"
I am using my backend server to validate the iOS receipt. For that all I've done is passed the purchase.transactionReceipt to the application server in a post request. I want to know if purchase.transactionReceipt returns a base64 encoded receipt data or what? I'm getting error: 21002 with the current implementation

[code]

[2020-01-28 14:18] voxspox commented on #694
For Discussion

[2020-01-28 18:13] L-Yeiser commented on #199
@neilco I am attempting to implement this feature but can not get the listener to fire using itms-service trigger (itms-services://?action=purchaseIntent&bundleId=[BUNDLE_ID]&productIdentifier=[PRODUCT_ID]). I am starting the observer in the appDelegate and add the listener when our app initializes. Any help.

[2020-01-28 19:45] youssefatti commented on #723
@roots-ai Hello did you get it work?

[2020-01-29 08:25] chetan-plrch commented on #519
I don't think this can be a solution that requires to publish, facing the same problem have added my email address to License testers as well, still the error pop's up. Help needed

[2020-01-29 08:31] s-aleinik commented on #519
@chetan-plrch if I’m not mistaken, we have rolled it out to closed Alfa track, so only beta testers had access to it. And after this app have started working fine

[2020-01-29 14:38] Akshay-Chhikara commented on #723
@roots-a - Did manual linking and also made sure that the agreement, tax, and banking were completed in case of iOS.

[2020-01-29 17:18] keryar opened #920 "No getPackages"
Following tutorial I was asked to add a line to the getPackages method.

package com.prajaapp;
This is my MainActivity.java
`
import com.facebook.react.ReactActivity;
import android.content.Intent;
import com.dooboolab.RNIap.RNIapPackage;

public class MainActivity extends ReactActivity {

    @Override
    public void onActivityResult(int requestCode, int resultCode, Intent data) {
        super.

[2020-01-29 17:25] keryar commented on #920
Sorry, I misread the filename.

[2020-01-29 17:25] #920 closed

[2020-01-29 19:30] youssefatti commented on #723
@Akshay-Chhikara Thank you for your reply. it works i just have to wait between the moment of its ready to submit and to getProducts.

For all just try to wait at least 24h

[2020-01-29 23:55] keryar opened #921 "> Task :react-native-gesture-handler:compileDebugJavaWithJavac FAILED - run-android breaks after installation"
### Version of react-native-iap
4.4.0, 4.2.2
### Version of react-native
0.59.6
### Platforms you faced the error (IOS or Android or both?)
Android
### Expected behavior
App running on AVD
### Actual behavior
[code]

Depending on how I install the npm (node 10 or node 11) the error happens on image-picker
### Tested environment (Emulator? Real Device?)
Emulator
### Steps to reproduce the behavior

[2020-01-30 00:01] keryar commented on #921
I upgraded the gesture-handler and now I have this:

`> Task :react-native-image-picker:compileDebugJavaWithJavac FAILED`

[2020-01-30 14:43] ctohster commented on #875
same, anyone solved?

[2020-01-30 15:41] messivite commented on #875
I resolved this issue

[2020-01-30 15:43] syedmuhammadwaqas commented on #875
How, can you share ?

[2020-01-30 16:09] keryar commented on #921
I noticed that this error happens precisely after the linking

[2020-01-31 19:11] neilco commented on #199
@L-Yeiser Are you calling `[IAPPromotionObserver startObserving]` at the very beginning of `-[application:didFinishLaunchingWithOptions:]`?

[2020-01-31 20:03] L-Yeiser commented on #199
@neilco ends up I was using the wrong productIdentifier. A coworker had updated the productId and I was unaware. Everything now works as expected. Thanks for the time.

[2020-02-01 08:27] hyochan commented on #914
@davidwico I am glad that you've solved out. Could you give a `PR` on the document if you think this should be written for others coming next?

[2020-02-01 08:36] hyochan commented on #921
Looks like you are having issue with `react-native-gesture-handler` rather than our library. This issue looks like `androidx` compatiblity. Check if your installed modules all supports your android environment.

[2020-02-01 08:36] #921 closed

[2020-02-01 11:30] #734 closed

[2020-02-01 22:48] ykcadcg opened #925 "Any sample code for monthly subscription?"
### Version of react-native-iap

### Version of react-native

### Platforms you faced the error (IOS or Android or both?)

### Expected behavior

### Actual behavior

### Tested environment (Emulator? Real Device?)

### Steps to reproduce the behavior

[2020-02-02 11:04] #728 closed

[2020-02-03 05:10] cgathergood opened #926 "purchaseUpdatedListener is repeatedly called"
### Version of react-native-iap
4.3.0
### Version of react-native
0.60.5
### Platforms you faced the error (IOS or Android or both?)
Both
### Expected behavior

Following the example I want to call a custom method after my subscription has been purchased. It is my understanding that after acknowledging the purchase the listener should be removed? I have tried explicitly calling `remove` but had no

[2020-02-03 10:25] #750 closed

[2020-02-04 02:32] devagul93 commented on #528
Experiencing the same problem

"react-native": "0.59.8",
"react-native-iap": "^4.3.0"

[2020-02-04 06:57] ahanusek commented on #905
For Android you should use real-time developer notifications:
https://developer.android.com/google/play/billing/realtime_developer_notifications

[2020-02-04 08:08] chetan-plrch commented on #566
I am facing the same problem even when I use getSubscriptions. Why is there a issue with this ?

[2020-02-05 14:09] hyochan commented on #926
I am suspecting you've registered purchaseListener multiple times when component rerenders.

[2020-02-05 21:02] cgathergood commented on #926
Thanks, I have since rewritten this using hooks so that it isn't called on each render. My mistake was trying to take the provided example in the docs of a class component and port it to a functional component. Great work on the library!

[2020-02-06 01:48] #926 closed

[2020-02-06 05:52] #775 closed

[2020-02-06 07:52] #770 closed

[2020-02-07 04:54] #783 closed

[2020-02-07 15:51] InfiniteDreamz commented on #918
@hyochan Can you help here please. The transaction receipt that I'm geting.. is it a base 64 encoded string? If not how can I convert it. I'm sending this to my BE server from where I'm hitting apple receipt validation API.

[2020-02-07 17:00] leelandclay commented on #918
I'm looking into this same issue right now. On ios the transactionReceipt "looks" like a base64 string, but it's not. If I decode it on the device and output into the console, I get screens of garbage with occasional random words.

I then attempted to send it, as is up to my BE Server. There, I decoded it using dotnet core using this code:
[code]

The output for that is:
![Screen Shot 2020-02-07 a

[2020-02-07 17:50] leelandclay commented on #918
I've made a bit of progress. I was never able to get the validateReceiptIos function to return anything that could be decoded. My thought on that is there was a change in the way that Apple encodes it.

I was able to get usable information by passing the raw string up to my server and then posting it to the verifyReceipt endpoint. I used this as a guide: https://developer.apple.com/library/archive

[2020-02-07 18:22] leelandclay commented on #875
There's nothing really to solve here. It's a notification that the User canceled.
Change your error listener to check for that code (E_USER_CANCELLED) and if it is returned, don't activate the subscription or provide the service and then let it fail quietly.

If you had not made any state changes in the purchase call, just add this:
[code]
as the first line of the listener's call block. That will

[2020-02-08 05:45] #786 closed

[2020-02-08 20:14] b3hz4d opened #927 "Could not resolve all artifacts for configuration ':react-native-iap:classpath'"
### Version of react-native-iap
Tried these versions:
4.4.0
4.3.0
3.5.9
3.4.15
3.4.11
### Version of react-native
0.61.4 and 0.61.5
### Platforms you faced the error (IOS or Android or both?)
Android
### Expected behavior
Compile project
### Actual behavior
I got this problem when I want to build project
[code]

### More details

gradlew -v
[code]

In build.gradle
[code]

[2020-02-09 05:15] InfiniteDreamz commented on #918
@leelandclay:
"I was able to get usable information by passing the raw string up to my server and then posting it to the verifyReceipt endpoint."
Did you just sent that transactionReceipt string to BE ?
I've went through the Apple Documentation but there the method of creating the receipt Data if for the native iOS Application wherein we get appStoreReceiptURL.

[2020-02-09 05:19] leelandclay commented on #918
Yes. Pass the object you got from the iap up to a server then send it to the website and you get back a JSON object.

[2020-02-09 12:38] chetan-plrch opened #928 "Test option: Slow credit card not appearing for testing pending transaction"
### Version of react-native-iap
4.4.0

### Version of react-native
0.61.4

### Platforms you faced the error (IOS or Android or both?)
Android

### Expected behavior
Slow credit card option should appear while testing purchases

### Actual behavior
Slow credit card option isn't appearing while testing purchases (only two options are available)
1. Test card, always approves
2. Test card, always dec

[2020-02-09 13:01] b3hz4d commented on #927
Problem solved by adding `google()` at first place in repositories section of `node_modules\react-native-iap\android\build.gradle` file

[2020-02-09 13:01] #927 closed

[2020-02-10 10:34] chetan-plrch commented on #928
@hyochan Any information on this ? Would be really helpful. Thank you

[2020-02-11 12:19] hyochan commented on #928
Looks like this is related to https://github.com/android/play-billing-samples/issues/199.
It sounds like it varies on region and not the code itself.

[2020-02-11 18:14] bscheideldyrt commented on #787
@alexpchin I'm seeing the same thing.  I end up with this on DEV:

[code]

Live it seems to be working for most people, though we are seeing various failures like `Apple Store not available` which I'm trying to figure out if they are related or not.

[2020-02-12 10:04] meteorra opened #930 "How to properly use initConnection method"
Could you please explain how to properly use initConnection method? When the application launches & before any other RNIap methods call? Do I need to analyze response from this method somehow?
Thanks in advance

[2020-02-12 10:31] iqbalfaisal commented on #905
@denkeni  @ahanusek  @hyochan
when user subscribe the specific package and log out from app account and again login in app with different account and want to subscribe the package which he did last time then he is receive a message by server(Google or Apple) that's "you already subscribe this package "

Kindly help me.

[2020-02-12 12:23] dmitryusikriseapps opened #931 "[iOS] Crash in the native part if Sign-In With Apple ID is cancelled"
### Version of react-native-iap
4.4.1
### Version of react-native
0.61.5
### Platforms you faced the error (IOS or Android or both?)
iOS
### Expected behavior
There shouldn't be any crashes
### Actual behavior
![image](https://user-images.githubusercontent.com/45354628/74334709-170da680-4da3-11ea-93dd-faa433dd3540.png)
![image](https://user-images.githubusercontent.com/45354628/74334711-19700080-4

[2020-02-12 15:37] leelandclay commented on #918
OK...Here's where I'm at right now....

This is the code that I have within my app:
[code]
On the BE Server, I simply create the following object and POST it to the /verifyReceipt endpoint (using the server locations en the above documentation).
[code]

I'm able to get responses back with valid information. Part of the response is a "latest_receipt" entry (used later). I store everything in my dat

[2020-02-13 08:01] chetan-plrch commented on #710
Even I have got the same error, any solution or information ?

[2020-02-13 08:13] #930 closed

[2020-02-13 09:24] #726 closed

[2020-02-14 21:28] Akeuuh opened #932 "Not recieving the product evry time"
### Version of react-native-iap
4.2.1
### Version of react-native
0.59.9
### Platforms you faced the error (IOS or Android or both?)
Android

### Tested environment (Emulator? Real Device?)
Real device in production

I've installed and managed to get the lib to work. But I'm facing an issue on android.
The purchases are not catched 100% of the time. It means that when I go on my shop page in my ap

[2020-02-15 07:10] denkeni commented on #905
@iqbalfaisal IAP goes with user’s Apple ID or Google Account, *not* with your app account. Deal it with your app logic.

[2020-02-15 08:03] iqbalfaisal commented on #905
Yes i know.

I tried but failed. Can you help me and guide me with the help of instructions generally.

[2020-02-16 11:26] hyochan commented on #931
Could you kindly share some of your code?

[2020-02-16 11:29] hyochan commented on #925
I've been planning for this but I am sorry that my time is running out today. I've not had a weekend for half a year. 😢

[2020-02-16 11:30] hyochan commented on #932
Without any visible minimal reproduction, I can't help. I think we need to wait for others coming.

[2020-02-17 10:17] kentdev92 commented on #932
Same here.
I'm also tried to getSubscriptions and getProducts after initConnection.
Here is some pics config product on google console:

<img width="876" alt="Screen Shot 2020-02-17 at 5 13 16 PM" src="https://user-images.githubusercontent.com/17426288/74644464-e5cd1600-51a8-11ea-8fd3-59f86ace4f67.png">
<img width="847" alt="Screen Shot 2020-02-17 at 5 13 26 PM" src="https://user-images.githubuser

[2020-02-17 13:02] ahmetfarukekinci commented on #747
Hello,
I am really confused about one topic, can somebody help me ?
I want to construct a controller that checks whether user still own the product or not ?
How can I detect user cancellation with using this library for both apple and google play store ?
I do not even know if its related with this getAvailablePurchase method.
Thanks.

[2020-02-18 05:18] Bang9 commented on #918
check this one

[code]

[2020-02-18 05:28] Bang9 commented on #905
@iqbalfaisal If subscription is valid, you should provide recover flow to user

[2020-02-18 05:31] iqbalfaisal commented on #905
@Bang9 i didn't understand. Kindly describe this completely.

[2020-02-18 05:40] Bang9 commented on #905
@iqbalfaisal
1. user purchase 1month subscription
2. you can get purchase information
(If you want to know auto_renew_status without app logic, save the information into your server and receipt validation with server to server notification, [android](https://developer.android.com/google/play/billing/realtime_developer_notifications), [ios](https://developer.apple.com/documentation/storekit/in-app_

[2020-02-18 06:52] iqbalfaisal commented on #905
@Bang9 sorry but my questions are totally different.

[2020-02-18 06:56] Bang9 commented on #905
@iqbalfaisal I'm answering your question

[2020-02-18 07:05] iqbalfaisal commented on #905
Many Thanks @Bang9. Really appreciate your time and effort. Kindly tell me how to handle point 2 & 3 please.

[2020-02-18 08:56] Bang9 commented on #905
@iqbalfaisal Read the document of Android and iOS in step 2

[2020-02-18 09:20] iqbalfaisal commented on #905
@Bang9 i didn't find relevant part about this that's why i asked you. Kindly share with if you know relevant part for both Android & IOS. It'll be very great help. Thanks

[2020-02-18 09:28] Bang9 commented on #905
I read that document and I made my payment server(working with server to server notification)
why didn't find relevant part?

on Android, you can receive `SUBSCRIPTION_CANCELED` event via Pub/Sub
on iOS, you can receive `DID_CHANGE_RENEWAL_STATUS ` event via incoming webhook

[2020-02-18 09:53] iqbalfaisal commented on #905
@Bang9 i think you didn't understand point 2. Let me describe you.

Let say one Google account have login on two devices and have login with different accounts in APP and when user1 will subscribe the package then user2 will get the subscription rather then user1. Sometimes both users will received token. When they're both received token then those who've buy the subscription are received a messag

[2020-02-18 10:47] #782 closed

[2020-02-18 11:19] Bang9 commented on #905
@iqbalfaisal I don't understand those situation

1. UserA and UserB has same Google Account, but different App Account and different Device.
2. UserA purchased Subscription
3. UserB getting Subscription rather than UserA -> I don't understand at this point, How to you know UserB getting Subscription or purchaseToken ??
4. Validate with purchaseToken of UserA(result of step2), then result is invali

[2020-02-18 11:42] iqbalfaisal commented on #905
Because i had tested this case with my two devices and i have consoled the result of both devices.

Yes, because UserB got the subscription before userA.

Yes you are.

[2020-02-18 17:51] Bang9 commented on #905
@iqbafaisal I mean how to UserB get a token when UserA purchased subscription... you can get a purcase token without any actions in UserB device??? No refresh, No getPurchases, No purchase?
Please share your code and testing steps for reproduce.

[2020-02-19 04:30] iqbalfaisal commented on #905
YES no refresh, no getPurchases and no purchase.

just copy from library example code.
[https://github.com/dooboolab/react-native-iap/tree/master/IapExample](url)

[2020-02-19 04:41] Bang9 commented on #905
@iqbalfaisal

OK, Lets explain again

1. UserA purchase subscription
2. RNIap.purchaseUpdatedListener of UserA and UserB will generate purchase

Is it right?

[2020-02-19 05:50] iqbalfaisal commented on #905
@Bang9 here is my code.

[code]

[2020-02-19 05:56] iqbalfaisal commented on #905
@Bang9 I didn't understand what you are trying to asking. Did you mean that will both received purchaseToken? Answer is Yes both of receiving purchaseToken. I really appreciate your time and effort.

Thanks

[2020-02-19 06:44] Bang9 commented on #905
@iqbalfaisal I think that is not general situation
nevertheless if you wanna handle the situation
you can validation purchaseToken only once in your server

0. [app] subscription your server data like premium membership state
(e.g. web socket, firebase.on, apollo.subscription)
1. [app] UserA purchase subscription
2. [app] UserA or UserB receive purchaseToken,
3. [app] send transactionId(e.g.GPA.00

[2020-02-19 07:16] iqbalfaisal commented on #905
@Bang9
what if `userB `send `transactionId `and `purchaseToken `to server before `userA`? Sever don't know who is true buyer.

[2020-02-19 07:21] Bang9 commented on #905
why need to know true buyer? Google Account is only one

[2020-02-19 07:24] iqbalfaisal commented on #905
hmm... i think there is no solution of this specific case.

[2020-02-19 07:31] hyochan commented on #932
This looks like one of the common issues.
Would this [thread](https://github.com/dooboolab/react-native-iap/issues/159#issuecomment-389413989) help? Have you done it?

[2020-02-19 20:42] bperlman opened #933 "finishTransactionIOS / finishTransaction does nothing for iOS"
### Version of react-native-iap
4.4.1

### Version of react-native
0.60.4

### Platforms you faced the error (IOS or Android or both?)
iOS

### Expected behavior
Upon calling finishTransactionIOS(purchaseId) or finishTransaction(purchase) for a subscription, the transaction should be finished and not be emitted to the app again on next launch. If there was a problem with this, I would expect somet

[2020-02-20 17:27] meteorra opened #934 "This in-app purchase has already been bought Alert though clearTransactionIOS method was used"
### Version of react-native-iap
4.4.0
### Version of react-native
0.61.5
### Platforms you faced the error (IOS or Android or both?)
IOS
### Expected behavior
When buying several consumable products one by one, e.g. six new products, than 'This in-app purchase has already been bought' Alert appears & I'm not able to buy this product any more. I've tried to apply ``` clearTransactionIOS``` on appli

[2020-02-20 21:41] Akeuuh commented on #932
Hi, thanks for your answer.

No, it is no something like that. As I said, every thing works but not every time.
It is possible to make purchase when all is clear, but the lib does not fetch the product information on every trigger.
You have to refresh multiple time the purchase page to get the informations.

Tell me what you want me to show and I'll do it very quickly!

PS: this appen only on Andr

[2020-02-21 02:43] nafplann commented on #824
I need this

[2020-02-21 03:14] nafplann commented on #824
hey I just got mine working based on this tutorial https://www.revenuecat.com/blog/ios-subscription-offers. It needs a server/api to generate signature and nonce for the offer object.

[2020-02-21 08:22] ahanusek commented on #933
I have the same issue.

[2020-02-21 09:13] creativemind1 commented on #932
I have installed a latest version of this module. For me, `getProducts() `is working perfectly fine after adding them and I got results in less than 5 minutes. I'm getting empty results for `getSubscriptions`. It still not even 3 hours I added the subscription items, do I still have to wait more?

[2020-02-21 10:13] creativemind1 commented on #932
I've added the original email account of the owner in the licence testing field and that all went fine and now I'm able to get the subscription items. Good to see  that!

[2020-02-21 12:28] yevhenlv opened #935 "E_USER_CANCELLED error, but payment successful"
Hi. I have one problem on my app with rn-iap. Unfortunately, I can't reproduce it, only fix consequences.

### Version of react-native-iap
4.3.0

### Version of react-native
0.59.10

### Platforms you faced the error (IOS or Android or both?)
IOS

### Expected behavior
Payment process successful

### Actual behavior
Payment success for me (as developer), but appstore or rn-iap return error E_USER_

[2020-02-21 12:50] creativemind1 commented on #925
I have attempted to help you to code this for Android. It will work for you!
[code]

[2020-02-21 21:13] Akeuuh commented on #932
Ok I solved my issue.
I was not to familiar with async await architecture so I did my research. Now that I understood it, I was able to make a good structure for my code.

It seems to work every where so problem solved.

Meanwhile there is still the issue with the limit of of item fetched on Android, but as I managed to get it work I close the issue.

[2020-02-21 21:13] #932 closed

[2020-02-22 16:38] hyochan commented on #856
We are currently working on this in [DoobooIAP](https://github.com/hyochan/DoobooIAP).

[2020-02-22 16:51] hyochan commented on #933
Can you share the `ackResult`?
[code]

[2020-02-22 16:53] hyochan commented on #934
Is your product `consumable`? Please check if you've created your product correctly in `itunesconnect`.

[2020-02-22 17:24] hyochan commented on #935
We are currently working on an example project called [DoobooIAP](https://github.com/hyochan/DoobooIAP) to deliver full featured `react-native-iap` working example. These kind of non-existing reproducible issues are very hard to resolve. I hope you can contribute to our project either!

[2020-02-22 21:58] ahanusek commented on #933
@hyochan
In my case:
`ackResult undefined`

[2020-02-22 22:18] bperlman commented on #933
Same here

[2020-02-23 04:25] #753 closed

[2020-02-23 11:13] meteorra commented on #934
Yep, it's consumable. Picture is attached. I'm already doing ```clearProductIOS``` once I'm fetching products.
Fetching products looks like this:
[code]
<img width="940" alt="Screen Shot 2020-02-23 at 2 09 01 PM" src="https://user-images.githubusercontent.com/29917962/75111029-4dbaab00-5646-11ea-8def-2539167adde2.png">

[2020-02-23 13:17] gurol commented on #933
Also in my case, the returned value is undefined (real device with a sandbox user).

[2020-02-23 16:00] hyochan commented on #933
It looks related to #366. Also for `ios` `finishTransaction` won't return anything.
Can you all focus on #366 and come back for the update?

[2020-02-23 16:20] bperlman commented on #933
Just to clarify - since #366 is about testing are you suggesting that this should work fine in production without the need for clearTransactionIOS?

[2020-02-23 16:59] hyochan commented on #934
Please download `4.4.2` and see if it resolves the problem!

[2020-02-23 17:46] #934 closed

[2020-02-23 19:37] ahanusek commented on #933
@hyochan When I'm testing debug configuration with sandbox account basically I'm getting notification from Server to Server Notifications(Apple) about a purchase. The problem is that after some time my client listener gets another notification about the purchase but with different transactionId even when purchasing action happened only one time so it looks like problem with properly finish the pre

[2020-02-25 16:15] #818 closed

[2020-02-26 14:47] nochkin opened #941 "Add support for Amazon Appstore IAP"
I think it would be nice to have support for [Amazon Appstore IAP API](https://developer.amazon.com/docs/in-app-purchasing/iap-overview.html).

[2020-02-26 14:47] nochkin commented on #941
I saw there was a work in the past to support it, but it appears to be outdated and can't be used with the current react-native-iap library:
https://github.com/dooboolab/react-native-iap/issues/370
So I started my own fork at https://github.com/nochkin/react-native-iap/tree/amazon-iap

It seems to be working in my own dev environment. But before I create a PR for it, it would be nice to get some r

[2020-02-26 17:37] hyochan commented on #941
@nochkin Sounds really nice. I'd like to know the step to test out this. I don't have any `amazon` device. Can I still test it out? Hope you can bring up some document for those who have an interest in following up this integration.

[2020-02-26 17:43] nochkin commented on #941
I use a real Amazon device for testing purposes. I guess if you install Amazon Appstore on a non-Amazon device, that should do it.
I'll create some documentation later today to get started. I'm glad there is interest in that.

[2020-02-26 18:07] Karthik-B-06 opened #942 "RNIap.getPurchaseHistory returns only the first purchase of an auto renewing subscription."
### Version of react-native-iap
Using react-native-iap v4.4.0
### Version of react-native
Using react-native v0.59.9
### Platforms you faced the error (IOS or Android or both?)
Android Only
### Expected behavior
Trying to get the purchase history using
`const purchaseHistory = await RNIap.getpurchasehistory(); `
And update my DB with the latest purchase details made by Google Play.
iOS returns the

[2020-02-27 04:34] nochkin commented on #941
https://github.com/nochkin/react-native-iap/blob/amazon-iap/README_AMAZON.md
Let me know if something needs additional clarification.

[2020-02-27 08:37] voxspox commented on #642
any updates on this?

[2020-02-27 08:52] voxspox commented on #694
is this fixed by https://github.com/dooboolab/react-native-iap/pull/885 ?

[2020-02-27 13:00] jvandenaardweg commented on #694
@voxspox I have not tried the latest updates, but according to that PR the `price` is now also a `string` on Android?

That seems to fix the differences yes.

Preferably you want that to be a `number` to be honest. But this will do, as it fixes the inconsistency.

[2020-02-27 13:02] #694 closed

[2020-02-27 21:18] #820 closed

[2020-02-28 13:15] Recover-Athletics commented on #275
Hi,

@andrewzey's method has worked great for us until yesterday when we were suddenly no longer to validate any receipts - we're getting a JSON parse error back from iOS when calling validateReceiptIos(). I take it no one else has ran into this...? The only changes that were made since yesterday was the addition of a promo code on ITC which we have since removed to help eliminate variables. Is th

[2020-02-28 13:32] nochkin commented on #941
FYI,
I pushed a few more changes to my fork last night, and also released my app to production using it.
Looks good so far.
I would be interested to get a feedback from others in case if there is any need for any additional functionality or use cases which are not covered in my own app.

[2020-02-28 13:44] nochkin commented on #942
I did not tried, but I think Android updates the orderId instead of creating multiple purchases.
For example, the first purchase is GPA.31321-0322-1818-312341, the next one will be GPA.31321-0322-1818-312341..1 and so on.

[2020-02-29 02:59] #830 closed

[2020-02-29 02:59] #832 closed

[2020-03-03 09:56] #837 closed

[2020-03-03 19:03] VitaliKaniushok commented on #747
+ same

[2020-03-04 02:11] alexpchin commented on #866
Does anyone have any ideas to resolve this?

[2020-03-04 03:15] #791 closed

[2020-03-04 10:25] medmo7 opened #946 "Possible Unhandled Promise Rejection Error: Cannot connect to iTunes Store"
### Version of react-native-iap
4.4.2
### Version of react-native
0.60.6
### Platforms you faced the error (IOS or Android or both?)
IOS did not test on android yet
### Expected behavior
Error to be caught by `purchaseErrorListener`
### Actual behavior
Promise rejection is not caught
### Tested environment (Emulator? Real Device?)
Real Device
### Steps to reproduce the behavior
- start purchase
-

[2020-03-04 13:47] Burkazoid commented on #875
+1 - also experiencing this issue.

That's not the code in his original post.

[2020-03-04 14:21] dmitryusikriseapps commented on #931
@hyochan Hey, sorry for the late response,
here is the part of code -> https://pastebin.com/iUhSJZWj
if you have any other questions, feel free to ask me

[2020-03-04 18:15] #692 closed

[2020-03-04 20:36] edgaralienfoe commented on #651
RN 0.59.1 on Android dev here and I'm using iap version 4.4.1

My build is currently on the Alpha track. **Afterwards**, I rebuilt as usual on my machine in debug mode, within the Platform.select({}) I specified the subscription ID as it is on the Play Console, and I called getSubscriptions() but I'm receiving an empty array. Is this because it's in Alpha? Any ideas?

[2020-03-04 21:29] acostalima commented on #651
@edgaralienfoe did you active your subscription in Google Play Console?

[2020-03-04 23:09] drews256 opened #948 "Receipt Validation trouble"
### Version of react-native-iap
4.4.2
### Version of react-native
61.5
### Platforms you faced the error (IOS or Android or both?)
IOS
### Expected behavior
When logging in and attempting to validate the receipt we start by getting receipt data by calling:

getReceiptIOS()

this always returns receiptData consistently.

We then push this off to our backend for validation.

We are validating receip

[2020-03-05 09:02] medmo7 commented on #946
I found the mistake in my implementation, the function requesting a purchase needed an extra catch it was like this:
[code]
with this fix i catch the rejected promise:
[code]

[2020-03-05 09:02] #946 closed

[2020-03-06 13:35] #649 closed

[2020-03-06 18:02] cuttlas opened #950 "Promoted IAP listener not firing in 4.4.2? (working in 4.4.1)"
### Version of react-native-iap
4.4.2
### Version of react-native
0.61.5
### Platforms you faced the error (IOS or Android or both?)
IOS
### Expected behavior
The 'iap-promoted-product' event listener fires when opening the app using a itms-services:// link.
### Actual behavior
The 'iap-promoted-product' event listener does not fire.
### Tested environment (Emulator? Real Device?)
Real Device. Iph

[2020-03-09 09:03] nenjamin2405 commented on #888
Hi @hyochan, I saw that in in https://github.com/dooboolab/react-native-iap/pull/893 to marked this as resolved but I updated react-native-iap to latest version but this one is still not be fixed. I still got error in listener `error {"code": "OK", "debugMessage": "", "message": "purchases are null.", "responseCode": 0}` and received the email `You updated your subscription purchase` normally. So

[2020-03-09 09:06] hyochan commented on #888
Last time I"ve found this issue either. It strangely doesn't work only in `deferred` mode. We need to investigate this.

[2020-03-09 09:11] nenjamin2405 commented on #888
Hi @howg0924, did you get a solution for this issue yet?

[2020-03-09 12:21] howg0924 commented on #888
@nenjamin2405 No, I am still using the default IMMEDIATE_WITH_TIME_PRORATION mode, and I really hope this could be fixed.

[2020-03-09 21:11] #819 closed

[2020-03-12 13:28] krissnawat commented on #925
For androids, a subscription is not fetching by getting product function is get only managed product
![image](https://user-images.githubusercontent.com/26294749/76526371-02a2f380-64a0-11ea-814d-1dd6b2fcb7ea.png)
anything I do wrong
![image](https://user-images.githubusercontent.com/26294749/76526434-164e5a00-64a0-11ea-9da4-429ea913096c.png)

[2020-03-12 20:57] abraztsov opened #952 "Call getReceiptIOS on mount?"
Should I call `getReceiptIOS` on app launch to validate the current user subscription? If I'm not saving and checking subscription receipt on the backend.

[2020-03-13 11:11] creativemind1 commented on #925
Hello,

I noticed subsciptions doesnt work soon when you add, wait for 6-10 hours
and then try again.

On Thu, Mar 12, 2020, 6:59 PM krissanawat101 <notifications@github.com>
wrote:

[2020-03-13 22:58] AdamGerthel commented on #930
@meteorra Did you find the answer to your question? I'm wondering the same thing. The example in the readme doesn't even use it but the name `initConnection` implies that it's something that's basically required before doing anything else 🤷🏼‍♂️

[2020-03-16 03:46] #852 closed

[2020-03-16 12:07] prasanna1211 commented on #942
@nochkin I am also getting the same issue. You are correct, but the orderId is not available in the purchases available. There is always a single purchase with the following fields developerPayload,
signatureAndroid, purchaseTime, developerPayload, transactionDate, productId. But none of them are pointing the order ID. I managed to make it work by hitting the [Android subscriptions API](https://de

[2020-03-16 14:50] Great-hijack commented on #925
Hi @creativemind1
Can you explain your case more detail? what do you mean by "....when you add..."?

[2020-03-16 15:20] creativemind1 commented on #925
Hello,

I meant when we add subscriptions in GooglePlay Console, it doesn't
reflects asap in the API but you have to wait for some time.

On Mon, Mar 16, 2020, 8:20 PM Zhu Zhen <notifications@github.com> wrote:

[2020-03-16 18:51] nochkin commented on #942
I see what you mean. Yes, I do something similar using signareAndroid and getting the reset of the information from Google using their API.

[2020-03-17 21:04] edgaralienfoe commented on #651
@acostalima it should be activated. I assumed maybe it takes a few days for it to do so, but still no luck.

[2020-03-18 03:27] #853 closed

[2020-03-18 11:53] bradleyflood commented on #855
Great stuff @hyochan and thank you so much for your work 👍

[2020-03-18 13:13] acostalima commented on #651
@edgaralienfoe I'm asking because I recall there is an option to explicitly active a subscription on Google Play Console and if it is not active, then the subscription will not show up in your app. But, if you say so, there might be some other issue then.

[2020-03-19 05:04] hyochan commented on #950
Thanks for sharing. The change is simple #938. I think we should revert this if this is causing a problem!

[2020-03-19 05:06] hyochan commented on #948
Hey there! Is there any traction wit this issue? Please share how are you going.
Also, have you correctly finished transactions?

[2020-03-19 06:37] kasl commented on #849
In version react-native-iap@4.3.3 same issue. Occurs on various devices (iPhone 6S, X, 11 pro max, 7, 8 etc) and OS versions 13. *

[2020-03-19 10:38] nathsimpson commented on #747
I'd like to work out if this would also happen in production, rather than just TestFlight.
We're currently using this function as the app loads, rather than on a button press.

[2020-03-19 14:15] drews256 commented on #948
Sure, the process we have set up right now goes:

1. Read receipt
2. If they do not have a valid receipt take them to the subscription page
3. Display the possible IAP subscriptions
4. Make a purchase
5. Clear all transactions (as this should finish all transactions right?)
6. Start at 1

We are seeing some inconsistency on loop 2 where we go back to read the receipt and it's about 50/50 on the re

[2020-03-20 12:10] yevhenlv commented on #935
Hi. I can add some info, hope it'll help.
Error appears after RNIap.finishTransaction(purchase)

code E_UNKNOWN
column 1625
domain SKErrorDomain
userInfo.NSLocalizedDescription Cannot connect to iTunes Store

Payment is successful in store, but we get such error and don't give access for user.

I saw proposals RNIap.addAdditionalSuccessPurchaseListenerIOS in similar situations, but now I can't fin

[2020-03-23 08:08] #727 closed

[2020-03-23 16:22] #849 closed

[2020-03-23 16:25] hyochan commented on #950
@cuttlas Can you also [try this](https://github.com/dooboolab/react-native-iap/issues/934#issuecomment-590090801) and come back?

[2020-03-24 08:18] LohithaYalavarthi opened #958 "Navigating from react-native-app to playstore for cancelling in-app Subscriptions using particular url doesn't work"
### Version of react-native-iap
2.4.8

### Version of react-native
0.59.10

### Platforms you faced the error (IOS or Android or both?)

Android

### Expected behavior
When  using this url to navigate to playstore subscription page from react native app it should be able to navigate it
        'https://play.google.com/store/account/subscriptions?package='dummypackage'&sku=box100.subscription.dev'

[2020-03-24 08:41] LohithaYalavarthi opened #959 "upgraded react-native-iap from 2.4.8 to 4.1.1 and after that trying to install the app in the device results the issue"
### Version of react-native-iap
2.4.8->4.1.1
### Version of react-native
0.59.10
### Platforms you faced the error (IOS or Android or both?)
Android
### Expected behavior

 After upgrading the react-native-iap version Should be able to install the app in my device using react-native run-android

### Actual behavior
<img width="974" alt="Screenshot 2020-03-24 at 1 59 46 PM" src="https://user-images

[2020-03-26 03:58] dkwl93 commented on #933
Hey team, thanks for all the hard work on this library, it really makes our lives easier. I'm commenting because this issue hasn't been resolved and I don't see how old transactions not clearing have anything to do with #366 .

My usecase is
1. User 1 makes purchase and premium benefit applied to their account.
2. User 1 signs out
3. User 2 signs in

**Expected result:**
* Transactions from User 1

[2020-03-26 05:46] ashking commented on #921
I have the same issue too. I'm on react-native 0.59.10 and just upgraded the react-native-iap to 4.1.1 and been getting the same issue.

Any help @hyochan? thanks

[2020-03-26 16:06] hyochan commented on #921
@ashking You can try install `jetifier` and run `npx jetify`

[2020-03-26 18:42] drbarto commented on #734
I encountered the same error today. Reverting to version 3.4.15, as described above, did _not_ fix the issue for me.

Anybody on this issue got any new insights? I assume even if the revert fix works for you, that's not a viable permanent solution.

[2020-03-26 19:02] drbarto commented on #908
Looks like a dupe of https://github.com/dooboolab/react-native-iap/issues/600 and https://github.com/dooboolab/react-native-iap/issues/734. Unfortunately both issues have been closed; in the 2nd one it was suggested to revert to version 3.4.15, which fixed the issue for some users (unfortunately not for me) -- maybe this can also help you.

@hyochan bringing this cluster of issues to your attentio

[2020-03-27 07:35] nesvold commented on #908
Thanks for pointing that out. It seems to be identical to #600 , only that I've verified that this is happening on real devices as well (it happens about once or twice a week for users with the described android version (who I estimate is using my app about twice a day). So i would say it's quite serious.

[2020-03-27 09:41] TheTimeWalker commented on #734
I never encountered this issue again. The last time I was able to "fix" this by just cleaning cache, node_modules, etc. and rebuilding.

[2020-03-28 17:33] baiross commented on #866
up, same problem :3

[2020-03-30 16:19] #863 closed

[2020-03-30 23:40] MehmetDT commented on #933
same here

[2020-03-31 06:10] punjasin commented on #950
not work for me also downgrade also not working but clicking the acual promo in appstore is working but app close and install production one instead T^T

[2020-04-01 08:43] nenjamin2405 commented on #888
Hi @hyochan, any update on this? My app's new feature is stuck by this issue. Really appreciate your effort in investigating this, thanks

[2020-04-01 15:47] iskenz commented on #933
exactly the same problem right, looks like stack isnt cleared at all, even after disconnecting sandbox/itunes account, reboot device, reinstall app.. :/

[2020-04-01 16:51] hyochan commented on #933
Could you verify that the `finishTransaction` is really doing nothing in `RNIapIos.m` file?
I've just checked it out and it correctly finishes its transaction.

Please check `clearTransaction` or `finishTransactionWithIdentifier` method and try to put any logs inside. Try to find below codes.
[code]

[code]

I can't move this issue forward because I am not getting any idea what's happening. I hope

[2020-04-02 09:27] AdamGerthel opened #961 "Cannot connect to iTunes Store - should I be worried?"
### Version of react-native-iap
4.4.2

### Version of react-native
0.61.4

### Platforms you faced the error (IOS or Android or both?)
iOS

### Expected behavior
No error should occur since I'm checking for network access and then attempt to connect to the store. So unless the App Store is unavailable, I wouldn't expect this to happen.

Is this normal? Should I expect this to happen from time to t

[2020-04-02 16:14] ajouve opened #962 "Can not getProducts iOS simulator"
### Version of react-native-iap

4.4.3

### Version of react-native

0.62.0

### Platforms you faced the error (IOS or Android or both?)

iOS

### Expected behavior

Get products information from apple server

### Actual behavior

`[Error: An SSL error has occurred and a secure connection to the server cannot be made.]`

### Tested environment (Emulator? Real Device?)

Emulator

### Steps to repro

[2020-04-03 07:27] #962 closed

[2020-04-03 10:19] matheuscouto opened #963 "Understanding the developer mode / sandbox in iOS"
In production apps when I try to use the IAP in iOS, it opens up an interface to conclude my purchase, but when I'm using this lib in development it opens up a series of alerts. Is this only in development? If I publish the app will it appear Apples interface for IAP?

I haven't found this answer in the docs or other issues.

Thanks in advance

[2020-04-03 10:40] drbarto opened #964 "[Android] Getting "purchase is not suitable to be purchased""
RN: 0.61.5
RNIap: 4.4.3
Platform: Android
Expected: calling `finishTransaction` succeeds
Actual: `finishTransaction` fails with "purchase is not suitable to be purchased"
Test env: real device

I'm integrating RNIap into a new app (so no real-world experiences yet) in order to purchase a non-consumable product. The iOS part works fine, but on Android I recently started to consistently get the erro

[2020-04-03 11:07] drbarto commented on #964
I found a workaround: before calling `finishTransaction`, I re-fetch the purchase object with `RNIap.getAvailablePurchases`. This updates the relevant properties (`isAcknowledgedAndroid`, `purchaseStateAndroid`) so that `finishTransaction` succeeds again. Is this expected behaviour?

[2020-04-03 11:57] drbarto commented on #964
Ok, found the problem: I accidentally stripped the Android-specific properties from the purchase object, that's why re-fetching solved my problem. Now, after getting rid of this code, all works as expected 👍

[2020-04-03 11:57] #964 closed

[2020-04-03 12:20] #453 closed

[2020-04-03 13:35] muganwas commented on #541
I had this issue and it turns out I'd skipped installing the RNIap in the pofile
ie. copy and pasted this `pod 'RNIap', :path => '../node_modules/react-native-iap'`  then cd ios && pod install && cd ..(run terminal commands from the application directory)

[2020-04-04 10:52] #174 closed

[2020-04-05 21:55] tarahiw opened #965 "duplicate payments"
Hi my friends
First of all, I'm sorry, my first language is not English
Example: A user's scenario buys a one-month subscription today
Can he buy again by mistake tomorrow? Or does your system intend to prevent this? Or do I have to deactivate the purchase button myself until that person's credit expires?
I am generally concerned about duplicate payments or the purchase of shared or non-shared sub

[2020-04-06 06:29] vietvuong1994 opened #966 "Missing originalTransactionIdentifierIOS"
### Version of react-native-iap
4.4.2
### Version of react-native
0.61.5

I use the originalTransactionIdentifierIOS to distinguish users subscribe auto-renewal IAP from IOS. After listen subscribe success and call finishTransactionIOS, I call getPurchaseHistory to get the originalTransactionIdentifierIOS from the first item of array response and send it to server.
 At Production environment I got

[2020-04-06 10:55] TiagoGouvea commented on #800
The error still happening sometimes with some users.. but I decided to ignore it and display "Connection error, try again later".

[2020-04-06 10:55] #800 closed

[2020-04-06 21:12] magickasoft commented on #787
`
Error: Error decoding object
    at Object.fn [as getItems] (NativeModules.js:99)
    at index.js:181
    at step (index.js:32)
    at Object.next (index.js:13)
    at index.js:7
    at tryCallTwo (core.js:45)
    at doResolve (core.js:200)
    at new Promise (core.js:66)
    at __awaiter (index.js:3)
    at ios (index.js:178)
`
simulator iPad Pro (12.9-inch) - 13.3 not working,
but it works on

[2020-04-07 12:15] #634 closed

[2020-04-07 12:25] hyochan commented on #952
I don't think you should. I've only managed to validate receipt once the purchase is succeeded. You may save other info in local database or backend. I recommend not to rely purchase histories in the Apple server because I didn't feel reliable.

[2020-04-07 12:25] #952 closed

[2020-04-07 12:28] hyochan commented on #959
Looks like you are having issue on `androidx` migration. Try to install `jetifier` and run `npx jetify` after installation. Reference is [here](https://github.com/mikehardy/jetifier)

[2020-04-07 12:28] #959 closed

[2020-04-07 12:33] hyochan commented on #961
Looks like this is on Apple's side and I found few [issues](https://forums.developer.apple.com/thread/128301).

[2020-04-07 12:38] hyochan commented on #963
@matheuscouto You may face them in development. There are great investigations in #863 for your further reading.

[2020-04-07 12:38] #963 closed

[2020-04-07 12:42] hyochan commented on #965
@tarahiw I think you need to test it out yourself for better confidentiality. If the user is already subscribed to `skus` and try to purchase it again, `ios` and `android` should handle them and respond with error something like `user is already subscribed` blablabla.

[2020-04-07 12:42] #965 closed

[2020-04-07 18:31] tarahiw commented on #965
Hi, I didn't understand
Should I finally stop this from happening me? Your library or Apple?

[2020-04-07 19:17] tarahiw commented on #965
Hi, I didn't understand
Should I finally stop this from happening me? Your library or Apple?

[2020-04-08 00:16] #732 closed

[2020-04-08 19:56] dorin2006 commented on #292
Hello Colleagues!

Please help me :)

RNIap.getAvailablePurchases() returns array with values on Android,
while in google play -> subscribtions, there is no entry.

I'm testing with test account.

Did anyone face the same issue ?

p.s. react-native-iap is a great library guys, thank you for a great job!!!

[2020-04-08 22:27] selimmidikoglu commented on #723
How did you achieve that with which files?

[2020-04-10 09:37] punjasin commented on #950
still doest work down i init new react-native project and test also not work

[2020-04-11 03:57] nastarfan opened #970 "Concern regarding `getAvailablePurchases()`"
### Version of react-native-iap
4.4.3
### Version of react-native
0.61.6
### Platforms you faced the error (IOS or Android or both?)
Android
### Expected behavior
First of all, thanks for all the efforts you put to make and maintain this library, really appreciate it.

`getAvailablePurchases()` should not return subscription that's canceled (not renewed)
### Actual behavior
in the test environment

[2020-04-11 13:53] nenjamin2405 commented on #950
I'm facing the same problem :(

[2020-04-13 03:14] punjasin commented on #950
appstore keep rejecting me for 2 week now T^T can someone help

[2020-04-13 07:53] punjasin opened #971 "Promoted IAP doest work on react-native 61.5"
### Version of react-native-iap
4.4.2
### Version of react-native
0.61.5
### Platforms you faced the error (IOS or Android or both?)
IOS
### Expected behavior
test link work
itms-services://?action=purchaseIntent&bundleId=com.example.app&productIdentifier=com.example.app.productid
### Actual behavior
nothing happen
in Xcode Log it show
[Daemon] [SKPaymentQueue]: Tried to send purchase intent: {com

[2020-04-13 10:07] punjasin commented on #971
i found solutions by remove the comment code in library out and it work

[2020-04-14 03:09] k8759102 opened #972 "No purchases found At Android Emulator"
### Version of react-native-iap
^4.4.3

### Version of react-native
0.61.5

### Platforms you faced the error (IOS or Android or both?)
Android

### Expected behavior
consumeAllItemsAndroid()
getProducts()
=> ProductList [...]

### Actual behavior
consumeAllItemsAndroid()
=> promise.reject("refreshItem", "No purchases found");
      ProductList []

### Tested environment (Emulator? Real Device?)
E

[2020-04-14 07:11] punjasin commented on #950
solve the lasted version have comment out
this part
`// - (instancetype)init {
//   if ((self = [super init])) {
//     [SKPaymentQueue.defaultQueue addTransactionObserver:self];
//   }`

remove comment out it work like before :)

[2020-04-14 07:15] nenjamin2405 commented on #950
Many thanks, @punjasin. This piece of code is located in `IAPPromotionObserver.m` right?

[2020-04-14 07:18] auzankyu opened #973 "call RNIap.initConnection() return undefined"
### Version of react-native-iap
4.4.2
### Version of react-native
61.5
### Platforms you faced the error (IOS or Android or both?)
IOS
### Expected behavior
some return
### Actual behavior
undefined
### Tested environment (Emulator? Real Device?)
real device
### Steps to reproduce the behavior
when i call RNIap.initConnection() in componentDidMount it return undefined
so i cannot get RNIap.getProd

[2020-04-14 07:48] tarahiw opened #974 "Free Trial IOS"
### Version of react-native-iap
^4.4.3

### Version of react-native
61.5

### Platforms you faced the error (IOS or Android or both?)
IOS
### Expected behavior

expectation
[
{
    bundleId: <string>,
    transactionId: <string>,
    productId: <string>,
    purchaseDate: <number>,
    quantity: <number>,
    *expirationDate: <number>,
    *isTrialPeriod: <boolean>,              // only for subscr

[2020-04-14 07:48] #480 closed

[2020-04-14 08:09] hyochan commented on #972
Hey there~! You can only test the `IAP` features in the real device for `android`. In `iOS`, it is similar but they can only fetch products in the emulator.

P.S. I hope you share things in English so other people can understand the issues which can be related to their problems.

[2020-04-14 08:09] #972 closed

[2020-04-14 08:14] k8759102 commented on #972
Ok, I modified my Issue
I appreciate your comment

[2020-04-14 08:17] hyochan commented on #950
Thanks for sharing the issue wonderful people~!
Followed by the [StackOverflow](https://stackoverflow.com/questions/34001868/ios-this-in-app-purchase-has-already-been-bought-pop-up) this is actually recommended to be written in `viewDidLoad` to ensure that it's only called just once! There was an issue related to this and was removed in `4.4.2`. I should have to provide the readme. Sorry for that

[2020-04-14 08:19] hyochan commented on #971
I hope you to check [this one](https://github.com/dooboolab/react-native-iap/issues/950#issuecomment-613295586) out!

@punjasin Also, do you mind updating our readme to put the above code in `viewDidLoad` in post-installation section?

[2020-04-14 08:54] auzankyu commented on #973
solved when installing react-native-iap from Podfile

[2020-04-14 13:59] nenjamin2405 commented on #950
Hi @hyochan, so the final solution for this is to uncomment the above code and that's it or do I need to do anything else. I don't understand much about the `viewDidLoad` method that you mentioned, where can I find it, can you add a step by step here, many thanks :(

[2020-04-14 14:33] hyochan commented on #950
@nenjamin2405 You can find that in AppDelegate.m file in your react native project.

[2020-04-14 15:09] nenjamin2405 commented on #950
@hyochan Sorry but I cannot find `viewDidLoad` in my `AppDelegate.m`. The only thing available there is

[code]

[2020-04-15 08:02] SMPinCode opened #975 "Users without any purchase history are prompted with appleID login alert in Testflight. After submitting alert pops “Cannot connect to iTunes Store”."
### Version of react-native-iap
4.4.2
### Version of react-native
0.59.10
### Platforms you faced the error (IOS or Android or both?)
IOS
(haven't touched Android)
### Expected behavior
New user successfully opens app, loads subscription screen. IF has valid subscription - goes to other screen.
### Actual behavior
New testflight User is prompted with iTunes login in subscription screen. When user

[2020-04-15 08:31] hyochan commented on #950
@nenjamin2405 Sorry, I think I've talked too quickly. I've just fixed some code and added a guide to add `IAPPromotionObserver` properly in your app.

Try installing `react-native-iap@4.4.4` and follow the [code here](https://github.com/dooboolab/react-native-iap/commit/0663be9001dd3176f8aeb1368f862e3306c28bf0#diff-bf4de4f3f9a25557bc6d05a177271bda).

[2020-04-15 08:34] #950 closed

[2020-04-15 08:34] #971 closed

[2020-04-15 08:35] nenjamin2405 commented on #950
Many thanks, @hyochan, will try it and let you know

[2020-04-15 08:52] hyochan commented on #935
`addAditionalSuccessPurchasListenerIOS` is removed and should not be used. You can see my [medium blog](https://medium.com/dooboolab/react-native-iap-v3-1259e0b0c017).

Refer to [ios forum](https://forums.developer.apple.com/thread/91828), I found may trouble syncing purchases with testflight user for production.

[2020-04-15 08:53] hyochan commented on #975
Refer to [ios forum](https://forums.developer.apple.com/thread/91828), I found may trouble syncing purchases with testflight user for production.

[2020-04-15 08:57] yevhenlv commented on #935
Hi. Yes, we don't use this method, but still get problems with payments on ios. Our current version of rn-iap 4.4.3

[2020-04-15 09:35] hyochan commented on #935
Looks like this relies on `Apple` and not our module so please check your config first. Going over whole steps again sometimes fixes.
Without any more investigation, I can't move this forward.

[2020-04-15 14:17] nenjamin2405 commented on #950
Hi @hyochan, I've just tried the newest version and added the recommended code snippet, when I terminate the app, there is an error logged in Xcode:

[code]

![image](https://user-images.githubusercontent.com/16648769/79347726-34efb700-7f5e-11ea-95ca-55cc509a65b1.png)

[2020-04-15 15:10] hyochan commented on #950
@nenjamin2405 I think you don't need the `dealloc`. I'll change the readme. I've seen in [StackOverflow](https://stackoverflow.com/questions/7093136/who-calls-the-dealloc-method-and-when-in-objective-c). I'm not familiar with objc either 😞. It's bad.

[2020-04-15 22:29] ue commented on #974
for my case, the text does not display as like 3 days free after 3 days it will be xxx$ for the month, etc.
I just created an in-app purchase item then set a promo offer for that sku. but it seems a normal subscription offer in sandbox mode.

Is there any specific thing to do for the free trial period?

[2020-04-16 05:10] k8759102 opened #977 "I still can't get the return value for getProducts."
Version of react-native-iap
^4.4.3

Version of react-native
0.61.5

Platforms you faced the error (IOS or Android or both?)
Android

Expected behavior
getProducts()
=> ProductList [...]

Actual behavior
consumeAllItemsAndroid()
=> promise.reject("refreshItem", "No purchases found");
getProducts()
=> ProductList []

Tested environment (Emulator? Real Device?)
Emulator, Device

Steps to reproduce th

[2020-04-16 07:27] ue commented on #970
I would like to add couple of question. What if we don't use backend services for validation. how can I understand the subscription done and canceled by the user. how can I handle that?.
Also in my sandbox account has 6 subscription products. All of them are active how it can possible?
FOR IOS.

[2020-04-16 08:33] skizzo commented on #977
+1. It would be so great to have sth. like a definitive checklist for everything (iOS & Android) that needs to be set up in order to get IAP to work.. until then, working with IAP is a royal pain in the *ss..

[2020-04-16 13:37] hyochan commented on #977
As said, any of the features for `iap` won't work in `android` emulator.

Have you check the [blog](https://medium.com/dooboolab/react-native-in-app-purchase-121622d26b67)?
Also hope you can go over the [steps](https://github.com/dooboolab/react-native-iap/issues/159#issuecomment-389413989) too.

[2020-04-16 13:59] k8759102 commented on #977
I ran it on the android device.

I will check again as advised. Thx

[2020-04-16 17:22] ue opened #978 "Subscribing promoted product [IOS] [HELP WANTED]"
Hi guys,

I created in-app purchases successfully all set except for my free trial product (promoted product).

I created that subscription as 6 months also set 3 days free trial as the promoted product is coming with that product data as `discounts` coming as an array. Then I created my UI when pressing the buttons it is trying to subscription via productID. For the 6 months product which has a d

[2020-04-16 18:24] ue commented on #978
That's my fault it should be an introductory offer :( sorry for that. closing now

[2020-04-16 18:24] #978 closed

[2020-04-17 00:48] HyeonjuPark commented on #528
Same to me. It only happens on Android devices (not all, some of them)

"react-native-iap": "^4.3.2"
"react-native": "0.61.4"

[2020-04-17 03:42] hyochan commented on #528
Could you share some useful information other than the versions? Something like code snippets or minimal reproduction so I can move this forward.

Also please try out the latest version which currently is `4.4.4`.
Thanks.

[2020-04-17 03:44] hyochan commented on #888
Not yet. I've not had time to go over this issue.
I hope somebody also brings up useful information to handle this issue.
Asking `Google` or `StackOverflow` and share that in this thread might be really helpful.

[2020-04-17 04:12] nenjamin2405 commented on #962
Any solution for this @ajouve?

[2020-04-17 05:12] hyochan commented on #962
Would adding below to `info.plist` help? I don't quite think this is `iap` problem rather I feel your backend uses `http`. Am I right?
[code]

[2020-04-17 10:45] wheelswang opened #980 "4.4.4版本有bug 支付成功后purchaseUpdatedListener注册的回调函数不调用"
回退到4.4.0正常

[2020-04-17 12:04] roberto-buratti commented on #808
Stale? not at all, we are still waiting for a fix.

[2020-04-17 16:08] zoftify opened #981 "getPurchaseHistory() and getAvailablePurchases() are not resolved / rejected"
### Version of react-native-iap
4.4.4
The issue is reproduced on v 4.4.4  only, the 4.3.0 works like a charm

### Version of react-native
0.61.5

### Platforms you faced the error (IOS or Android or both?)
iOS

### Expected behavior
`getPurchaseHistory()` and `getAvailablePurchases()` return purchases

### Actual behavior
`getPurchaseHistory()` and `getAvailablePurchases()` aren't resolved or reje

[2020-04-17 21:24] AndyYudkin opened #982 "successful purchase not fired in purchaseUpdatedListener"
Thanks for great package and sorry for my English.
### Version of react-native-iap
4.4.4
### Version of react-native
0.60.3
### Platforms you faced the error (IOS or Android or both?)
iOS
### Expected behavior

### Actual behavior

### Tested environment (Emulator? Real Device?)
Real Device
### Steps to reproduce the behavior

I try to buy subscription. Enter password and commit. But has not event

[2020-04-17 22:42] Metroxe commented on #981
Have been experiencing the same issue since last night. +1

[2020-04-17 22:47] Metroxe commented on #446
This seems to be the same issue at #981 .

[2020-04-18 05:23] hyochan commented on #982
@AndyYudkin Thanks for the issue and I am suspecting it causes by the last releases trying to fix the #950. I've just pushed a [new commit with release 4.4.5](https://github.com/dooboolab/react-native-iap/commit/c50ef1e156dd62c89e629c67caa952b2cd702113). Could you try this and come back?

[2020-04-18 05:24] hyochan commented on #981
Looks related to #982. Could you try `4.4.5` and comeback?

[2020-04-18 05:25] hyochan commented on #980
English please

[2020-04-18 05:25] #980 closed

[2020-04-18 08:35] InfiniteDreamz opened #983 "Payment State & Acknowledge returning 0 from google at the server"
I am implementing auto-renewing subscription on android. For receipt-validation, I'm using my own server. After that, I call finishTransaction(purchase) method.

[code]

This all works fine. But when trying to get paymentState & AcknowledgeState from Google I get the following response:

`{acknowledgementState: 0, expiryTimeMillis: 1587197873212, orderId: "GPA.3314-1288-8988-44309..0", paymentStat

[2020-04-18 09:09] AndyYudkin commented on #982
@hyochan I was install 4.4.6 and that's OK!

[2020-04-18 11:08] hyochan commented on #982
So this is resolved~!

[2020-04-18 11:08] #982 closed

[2020-04-18 11:10] hyochan commented on #981
Looks resolved now.

[2020-04-18 11:10] #981 closed

[2020-04-18 19:24] zoftify commented on #981
@hyochan 4.4.6 works perfectly, thanks a lot

[2020-04-19 08:50] ajouve commented on #962
Seems that the Apple developers endpoints has problems.
I added a retry logic and it works.

[2020-04-19 13:32] #725 closed

[2020-04-20 13:38] hanishcodebrew commented on #851
I am facing the same issue @voxspox . Have you solved it ?

[2020-04-21 09:49] Strate opened #984 "requestSubscription promise is not resolved"
### Version of react-native-iap
4.4.6

### Version of react-native
0.61.5

### Platforms you faced the error (IOS or Android or both?)
ios

### Expected behavior
`requestSubscription` promise is resolved

### Actual behavior
`requestSubscription` promise never resolved

### Tested environment (Emulator? Real Device?)
Real Device

### Steps to reproduce the behavior
Just follow readme and try to re

[2020-04-21 09:51] Strate opened #985 "purchaseUpdatedListener called only once on app start, and never calls after requestSubscription call"
### Version of react-native-iap
4.4.6

### Version of react-native
0.61.5

### Platforms you faced the error (IOS or Android or both?)
ios

### Expected behavior
`purchaseUpdatedListener` called on each time, after `requestSubscription` call

### Actual behavior
purchaseUpdatedListener called only once on app start, and never calls after requestSubscription call

### Tested environment (Emulator?

[2020-04-21 13:54] schumannd commented on #721
I have had the same error message recently. So I'd say this should stay active.

[2020-04-21 14:31] hyochan commented on #984
We recommend this to be handled in `purchaseUpdated` event handler. Therefore, resolving this method seems quite useless but if this should be handled, I'll take a look.

[2020-04-21 14:32] hyochan commented on #985
Does anyone else having the same problem? @Strate have you called `finishTransaction`?

[2020-04-21 17:36] Strate commented on #985
@hyochan yes, but actually this call happens after app restart

[2020-04-21 17:37] Strate commented on #985
@hyochan I've tried expo-in-app-purchase package, and there is no issue like this - evrything seems to be fine

[2020-04-21 17:43] zeritte opened #986 "Do we still need developer payload android"
### Version of react-native-iap
4.4.6

### Version of react-native
0.61.4

### Question?
Thank you for creating this awesome library. I was able to follow steps and create my desired output easily. `We are willing to share same in-app-purchase experience for both Android and iOS.` You achieved to do!
Do we still need to put `developerPayloadAndroid` in `finishTransaction(purchase: InAppPurchase/Pr

[2020-04-21 20:41] Metroxe commented on #400
Is there any further update on this, I am still also having an issue getting promo codes that were redeemed through the app store.

[2020-04-22 00:33] hyochan commented on #985
@Strate  I want to see your code. Can't find any error myself :(

[2020-04-22 07:02] hanishcodebrew commented on #697
I am looking for the same approach, please help.

Thanks

[2020-04-22 07:04] hanishcodebrew commented on #727
I am looking for the same answer in Android. Please help.

[2020-04-22 09:33] devagul93 commented on #528
It is working for me now, sadly I've lost context.

But remember the Issue being in project code.
Will update when I remember.

[2020-04-22 15:50] haikov commented on #964
@drbarto can you please share a bit more details regarding your fix? I started seeing same errors in the crash reporting tool, but they're not consistently happening and I'm unable to reproduce them locally 🤔

[2020-04-22 16:50] zeritte commented on #986
@hyochan can you have a look at this

[2020-04-22 17:28] drbarto commented on #964
@haikov sorry, but my "fix" is for sure not applicable to you. I have a helper function which converts the purchase JSON data which I receive from RNIap to something our backend can digest, and in this function I accidentally forgot to copy some Android-specific data fields.

[2020-04-23 09:39] tarunkasera opened #988 "After upgrading react-native-iap 4.4.7 version in ios -getAvailablePurchases() not responding and other methods also not working in ios"
### Version of react-native-iap 4.4.7

### Version of react-native 0.61.5

### Platforms you faced the error (IOS or Android or both?) IOS

### Expected behavior - available purchase items listing

### Actual behavior - not responding

### Tested environment (Emulator? Real Device?) Real device

### Steps to reproduce the behavior - with 4.4.3 it's working but after upgrading the version 4.4.7 in

[2020-04-23 14:53] zeritte commented on #986
as far as I understood, https://github.com/mifi/in-app-subscription-example/blob/master/in-app-subscription-backend-example/index.js#L135 having something like that will do the same. so there is no need for developerPayloadAndroid. Is it true?

[2020-04-23 16:43] Sophrinix commented on #985
this issue is absolutely infuriating.  Is there a prior version where this is not the case?

[2020-04-23 16:45] Sophrinix commented on #985
How would this be possible as the purchase is an argument in finishTransaction? Thus you need the event listener to get the argument to pass to finishTransaction.

[2020-04-23 16:47] Strate commented on #985
@Sophrinix finishTransaction expected to be called inside `purchaseUpdatedListener`

[2020-04-23 16:49] Strate commented on #985
@hyochan sorry, but looks like I don't have an actual code right now, I've switched to `expo-in-app-purchase` module. Looks like @Sophrinix experience same issue.

Btw, there was nothing special in my code: register listener as soon as app started, and just follow readme.

[2020-04-23 17:44] saminadhikari commented on #756
"react-native-iap": "^4.4.6"
"react-native": "0.61.5"
Still facing issue. On iOS, purchaseUpdatedListener only fires on app restart. Since it is on App.js. It has not been unmounted.
Any fixes?

[2020-04-23 17:47] Sophrinix commented on #985
It turns out that this is a regression.

If you use the following versions then everything works:
[code]
The problem comes when you try to use 4.4.4 and a version of react-native prior to 0.60

[2020-04-24 00:36] hyochan commented on #986
I'm also knowing this to be the legacy field but they are not completed moved away although deprecated. I just exposed those variables.

[2020-04-24 00:39] hyochan commented on #985
@Sophrinix I've just tried `requestPurchase` in my side and everything seems to be working. Could you please share some of your code?

Also, please check again if you've called `initConnection`. This is critical changes in a recent update that it is now necessary to be called in `iOS` as in `android`.

[2020-04-24 00:39] TStupariu commented on #756
I am not sure if this would help, but when I faced the issue, even if the listener was on App.js it would still trigger an unmount. Try removing the code that removes the listener either way and see if that is the cause...

[2020-04-24 00:42] hyochan commented on #988
Can you verify you've called `initConnection` in `iOS` just as in `android`?

[2020-04-24 00:43] hyochan commented on #988
I've just ran the code in our example project and please check `IapExample` code either.

[2020-04-24 03:21] zeritte commented on #986
so its fine not to put it?

[2020-04-24 05:59] tarunkasera commented on #988
**Can you verify you've called initConnection in iOS just as in android?**

Yes we have called initConnection in both iOS and Android and it was not working and then I have downgrade my version from 4.4.7 to 4.4.3.

After downgrading version now we are facing issue with purchaseUpdatedListener in android , it's calling every time but it need to call when I am taking subscriptions.
In ios it's work

[2020-04-24 09:50] hyochan commented on #988
Have you run `pod install` after installing a new package? I just can't understand why `4.4.7` isn't working. Could you compare the code with the `IapExample` or share some of yours?

[2020-04-24 10:46] tarunkasera commented on #988
Yes I have run pod install after installing new package and it's not working properly and I will share the detailed code but for now can you please help me for purchaseUpdatedListener is running every time in android

[2020-04-24 10:47] GuilhermeGabriel commented on #988
I'm with the same problem...

[2020-04-24 12:19] gurol opened #989 "error: 'IAPPromotionObserver.h' file not found with <angled> include; use "quotes" instead"
### Version of react-native-iap
4.4.4, 4.4.5, 4.4.6, 4.4.7
### Version of react-native
0.59.10
### Platforms you faced the error (IOS or Android or both?)
iOS
### Expected behavior
Successful build
### Actual behavior
Could not be built even after (removing temp directories such as node_modules, ios/build, ~/Library/Developer/Xcode/DerivedData, ...)

`info [APPPATH]/node_modules/react-native-iap/i

[2020-04-24 13:43] saminadhikari commented on #756
Did some digging in native wrapper. Forgot to call RNIap.initConnection() which triggers listener flag. Should add this note on readme as others can get confused. Thanks for the reply :)

[2020-04-25 01:07] julioxavierr commented on #907
Not yet

[2020-04-25 02:54] svishwakarma1 commented on #93
Hello users,
I also face this issue after the some week found a solution.

// Purchase items
const itemSkus = Platform.select({
  ios: [
    "1299_Package"
  ],
  android: [
    "1299_Package"
  ]
});

Enter only product id not with the build identifier.

[2020-04-25 08:32] gurol commented on #989
I have fixed the error by making the following change in node_modules/react-native-iap/ios/RNIapIos.m file:

`#import <IAPPromotionObserver.h>`
to
`#import "IAPPromotionObserver.h"`

[2020-04-25 08:35] hyochan commented on #986
@zeritte Yes this is optional I think.

<img width="1171" alt="Screen Shot 2020-04-25 at 5 35 07 PM" src="https://user-images.githubusercontent.com/27461460/80275271-230ad280-871b-11ea-8fbc-1dd626823f17.png">

[2020-04-25 08:35] #986 closed

[2020-04-25 08:38] hyochan commented on #989
Fixed in `4.4.8`. However, I'm not quite sure why this wasn't a problem in my `env`.

[2020-04-25 08:38] #989 closed

[2020-04-25 08:40] hyochan commented on #988
Have you guys also called `endConnnection` when you've finished using `billing` functionalities?

[2020-04-25 09:05] GuilhermeGabriel commented on #988
I already solved it, the problem was not having called acknowledgePurchaseAndroid and finishTransaction after first buy.

[2020-04-25 19:25] #707 closed

[2020-04-26 08:34] nenjamin2405 commented on #950
Hi @hyochan, it's very weird that in version 4.4.4, I could receive an event from the listener of promoted purchase`IAPEmitter.addListener('iap-promoted-product')`, however when the purchase is completed (via iap-promoted-product or RNIap.requestPurchase), the listener `purchaseUpdatedListener` will not receive any event until I kill and reopen the app. Then I updated to version 4.4.8, the `IAPEmi

[2020-04-26 13:42] mohammedavez opened #991 "Linking the purchase with the user"
The problem is I am using my own authentication system for my app so how do I link the purchase with the user.I tried to give developerIdAndroid and accountIdAndroid as parameters to requestPurchase function but I don't see those 2 parameters are liked with the purchase object from purchaseUpdateListener.

[2020-04-26 14:25] bhoomika-sorathiya commented on #977
I also facing the same issue. I have tried to test app in iPhone. It is working fine. But, for real android device, it is throwing "refreshItem" - "No purchases found".

I have pushed signed apk on playstore which is in alpha release and added products which are active on google play console. Now, I am testing with real device in debug mode as well signed apk. But, still I am not getting any produ

[2020-04-26 18:16] narrafy commented on #825
Same here. requestSubscription does not return. Any fixes?

[2020-04-27 01:12] hyochan commented on #950
@nenjamin2405 Have you called `initConnection` in `iOS` in `4.4.8` before adding `iap-promoted-product` listener?

[2020-04-27 01:13] hyochan commented on #977
@bhoomika-sorathiya Could you please share some of your codes so we can predict where it may cause the problem?

[2020-04-27 01:32] k8759102 commented on #977
To give a little advice, I made the following settings

1. First, the registered app must be posted. So that the iap identifier works normally.
2. Register testers for release versions above alpha
3. Log in to Google Play with the tester account on the real device being tested

I think this will probably be a test

[2020-04-27 01:51] bhoomika911 commented on #977
@hyochan I have followed below steps for code:

Step 1: I have written below code in componentDidMount to initConnection which always use to warn "RefreshItem"-  "No purchases found".

       // Init IAP
        try {
            const result = await RNIap.initConnection();
            await RNIap.consumeAllItemsAndroid();
            console.log('result', result);
          } catch (err) {

[2020-04-27 02:30] k8759102 commented on #977
In my case, most of the problems were caused by the setting and procedure of each play store, rather than the code problems.
So, I think it's probably not a code issue.
------------------------------------------------------------------------------------
In fact, there are additionally configured parts, but there are some items that I did not add because I thought that there would be no need.
In ca

[2020-04-27 07:16] hyochan commented on #825
`requestSubscription` and `requestPurchase` both return a promise, but the purchases should most likely be handled by the `purchaseUpdatedListener`. The promises still exist for `debugging`.

[2020-04-27 13:12] bhoomika911 commented on #977
@k8759102 Thanks for quick reply. Can you please provide more details on this configuration on google play console?

[2020-04-27 14:14] nenjamin2405 commented on #950
@hyochan Bingooo!!! That's what i'm missing. Previously the initConnection is available only in the component that contains`RNIap.requestPurchase`, now I moved it to the outermost before adding the `iap-promoted-product` listener so now it works, thank youu!

By the way, I saw that in version 4.4.8 you're commenting the snippet
[code]

inside `IAPPromotionObserver.m`.

I need to uncomment them to

[2020-04-29 01:10] hyochan commented on #950
@nenjamin2405 Ah! That's sad. I think we need to make `IAPPromotionObserver` and `RNIap` into one and share the same transaction observer. Since adding a transaction observer should be called just once to prevent other side effects as I've [referred](https://github.com/dooboolab/react-native-iap/issues/950#issuecomment-613295586).

Since it feels like you have the debugging environment, would you

[2020-04-29 10:12] nenjamin2405 commented on #950
Hi @hyochan I'm not quite sure how can I contribute to this issue, can you explain more details

[2020-04-29 14:28] developer-appdam commented on #985
I confirm that reverting to 4.3.0 works. I was going nuts with the latest version, I've been debugging for over 1h trying to find the issue.

[2020-04-29 15:34] thecao-nucleusstudio commented on #651
@edgaralienfoe Did you find the solution? Maybe your app version needs to be higher than the one in Alpha track

[2020-04-29 16:25] acostalima commented on #651
Alpha track works just fine. I've been testing IAPs for quite some time now with builds deployed to Alpha without issues.

[2020-04-29 18:18] Jobeso commented on #984
@hyochan Resolving the promise would create a consistent api as `requestPurchase` is a promise as well that resolves. Additionally, this creates an easy implementation for showing a spinner while the user is purchasing. Using the purchase update listener for that would require a more complex architecture.
Thank you so much for your amazing work on this library!

[2020-04-30 00:17] maxs15 commented on #984
hyochan is correct, you must support support the purchaseUpdated event because if something fails the receipt could be triggered later, like when restarting the app.

Resolving a promise after the purchaseUpdated event is triggered (to make things easier like showing a spinner) is possible though, it is supported in [react-native-iaphub](https://github.com/iaphub/react-native-iaphub)

[2020-04-30 02:36] LuisRodriguezLD commented on #985
If I may add, `4.3.4` through `4.4.3` work fine, the problem begins in `4.4.4`

[2020-04-30 11:08] creativemind1 opened #993 "iOS Receipt Lost - Don't get saved in DB"
### Version of react-native-iap
"react-native-iap": "^4.4.1",

### Version of react-native
"react-native": "https://github.com/expo/react-native/archive/sdk-36.0.1.tar.gz",
(ExpoKit)

### Platforms you faced the error (IOS or Android or both?)
iOS

### Expected behavior
How to get last receipt Trasaction (only one).

### Actual behavior
Get latest and active one transaction receipt details (JSON)

[2020-04-30 11:34] creativemind1 commented on #970
Apple suggest strongly to use server validation because of risk of being hacked.

I have wrote a backend API which takes the receipt of the user and verify that. If found no latest transaction, it means the user hasn't subscribed so I'm making that user a non-premium (or whatever you wish to do). I call this API at the opening of the App. My App checks daily.

[2020-04-30 12:59] marnusw commented on #984
I believe this is down to the same problem as #985. The promise does resolve in v4.4.3 of the library and the purchaseUpdated event fires, but in any later version (up to 4.4.8), neither happens.

[2020-04-30 13:30] selimhancakir commented on #933
any update about this issue ?

[2020-04-30 14:31] Jobeso commented on #984
Thanks for both of your replies.

@maxs15 of course there is a purchaseUpdated handler that handles the whole purchasing logic but since it is an event handler it is not bound to the component, so implementing the spinner with the event handler requires more effort, how much is depending on the app architecture.

@marnusw Could be related. I am running v4.4.3 and it is not working for me there eit

[2020-04-30 16:44] creativemind1 commented on #993
I don't have problem in getting results after getting payment, what I meant was If for some reason I lost connection and I don't get saved in to my DB then there will be problem for me.

[2020-04-30 20:17] AdamGerthel opened #994 "getAvailablePurchases never resolves if initConnection has not been run"
### Version of react-native-iap
4.4.8

### Version of react-native
0.61.4

### Platforms you faced the error (IOS or Android or both?)
iOS

### Expected behavior
`getAvailablePurchases()` to reject with error when something is wrong.

### Actual behavior
`getAvailablePurchases()` never ever returns the promise

### Tested environment (Emulator? Real Device?)
Real device

### Steps to reproduce the

[2020-05-01 12:40] hyochan commented on #950
@nenjamin2405 The goal is to merge `IAPPromotionObserver` to `RNIap` file is `iOS` to call `addTransactionObserver:self` just once.

Below are the steps you can try.

1. Look into `node_modules/react-native-iap/ios`
    ![image](https://user-images.githubusercontent.com/27461460/80805883-22c77700-8bf4-11ea-8fc5-aa5551e268fc.png)
2. Try to solve the problem and test your codes.
3. Fork `react-nativ

[2020-05-01 14:48] sagarv1997 commented on #985
Same here, Downgraded from 4.4.8 to 4.4.3 and it is now working!

[2020-05-01 15:52] tamarr commented on #756
Thanks @saminadhikari , none of the examples mentioned you need to call initConnection. Calling it before the request did the trick  👏

[2020-05-01 17:36] Jobeso commented on #966
When testing I noticed `originalTransactionIdentifierIOS` was missing on the first purchase. Then only `transactionId` is defined, so you can just do `originalTransactionIdentifierIOS || transactionId`.
If you want to distinguish between iOS and Android you can just use `Platform.OS === 'ios'`. Maybe I did not understand what you want to achieve. Can you specify again?

[2020-05-01 17:38] Jobeso commented on #974
You can check if your product has the correct keys for the free trial. Also note that a user is only one time eligible for a free trial, this also applies to test users.

[2020-05-01 17:47] Jobeso commented on #993
The purchaseUpdate listener will be called again with a purchase if you did not call `finishTransaction` on the client side. You should only call `finishTransaction` if you get a success response from your backend.
You can also use `getPurchaseHistory` to get everything a user bought except consumables and map over it to find the transaction you want to find.

[2020-05-01 21:50] creativemind1 commented on #721
I'm getting the same error with `RNIap.finishTransaction`

[2020-05-01 23:34] creativemind1 commented on #993
It sound very interesting. So until I don't call `finishTransaction` or `finishTransactioniOS`, I will keep on getting updates from `purchaseUpdate` listener?

[2020-05-02 06:37] hyochan commented on #994
This is expected from the latest version. You always need to init the connection to start whatever inside the billing SDK.

[2020-05-02 06:37] #994 closed

[2020-05-02 08:29] AdamGerthel commented on #994
@hyochan But having a promise which never resolves or rejects is an anti-pattern, no? I mean it's basically "hanging" the software. Why not reject `getAvailablePurchases` with an error?

[2020-05-02 11:24] #587 closed

[2020-05-03 09:01] mifi commented on #770
Sorry for the horribly slow reploy. I was never able to reproduce the problem so I cannot test if your fix is working. But I'm glad you looked into this.

[2020-05-03 12:09] creativemind1 commented on #993
`finishTransaction` is not working in android but I'm using `RNIap.acknowledgePurchaseAndroid` and it is working. So is it still require for me to use `finishTransaction`

[2020-05-03 14:38] hyochan commented on #994
@AdamGerthel Oh that is a good point. I might have to see where we can throw an error when billing is not ready!

[2020-05-03 14:39] hyochan commented on #721
@creativemind1 What version are you using? `finishTransaction` should work on both `iOS` and `android`.

[2020-05-03 14:44] creativemind1 commented on #721
I'm using `"react-native-iap": "^4.4.1"` and when I'm calling finishTransaction in Android, I'm getting error from Google `Google is indicating that we have some issue connecting to payment`. So after getting successful response from my server I'm calling `RNIap.acknowledgePurchaseAndroid` which is working but not `finishTransaction`

[2020-05-03 15:59] rossbulat commented on #985
I am having the same issue - **none** of the event listeners are being called, including `purchaseErrorSubscription`.

Just read about downgrading, I am about to try that...

[2020-05-03 16:08] rossbulat commented on #985
I can also confirm that `4.3.0` is working.

[2020-05-04 11:26] Jobeso commented on #993
`finishTransaction` is the newer api and calls `acknowledgePurchaseAndroid` so you would need no difference between the platforms. So if you call `finishTransaction` there should be no need to call `acknowledgePurchaseAndroid`.

From the README (function acknowledgePurchaseAndroid)
[code]

[2020-05-04 15:57] aalasolutions commented on #988
@GuilhermeGabriel this was about IOS, your issue was about android... so it dosnt good to mention this here :)

[2020-05-04 21:23] creativemind1 commented on #993
`finishTransaction` always throw error for me. But `acknowledgePurchaseAndroid` works fine.

[2020-05-04 21:27] creativemind1 commented on #993
This will be very useful for me for this section. So I will go the answer with the above mentioned given suggestion.
[code]

[2020-05-04 21:27] #993 closed

[2020-05-05 06:52] arunraj-qburst commented on #634
I believe we can get the latest purchases from the receipt. By verifying the receipt of a user, with _exclude-old-transactions: true_ we can get the latest subscription info (only for auto-renewable type). I believe we can use this method to restore auto-renewable subscription purchases. I'm not sure if this is an ideal method though.

[2020-05-05 06:54] maalu-pascal commented on #634
I believe we can get the latest purchases from the receipt. By verifying the receipt of a user, with exclude-old-transactions: true we can get the latest subscription info (only for auto-renewable type). I believe we can use this method to restore auto-renewable subscription purchases. I'm not sure if this is an ideal method though.

[2020-05-06 07:56] #894 closed

[2020-05-07 12:36] darriuk commented on #970
I am also seeing similar behaviour with `getAvailablePurchases`. The expected behaviour is that after a subscription is cancelled, the `getAvailablePurchases` method should return the purchase up until it expires. After expiry the purchase should not appear in `getAvailablePurchases` results (with a grace period of 5 mins added if expiry was caused by failure of repeated subscription payment).

Th

[2020-05-07 15:59] vkachan commented on #970
@darriuk I just tested cancelling subscription and confirm that `autoRenewingAndroid` property is set to `false`. **But!** Only if user cancels subscription explicitly. In case of cancelling subscription due to declined payment the subscription stays active forever. This is really big issue with subscriptions and there is no workaround. I had an idea to compare `transactionDate` and if this date i

[2020-05-07 16:14] stonesong commented on #985
I had the same issue for a few days with RN 0.62.2 and react-native-iap 4.4.8
I somehow missed the initConnection() probably because it is missing from the example in the README

[2020-05-07 16:39] DavideValdo commented on #901
...

[2020-05-07 16:48] DavideValdo commented on #842
I cannot connect, calling `getAvailablePurchase()` and loggin in with sandbox account results in `Cannot connect to iTunes Store` promise rejection, XCode console just logs `restoreCompletedTransactionsFailedWithError`

[2020-05-07 16:49] DavideValdo commented on #961
Any news on this? I cannot connect, calling `getAvailablePurchase()` and loggin in with sandbox account on iPhone XS simulator results in `Cannot connect to iTunes Store` promise rejection, XCode console just logs `restoreCompletedTransactionsFailedWithError`

[2020-05-07 17:27] DavideValdo opened #998 "Cannot connect to iTunes Store, XCode says restoreCompletedTransactionsFailedWithError, account is new sandbox account"
### Version of react-native-iap
4.4.2
### Version of react-native
0.61.5
### Platforms you faced the error (IOS or Android or both?)
iOS

### Expected behavior
Login is prompted, I login with sandbox account, `getAvailablePurchases()` returns the empty array

### Actual behavior
I cannot connect, calling getAvailablePurchase() and loggin in with sandbox account on iPhone XS simulator results in "C

[2020-05-07 19:55] wootwoot1234 commented on #926
@cgathergood  I'm having this issue too.  Do you mind posting your event handler code using react hooks?

[2020-05-07 21:44] DavideValdo commented on #998
Also I cannot get products

[code]
`purchases` is always the empty array, both Android and iOS.

<img width="1008" alt="Screenshot 2020-05-07 at 23 43 36" src="https://user-images.githubusercontent.com/26572302/81347530-a2ee5080-90bc-11ea-802a-66418fc5fee1.png">

[2020-05-07 22:31] #998 closed

[2020-05-07 23:12] DavideValdo commented on #977
+1

Source for the whole application:

[code]

Got 1 active product on Play Console. Pushed signed apk for internal test.

<img width="963" alt="Screenshot 2020-05-08 at 01 11 50" src="https://user-images.githubusercontent.com/26572302/81353290-f1a1e780-90c8-11ea-9ce7-d7ef711f5218.png">

`getProducts(['modulo_training_autogeno'])` is the empty array on Android

[2020-05-08 01:34] DavideValdo opened #999 "getProducts() is empty"
### Version of react-native-iap
4.4.2
### Version of react-native
0.61.5
### Platforms you faced the error (IOS or Android or both?)
Android
### Expected behavior
`getProducts(['modulo_training_autogeno'])` returns an array with 1 product
### Actual behavior

Source for the whole application:

[code]

Got 1 active product on Play Console. Pushed signed apk for internal test.

<img width="963" alt=

[2020-05-08 09:30] darriuk commented on #970
@vkachan as far as I recall the `transactionDate` is indeed always for the first subscription payment.

One update from me: I ran `getAvailablePurchases` again approx 22 hours after cancelling subscription and it is finally returning an empty array. It looks like Google's billing server is just taking ages to update the response.

I'm going to try a declined subscription payment today and see how

[2020-05-08 12:56] cumom commented on #935
I think you will get an E_USER_CANCELLED error even though the purchase was successful if you don't wait for RNIap.getProducts to return before calling RNIap.requestPurchase. We call RNIap.getProducts as soon as the app opens to avoid this, but that call has taken up to 11.5 days to return (It took  999,286,298 milliseconds once based on Date.now() before and after the 'await RNIap.getProducts' li

[2020-05-09 01:18] #801 closed

[2020-05-09 04:17] grubstarstar commented on #803
I haven't solved the issue yet. I will probably come back to it in the next month or so.

[2020-05-09 13:44] NewBieBR opened #1000 "consumeAllItemsAndroid no purchases found"
### Version of react-native-iap
4.4.0
### Version of react-native
0.61.5
### Platforms you faced the error (IOS or Android or both?)
Android
### Expected behavior
await RNIap.consumeAllItemsAndroid(); not return error

### Actual behavior
[code]

### Tested environment (Emulator? Real Device?)
Real Device - Oppo
### Steps to reproduce the behavior
[code]

Output:
[code]

## Context
This is for sub

[2020-05-09 22:18] #899 closed

[2020-05-10 20:00] wootwoot1234 commented on #256
What does this mean?

[2020-05-11 19:56] doteric commented on #275
Question regarding the code @andrewzey placed. Wouldn't `Date.now()` be the current device time and a user could possibly change this and have an endless subscription? 🤔

[2020-05-12 00:48] hyochan commented on #1000
@NewBieBR Could you try `4.4.4` or above and come back?

[2020-05-12 00:51] hyochan commented on #999
I hope you followed [the thread](https://github.com/dooboolab/react-native-iap/issues/159#issuecomment-389413989).

If things don't work as expected, I hope you try things all over again because you may have missed somethings. I've been creating products to test this module several times and I've not had failed since then.

[2020-05-12 06:09] jackcb123 commented on #988
I had this same problem and fixed it with the initConnection and endConnection. Thanks for the help!

[2020-05-12 13:37] ziftinpeki commented on #1000
@hyochan It's the same for me.

"react-native": "0.62.2",
"react-native-iap": "^4.4.8",

[2020-05-12 15:18] ramidec commented on #256
And how can I do this exactly?

[2020-05-12 17:12] wootwoot1234 commented on #756
I submitted a pull request with a note added to the readme about this. https://github.com/dooboolab/react-native-iap/pull/1002

[2020-05-12 21:09] aj019 opened #1003 "How to acknowledge in app products ? Why my in app purchases are being refunded ?"
### Version of react-native-iap
^4.4.8
### Version of react-native
0.62.0
### Platforms you faced the error (IOS or Android or both?)
Android
### Expected behavior
In app purchases should not be refunded
### Actual behavior
In app purchases are being refunded
### Tested environment (Emulator? Real Device?)
Real Device
### Steps to reproduce the behavior
Integrated buying in app products not subscr

[2020-05-12 22:17] creativemind1 commented on #1003
After updateListener is successful and you saved your receipt in DB call `RNIap.acknowledgePurchaseAndroid` with the `purchaseToken` in the request and you are all good!

[2020-05-12 22:34] mcchrish commented on #808
Yes, this is a real issue I'm experiencing as well. Seems to be a critical bug if so.

[2020-05-12 22:42] doteric commented on #970
Can confirm what @darriuk is saying. I've ran a test subscription it ended and then the subscription was still presented as active from `getAvailablePurchases` for about 24 hours. Maybe there is some way to force reload by Googles side? 🤔

[2020-05-13 01:33] creativemind1 commented on #756
I'm calling initConnection() in my `componentDidMount()` but still it doesn't work. It only calls on App restart on root component.

[2020-05-13 16:04] NewBieBR commented on #1000
@hyochan Yes still the same problem

[2020-05-13 18:45] magic990619 opened #1004 "getProducts() always returns emtpy array on ios"
### Version of react-native-iap
3.3.7

### Version of react-native
0.60.4

### Platforms you faced the error (IOS or Android or both?)
only on ios

### Expected behavior
getProducts returns array of products

### Actual behavior
returns empty array
it is working well on android

### Tested environment (Emulator? Real Device?)
Emulator and Real Device

### Addition
All in app purchase products were

[2020-05-13 20:11] emreakbaba opened #1005 "RNIap.requestPurchase is not responding in iOS"
### Version of react-native-iap
4.4.8
### Version of react-native
0.61.5
### Platforms you faced the error (IOS or Android or both?)
iOS
### Expected behavior
[code]
REQUEST OVER to be printed.
### Actual behavior
In device i use sandbox tester account, it is responding and working well. But with any other devices or simulator it is not responding or resolving. This is vital since during app revie

[2020-05-13 22:49] hakkikonu commented on #1003
Did you try `RNIap.finishTransaction(purchase, true);` ?

[code]

[code]

[2020-05-13 23:14] hakkikonu opened #1006 "Acknowledge Purchase does not work for Android"
I try to Acknowledge **consumable** products but it is not working. I'm getting `{"acknowledged":false}` response with receipt

I tried two methods according to docs.

v:4.4.8
platform: android
device: real device

[code]

and

[code]

Errors:

[code]

But I can see purchase in my Google Play console and its accepted.

I'm testing my purchases with Google Test Account, and Android docs says:

http

[2020-05-14 00:15] zoftify opened #1007 "App Store Review Team has just rejected my binary (Verification failed, cannot connect to the Apple ID server)"
### Version of react-native-iap
4.4.6

### Version of react-native
0.61.5

### Platforms you faced the error (IOS or Android or both?)
iOS

### Expected behavior
App Store Review Team is able to verify IAP purchases

### Actual behavior
App Store Review Team is facing issue connecting to the Apple ID Server: ![image](https://user-images.githubusercontent.com/56393200/81878422-a7b97580-9590-11ea-9c

[2020-05-14 00:28] zoftify commented on #1007
The issue happens while requesting a purchase. I've just tried to create a brand new sandbox account and I faced exactly the same issue, but with a production account, it works like a charm (yeah, when the app is downloaded from TestFlight). Do we mess things up or something to be fixed in a library?
Thanks!

[2020-05-14 13:28] heron2014 commented on #1004
I have the same issue. I filled the agreement for in app purchase, complete your contract, tax, and banking Information. You need a VALID contract. Also I added screenshots to the sections (App Store Promotion (Optional) and Review Information even though its says optional) in App Store Connect (in app purchases). Make sure your products in In-App Purchases have status Ready to Submit. Finally aft

[2020-05-14 15:21] lukebars commented on #931
You have to check if error isn't equal to "E_USER_CANCELLED", in which case you should ignore it.

[2020-05-14 17:57] amilaDulanjana commented on #1004
@magic990619 did you able to get products in android ?

[2020-05-14 19:01] curiousdustin commented on #941
@hyochan Is there any plan to add this to a release?

[2020-05-14 19:05] nochkin commented on #941
@curiousdustin,
You can use my fork to test and a feedback:
https://github.com/nochkin/react-native-iap/tree/amazon-iap

[2020-05-14 19:14] #902 closed

[2020-05-14 19:29] magic990619 commented on #1004
Yes, I can get products on android.
It is really working well on android.

[2020-05-14 19:32] amilaDulanjana commented on #1004
@magic990619 can you please tell me the steps you followed. For me android did not work it always return empty arra

[2020-05-14 19:34] magic990619 commented on #1004
Did you create in app purchase products on google developer console?

[2020-05-14 19:36] amilaDulanjana commented on #1004
Yes. Did you release your app for production in order to test ?

[2020-05-14 19:38] magic990619 commented on #1004
yes, I did

[2020-05-14 19:39] magic990619 commented on #1004
For test, I added sandbox test user. I had a test with that account.

[2020-05-14 19:40] amilaDulanjana commented on #1004
I think thats why i am not able to fetch products. Thanx @magic990619

[2020-05-14 19:43] curiousdustin commented on #941
@nochkin does your fork include support for amazon subscription IAPs?

[2020-05-14 19:44] zoftify commented on #1007
The issue has been resolved

[2020-05-14 19:44] #1007 closed

[2020-05-14 19:49] nochkin commented on #941
@curiousdustin,
Even though it's been long time since implementation, but I believe so. I just haven't tested it with subscriptions.
You will still need to implement verification on the server side as I never validate anything on a client.

[2020-05-14 19:51] curiousdustin commented on #941
Ok, I will likely be testing this out. I am currently using my own fork in production, but this was from before the major lifecycle related changes. I would really like to take advantage of all the great updates since then.

[2020-05-14 19:57] nochkin commented on #941
Nice. I'm still in the process of implementing subscriptions for my own app (internal app-related logic, not the rn-iap), so let me know if anything.

Amazon subscriptions API is kinda weird when being queried. For example, I have monthly and yearly subscription of the same service, but Amazon reports them identically. The only difference is the price, so I was thinking I'll figure out which one i

[2020-05-14 20:04] curiousdustin commented on #941
Yes, the app I am using this for has hundreds of new subscriptions each month. Also any update that uses this will be thoroughly QA'd before release.

We also have monthly and yearly options. As you described, they are both under a single ID for Amazon. In our case we are confirming the subscription via the Amazon API, which gives us information about the period.

[2020-05-14 21:23] nochkin commented on #941
This sounds great. I'm glad my fork will have a proper testing in a different scenario.

I need to show the period of subscription in the UI for the user to select.
It's weird that Amazon Developer Console has those fields as required, but API does not have access to them.

[2020-05-14 21:50] curiousdustin commented on #941
This may have changed, but we found that even if you present 2 options to the used, once they initiate the purchase flow, Amazon will display the period options with the first one preselected. So, we had to implement a new UI for amazon, where the user does not actually select the period, until they are in the Amazon purchase flow UI.

[2020-05-14 22:06] nochkin commented on #941
Interesting idea actually. My UI won't fit this model, but I may consider this option if I decide to change it. I may still get to use it anyway. Thanks.

[2020-05-14 22:32] sebe6 opened #1009 "How do you get the "yourAPI" value"
Firstly, I'm currently working using a wordpress API and I'm still new to react, so maybe I'm missing some basic knowledge 😅

How do you get the "yourAPI" value used in the documentation ?
`yourAPI.deliverOrDownloadFancyInAppPurchase(purchase.transactionReceipt)`
I can't figure what it's supposed to be with the ".deliverOrDownload....", is it a class or is it a structure of link ?

[2020-05-15 09:48] patreu22 opened #1010 "Debugging E_IAP_NOT_AVAILABLE error"
### Version of react-native-iap
4.4.8

### Version of react-native
0.59.9

### Platforms you faced the error (IOS or Android or both?)
iOS

### Expected behavior
- Calling `initConnection()` should return `true`
- `getSubscriptions(["iapSku"])` should return purchase
- `requestSubscription("iapSku")` should return something else

### Actual behavior
- initConnection returns false
- getSubscription

[2020-05-15 15:30] Panda313 commented on #1005
Same here, however it seems to work on Android.

[2020-05-15 16:32] maxencehenneron commented on #985
Had the same issue on iOS when upgrading to 4.4.8 which made some subscriptions not complete. Downgrading to 4.4.3 resolved the issue, for now. Is initConnection() mandatory? The doc makes it seems like it isn't

[2020-05-15 17:12] Panda313 commented on #1005
I may have fixed it by adding

`const result = await RNIap.initConnection();
await RNIap.consumeAllItemsAndroid();
console.log('result', result);`

At the begining of componentDidMount ;

Let me know if that help

[2020-05-15 22:47] mcchrish opened #1011 "Cannot connect to iTunes Store in TestFlight"
### Version of react-native-iap
4.4.8
### Version of react-native
0.62.2
### Platforms you faced the error (IOS or Android or both?)
iOS
### Expected behavior
When running `requestPurchase`, prompts TestFlight user for password. Then successfully process the purchase.
### Actual behavior
When running `requestPurchase`, prompts TestFlight user for password. Afterwards receives an E_UNKNOWN error an

[2020-05-17 14:00] smarttouchtechnology commented on #1005
Has anyone found a resolution to this? I am also experiencing the same problem in iOS. Its extremely frustrating, and I can't get past app review because calling RNIap.requestPurchase doesn't respond with the alert either promoting the user to agree to the subscription terms or confirming that the subscription is already active. If I force close the app and try it again, sometimes it works. I don'

[2020-05-17 14:37] #1003 closed

[2020-05-17 17:08] patreu22 commented on #651
For everybody who might run into trouble here, what did the trick on iOS for me was linking the project manually as suggested by @Kuhne1 - it worked after cleaning the build folder and installing Pods manually as well, hope it's useful to anybody!

[2020-05-17 17:11] patreu22 commented on #1010
For everybody who might run into trouble here, what did the trick on iOS for me was linking the project manually - it worked after cleaning the build folder and installing Pods manually as well, hope it's useful to anybody!

As a feature request for future development it would be nice to know if a rejection is caused by the local setup or by Apple, I guess in the first case it would be possible to

[2020-05-17 17:11] #1010 closed

[2020-05-17 21:32] osmantuna commented on #926
@cgathergood i would like to see code sample as well. i am little bit struggling with hooks.

[2020-05-18 10:36] Ivanov89 commented on #1011
Same bug here !

Version of react-native-iap
`4.4.3`

Version of react-native
`0.61.2`

Platforms you faced the error (IOS or Android or both?)
iOS  - Real Device

Any feedback will be apreciated !
Thanks!

[2020-05-18 13:34] sidferreira commented on #1004
I'm facing the same problem with `getSubscriptions()`... last week as OK, since Thursday it fails :/
I tried v4.4.1, v4.4.8, and v4.3.3 (actually a typo)...

The code is simple:

[code]

I went all the way to the native code and

is called properly, with the expected SKUs...

but

is called with 0 items...

Any suggestion about what may be the problem?
The items on App Store Connect are `ready to

[2020-05-18 15:18] InfiniteDreamz commented on #918
@leelandclay Thanks for putting up your solutions. This really helped a lot and we finally were able to validate our receipt. Thanks !!

[2020-05-18 15:18] #918 closed

[2020-05-19 17:45] dan10gc commented on #961
When you get the `Cannot connect to iTunes Store` error do you also see the error code that comes along with it? The SDK will return `Cannot connect to iTunes Store` a generic error for various reasons. Below are some examples that might help you narrow down the issue.

1. Code = `E_Unknown` => something went wrong (could be on apple's side)
2. Code = `E_USER_CANCELLED` => User cancelled the trans

[2020-05-19 17:55] AdamGerthel commented on #961
@dan10gc The error object seems to only return the message, no code. Are you sure `requestPurchase` returns those codes? I've only seen them in `purchaseErrorHandler`.

The last 10 days I've seen 15-25 "Cannot connect to iTunes Store" errors daily, but only 5 or 6 triggers from `purchaseErrorHandler`.

[2020-05-19 21:05] kidroca commented on #985
Had the same issue as I didn't add the `initConnection()` call.
The README seems to be just updated with the bold part here:

I think this part "On iOS, it will simply call canMakePayments" should be removed, also `initConnection()` should be added to the basic example

I was really convinced it was optional because it wasn't in the example

Adding the `initConnection()` before registering the pur

[2020-05-20 03:54] hansol775 commented on #961
Payment is also well made in TestFlight.
However, it is rejected.
There is an error in the simulator. (Cannot connect to iTunes Store )
What can I do to solve this issue?

[2020-05-20 04:08] hansol775 commented on #1011
same issue.
but TestFilght It works.
not working simulator.

[2020-05-20 07:49] hyochan commented on #1011
Will this help?

https://forums.developer.apple.com/thread/90594#273543

[2020-05-20 07:52] hyochan commented on #1006
Could someone else share anything about this? I've not experienced this yet.

[2020-05-20 07:54] hyochan commented on #1005
@smarttouchtechnology Have you called `initConnection`? This is needed from `4.4.5`.

[2020-05-20 08:21] Panda313 commented on #1005
It may be hard for @smarttouchtechnology to read the answer below that "solve" the "problem" ;)

[2020-05-20 11:15] jsfit commented on #1006
Getting same error
[code]
catch block executed most of the time

[code]

subscription is done
because getting purchases response
[code]

[2020-05-20 11:32] illiteratewriter commented on #999
I was using `getSubscriptions` and the result was an empty array when I used
[code]
and it started working when i removed `com.example` and made it simply `coins100`.

[2020-05-20 12:27] robinalexandre opened #1012 "Purchase with "Slow card, always denied" is never set as canceled and always fire purchaseUpdatedListener"
### Version of react-native-iap
4.4.3

### Version of react-native
0.62.2

### Platforms you faced the error (IOS or Android or both?)
Android (only tested on it for now)

### Expected behavior
For "slow card, always denied", an update should be received in `purchaseUpdatedListener` or in `purchaseUpdatedError` when the payment has been canceled. Moreover, if I relaunch the app, the listener shoul

[2020-05-20 15:35] dan10gc commented on #961
@AdamGerthel yes `requestPurchase` should return the code if you log `error.code` inside your `try/catch`.  This also helps narrow down the issue in `purchaseErrorHandler`.

`initiatePurchase = async () => {
    try {
      const netState = await NetInfo.fetch()

      if (!netState.isConnected) {
        return this.stores.ui.alert('Purchase failed', connectionFailureMessage)
      }

      await

[2020-05-20 17:03] #1009 closed

[2020-05-21 03:51] baiross commented on #933
up, I am experiencing this problem too.

[2020-05-21 17:00] anastely commented on #998
Are you solve it?

[2020-05-21 17:03] anastely commented on #901
Are you solve it?

[2020-05-21 17:04] DavideValdo commented on #998
Many say you can only test purchase in production app with real device for Apple

[2020-05-21 17:08] anastely commented on #998
But my app it's not in production, it's should test IAP before submitting my app to review also IAP!

[2020-05-21 17:58] anastely commented on #961
Can I test IAP in a simulator?

[2020-05-21 18:18] anastely commented on #962
@ajouve I'm trying to use `getAvailablePurchases()` but in everytime i sign in in sandbox account i got this error

And after research, i see this :( https://forums.developer.apple.com/thread/113343

So how you test in a simulator?

[2020-05-21 18:25] DavideValdo commented on #998
That's the problem! Let me know if you manage to test purchases without production build and/or without device

[2020-05-22 06:34] j-cheung opened #1013 "Google Play: Error: An unknown or unexpected error has occured. Please try again later."
### Version of react-native-iap
4.4.8
### Version of react-native
0.61.1
### Platforms you faced the error (IOS or Android or both?)
Android
### Expected behavior
Make purchase / subscription, return receipt from Google Play Billing
### Actual behavior
returns

Error: An unknown or unexpected error has occured. Please try again later.
E_UNKNOWN

### Tested environment (Emulator? Real Device?)
Real

[2020-05-22 11:20] dmitrybolt commented on #721
Same error, but I on getProducts

[2020-05-22 20:26] dan10gc commented on #961
@anastely for android and iOS devices you need to use an actual device, you are unable to use an emulator or simulator to test purchases.

[2020-05-22 20:42] anastely commented on #961
@dan10gc  sadly I don't have "iPhone", So if you don't mind
Can you help me to write code just subscribe in Paid Plan "Non-Consumable Type" Because i don't know what's going on when i write code without seeing anything "on the fly"

my case is
I have a screen contain that's should get the Price from App store "6.99$"

And when user click to subscribe it's should be paid to apple, If success i will

[2020-05-22 21:08] DavideValdo commented on #961
@dan10gc iOS: Can you test on device but with sandbox account on local debug or do you need TestFlight release? I know UX is different but just to test the correctness.

On Android I'm trying to test through Play Store internal test release.

But (@anastely) if approval for new builds requires at least one week these times, I guess the best bet for first-timers like me would be installing CodePush

[2020-05-22 22:23] anastely commented on #961
@DavideValdo Hmm,I don't have enough time, I'm in the deadline :(,

If I will improvise, then upload app to test flight,  In my case "Non-Consumable Type" What should exactly i do

After `getAvailablePurchases()` response cant i got from it a price?

and in the subscribe button which function should i call `requestPurchase()`?

[2020-05-23 01:21] dan10gc commented on #961
@DavideValdo for iOS you can test with a sandbox account on local debug as long as you are using a real device and not a simulator. Also you don't really need a sandbox account when testing locally, I believe apple will use your apple ID and allow it to be used as a sandbox account.

[2020-05-23 01:30] #525 closed

[2020-05-23 05:45] dan10gc commented on #961
@anastely only use `getAvailablePurchases()` if restoring a subscription or a purchase not while purchasing an item.

[2020-05-23 05:47] dan10gc commented on #961
@anastely I am unable to assist you with the code for purchasing an iOS system in this thread. pleas post it on stack overflow and tag me with the same user name and I will help you. I do not want to add to this tread unless it pertains to the original question.

[2020-05-23 07:49] anastely commented on #961
@dan10gc
Sorry, I couldn't find you! So here is the link

https://stackoverflow.com/questions/61941871/test-iap-in-simulator-react-native

I will delete this comment, just react with it when you see it.

[2020-05-23 21:05] bulby97 commented on #723
@alexpchin Trying to solve this to. I'm using schemes to change my bundle id for dev / staging / prod.

Is there something else I need to do ?

[2020-05-24 14:31] RNTop commented on #1004
I am also getting an empty array.
Please let me know what is wrong.

[2020-05-24 18:07] anastely commented on #961
@dan10gc hey Daniel are you check it 😅?

[2020-05-24 21:15] selimmidikoglu commented on #723
@bulby97 There were tons of

-   First thing was to check if all subscriptions were on stage 'Ready to Submit'.
-   Second thing was to fill all the required things on itunnesconnect **Agreement, Tax, Banking** part. This part was kinda difficult because address field can not be filled with coorect address. You just need to submit 5 times. Apple is really interesting company.

-  I changed bundle

[2020-05-24 22:32] bulby97 commented on #723
@selimmidikoglu Sweet ! Changing my bundle id did the trick ! Awesome !

So basically there is no way to test in app purchases by having dev / staging / release environments.

It should be written somewhere it's not obvious at all I spent 3 days on this issue.

[2020-05-25 06:22] jackcb123 commented on #787
Hello!

Came across this issue as well. Suddenly, getSubscriptions wasn't resolving (same with getProducts when I tried it) and I got messages like 'Invalid Status Code' on my Testflight builds (and even on simulator as well). This all happened recently and prior (a week or two ago) it was working no problem. And our production build which was on an older version of react-native-iap was working fi

[2020-05-25 08:39] greenkeeper[bot] opened #1014 "An in-range update of @dooboo/eslint-config is breaking the build 🚨"
***
🚨 **Reminder!** Less than one month left to migrate your repositories over to Snyk before Greenkeeper says goodbye on June 3rd! 💜 🚚💨 💚

[Find out how to migrate to Snyk at greenkeeper.io](https://greenkeeper.io)
***
## The devDependency [@dooboo/eslint-config](https://github.com/dooboolab/eslint-config) was updated from `0.4.1` to `0.4.2`.

🚨 [View failing branch](https://github.com/dooboolab/

[2020-05-25 11:14] fabio-C opened #1015 "About publishing the app"
Just a simple question.

[This guide](https://medium.com/dooboolab/react-native-in-app-purchase-121622d26b67) say to "Upload apk with billing permission".

Does the apk need to be published (with status: released) in Google Play Store or just uploaded?

As my app is in the not ready to be released to public, should I create a "**Internal test track**" release?

[2020-05-25 11:23] hyochan commented on #1015
You don't have to publish your apk.

[2020-05-25 11:23] #1015 closed

[2020-05-25 12:13] selimmidikoglu commented on #723
@bulby97
Actually since I am creating small apps. I never went development and production stages. I only add my account to TestFLight for in app purchase test. I wrote a function which deletes current paid subscriptions  in app purchases. So I am testing all posssibilities by deleting my subscription. While I make payment on my phone it already says [Sandbox account]. So it makes it testible easil

[2020-05-25 12:53] IlinIgor commented on #1000
@hyochan I have the same problem, my users complain to me they can't restore purchases.

[2020-05-25 13:19] AdamGerthel commented on #961
Uhm - you guys have kind of hi-jacked this issue 🙃

[2020-05-25 22:45] anastely commented on #998
@DavideValdo
after couple of days Sadly I just using testflight and it takes a lot of time in debugging!!

So i just found a friend how has an iPhone and test it,
It works and Buys successfully
But now he's very busy So

I just want when users buy products successfully Dispatch an action to change something in the app 'access to full features'  and send a request to our API.

So how can i know if

[2020-05-26 11:09] dbilgin opened #1016 "purchaseUpdatedListener spams and fires multiple times if the user has cancelled/expired subsciption"
### Version of react-native-iap
4.4.9

### Version of react-native
0.61.5

### Platforms you faced the error (IOS or Android or both?)
iOS

### Expected behavior
purchaseUpdatedListener to not spam when it's declared

### Actual behavior
As soon as I attach `purchaseUpdatedListener` it is called 28 times, even though I do nothing at all related to payments apart from that.

### Tested environment

[2020-05-26 14:23] anastely commented on #961
@AdamGerthel @dan10gc
Sorry Guys 🙃
I just stuck beacuse i dont have a real device to tesr it so after a couple of days Sadly I just using testflight and it takes a lot of time to debug!!
So i just found a friend who has an iPhone and tests it, It works and Buys successfully But now he's very busy to teat it again,

 So I just want when users buy products successfully Dispatch an action to change s

[2020-05-26 16:18] sidferreira commented on #1004
I got it back working after a while. Still not sure what's going on

[2020-05-26 19:29] simplesthing commented on #1000
I am also having this problem

[2020-05-26 19:43] simplesthing opened #1017 "RNIapModule never found in React Native Modules"
### Version of react-native-iap
4.4.9
### Version of react-native
0.61.5
### Platforms you faced the error (IOS or Android or both?)
Android
### Expected behavior
React NativeModeuls shows RNIAP in list of modules
### Actual behavior
RNIAp not found
### Tested environment (Emulator? Real Device?)
Emulator and Real Device
### Steps to reproduce the behavior
Using expo framework, ejected workflow, r

[2020-05-26 20:21] simplesthing commented on #1017
![image](https://user-images.githubusercontent.com/1259113/82946725-bbcb8280-9f53-11ea-9010-4e3480657acb.png)
 Code: import "react-native-gesture-handler";
import React from "react";
import { Alert } from "react-native";
import AnimatedSplash from "react-native-animated-splash-screen";
import { NavigationContainer } from "@react-navigation/native";
import { createStackNavigator } from "@react-navi

[2020-05-27 04:32] #1014 closed

[2020-05-27 05:02] #1013 closed

[2020-05-27 05:02] j-cheung commented on #1013
It didnt work on RedMi phone

[2020-05-27 10:29] AlexanderZaytsev commented on #723
@selimmidikoglu
Did products/subscriptions appear only on your real device or on a simulator as well?

[2020-05-27 10:51] AlexanderZaytsev commented on #723
**Update**
Got subscriptions appearing on the simulator after erasing the device&content and signing into iCloud again.

[2020-05-27 12:29] selimmidikoglu commented on #723
@AlexanderZaytsev I could not make subscriptions/products appearing on my simulator. But I think it is possible but I do not know how.

[2020-05-27 13:04] Mitdd9707 opened #1019 "finishTransactionIOS/finishTransaction this is not working in IOS"
### Version of react-native-iap
4.4.8
### Version of react-native
0.61.5
### Platforms you faced the error (IOS or Android or both?)
IOS
### Expected behavior
I click in the purchase button and I getting the error is undefined finishTransactionIOS method give me an error (undefined/null).
I send finishtransaction this Purchase Object
I send finishTransactionIOS this purchase.transactionId
all read

[2020-05-27 13:18] Mitdd9707 commented on #933
same here finishTransactionIOS/finishTransaction this is not working in IOS

[2020-05-27 13:48] anastely opened #1020 "App Crash after bought product successfully - iOS?"
### Version of react-native-iap
4.4.9
### Version of react-native
0.61.5
### Platforms you faced the error (IOS or Android or both?)
IOS
### Expected behavior
After user Buy the product it should finish transaction then call some functionality 'redux Stuff'
### Actual behavior
After user Buy the product the app crashed then appear this message

### Tested environment (Emulator? Real Device?)
Real

[2020-05-27 13:58] anastely commented on #993
Guys I've faced something like this, Should i use finishTransaction OR finishTransactionIOS If I just Target iOS?

[2020-05-27 13:58] kostiantyn-solianyk commented on #941
@curiousdustin @nochkin
Hi, as i understood you did a lot for this issue, wow! I'm in the process of implementing subscriptions too. How do you know that the subscription has been updated? And do you need to update it on the server? How does it work with RVS, I mean amazon receipt doesn't have endDate of subscription, so, how to update specific subscription for user on the server. Would be nice to

[2020-05-27 14:00] creativemind1 commented on #993
`finishTransactionIOS` will suffice

[2020-05-27 14:02] anastely commented on #993
@creativemind1  I add it but my app crashed :(
Check this [iusse](https://github.com/dooboolab/react-native-iap/issues/1020) please!

[2020-05-27 14:18] curiousdustin commented on #941
I have not actually started implementing this fork yet in my project. Will likely be doing that next month.

Sorry, I don't have much info on how the server side Amazon stuff works. A different person on my team handled the backend. I do know that currently we just hand off the product ID and the receipt ID to our server and it handles everything else as far as verifying and updating the subscript

[2020-05-27 14:22] nochkin commented on #941
@kostiantyn-solianyk
curiousdustin probably knows more on RVS for subscriptions regarding Amazon.
My own app currently implemented Google Play and App Store only, I did not do Amazon RVS for subscriptions yet.
I do regular in-app purchases verification for Amazon and that was easy enough to implement so I would assume subscriptions should be someway similar.

[2020-05-27 14:23] creativemind1 commented on #993
Looks like it is not working for the latest version. I'm not sure. Can you degrade to  "react-native-iap": "^4.4.3", and give a try?  Also just give without any const/let as I heard It doesn't return any value.
`await RNIap.finishTransactionIOS(purchase.transactionId);`

[2020-05-27 14:27] kostiantyn-solianyk commented on #941
yea in test mode everything is ok with it, and with you fork actually too, working as needed(in the cases that I checked).

We are stuck on the issue updating the subscription because amazon receipt doesn't have endDate of subscription, and it's actually weird.

[2020-05-27 14:28] anastely commented on #993
@creativemind1  Now i want to delete const/let and add `await` then build the new version for TestFlight,
If you could try the latest version and let me know if it works with you or not?
I'm debugging in TestFlight and it's Take a lot of time :))

[2020-05-27 14:40] creativemind1 commented on #993
Other people too facing issue with finishTransactioniOS in 4.4.8 version as well. So I guess the problem is in the module itself. It would not be wise to check if other also facing the same. I suggest you simply get back to the previous versions modules and then revert to the latest when your issue get resolved. Cheers!

[2020-05-27 16:46] anastely commented on #993
Well, So `4.4.3` is stable to downgrade to it?
Thanks.

[2020-05-27 17:04] anastely commented on #1019
Can you share your code snippet?
I guess I've faced something like this, and want to be sure if it related or not on my issue #1020

[2020-05-27 17:09] nochkin commented on #941
I'll see if I can re-prioritize my tasks so I can play with Amazon verifications on their subscriptions.
I assume you have the issue using their test server too, right?

[2020-05-27 17:32] ixuz commented on #933
I seem to experience the same issue.
The purchase of IAP completes successfully, but the final call to `finishTransaction` returns `undefined`.

[code]

_Real device "iPhone 6s" using App Store Sandbox environment._

[2020-05-27 17:35] anastely commented on #1020
I solve the issue .. ;)

it's should be
`              await RNIap.finishTransactionIOS(purchase.transactionId);
`

[2020-05-27 17:35] #1020 closed

[2020-05-28 00:33] nochkin commented on #991
If you do server validation, you could pass the purchase token along with the user information to your server and store it linked in the database.

[2020-05-28 00:53] tomerdev commented on #991
I'm using [react-native-iaphub](https://github.com/iaphub/react-native-iaphub) which does the receipt validation for you, it's easy to link with the user, you just have to provide an user id.

[2020-05-28 01:03] tomerdev commented on #970
Had similar issues, handling iap on the client side is a mess, now using [react-native-iaphub](https://github.com/iaphub/react-native-iaphub).
Iaphub takes care of the server receipt validation.

[2020-05-28 01:09] tomerdev commented on #1019
It looks like you didn't use a promise?
You should use await when calling finishTransaction

[2020-05-28 01:13] tomerdev commented on #1016
Maybe you didn't finish your transaction? (using finishTransaction)
The purchaseUpdatedListener should keep sending the receipt until it has been finished.
But i've seen the purchaseUpdatedListener event called multiple times myself, I think it could be related to the react-native live reload.

[2020-05-28 02:34] anastely commented on #914
@davidwico if I have Non-renewable subscription what the method should I use to
-get purchases
-buy one
And should I make something in the backend?

[2020-05-28 08:02] dbilgin commented on #1016
ah okay, thank you so much @tomerdev.

[2020-05-28 08:02] #1016 closed

[2020-05-28 08:48] fabio-C opened #1023 "another issues about empty product list"
I will open another issue about empty products list. I tried everything I read in this repo, but with no success. Maybe someone should publish an article or a step by step tutorial?

Here is what I tried:

1) Create sign apk for your application.
2) Upload your apk on Google play store with Billing permissions in Manifest.xml. I started a rollout, now is in pending publication.

![alpha release](h

[2020-05-29 05:05] igeeganage commented on #1023
I'm having the same issue. Did you find any solution for this?

[2020-05-29 08:51] kostiantyn-solianyk commented on #941
@nochkin By the way, I noticed that methods `getAvailablePurchases` and `getPurchaseHistory` return errors. I think these 2 haven't implemented yet for amazon IAP in you fork?

[2020-05-29 10:29] fabio-C commented on #1023
@igeeganage no

[2020-05-29 15:41] nochkin commented on #941
You are right. My own app model does not use those.
I'll take a look. Thank you.

[2020-05-30 21:11] fabio-C commented on #1023
@igeeganage
Now that the app is published, I can see the products.
My account is new, can be related to that, or they changed policy.

[2020-05-30 21:11] #1023 closed

[2020-05-31 10:23] AlexSeoven opened #1024 "black background when start purchase"
### Version of react-native-iap
4.4.9

### Version of react-native
0.62.2

### Platforms you faced the error (IOS or Android or both?)
android

### Expected behavior
like in checkout demo, with opacity

### Actual behavior
![Screenshot_1590920038](https://user-images.githubusercontent.com/42401342/83349958-3d028b00-a341-11ea-928f-4420b21dfc16.png)

### Tested environment (Emulator? Real Device?)
s

[2020-05-31 18:17] magic990619 commented on #1004
I got it working.
The reason was I didn't sign Paid Applications Agreement in App Store Connect.
My products were already approved, but I didn't sign Paid Applications agreement because my app is free.
I have signed the Paid Applications agreement in App Store Connect. Then my products were fetched. It is working on both of emulator and physical device.
Thanks, heron2014, Your answer is much help

[2020-05-31 18:51] RNTop commented on #1004
Thanks

On Sun, May 31, 2020 at 1:17 PM magic990619 <notifications@github.com>
wrote:

[2020-05-31 18:53] RNTop commented on #1004
When I connect Tax/Banking, I will see that. :) I think it will work for
me. I will feel free to delete this issue on git

On Sun, May 31, 2020 at 1:51 PM Senior Dev <tom202221@gmail.com> wrote:

[2020-06-02 22:27] mustafaaksoy commented on #875
This problem sandbox user only run Testflight app. I tested my app on testfligt. its working.

[2020-06-03 09:12] jpudysz opened #1027 "Android upgrade/downgrade subscription native dialog is not refreshed within one session"
### Version of react-native-iap
4.4.9
### Version of react-native
0.62.2
### Platforms you faced the error (IOS or Android or both?)
Android
### Expected behavior
Native dialog with information about subscription upgrade/downgrade
### Actual behavior
When I buy subscription A I can upgrade or downgrade it with subscription B, but there is one edge case which won't work (please follow steps to repr

[2020-06-04 22:07] Keurdange commented on #622
Can you please share an example of your backend API?

[2020-06-05 17:36] radoman93 opened #1028 "The processing of a receipt has failed."
### Version of react-native-iap
"react-native-iap": "^4.4.9"
### Version of react-native
"react-native": "~0.61.5"
### Platforms you faced the error (IOS or Android or both?)
iOS for now
### Expected behavior
Could not get receipt to validate is it due to running in sandbox?
### Actual behavior
The processing of a receipt has failed.
### Tested environment (Emulator? Real Device?)
Real Device
###

[2020-06-06 15:10] rafaeelrf commented on #721
Same error, but in consumeProduct:
`Error: Google is indicating that we have some issue connecting to payment.
    at Object.fn [as consumeProduct] (VM4 index.bundle:2143)`

[2020-06-06 16:15] creativemind1 commented on #721
I think if you add the email address in the test users of.google play
settings you will nit see tgat issue

On Sat, Jun 6, 2020, 8:41 PM rafaeelrf <notifications@github.com> wrote:

[2020-06-08 03:04] rodcisal commented on #1023
Any idea if this would work if I try to get products for a published app that I'm administrator of?

[2020-06-08 12:21] mifi commented on #747
Apple still advices us *not* to automatically call this function on app automatically or startup

https://developer.apple.com/documentation/storekit/in-app_purchase/restoring_purchased_products#:~:text=Restore%20Completed%20Transactions,of%20your%20app's%20completed%20transactions.

The way I implemented it is to send the receipt to the backend when the user presses purchase or restore purchase. T

[2020-06-08 19:39] jplandry908 commented on #808
I agree, this is a significant issue. Once you verify the purchase once it disappears and cannot verify it again. This is very problematic for lifetime purchases.

[2020-06-08 20:08] jplandry908 commented on #808
FYI - Removing these lines seemed to fix the issue.

[2020-06-08 21:03] #1004 closed

[2020-06-09 06:09] auzankyu opened #1029 "cannot restore purchase except auto-renewable product"
### Version of react-native-iap

### Version of react-native

### Platforms you faced the error (IOS or Android or both?)

### Expected behavior

### Actual behavior

### Tested environment (Emulator? Real Device?)

### Steps to reproduce the behavior

why i cant get my restore purchase except only auto-renewable product?
i testing with consumable and non-renewable
but when i want to restore purch

[2020-06-09 22:24] thaneros commented on #1005
I had the same problem and @Panda313 suggestion to add `await RNIap.initConnection()` in `componentDidMount` worked.
Too bad this is not better documented...

[2020-06-10 02:13] alexpchin commented on #984
Does anyone have an example of how best to show a loading icon when purchasing? It seems quite complex to do this in the purchaseUpdateSubscription?

[2020-06-10 03:41] nochkin commented on #1004
I had a similar issue on iOS. My in-app products were in "Missing metadata" stage. Dev worked, but release did not.
Once completed and approved by Apple, everything came out properly.

[2020-06-12 00:25] mrozanski commented on #985
I'm on 4.4.9 and the issue described by this ticket is happening to me as well.
The listener is only invoked when started, but if I set it and then perform the purchase, it is not called.
I solved it by subscribing to the native event directly, after looking at `react-native-iap/index.ts` and figuring out that's what happens internally.
This can be done at any time and will persist. (Just make sur

[2020-06-12 03:21] tomerdev commented on #419
I would recommend using [iaphub](https://www.iaphub.com) if you do not want to develop a complex system to validate receipts on the server side.

[2020-06-12 13:56] aravi365 commented on #1000
Any updates, workarounds or fixes for this issue? anyone

[2020-06-12 18:33] jonathanmachado commented on #1000
same problem

[2020-06-14 17:54] rafaeelrf commented on #721
I already added, but the problem was not solved

[2020-06-14 19:04] MeisterTea commented on #721
If I remember right, you can't do it client side when you are on test servers because there is a slight delay between issuing the payment and server validation.
We had to move this logic server side

[2020-06-15 11:03] jonasgroendahl opened #1030 "empty products array"
### Version of react-native-iap
4.4.9

### Version of react-native
0.62.2

### Platforms you faced the error (IOS or Android or both?)
iOS

### Expected behavior
I expect to get an array of products

### Actual behavior
I get an empty array

### Tested environment (Emulator? Real Device?)
I tested on simulator, real device and even test flight

### Steps to reproduce the behavior
The code:

[code]

[2020-06-15 13:19] #928 closed

[2020-06-15 14:44] summonerriftofficial commented on #1030
same

[2020-06-15 16:47] ixuz commented on #1030
Ensure that you've completely filled out the section: "Agreements, Tax and Banking". Otherwise you'll only see empty arrays.

[2020-06-16 05:50] aravi365 commented on #926
@wootwoot1234  @osmantuna  Can you please provide the event handler codes if you managed to fix it?

[2020-06-16 06:01] jonasgroendahl commented on #1030
I didn't do that actually, I will give it a try :)

[2020-06-16 06:47] aravi365 commented on #618
I tried all those workarounds mentioned here but still i get that weird error : ' The item that you were attempting to purchase could not be found'.

[2020-06-16 14:26] alexpchin commented on #984
Any update on how best to show a loader whilst waiting for the purchase to complete?

[2020-06-16 15:38] lachlanglen commented on #933
I am also experiencing this issue on iOS, where `finishTransactionIOS` nor `finishTransaction` is actually removing those transactions, which is preventing me from releasing app. Any update?

[2020-06-16 16:51] lachlanglen commented on #933
@hyochan Though I definitely am not fluent in Objective-C,  I added some logs in `finishTransaction` and `finishTransactionWithIdentifier` and it seems they are running correctly (id is being passed and matched). The only thing I can think of is that` [[SKPaymentQueue defaultQueue] finishTransaction:transaction];` isn't actually connecting to StoreKit and finishing the transaction? I don't really

[2020-06-16 18:17] jonasgroendahl commented on #1030
that worked!

[2020-06-16 18:17] #1030 closed

[2020-06-16 20:46] summonerriftofficial opened #1031 "There is a bug in version 4.4.9. After successful payment, the callback function registered by purchaseUpdatedListener is not called"
### Version of react-native-iap
4.4.9
### Version of react-native
0.62.2
### Platforms you faced the error (IOS or Android or both?)
iOS
### Expected behavior
purchaseUpdatedListener fire after purchase
### Actual behavior
Nothing happens
### Tested environment (Emulator? Real Device?)
Real Device
### Steps to reproduce the behavior

[2020-06-17 18:51] EdmundMai opened #1032 "Android: RNIap.getProducts causes crash"
### Version of react-native-iap

    "react-native-iap": "^3.5.9",

### Version of react-native

    "react-native": "~0.61.5",

### Platforms you faced the error (IOS or Android or both?)

Android only

### Expected behavior

For it not to crash

### Actual behavior

It crashes

### Tested environment (Emulator? Real Device?)

Real device

### Steps to reproduce the behavior

This is my package.j

[2020-06-17 19:00] EdmundMai commented on #1032
nvm, upgraded to latest version of react-native-iap and got past this issue

[2020-06-17 19:00] #1032 closed

[2020-06-18 01:55] hyochan commented on #1031
Have you properly called `initConnection?

[2020-06-18 01:57] hyochan commented on #1027
I am still unsure why this is happening in the `deferred` mode. I remember other modes worked ok. I also need more information about this.

[2020-06-18 01:59] hyochan commented on #1019
@Mitdd9707 Can this be closed? I think you should share some of your code.

[2020-06-18 07:50] dkfox commented on #999
same problem here. (android)
1) I released the testing app in 'internal test' mode and the status was 'pending publishing'(게시보류중). on the android device, I tried to download, install, and test apk file but still, I got an empty result for getProducts(). is it normal under the 'pending publishing' status? should i wait for the status to be 'published'?
2) According to your instruction (do's and don

[2020-06-18 12:00] espenjanson commented on #933
Are you also handling subscribtion status notifications from the App Store? In my case, I had this problem until I made sure my server handled all notification events properly and responded with a 200 (or at least the first one).

[2020-06-18 12:35] lachlanglen commented on #933
@espenjanson Interesting. No, I wasn't. But I actually just switched to expo's InAppPurchases module yesterday and it's all working great now.

[2020-06-18 16:26] KawaljeetSBagga opened #1033 "How to Start?"
I am a newbie to the IAP world. Can you please guide me to where do I need to register myself for android and iOS to set up my account for this? What keys or information or anything is needed by react-native-iap and where to add it? How does firebase come into the picture? How does one link his bank account? Where does one link his bank account? I understand the usage part of this library but I do

[2020-06-18 23:44] #905 closed

[2020-06-19 07:06] espenjanson commented on #933
@lachlanglen Nevermind. It was just a single strike of luck (?) or something else. Built another version of the app and the problem is there again. Thinking of doing the same but a little worried that the expo repo is not very well maintained.

[2020-06-19 11:16] ixuz commented on #1033
You'll need to register your own account on Google Play Console and Apple Connect Store, see links below:

Register your account and application on: [Google Play Console](https://play.google.com/apps/publish)
Register your account and application on: [App Store Connect](https://appstoreconnect.apple.com/)

You'll have to register your iOS app for "In-App Purchases" capabilities in Xcode and in App

[2020-06-20 07:32] #824 closed

[2020-06-20 16:49] CoSNaYe commented on #1031
@hyochan thank you! After calling `initConnection` first, the issue resolved.

[2020-06-20 17:03] hyochan commented on #1031
@CoSNaYe Sounds great!

[2020-06-20 17:03] #1031 closed

[2020-06-21 17:57] #856 closed

[2020-06-21 18:40] schumy commented on #933
I was having a look into it and it's correct that it returns undefined since the finishTransactions call is not meant to return anything in obj-c.
I've done some tests and in my case, it seems to finish them correctly(simple test, pull pendingTransactions, if there's nothing, it's working good)

[2020-06-22 21:40] rodrigopasc commented on #1033
@ixuz Do I have to change something in the code before publishing the app to the store? I mean, set an env for production or something like that?

I dind't find that in the docs.

Thank you very much!

[2020-06-23 00:42] jagribble commented on #547
@defualt @NickyYo did you ever resolve this? The Apple app reviewers have pasted the same message to me 4 times now with no logs or screenshots. Any ideas would be helpful. Working fine for me on a real device both running from Xcode and test flight

[2020-06-23 17:26] ZerozAndOnes opened #1034 "queryPurchases NullPointerException"
### Version of react-native-iap
4.4.0

### Version of react-native
0.61.5

### Platforms you faced the error (IOS or Android or both?)
Android

### Expected behavior
Doesn't crash

### Actual behavior
[code]

### Tested environment (Emulator? Real Device?)
Real Device in production

### Steps to reproduce the behavior
Unable to reproduce. We possibly require a null check for BillingClient before c

[2020-06-24 19:21] curiousdustin commented on #941
Similar to @kostiantyn-solianyk , I found that the following methods need to be implemented for Amazon:

#### `RNIapAmazonModule.endConnection()` called by `RNIap.endConnection()`

I think this just needs to resolve the promise. It also requires changes to `index.ts`, or it is never used.

#### `RNIapAmazonModule.refreshItems()` called by `RNIap.consumeAllItemsAndroid()`

My app does not use `cons

[2020-06-24 19:26] curiousdustin commented on #941
@nochkin, Would you be able to describe how you are installing this fork in your app project?

When I do something like this:

[code]

The module does not resolve because it is expecting the js built from typescript to be there, but the built version of the project does not exist on github. It only gets created for the module release package. In fact installing with npm and the line above, it does

[2020-06-24 20:17] nochkin commented on #941
Thanks a lot for the summary on the missing method implementations. I did not implement the "endConnection" because it was not needed, but I agree it needs to have the method for compatibility purposes.
I'll look into others. Sorry, it took some time, but things are getting cleared up now and I expect to check/implement it soon.

I installed locally, something like this:
`"react-native-iap": "../r

[2020-06-24 20:32] curiousdustin commented on #941
No worries!

Ok, yeah I figured that local file reference would work, but doesn't make the project very portable.

The workaround I am using right now to reference my own fork/branch is to define the dependency like this:
[code]

And in my branch I have changed the `main` property in `react-native-iap`'s `package.json` to `index.ts` instead of `.js`. I also removed the TypeScript related entries i

[2020-06-24 21:33] curiousdustin commented on #941
Another important piece that appears to be missing is error handling.

The Amazon implementation never runs any code to emit error events, such as this from the Google version:
[code]

This means that the `purchaseErrorListener` will never be called.

[2020-06-24 21:36] nochkin commented on #941
Noted. Good point. Thanks.

[2020-06-25 04:05] mohammedavez commented on #991
@nochkin thanks for the reply,I am doing server validation but how do you pass user information and there is one problem that I am facing, lets suppose a user has two accounts and lets suppose that user has purchased something from A account and lets suppose that purchase takes time to complete then in the mean time the user login's into his B account then if the purchase got completed at that tim

[2020-06-25 04:08] mohammedavez commented on #991
@tomerdev thanks for the reply, I will check that out

[2020-06-25 15:42] nochkin commented on #991
@mohammedavez
If you do server validation, then you pass userid with the receipt together. Your server would link the purchase with that userid on the server side.
Does not matter if a user will re-login or even logout after the fact since the validation is done on the server side anyway.

[2020-06-26 13:43] #642 closed

[2020-06-26 16:25] #721 closed

[2020-06-27 20:04] NickyYo commented on #547
Hey sorry for delay. The Apple App reviewers are hit and miss. I submitted the app again and explained in my testing description that in app payments don't work in a simulator and only work on a real device then the app was approved.

[2020-06-28 09:14] BenjaminWatts commented on #1028
Hi I've had this issue too - is it fixable?

[2020-06-28 16:01] Pinwheeler commented on #1033
@rodrigopasc Is your question "how do I publish a (React Native) app to the store?" That's sort of off topic. However, you just do the normal Android and deployments from within their individual projects. That information is abundantly available.

[2020-06-28 16:03] Pinwheeler opened #1035 "getSubscriptions crashes on Android"
### Version of react-native-iap

4.4.9

### Version of react-native

0.61.5

### Platforms you faced the error (IOS or Android or both?)

Android

### Expected behavior

`RNIap.getSubscriptions(itemSkus).then((subscriptions))` should have a list of subscriptions

### Actual behavior

The application crashes with no indication in React Native why it might be doing so. Launching the app using Androi

[2020-06-28 16:16] rodrigopasc commented on #1033
My problem is with iOS. Apparently it is not generating its receipt. (Only in production, in Test Flight and development works fine)

[2020-06-28 16:43] Pinwheeler commented on #1033
If you haven't already, you might try setting up a sandbox user https://help.apple.com/app-store-connect/#/dev8b997bee1 That might help you hone in on the problem.

[2020-06-28 17:17] Pinwheeler commented on #1035
This is because I didn't set up my android project with the same version of the Billing API that RNIap uses under the hood. The correct version is `2.0.3`

[2020-06-28 17:17] #1035 closed

[2020-06-28 19:55] ixuz commented on #1033
We'll probably need a more detailed explanation of the problem to pinpoint the issue.

* Make sure that the purchase flow complete (StoreKit) for the end-user.
* When the purchase is completed, transmit it securely to your server.
* And if you're dealing with subscriptions, you should handle Real-Time Server Notifications from Apple Connect Store (basically Apple pushing updates to your server wit

[2020-06-29 02:26] captaincole commented on #275
@doteric Could you point me to where they mention its discouraged? I know that you can set up server side notifications, but it seems much easier from my perspective to handle this validation on the client instead of the server.
I'm struggling to find the right documentation from apple or other solid react native sources.

[2020-06-30 02:06] kevinEsherick commented on #275
@doteric yes Date.now() is the device time so it could be worked around. Yet the chances of a user doing this are minuscule, and even other methods could be worked around for an endless subscription. For example if using a simple server side validation, they could enter airplane mode prior to opening the app to prevent the app from realizing the subscription is expired. Of course there are other p

[2020-06-30 16:57] acostalima commented on #275
@kevinEsherick @captaincole

About client-side receipt validation:

### iOS
- https://developer.apple.com/documentation/storekit/in-app_purchase/validating_receipts_with_the_app_store#//apple_ref/doc/uid/TP40010573-CH104-SW3
- https://developer.apple.com/documentation/storekit/in-app_purchase/choosing_a_receipt_validation_technique#//apple_ref/doc/uid/TP40010573-CH105-SW1

### Android
- https://de

[2020-07-03 21:33] captaincole commented on #970
@tomerdev What has your experience been like with iaphub? I was thinking of moving over to using it but wanted to see what another dev thought of the product.

[2020-07-04 16:03] tomerdev commented on #970
@captaincole No issue using iaphub, implemented the library and made a sandbox purchase pretty fast.
It definitely saved me a lot of time. I would recommend it if you can't spend A LOT of time to take care of IAP, I personally prefer to focus on my app.

[2020-07-04 17:09] FelipeMolinari commented on #1000
Any solution?

[2020-07-06 07:52] ghsdh3409 commented on #950
@hyochan I made PR #1039 for this issue based on the above comment.

[2020-07-06 10:29] markuscosinus commented on #480
For anyone else struggling with this: Make sure the iOS version of your testing device is at least iOS 12, since earlier versions are not compatible with subscription offers.

[2020-07-07 00:26] Oguntoye commented on #1005
@Panda313 ... You just saved my 1 week sleepless night of apple rejection

[2020-07-07 02:35] damialajogun opened #1040 "RNIap is not working on Android but works in iOS with same code"
**Version of react-native-iap**
4.4.7

 **Version of react-native**
0.60.6

**Platforms you faced the error (IOS or Android or both?)**
Android

 **Expected behavior**
[code]

Expected behavior is a list of products pulled from play console by .getProducts() printed in terminal

 **Actual behavior**
Promise is not returned. Error 'billing is not available'

 **Tested environment (Emulator? Real De

[2020-07-07 09:51] medonagy45 commented on #1012
I am having the same issue

[2020-07-07 13:18] rmikhailenko opened #1041 "Google Play cancel subscription and asking about confirmation"
### Version of react-native-iap
4.4.3
### Version of react-native
0.62.2
### Platforms you faced the error (IOS or Android or both?)
Android
### Description
On Android after i bought subscription, it canceled after few days. In Google Play i can see that i need to confirm subscription or it gonna be canceled. Maybe i missed something in implementation?
I also trying update to latest version 4.5.0,

[2020-07-09 17:58] rodrigopasc commented on #1033
I am validating the receipts in my backend, like the Node.js example mentioned in the README.

For Android is working perfectly fine. But iOS, only in production is not generating any receipt.

During development and in Test Flight (the production build) works fine.

[2020-07-10 03:27] damialajogun commented on #830
Hi @hyochan, I'm having error 3 'billing is unavailable'. You said 'this occurs when play store does not support iap'. How can this be resolved? I'm running react-native-iap 4.4.7 and RN 0.60.6 and the package is auto-linked. I don't know how to resolve this error. Thanks

[2020-07-10 10:05] JameelNazir commented on #710
Same error

[2020-07-13 15:27] roberto-buratti commented on #808
Please fix it!!...

[2020-07-13 16:13] hyochan commented on #808
@emilioicai Could you kindly tell the effect of removing [these lines](https://github.com/dooboolab/react-native-iap/blob/e33d06f6ac44f6bf80de7a32d7ace2863f4e4cfe/ios/RNIapIos.m#L424-L432)?

I'll try to remove this and deploy new version if there isn't any answer.

[2020-07-13 16:15] hyochan commented on #1034
Could you try `4.5.0` and come back?

[2020-07-13 16:21] hyochan commented on #1040
Would [this](https://github.com/dooboolab/react-native-iap/pull/1036/files) help?

[2020-07-13 16:22] jplandry908 commented on #808
FYI - Removing the lines worked for me a while back, and I am using it in production. I just need to remember to make the change again for any future upgrades unless it is updated in the next release.

[2020-07-13 16:22] hyochan commented on #1041
You should `acknowledge` the purchase which I've exposed as a `finishTransaction`

[2020-07-13 16:22] #1041 closed

[2020-07-13 16:25] hyochan commented on #808
Thanks for your confirm. I'll try to manage to remove the lines in next release when I do not get the answer from @emilioicai who've added the code.

[2020-07-13 20:11] xhsynx opened #1042 "react-native-iap product list is empty"
### I am trying to implement react-native iap but i faced some issues. i have already upload my apk to google play console and all need stuff is done. But in code side product list comes empty array. I would be appreciated for your helps.
### react-native-iap 4.5.0

### react-native 0.63.0

### Platform Android

### Cannot get product list

###  Error is The sku was not found. Please fetch product

[2020-07-13 22:12] JordaoMemoria commented on #1042
Same problem

[2020-07-14 01:45] hyochan commented on #1042
[code]

You shuold resolve the promise!

[2020-07-14 01:45] #1042 closed

[2020-07-14 14:21] sagarhspl commented on #1028
Hi I've same issue too - is there any solution?

[2020-07-14 19:53] #925 closed

[2020-07-14 21:34] xhsynx commented on #1042
### What is wrong this code. it is still returning empty array of product. Could you please help.

import React, {useEffect} from 'react';
import {SafeAreaView, Platform, Button} from 'react-native';
import * as RNIap from 'react-native-iap';
const itemSkus = Platform.select({
  ios: ['com.example.coins100'],
  android: ['com.example.coins100'],
});
export default function App() {
  useEffect(() =

[2020-07-15 01:21] JordaoMemoria commented on #1042
const result = await RNIap.initConnection();
        console.log('result', result);
        const products = await RNIap.getSubscriptions(itemSkus)
        console.log('Products: ',products)

I tried but it is not working, please help us

[2020-07-15 02:29] asobralr commented on #275
Hi,

I was trying one of the approaches discussed in this thread, using validateReceiptIos and the latest_receipt_data (comparing expires_date_ms with actual date). It worked great while developing in Xcode. However, when I tested it in Testflight it didn't work anymore. Its hard to debug so I am not being able to identify the exact problem, it seems it is not getting the receipt data. Did anyone

[2020-07-15 08:25] agrawalsurabhi89 opened #1043 "I'm not getting consumable products in getProduct() call, I'm only getting auto-renewal product. Any idea?"
### Version of react-native-iap - 4.4.3

### Version of react-native - 0.59.8

### Platforms you faced the error (IOS or Android or both?) - iOS

### Expected behavior. - getProduct should return the all consumables and non-consumable product array.

### Actual behavior - it is only returning non-consumable products

### Tested environment (Emulator? Real Device?) - real device

### Steps to repro

[2020-07-15 13:22] ZerozAndOnes commented on #1034
Will give it a go, if the issue pops again after release, will update you.
Thanks 😄

[2020-07-16 02:58] damialajogun commented on #1040
Unfortunately it didn't help :(. Would this have something to do with AndroidX migration? For some reason initConnection() is not working and I don't know the reason why.

[2020-07-16 23:04] dennis3124 commented on #1042
Make sure you have your bundle id set correctly. i was using iOS schemes to set different bundle IDs so it wasn't matching the one in itunes connect

[2020-07-17 06:29] bastolaxantos commented on #830
Having same issue on some users phone.

[2020-07-17 07:23] kelokchan opened #1046 "How to handle auto renewable subscriptions?"
### Version of react-native-iap
4.4.9
### Version of react-native
0.61.5
### Platforms you faced the error (IOS or Android or both?)
iOS
### Expected behavior

### Actual behavior

### Tested environment (Emulator? Real Device?)
Sandbox environment
### Steps to reproduce the behavior

I have the below code snippet to handle subscription purchase
[code]

So far I was able to perform purchase and st

[2020-07-17 14:07] hakkikonu commented on #1046
I'am also wondering this approach. How can I validate if the subscription has expired? Should I check getAvailablePurchases() everytime?

[2020-07-17 14:16] hakkikonu opened #1047 "RNIap.getAvailablePurchases() returns different number of purchased items on reload"
Why result of `RNIap.getAvailablePurchases()` changing when I reload the page? I have subscription items on IOS.
### Version of react-native-iap
"react-native-iap": "^4.5.0",

### Version of react-native
"react-native": "0.63.1",

### Platforms you faced the error (IOS or Android or both?)
IOS

### Expected behavior
I don't know is it natural behavior or not.

### Actual behavior
Please clearly ex

[2020-07-17 23:56] #948 closed

[2020-07-17 23:56] #855 closed

[2020-07-18 08:42] #983 closed

[2020-07-18 10:48] hakkikonu commented on #1043
did you cleared for sale your consumable products on App Store Connect?

[2020-07-18 11:14] hakkikonu opened #1048 "How to detect expired auto renewable subscriptions?"
I'm currently using react-native-iap 4.5.0 and fetching my subscriptions with `RNIap.getAvailablePurchases()`

Also on my back-end server I'm requesting to https://sandbox.itunes.apple.com/verifyReceipt Apple endpoint for receipts.

That endpoint returns all receipts with this data. With some logic I can handle subscription status of my users at back-end. But it is more complicated in some situati

[2020-07-18 15:26] hakkikonu commented on #1029
if you consume your products you can't restore them (if you have not any back-end logic to store consumed items) afaik

[2020-07-18 18:08] iaphub commented on #888
We've been looking at this issue and wanted to share with the community, it may help some people out there.

The issue is due to the purchase updated listener being called with a empty list of purchases on a deferred subscription replace, which is how Android works (See here [here](https://developer.android.com/google/play/billing/subs) "For the deferred replacement mode...")

We added the support

[2020-07-18 18:10] iaphub commented on #555
See [this comment](https://github.com/dooboolab/react-native-iap/issues/888#issuecomment-660519819) regarding your issue with deferred subscriptions.

[2020-07-19 19:17] jonasgroendahl commented on #1048
I'm looking into the same thing right now,

this seems useful: https://developer.apple.com/documentation/storekit/in-app_purchase/validating_receipts_with_the_app_store

[2020-07-19 19:22] Kamsou commented on #1040
@damialajogun Did you find out what was wrong? I have the exact same mistake and don't understand where it came from... initConnection() is undefined.

[2020-07-19 19:55] Kamsou commented on #1040
@hyochan Do you have an idea?

[2020-07-19 20:22] damialajogun commented on #1040
Hey, no I haven't figured it out yet :(

[2020-07-20 00:55] willianhf opened #1049 "Throwing E_IAP_NOT_AVAILABLE"
### Version of react-native-iap
4.5.0

### Version of react-native
0.61.2

### Platforms you faced the error (IOS or Android or both?)
iOS

### Actual behavior
When I try to call any `RNIap` function it's throwing the following error:
[code]

### Tested environment (Emulator? Real Device?)
Simulator

[2020-07-20 06:43] agrawalsurabhi89 commented on #1043
I have ticked Cleared for sale but today i unticked but still not getting the consumable products? Any idea?

[2020-07-20 07:27] hakkikonu commented on #1048
I already doing this. I'm validating receipts at Apple servers. My questions is; is it possible to check only on device. As I know on Apple side it is possible. Because we only send post request to apple with receipt and secret key, but on Google side we need to have Google Play API.

[2020-07-20 07:28] hakkikonu commented on #1043
Can you share your code here?

[2020-07-20 07:30] hakkikonu commented on #1040
Did you add `<uses-permission android:name="com.android.vending.BILLING" />` to your AndroidManifest.xml file?

[2020-07-20 08:56] Kamsou commented on #1040
@hakkikonu Yes I have

[2020-07-20 09:54] agrawalsurabhi89 commented on #1043
<img width="778" alt="Screenshot 2020-07-20 at 3 20 20 PM" src="https://user-images.githubusercontent.com/56863342/87924796-fdccfc80-ca9c-11ea-84c8-049c052244c3.png">
Here is the call for getProducts

// Subscription items
const itemSubs = Platform.select({
    ios: [
        "monthly_hosting",
        "transaction_one_time_payment" // this should be the productid from Apple Itunes.
    ],
    and

[2020-07-20 11:35] agrawalsurabhi89 commented on #1043
Thanks @hakkikonu : It's my mistake .. I have not added pricing for the Consumable Product. That's why it was not coming in the getProduct method.

Apart from that, I have one more question, Dynamic Pricing is not possible in iOS in-app purchase

[2020-07-20 21:19] btb331 commented on #977
I've been struggling with this problem for a week. Finally figured it out today. I removed the billing permissions from the android manifest and android gradle build files, and now it connects and I get products returned.  This stack overflow was how I came up with it.  Not sure if it will cause problems further down the line??

https://stackoverflow.com/questions/62363025/in-app-purchase-crashes-

[2020-07-20 21:36] joris1995 commented on #1040
In my error loggin, I can see the same error occurring for a small part of my users in several countries like US and NZ. It seems to occur very inconsistent though. Any ideas what this can be caused by?

[2020-07-20 22:02] ziyoshams commented on #1046
This is usually done using webhooks. For Apple you can enable [server-to-server notifications](https://developer.apple.com/documentation/storekit/in-app_purchase/subscriptions_and_offers/enabling_server-to-server_notifications) that will communicate with your server. Google has something similar, but setting it up is much more complicated and there is no docs on that. Android Developers has a basi

[2020-07-21 08:01] amitkamble60 commented on #566
await RNIap.initConnection();
            const products = await RNIap.getSubscriptions(itemSkus);
            const subs = await RNIap.getAvailablePurchases();

i use the above code its working fine.
but when i go to subscribe item its shows error that item not available. check below code for subscribe item

RNIap.requestSubscription(itemSkus[0]).then((result) => {
                console.log('re

[2020-07-21 09:16] MidnightCoke opened #1050 "java.lang.ClassCastException: com.facebook.react.bridge.ReadableNativeArray cannot be cast to java.lang.String"
### Version of react-native-iap
"react-native-iap": "^4.5.0",
### Version of react-native
"react": "16.11.0",
 "react-native": "0.62.2",
### Platforms you faced the error (IOS or Android or both?)
Android
### Expected behavior
get subscriptions
### Actual behavior
crash error
### Tested environment (Emulator? Real Device?)
both
### Steps to reproduce the behavior
- follow readme for setup
- call g

[2020-07-21 09:16] haliliceylan commented on #1050
i have same issue

[2020-07-21 09:27] Ilario17 commented on #1040
@joris1995 I also have this problem, a small part of users cannot make in-app purchases, the error seems to be related to the wrong Sku, but obviously it is correct otherwise everyone would have this problem.