[2018-08-29 10:55] #247 closed

[2018-08-29 13:36] edoantonioco commented on #174
If I know I will need in-app purchases at some point of the development, should I still use CRNA? or go directly to RN native from the start?

[2018-08-29 16:05] cellis commented on #174
@edoantonico I’ve gotten this working with expo. I just make a page with iap buttons for purchasing items and only press those buttons when I’m testing purchases. Otherwise I build with expo. Works great!

[2018-08-29 18:27] EvanBacon commented on #174
Sorry for the delay. When you detach, you add native code and build it onto your device. You then use that build like the expo client (except only for your singular app). I would still recommend sticking with Expo. CRNA is maintained by Expo and our focus is mostly on making the libraries work in that environment. Vanilla React Native will require a lot of unneeded setup and will require that you

[2018-09-02 07:57] marioot opened #248 "buySubscription fails with a null pointer exception on Android"
### Version of react-native-iap
react-native-iap: 1.4.0
react-native: 0.45.1

### Platforms you faced the error (IOS or Android or both?)
Android only (iOS works perfectly)

### Expected behavior
After succesful initialisation and loading of subscriptions:
[code]

Buying a subscription should perform a transaction in play store:
`RNIap.buySubscription(sku)`

### Actual behavior
Buying a subscripti

[2018-09-02 11:00] dooboolab commented on #248
@marioot You may have to wait few hours if you've just added your IAP items to play store. Did you tried api after few hours like (3~6 hours)?

[2018-09-02 11:03] marioot commented on #248
Thanks for the fast response!

It has been more than 24h and also I get them with getSubsriptions. This
happens when trying to purchase.

On Sun, 2 Sep 2018 at 13:00, Hyo Chan Jang <notifications@github.com> wrote:

[2018-09-02 11:59] dooboolab commented on #248
@marioot Sharing some of your codes may be helpful.

[2018-09-02 12:10] marioot commented on #248
[code]

[2018-09-02 12:37] dooboolab commented on #248
@marioot Could you try our recent version which is `2.0.0-alpha.*`?

[2018-09-02 12:44] marioot commented on #248
@dooboolab Just did that, version "react-native-iap": "^2.0.0-alpha12", same error. :(

[2018-09-02 13:45] dooboolab commented on #248
@marioot Feels like `mBillingClient` is null in your case for whatever reason. I've just published to `2.0.0-alpha13` for addtional error handling.

Did you call `endConnection` before calling `buysubscription`?

[2018-09-02 14:42] #248 closed

[2018-09-02 14:48] dooboolab commented on #248
@marioot For, additional information, I've just updated to `2.0.2` release. `prepare` method is depreacted and use `initConnection` instead. It is one of wishlist #236

[2018-09-03 13:10] lgraubner opened #249 "initConnection is not a function"
### Version of react-native-iap

2.0.2

### Platforms you faced the error (IOS or Android or both?)

both

### Expected behavior

`initConnection` should be exported.

### Actual behavior

`initConnection` is not defined on the default export.

### Tested environment (Emulator? Real Device?)

Emulator

### Steps to reproduce the behavior

[code]

[2018-09-03 18:56] Bang9 commented on #247
consumePurchase(purchaseToken)

[2018-09-03 20:46] jameslporter commented on #249
Can confirm. Happening to me too. It would be nice if the setup guide actually guided you through a simple purchase flow and it work as advertised.

[2018-09-04 02:57] Bang9 opened #250 "[Q] Is the transactionDate of the subscription updated?"
android platform

According to the doc
_(https://developers.google.com/android-publisher/api-ref/purchases/subscriptions)_
subscription purchase only has startTimeMillis resource, does the transactionDate(RNIap) update every time payment is made?

So, is only way to check user's purchase that autoRenewingAndroid(RNIap)?
Or does data disappear on its own after the expiration date?

-------

문서를 보면

[2018-09-04 03:44] JJMoon commented on #249
I hope this work.
[code]

Please refer to the example. https://github.com/dooboolab/react-native-iap/blob/master/RNIapExample/src/components/pages/First.js

[2018-09-04 07:03] lgraubner commented on #249
@JJMoon while this works it's inconsistent regarding the other methods. I created a PR.

[2018-09-04 08:10] #249 closed

[2018-09-07 11:00] muha-loop4 opened #252 "In app product integration requirements."
Hi, i would like to know, my paid application agreement in app connect is pending, so that means i cant get the product list , and i cant buy it. Only bank details are pending. so should i need to first complete the agreement and then i will be able to get products or buy product.

And do i have to submit the build which contains in app purchase buying code. actually i have submitted the app, now

[2018-09-08 04:48] JJMoon commented on #252
I guess it's a kind of country issue. I cannot completely understand your question.
If it's bank issue, I suggest you to take a time to wait the bank do their job.
And you can test your IAP products even if you don't summit the App Store review.
This is not an issue of this module, I close this.

[2018-09-08 04:48] #252 closed

[2018-09-09 06:37] chiragpurohit71085 commented on #228
I had similar issue, but that was resolved by unlinking and linking again

react-native unlink react-native-iap

react-native link react-native-iap

Scanning folders for symlinks in /InappTest/node_modules (14ms)
rnpm-install info Linking react-native-iap ios dependency
rnpm-install info Platform 'ios' module react-native-iap has been successfully linked
rnpm-install info Linking react-native-iap

[2018-09-09 17:32] #229 closed

[2018-09-09 17:35] #200 closed

[2018-09-09 17:35] #223 closed

[2018-09-10 07:16] muha-loop4 commented on #252
Hi, sorry about my confusing explanation, i have completed the integration of react-native-iap, but when i cant get products, and make payments in android. but in ios the RNIap.getProducts(itemSKus) return empty array.

const itemSkus = Platform.select({
  ios: [
    '344'
  ],
  android: [
    '344'
  ],
});
const result = await RNIap.initConnection();
const products = await RNIap.getProducts(ite

[2018-09-10 09:49] pehagg commented on #247
Wait, what? Why on Earth do you need to consume a non-consumable IAP? Is this some kind of Android idiocy?

[2018-09-11 06:55] #230 closed

[2018-09-11 06:55] dooboolab commented on #230
@blaues0cke This will be fixed in `2.1.0`. Could you try this and come back again?

[2018-09-12 04:14] jamsch opened #254 "iOS@2.1.0 returns empty products array"
On 2.1.0, using the following below for iOS now returns an empty array.

[code]

Staying on 2.0.3 until this is fixed.

[2018-09-12 05:05] dooboolab commented on #254
@jamsch Fixed in `2.1.1`.

[2018-09-12 05:05] #254 closed

[2018-09-12 05:52] jamsch commented on #243
Also finding this. The exact message is: "This In-App Purchase has already been bought. It will be restored for free."

The promise for `RNIap.buyProduct(..)` and  `RNIap.buyProductWithoutFinishTransaction(..)` never resolves.

[2018-09-12 07:34] blaues0cke commented on #230
@dooboolab For sure, will do that an come back to you here.

[2018-09-12 19:27] Friendly-Robot opened #256 "[ioS] "Invalid Product ID""
### Version of react-native-iap
2.1.0

### Platforms you faced the error (IOS or Android or both?)
iOS

### Expected behavior
`RNIap.buyProduct('com.app.product.id')` should return an object.

### Actual behavior
Screen displays "Invalid Product ID" and catches error:
[code]

### Tested environment (Emulator? Real Device?)
Emulator and real device.

### Steps to reproduce the behavior
I followed e

[2018-09-12 20:28] siderakis opened #257 "iOS: This in-app purchase has already been bought."
### Version of react-native-iap
    "react-native-iap": "^2.0.3",

### Platforms you faced the error (IOS or Android or both?)
iOS

### Expected behavior
Makes a purchase

  const purchase = await RNIap.buyProductWithoutFinishTransaction(productId)
      const { transactionReceipt, purchaseToken } = purchase
      sendToServer(transactionReceipt,        {
          onSuccess: () => {
            R

[2018-09-13 06:18] dooboolab commented on #256
@Friendly-Robot Looks fine. Could you try `2.1.1`? There was some bug in `2.1.0`.

[2018-09-13 07:42] #256 closed

[2018-09-13 09:44] petetastic opened #258 "getProducts() and getSubscriptions() show duplicates"
### Version of react-native-iap
2.1.1

### Platforms you faced the error (IOS or Android or both?)
IOS

### Expected behavior
getProducts and getSubscriptions should return a singular list of products

### Actual behavior
Each successive call to either of these functions returns a cumulative list, instead of the same list.

### Tested environment (Emulator? Real Device?)
Both

### Steps to reprodu

[2018-09-13 10:01] dooboolab commented on #258
@petetastic Yeah looks bug in this [PR](https://github.com/dooboolab/react-native-iap/pull/253/files). Would you like to give us a [PR] to resolve this?

[2018-09-13 10:36] petetastic commented on #258
eek! I'd love to, but I'm afraid I don't know how to do that! Happy to if you show me how, otherwise equally I can wait until you fix it, that's not a problem. Cheers.

[2018-09-13 11:03] dooboolab commented on #258
You can see guide [here](https://help.github.com/articles/creating-a-pull-request/). Generally, you may fork our repo then update your fix and then create a `PR`.

[2018-09-13 11:54] dooboolab commented on #257
@siderakis Yeah strange. I've already patched this problem like told in [stackoverflow](https://stackoverflow.com/questions/34001868/ios-this-in-app-purchase-has-already-been-bought-pop-up) but still occurring in some devices. I am willing to fix this too. What device are you using?

[2018-09-13 13:57] dooboolab commented on #257
@siderakis [This](https://stackoverflow.com/questions/18210747/how-to-remove-a-very-old-defunct-in-app-purchase-from-the-transaction-queue) might solve your app in bad state I guess. Could you try?

[2018-09-13 15:06] idlework opened #259 "iOS: How to consume products"
When my users switch with their credit card or Paypal account, the product is bought but the function `buyProductWithoutFinishTransaction` is never resolved. When the users try to purchase this product again they get the an alert with the message `This in-app purchase has already been bought”` and again the function `buyProductWithoutFinishTransaction` does not resolves.

This same process happens

[2018-09-13 15:11] zalempro opened #260 "Problem with introductoryPrice in subscriptions"
### Version of react-native-iap

react-native-iap 2.1.1

### Platforms you faced the error (IOS or Android or both?)

IOS

### Expected behavior

When we get introductoryPrice of a subscription (getSubscriptions) we should see SKProductDiscount info as :

- introductoryPrice
- introductoryPricePaymentMode
- introductoryPriceNumberOfPeriods
- introductoryPriceSubscriptionPeriod

### Actual behavior

[2018-09-13 15:27] dooboolab commented on #260
@zalempro Would you like the update with the source you've provided?

[2018-09-13 16:16] dooboolab commented on #260
[Updated](https://github.com/dooboolab/react-native-iap/commit/d55a2d76ddb1573e5aa56d2d710a3547ad7ce074) should be fine.

[2018-09-13 16:16] #260 closed

[2018-09-13 16:18] #258 closed

[2018-09-13 16:19] dooboolab commented on #258
@petetastic I've updated your fix in `2.1.2` please try again.

[2018-09-13 22:49] fierysolid opened #261 "Android: onHostDestroy checks if mServiceConn is null when it should check if mService is null"
### Version of react-native-iap
react-native-iap: 2.1.2
react-native: 0.57.0

### Platforms you faced the error (IOS or Android or both?)
Android

### Expected behavior
The app shouldn't immediately crash
### Actual behavior
The app crashes immediately
### Tested environment (Emulator? Real Device?)
Galaxy S7 Edge (Real Device)
### Steps to reproduce the behavior
My app only calls `.initConnection

[2018-09-14 01:29] siderakis commented on #257
I tried it and it didn't work. I also reinstalled the app and that didn't help. It's running on an iPad.

[2018-09-14 01:30] siderakis commented on #257
I set a breakpoint and it looks like currentQueue.transactions is empty

[2018-09-14 01:36] siderakis commented on #257
From SKPaymentQueue.h

[code]

Maybe I called it too soon

[2018-09-14 01:38] JJMoon commented on #259
I guess the finishTransaction wasn't called properly or it just failed when user purchased previously.
And, the next purchase would not be resolved.

If this is the case additional finishTransaction call might help.

But, our objective-C method checks if there is not resolved transaction as follows.
[code]

I guess another method is worth testing with removing `if` clause.

[2018-09-14 01:44] siderakis commented on #257
I called the code later in the programs execution and it fixed the issue.

[2018-09-14 03:07] dooboolab commented on #261
Merged! Released in `2.1.3`.

[2018-09-14 03:07] #261 closed

[2018-09-14 03:17] JJMoon commented on #257
@siderakis Sorry for bothering. But, what code did you call ?

[2018-09-14 05:02] Bang9 commented on #247
@pehagg Android only supported two purchases that are product and subscription, only iOS has non-consumable purchase type

[2018-09-14 11:38] dooboolab commented on #259
Closing this since it is dupe in #257

[2018-09-14 11:38] #259 closed

[2018-09-14 11:47] JJMoon commented on #257
@siderakis Yes. That's what I meant in issue #259 .
I think that action can be anywhere after applicationDidBecomeActive.
So, I will expose that method to JS side, that user can call it any time.
Thank you for your advice.

[2018-09-14 14:46] helbery opened #263 "getProducts Returns Empty [] on IOS"
### Version of react-native-iap
2.1.1
### Platforms you faced the error (IOS or Android or both?)
IOS
### Expected behavior
Returning list of products
### Actual behavior
Our app is already approved and ready for sale on App Store and all products is approved but still when i call RNIap.getProducts it returns empty []
### Tested environment (Emulator? Real Device?)
Emulator and Real Device
### Ste

[2018-09-14 15:36] dooboolab commented on #263
@helbery Have you gone through #256?

[2018-09-14 15:58] sivrihuseyin commented on #257
@JJMoon, I have the same issue, When can we expect a resolution for exposing a method as you mentioned above. Thanks.

[2018-09-14 16:42] dooboolab commented on #257
@sivrihuseyin Problem is well known now. We will make the patch this weekend. Thank you to all issuers.

[2018-09-16 11:28] dooboolab commented on #257
We've released the expected solution in `2.2.0`. Could you follow [readme](https://github.com/dooboolab/react-native-iap/blob/master/README.md#L317) and try this line of codes?

[2018-09-16 11:33] #263 closed

[2018-09-16 11:33] #237 closed

[2018-09-16 11:34] dooboolab commented on #228
Closing this since it seems `linking` issue in `react-native`.

[2018-09-16 11:34] #228 closed

[2018-09-16 11:34] #225 closed

[2018-09-16 11:56] sivrihuseyin commented on #257
Hello Hyo Chan,

Thank you for the information.

I have installed the version 2.2.0 and tried the code. Unfortunately, the
issue is not fixed yet. think that the function, *clearTransaction *has not
been exported. In reactNative environment there is no clearTransaction
function inside RNIap.

I checked the file index.d.ts and I couldn't see the function as
clearTransaction in this. file.

Kind reg

[2018-09-16 12:16] sivrihuseyin commented on #257
Hello Hyo Chan,

I am sorry for the wrong information. IT IS FIXED. There is no problem
anymore.

Thank you for your prompt response and great solution.

Kind regards,

Huseyin

On Sun, Sep 16, 2018 at 2:56 PM Huseyin Sivri <sivri.huseyin@gmail.com>
wrote:

[2018-09-16 13:01] dooboolab commented on #203
Related #237

[2018-09-16 13:01] #203 closed

[2018-09-16 15:48] inglesuniversal commented on #174
Hello, now that you bring up the subject. If in app purchases is kind of "hard" to handle by Expo. What are the suggested roadmaps to monetize an App without detaching it from Expo, since for me, like many others, I make use of Expo for the fact that the overall experience is much friendlier than RN and far less complex than going native on both platforms. So, can you just use a subscription plan

[2018-09-16 16:38] dooboolab commented on #227
@Hjord can you try this again with the new update which is `2.2.0`? We've made some fixes and want to know if it resolves your symptoms.

[2018-09-16 17:27] girish-jaju opened #265 "Unable to get the consumable products purchaseHistory"
2.2.0 Version of react-native-iap

iOS Platforms you faced the error (IOS or Android or both?) iOS

### Expected behavior
In Sandbox I created a few consumable items, and I can display them fine. I am able to purchase them as well and calling finishTransaction also.
But when I retrieve the history, I do not get those purchases back.

### Actual behavior
I should be able to get those consumable pur

[2018-09-16 22:23] ohpax opened #266 "Cross platform receipt validation"
while I was designing my app, I came up with a big problem.
my app is for both Ios and Android and I have monthly subscription.
I know that the only way I know the user has not canceled the purchase is by validation of his receipt.
but lets imagine this scenario. My user has two phones one Android and one Ios. And, he makes the purchase using the Ios, but he decides to use the android and he does

[2018-09-17 01:41] JJMoon commented on #265
I think you don't need purchase history of 'consumable products'. It's consumable, so you validate the receipt at the time of purchase, and apply them to user property, it's done.
Restore product is for 'non-consumable'.
I don't know exactly whether the history should have that list, but theoretically this is not an issue for consumable products.

[2018-09-17 06:12] dooboolab commented on #266
@ohpax Basically, users have to pay for each ios and android for their subscriptions. I haven't seen any app syncing the subscription on each platform. If you have seen something like that please share.

[2018-09-17 06:39] girish-jaju commented on #265
Hi, thanks for your response. Quick question, Shall I make a call to validate the receipt directly from the react native code (which will infact be called from the user device, right?).
Also could you please elaborate the user property that you mentioned?
Thanks

[2018-09-17 09:04] JJMoon commented on #265
It's possible, but I suggest to validate via Apple server.
https://developer.apple.com/library/archive/releasenotes/General/ValidateAppStoreReceipt/Introduction.html

The user property is the datum which is saved in your server. So, user can consume it in other device, re-install the App and not lose the props. It's like coin, gold in game. I hope you got the idea.

Thank you.

[2018-09-17 10:04] KevinColemanInc commented on #174
@inglesuniversal

If its worth anything, we ended up dumping expo because we got tired of waiting for issues like this to be resolved.

It definitely adds friction to testing and to supporting some features (like notifications), but at least my dev can stop telling me, "that is impossible because expo doesn't support it".

[2018-09-17 14:44] ohpax commented on #266
I think I found my answer. I need to have a webhook to handle change events => https://help.apple.com/app-store-connect/#/dev0067a330b

[2018-09-18 07:45] pehagg commented on #247
@Bang9 , adding consumeProduct didn't help in our case. In the code we buy the product and consume it immediately after the purchase has been done. When I try to buy the same IAP the second time nothing happens, no error, nothing. Using 1.0.5, has there been any fixes to the functionality after that?

[2018-09-18 08:02] dooboolab commented on #247
@pehagg Are you on android?

[2018-09-18 08:06] pehagg commented on #247
Yes, I am. But I might've tested with an old build (one missing the consumePurchase call), internal test track is playing a trick on me. Let me get back to you once I've verified with the correct build. Sorry.

[2018-09-18 10:03] pehagg commented on #247
Need to release the app to production to test this. Hope it works...

[2018-09-18 12:40] pehagg commented on #247
Still seeing the same issue. Probably due to old purchases not being consumed.

[2018-09-18 15:03] pongponglau opened #268 "Cannot make connection by RNIap.initConnection() in real android device"
### Version of react-native-iap
2.2.0

### Platforms you faced the error (IOS or Android or both?)
Android

### Expected behavior
Expected to call const result = await RNIap.initConnection(); successfully

### Actual behavior
await RNIap.initConnection() always return false, sometimes i see the following error message:

"Already started. Call endConnection method if you want to start over. ".

How

[2018-09-18 15:12] ShooterArk commented on #268
Just add this code to your component with IAP and this error will handled,

`componentWillUnmount() {
        RNIap.endConnection();
    }`

[2018-09-18 15:28] pongponglau commented on #268
Thanks for your suggestion. I have tried to end connection in componentWillUnmount, however, i still get the same issue. Do i need to configure anything in android phone before using in-app purchase?

Currently, i will go through the whole cycle, i.e. initconnection, getproduct, buyproduct, endconnection every time the purchase button is clicked by user. I just develop a function to wrap the whole

[2018-09-18 15:42] dooboolab commented on #268
@pongponglau Try calling `initConnection` in `componentDidMount` then you won't call this in every lifecycle. Also, you can ignore the warning message and just go on. It just means you tried to start already running service, and it is prevented from `react-native-iap` code internally.

[2018-09-18 15:43] #266 closed

[2018-09-18 18:16] dooboolab commented on #247
@pehagg Yeah. For some situations like this, I've implemented `consumeAllItems` method. You can use this when you start your app. Then later when you feel confident that you don't lose anything, you may take this away in later release.

[2018-09-20 01:52] girish-jaju commented on #265
Where in code do we specify if we are validating against SANDBOX or PROD?

Thanks
Girish

[2018-09-20 14:47] selcukitmis opened #269 "Error : Invalid Product ID."
### Version of react-native-iap
Version : 2.1.1
### Platforms you faced the error (IOS or Android or both?)
iOS
### Expected behavior
Invalid Product ID.
### Actual behavior
Error : Invalid Product ID.
### Tested environment (Emulator? Real Device?)
Emulator and Real Device
### Steps to reproduce the behavior
When I call **buyProduct**  function it is return to me Invalid Product ID.

My In-App Pu

[2018-09-20 20:06] dooboolab commented on #269
Please review #256 issue and check what you've missed first.

[2018-09-21 07:38] pehagg commented on #247
This is what I ended up doing too. Now it works as it should. Should’ve read the API docs more closely when we started using the library on Android :)

[2018-09-21 13:32] selcukitmis commented on #269
@dooboolab thank you for answer. My problem fixed like this.
      RNIap.getProducts(['yourProductId']).then(success => {
        console.log("success", success);
        let product = success[0];
        console.log("product.productId",product.productId);
        RNIap.buyProduct(product.productId).then(ok => {
        }).catch(error => {
          console.log("error", error);
          alert(err

[2018-09-21 13:32] #269 closed

[2018-09-25 14:45] rapind opened #271 "Example of Checking Existing Subscriptions"
Would love it if there was an example of checking to see if a user already has a valid subscription and then showing the option to purchase if they don't.

It's unclear to me if `getAvailablePurchases` will only include subscriptions that have been purchased and are still valid. E.g. a monthly or yearly subscription that hasn't been cancelled. Do we need to do date checking ourselves or will the s

[2018-09-25 23:16] kevinEsherick opened #272 "getSubscriptions and getProducts numerous issues"
### Version of react-native-iap
2.2.2
### Platforms you faced the error (IOS or Android or both?)
iOS
### Expected behavior
Return only products/subscriptions for listed SKUs and return them in order.
### Actual behavior
getProducts returns all IAPs, regardless of whether they are included in the list of SKUs. The documentation acknowledges that prior to 11.2 it will return subscriptions if they a

[2018-09-26 02:26] marcosmartinez7 opened #273 "Could not initConnection on version 2.2.2"
### Version of react-native-iap

2.2.2 (latest)
React native 57.0

### Platforms you faced the error (IOS or Android or both?)

Android

### Expected behavior

Could init connection

### Actual behavior

Init connection returns null

### Tested environment (Emulator? Real Device?)

Differents real devices

### Steps to reproduce the behavior

1. I have created a alpha testing app in the playstore

[2018-09-26 12:39] dooboolab commented on #273
@marcosmartinez7 Try all the steps in #256. Lots of similar problems solved with issue here.

[2018-09-26 12:43] #268 closed

[2018-09-26 12:44] dooboolab commented on #265
@girish-jaju Please refer to `validateReceiptIos` in the `readme`. We provided both `test` and `prod` environment.

[2018-09-26 12:44] #265 closed

[2018-09-26 13:16] marcosmartinez7 commented on #273
Thats an ios issue with the purchase, i cant even get the connection.. any ideas?

[2018-09-26 14:41] fmassey commented on #273
Same

[2018-09-26 15:01] marcosmartinez7 commented on #273
Tried using RN 55.3 and still the same issue

[2018-09-26 15:09] dooboolab commented on #273
Try to unlink and link again. The `linking` script isn't perfect or try the manual installation.

[2018-09-26 15:34] marcosmartinez7 commented on #273
Ok, i will try, but is the 2.2.2 version tested with RN 57 ?

Thanks

[2018-09-26 15:55] marcosmartinez7 commented on #273
Same problem linking mannually. Connection is null.

Do you guys know wich are the possible causes that will result in a null connection?

[2018-09-26 17:13] marcosmartinez7 commented on #273
The code of initConnection is resolving a promise returning null, maybe thats the problem?

see the method on https://github.com/dooboolab/react-native-iap/blob/master/android/src/main/java/com/dooboolab/RNIap/RNIapModule.java

[2018-09-26 19:31] marcosmartinez7 commented on #273
The thing is that the documentation saids that initConnection retunrs a promise of type void, but it returns null, and that is confusing a lot

I was thinking that was wrong and in fact seems to be ok, i can invoque .getSubscriptions and obtain them even when the initConnection returns null..

So.. my advice, change the documentation or the initConnection to return true and make it boolean

[2018-09-26 19:31] #273 closed

[2018-09-26 20:34] marcosmartinez7 commented on #236
Can i add a request?

In IOS, a way to check if a subscription is still active or not.

In Android you can check the autoRenewal flag, but on ios there is no way to do that.

Regards

[2018-09-26 21:04] fmassey commented on #273
Ok I don't received any products from .getProducts. @marcosmartinez7
1- Did your apk is in production or beta/alpha?
2- Did your itemSku is formatted like "com.myPackage.myItems"?
3- Are you able to get subscription on emulator?

[2018-09-26 21:07] marcosmartinez7 commented on #273
3. No! It doesnt work in emulators, use a real device.
2. Nop, just use the id that you assigned on the playstore. If the product id is "pepito", use "pepito".
1. Is on alpha. I **THINK** that you need to first generate a signed apk and add it to the alpha testing first.

[2018-09-26 21:30] kevinEsherick opened #274 "buySubscription does not resolve when changing subscriptions in iOS"
### Version of react-native-iap
2.2.2
### Platforms you faced the error (IOS or Android or both?)
iOS
### Expected behavior
buySubscription should resolve when changing from Monthly to Yearly subscription, rather than reject and return an error, forcing the catch clause.
### Actual behavior
If currently subscribed to one plan, changing to another causes buySubscription to catch and return the foll

[2018-09-27 08:04] LinusU commented on #236
@marcosmartinez7 I would recommend opening a separate issue for that. The idea with this issue was to track what _breaking_ changes we wanted to get in. I'm guessing that adding that would be backwards compatible ☺️

[2018-09-27 08:12] JJMoon commented on #271
I guess this document has all answers.

https://developer.apple.com/library/archive/documentation/NetworkingInternet/Conceptual/StoreKitGui
de/Chapters/Subscriptions.html#//apple_ref/doc/uid/TP40008267-CH7-SW8

There are expiration date and cancellation info in the receipt.

[2018-09-27 08:17] JJMoon commented on #272
This is side effect of prior resolving another prior issue.
You have to make a one SKU for subscription, one for products.
And the return array will include the both products.
We decided to keep the results from Apple, and over write the products when receiving new lists.

The action you mentioned above is as expected.

[2018-09-27 13:07] rapind commented on #271
@JJMoon  Apple's example there is a little more complicated (and contrived) than I was expecting. The idea that content may stay locked during a lapse in their subscription seems like a more advanced edge case. While I'm sure it happen, most subscription I suspect will be simple unlock flags (everything is available), or tiered subscription flags (bronze, silver, gold). That would probably suffice

[2018-09-27 17:16] kevinEsherick commented on #272
Are you saying that it is intended behavior for getSubscriptions to return a list of subscriptions in an order different from the order of the SKUs you passed to it? Are you also saying that it's intended for getProducts to return an array of all products and all subscriptions, even those whose SKUs weren't passed as arguments to the function? For example, I could have 3 products/subscriptions: 'a

[2018-09-27 17:30] marcosmartinez7 opened #275 "IOS check if autorenewal subscription is still active"
### Version of react-native-iap

2.2.2

### Platforms you faced the error (IOS or Android or both?)

IOS

### Expected behavior

Using the RNIAP api we could check if a autorenewal subscription is still active

### Actual behavior

On android im doing this to check that:

[code]

On ios there is no flag to check that, and the getAvailablePurchases method returns all the purchases made, even the su

[2018-09-27 17:56] kevinEsherick commented on #275
I'm working on figuring this out as well. I haven't tested it yet, but from what I'm reading I'm gathering that it's possible by creating a "shared secret" in iTunes Connect and passing this to validateReceiptIos with the key 'password'. I believe this will then return a JSON object which will contain a code indicating the validation status of the subscription and the keys latest_receipt, latest_r

[2018-09-28 03:43] booboothefool commented on #93
@dooboolab @kodie Can you guys clarify what status should be? I am just trying to test a consumable product (before submitting to app store). My app as a whole is under "Prepare for Submission" for the first time and I have 1 test consumable product. Under that product I checked "Availability: Cleared for Sale". Still see empty products. I just submitted my Paid Application contract though so we w

[2018-09-28 03:55] booboothefool commented on #93
@dooboolab @kodie I was able to get it working.

There is wrong information floating all over these issues such as:

- requires a particular status
=> it does not. my status is fresh with "1.0 Prepare for Submission"
- need it import as `import * as RNIap from 'react-native-iap';`
=> it doesn't matter. `import RNIap from 'react-native-iap';` works too
- products should be listed as `product`, not

[2018-09-30 01:58] JJMoon commented on #272
Q : Are you saying that it is intended behavior for getSubscriptions to return a list of subscriptions in an order different from the order of the SKUs you passed to it?
A : Yes.
Q : Are you also saying that it's intended for getProducts to return an array of all products and all subscriptions, even those whose SKUs weren't passed as arguments to the function?
A : Yes. Because, there is only one a

[2018-10-01 13:41] 7kfpun opened #276 "Buying a subscription fails with a Fatal Exception: java.lang.NullPointerException"
### Version of react-native-iap
react-native-iap: 2.2.2
react-native: 0.47.0

### Platforms you faced the error (IOS or Android or both?)
Android

### Expected behavior
Purchase successfully

### Actual behavior
Buying a subscription fails with a runtime exception:

Fatal Exception: java.lang.NullPointerException
Attempt to invoke interface method 'java.lang.Object java.util.List.get(int)' on a nu

[2018-10-01 13:45] dooboolab commented on #276
Anyone else experiencing this?

[2018-10-02 21:31] raynor85 opened #277 "Cannot connect to iTunes Store for sandbox users"
### Version of react-native-iap
2.2.2

### Platforms you faced the error (IOS or Android or both?)
iOS

### Expected behavior
```await RNIap.buyProduct(MIXED_PACK);``` should not fail

### Actual behavior
I get the error ```Cannot connect to iTunes Store``` even if I use a sandbox user

### Tested environment (Emulator? Real Device?)
Real device, iPad and iPhone 7

### Steps to reproduce the behav

[2018-10-03 01:37] 7kfpun commented on #276
It happens while using buySubscription with products (instead of subscriptions).

[2018-10-03 01:37] #276 closed

[2018-10-03 13:20] MikePodgorniy commented on #277
https://sandbox.itunes.apple.com/
Http/1.1 Service Unavailable

maybe service is down?

[2018-10-03 15:34] raynor85 commented on #277
Maybe it is an old link. https://developer.apple.com/system-status/

[2018-10-04 00:50] nkov commented on #168
I am still having this issue and not much luck fixing it by calling `endConnection`. I have tried starting the service and calling `endConnection` on each billing action:

1. Verify purchases
[code]

2. Make purchase
[code]

And I have also tried calling it on `componentWillUnmount` as described in the README.

In both cases, everything works, but _later on_ there is always a crash (ie. when the a

[2018-10-04 07:04] dooboolab commented on #277
@raynor85 Are you still facing this issue?

[2018-10-04 07:05] dooboolab commented on #272
@kevinEsherick Do you think #278 can solve your problem?

[2018-10-04 07:16] dooboolab commented on #168
@nkov If you have some scenes which screen is holding `iap service` for long time, I prefer you to try more frequent lifecycle such as `onResume` and `onPause` in `android`. You may refer to use these lifecycle in [AppState](https://facebook.github.io/react-native/docs/appstate). Therefore, you may use `initConnection` when it is in `foreground` and `endConnection` when it isn't.
Could you try thi

[2018-10-04 13:00] raynor85 commented on #277
@dooboolag I’m still facing the issue, but I think it is an Apple problem. I have tried to purchase a product with my personal Apple ID user (which has been used previously for real purchases), and I was able to get a successful response after executing ‘RNIap.buyProduct(“my.sku.product”)’.
The funny thing is in the modal which pops up just before the purchase it is written ‘environment: sandbox’,

[2018-10-04 14:56] MikePodgorniy commented on #277
https://forums.developer.apple.com/message/334086#334086
https://forums.developer.apple.com/thread/109370

[2018-10-05 23:02] marcosmartinez7 opened #279 "buySubscription ignoring user feedback"
### Version of react-native-iap

2.3.0
### Platforms you faced the error (IOS or Android or both?)
Android
### Expected behavior

let sub = await RNIApp.buySubscription("some");

should wait for the user to press buy on the modal of in app payments

### Actual behavior

i cant check if the user accepted the subscription, because when doing:

let sub = await RNIApp.buySubscription("some");
if(sub){

[2018-10-05 23:12] marcosmartinez7 commented on #279
Literally didnt touch anything, and after some uninstall/install it works, any ideas if this must be related with the playstore working wrong?

Its the only logical explanation that i can imagine ..

[2018-10-07 04:17] tab opened #281 "Error RNIapModule.buyItemByType got 5 arguments, expected 6"
I have an exception with latest version react-native-iap.

### Version of react-native-iap

2.3.0

package.json:
[code]

### Platforms you faced the error (IOS or Android or both?)

Only Android.
Version 4.4.4

### Actual behavior

Error `RNIapModule.buyItemByType got 5 arguments, expected 6`

### Tested environment (Emulator? Real Device?)

Device

### Steps to reproduce the behavior

On iOS ever

[2018-10-07 08:08] dooboolab commented on #281
Resolved in #280 .

[2018-10-07 08:08] #281 closed

[2018-10-07 08:18] dooboolab commented on #279
@marcosmartinez7 Sorry for the breaking could you try `2.3.1`?

[2018-10-07 13:51] r22cky commented on #162
Hello @koloff what was the solution ?

[2018-10-08 19:00] raynor85 commented on #277
@dooboolab can you help me with that? Is there a reason why with a real apple ID I was able to successfully purchase a consumable without being charged, but `RNIap.getPurchaseHistory()` is always an empty array?

[2018-10-08 21:14] marcosmartinez7 commented on #279
Hi, thanks!

I dont have time right now but i will

[2018-10-08 21:18] marcosmartinez7 opened #283 "IOs can purchase only if i invoke getSubscriptions first"
### Version of react-native-iap

2.2.2

### Platforms you faced the error (IOS or Android or both?)

IOS

### Expected behavior

Should purchase the subscription

### Actual behavior

I can only purchase if i invoke getSubscriptions first, otherwise, i get Invalid Product ID

### Tested environment (Emulator? Real Device?)

Real device

### Steps to reproduce the behavior

This works:

[code]

Thi

[2018-10-09 01:03] JJMoon commented on #277
@raynor85 Did you connect the transaction result to your server ?

[2018-10-09 01:07] JJMoon commented on #283
In iOS, initConnection doesn't do anything. You should get subscription / production first.
I think it's the right response.

[2018-10-09 01:12] #227 closed

[2018-10-09 01:47] marcosmartinez7 commented on #283
If youre right, then the buySubscription is checking the valid products in some data retrieved by getSubscriptions previously.. y though that buySubscription was checking against the AppleStore API. So i guess the module is handling the list of available products internally, in the app memory.

[2018-10-09 12:17] dooboolab commented on #279
@marcosmartinez7 Thanks please come back.

[2018-10-09 18:37] marcosmartinez7 commented on #275
@kevinEsherick

Brilliant!

Just some things that arent so trivial about your code;

1. It should be

const expiration = **renewalHistory**[renewalHistory.length - 1].expires_date_ms

instead of (probably just a typo)

const expiration = **latestRenewalReceipt**[latestRenewal.length - 1].expires_date_ms

2) For those who dont know what is  'password': 'whateveryourpasswordis':

You can create your

[2018-10-09 19:16] marcosmartinez7 commented on #275
@kevinEsherick

What happens with autorenewal subscriptions?

Seems that the expires_date_ms is the first expiration date, it is not updated

I have tested this:

1. Subscribe to a subscription item
2. Check the expiration date (like 5 minutes after)
3. Wait 10 minutes
4. Subscription still active seems is autorenewal subscription
5. If i check the last renewal receipt expiration is still the same

[2018-10-09 19:19] raynor85 commented on #277
@dooboolab I have tried using both `RNIap.buyProduct(sku)` and `RNIap.buyProductWithoutFinishTransaction(sku)` with `RNIap.finishTransaction()`, and for both I have used `RNIap.validateReceiptIos(receiptBody, true);`, with `const receiptBody = {'receipt-data': purchase.transactionReceipt, password: '[apple-id-password]'};`, but no luck. Also it is worth noting that whichever password I put in '[ap

[2018-10-09 19:46] dooboolab commented on #277
@raynor85 Actually, I don't know why this is happening. I might have to try this out in near future. Also, did you try to test this through the test flight? If you haven't upload the app to `test flight` I think it may happen.

[2018-10-10 09:43] Gaia-Nutrition commented on #279
@dooboolab Issue is present on iOS too. Tried both `2.3.1` as well as `2.3.2`

[2018-10-10 15:20] raynor85 commented on #277
I haven't tried to upload the app on testFlight, because I'd like to have a dev version to work with before potentially upload a broken beta build. Maybe codepush could be handy in this case. Anyway, can you please explain the meaning of `const receiptBody = {'receipt-data': purchase.transactionReceipt, password: '[apple-id-password]'}`? I have tried to put any password, and I still get the same o

[2018-10-10 16:49] kevinEsherick commented on #275
Oops yea you are correct, that was a typo. I had changed the name to make its meaning more obvious but forgot to change all occurrences. I've edited it, thanks.

And I haven't had that exact scenario with expiration date but there was some stuff with it not autorenewing at all, though it somehow resolved on its own (which worries me, but I can't reproduce so idk what else to do). The issue you had

[2018-10-10 16:57] marcosmartinez7 commented on #283
@dooboolab can you confirm that this is the correct behaviour?

Thanks

[2018-10-10 17:02] raynor85 commented on #277
Also, what about `accessToken` needed for `validateReceiptAndroid`? I have checked the amazing post on stack overflow you mentioned, but there is no clear guide on how I can get the accessToken, do you recommend a dead simple way to get that access_token without necessarily build a server? The doc says that it is possible to do receiptVerification on the device directly: https://developer.android.

[2018-10-10 17:07] marcosmartinez7 commented on #275
Thanks! Great info, could be the reason

About this issue, i think the @kevinEsherick  code should be on the docs 👍

[2018-10-10 18:35] dooboolab commented on #279
I think it is fixed in `2.3.3`. Please reopen when this is still occurring.

[2018-10-10 18:42] dooboolab commented on #283
`initConnection` is checking whether you can purchase in `ios` unlike in Android which actually starts the `billing` service.

Yes, in ios, you should always `fetchProducts` first. You can see more info [here](https://medium.com/ios-development-tips-and-tricks/working-with-ios-in-app-purchases-e4b55491479b).

[2018-10-10 18:44] dooboolab commented on #275
Yes. I would appreciate an neat doc in `readme` if any of you request a `PR`. Thanks.

[2018-10-10 18:45] marcosmartinez7 commented on #283
Thanks!

It tooks me a lot of time to realice that was the problem, because the "Invalid product id" has a lot of common causes :P

it would be cool to add this to the docs too

[2018-10-10 19:02] dooboolab commented on #277
@raynor85
1. You can check [validating receipt in ios](https://developer.apple.com/library/archive/releasenotes/General/ValidateAppStoreReceipt/Chapters/ValidateRemotely.html) which explains that the password is "_Only used for receipts that contain auto-renewable subscriptions. Your app’s shared secret (a hexadecimal string)._".
2. I haven't tried this actually. I've developed this feature for ot

[2018-10-10 19:07] dooboolab commented on #277
Also, please try `2.3.4` as a receiptValidation in android. The param was sending wrong identity in `transactionReceipt` for android.

[2018-10-10 19:37] dooboolab commented on #275
Hi guys. I've added [Q & A section](https://github.com/dooboolab/react-native-iap#Q%20&%20A) in readme. Hope anyone of you can give us a `PR` for this issue.

[2018-10-10 19:37] dooboolab commented on #283
I've added [Q & A section](https://github.com/dooboolab/react-native-iap#Q%20&%20A) in readme.  Will close this for now.

[2018-10-10 19:37] #283 closed

[2018-10-10 21:04] Gaia-Nutrition commented on #279
@dooboolab I'm sorry, just installed and relinked `2.3.5`. `await RNIap.buySubscription(iapProductId)` still immediately returns `undefined` on iOS

[2018-10-10 21:31] Gaia-Nutrition commented on #279
@dooboolab I tried linking and unlinking. Whenever I switch back to `2.2.2` it starts working again. But I'll check again tomorrow. Maybe try to manually install the native component

[2018-10-11 06:47] Gaia-Nutrition commented on #279
@dooboolab Ok, I now manually linked the new `2.3.6` version. Still getting `undefined`. I'd love to help solve this issue. Let me know what I can do to help!

[2018-10-11 09:58] dooboolab commented on #279
Can somebody confirm this? This shouldn't happen.

[2018-10-11 16:52] kevinEsherick commented on #275
I'll look into making a PR in the next few days :)

[2018-10-12 00:59] raynor85 opened #284 "RNIap.getProducts doesn't get updated products details on Android"
### Version of react-native-iap
2.3.6
### Platforms you faced the error (IOS or Android or both?)
Android
### Expected behavior
If I update a manageable product (ie changing title, description, and / or price), I should get the updated product when I call `RNIap.getProducts(productSkuList)`, and when I try to buy it, I should get a contextual menu with the updated fields

### Actual behavior
`RNIa

[2018-10-12 13:06] dooboolab commented on #284
Related to #194 which is totally uncontrollable.

[2018-10-12 13:33] raynor85 commented on #284
No it is not related, I am talking about another problem here. The same issue raises if you change the price or the description, and it is not related to the fact that the title on android comes with the bundle ID. For that I just stripped it out from the client. This issue is way more serious.

[2018-10-12 20:09] mattsidjohn opened #286 ".getAvailablePurchases() not returning available products while in development."
### Version of react-native-iap
Latest

### Platforms you faced the error (IOS or Android or both?)
No error just no result.

### Expected behavior

I have created 2 products in the ios features as non-consumable products and are Ready to Submit.

I can successfully "getProducts", and have successfully purchased 1 of them. If i try to purchase it again it tells me it has already been purchased. No

[2018-10-12 21:31] dooboolab commented on #284
@raynor85 I think `playstore` may take sometime updating product info. I think it is related in a notion that it is not manageable unless `Android` sdk provides some implementation that guarantee the updates.

[2018-10-12 22:41] mattsidjohn commented on #286
Both of the products are "non-consumable" I have successfully tested purchasing and it works great ( as expected) Where I'm having issues is that since i have purchased 1 of the 2 products when I call getAvailableProducts() nothing is being returned. I would expect based on the documentation I should get 1 result in the array, and it should be the product I have not purchased. I also tested just c

[2018-10-13 04:20] freakyfriday commented on #279
@dooboolab I can confirm that on iOS version 2.3.6 doesn't execute the promises but version 2.2.2 does (using an iPhone 5 device, React Native 0.56)

[2018-10-13 05:20] JJMoon commented on #286
Did you include 2 item ids when you call getAvailablePurchases ? I updated related functions, but this can hardly happen.

[2018-10-13 05:20] dbhowell commented on #286
This may/may not be related, but I'm getting an error on `getAvailableProducts()` of:
[code]
This is after a subscription has been purchased and you attempt to `getAvailablePurchases()`

[2018-10-13 15:39] Gaia-Nutrition opened #287 "buySubscription returns E_UNKNOWN despite successful purchase"
### Version of react-native-iap
`2.2.2` (because any newer version fails on iOS due to #279)

### Platforms you faced the error (IOS or Android or both?)
iOS

### Expected behavior
No error should be thrown. Purchase was successful (live and in production)

### Actual behavior
`E_UNKNOWN` error is returned from Promise
Our Sentry.io error tracking reports this:
[code]

### Tested environment (Emul

[2018-10-15 01:54] mattsidjohn commented on #286
No I did not include the item ids - didn’t know it the function took parameters. I’ll try tomorrow first thing.

[2018-10-15 02:39] mattsidjohn commented on #286
Looks like it doesn’t accept any parameters like I thought....

[2018-10-15 02:55] JJMoon commented on #287
@Gaia-Nutrition Would you check this old-issue? It' might be same cause.
https://github.com/dooboolab/react-native-iap/issues/201

[2018-10-15 03:04] JJMoon commented on #286
I mean this ids.. You have to include these items like this. I guess you did this.

https://github.com/dooboolab/react-native-iap/blob/8cb75740a3b4c4f5bd7153ed3a1faf6f44e2ec20/RNIapExample/src/components/pages/First.js#L18

[2018-10-15 03:33] mattsidjohn commented on #286
If you read my first and second clarification of my issue it’s the
getAvailableProducts() function that it is not giving me a response. Will
this function work in sandbox mode?

On Sun, Oct 14, 2018 at 10:04 PM Jongwoo Moon <notifications@github.com>
wrote:

[2018-10-15 03:34] mattsidjohn commented on #286
Yes my purchasing and product receiving works fine. It’s the getAvailableProducts() that is not returning a result. Is that expected behavior while in development?

[2018-10-15 04:11] JJMoon commented on #286
Yes. The method should return one item you already purchased with that account.
But, the Apple IAP server frequently malfunctions, I cannot tell a certain answer.
The method was tested in sandbox circumstances. I hope you make a new sandbox account and test again.

[2018-10-15 07:31] Gaia-Nutrition commented on #287
@JJMoon in #201 the error was `E_DEVELOPER_ERROR` and was caused by not populating the `validProducts` list using `getSubscriptions()`.
However, I am calling the function before trying to perform the checkout and I also get a different error.
But now that I think about it. It could happen that there is quite some time delay between the `getSubscriptions()` and `buySubscription()` call caused by th

[2018-10-15 07:32] JJMoon commented on #279
I guess this is same issue with this.
https://github.com/dooboolab/react-native-iap/issues/201

Would you check this?

[2018-10-15 19:13] mattsidjohn commented on #286
So is it impossible to fully test this until its live on the app store? I'm at a loss...

[2018-10-15 21:57] medlJeremy commented on #279
I am also experiencing this issue on 2.3.7. When i try to use `await` the next line is called right away instead of waiting for the promise, and when i use `RNIap.buySubscription(subId).then(purchase => {})` it crashes with error cannot read property then of undefined

[2018-10-15 23:11] dooboolab commented on #279
We're currently working on this. Also, anyone who is facing this, did you call `getSubscriptions` before actually calling `buySubscription`?

[2018-10-16 06:56] JJMoon commented on #279
I just tested purchase in RNExample app. I purchased subscription with buyProductWithoutFinishTransaction() method.

[2018-10-16 13:58] Jerome91410 commented on #287
Hello,

Same issue  behavior with "buyProductWithoutFinishTransaction" or "buyProduct".

Version 2.2.1

the return stored is
`{
	"framesToPop": 1,
	"code": "E_UNKNOWN",
	"nativeStackIOS": [...],
	"userInfo": {
		"NSLocalizedDescription": "Connexion à l’iTunes Store impossible"
	},
	"domain": "SKErrorDomain",
	"line": 16,
	"column": 1599,
	"sourceURL": "..."
}`

We updated the module because we rep

[2018-10-16 15:51] mattsidjohn commented on #277
@raynor85 I am not able to get a response from purchaseHistory() or getAvailablePurchases() either. I'm wondering if those functions just won't work until app is in production. @JJMoon Should those functions work in sandbox mode?

[2018-10-16 16:35] mattsidjohn commented on #277
Figured it out, I wasn't calling the "finishTransaction()" so i was stuck in a loop on my sandbox test account "Purchase was successful" but didn't not fully process on Apple's side they called it a dead loop.

[2018-10-16 16:35] mattsidjohn commented on #286
Figured it out, I wasn't calling the "finishTransaction()" so i was stuck in a loop on my sandbox test account "Purchase was successful" but didn't not fully process on Apple's side they called it a dead loop. This can be closed.

[2018-10-16 19:39] fierysolid commented on #287
The interesting part is that the restore purchase also fails for my users when this happens.

[2018-10-16 20:21] #286 closed

[2018-10-16 20:21] #284 closed

[2018-10-16 22:12] Jerome91410 commented on #287
@fierysolid Same case , we are around 5% of purchases on iOS who failed. When the customer try to buy again, he has a restore purchase pop up.

[2018-10-17 00:17] dooboolab commented on #279
@Gaia-Nutrition Can you try `2.3.8`? Also, what did you call `getSubscriptions` before `buySubscription`?

[2018-10-17 05:59] eis opened #288 "restoring purchase made with redeem code doesn't work on IPhone SE, works on others"
### Version of react-native-iap

1.3.6

### Platforms you faced the error (IOS or Android or both?)

IOS

### Expected behavior

Redeeming purchases would work

### Actual behavior

Redeeming purchases don't work

### Tested environment (Emulator? Real Device?)

Real device, IPhone SE

### Steps to reproduce the behavior

This is the relevant code I'm using to update product bought status:

[code]

[2018-10-17 12:34] dooboolab commented on #288
@eis
`1.3.6` is an quite old version. Please update our module and comeback.

[2018-10-17 13:55] eis commented on #288
@dooboolab which version can I upgrade to? Current version has issue #279 and 2.2.2, the one working before that has issue #287, both no-go issues. I can't break existing purchase functionality.

[2018-10-17 17:06] punksta commented on #168
I am having the same issue too. I coded in similar way as @nkov  in `Make purchase`. It's still not clear what is proper way of calling initConnection and endConnection

[2018-10-18 10:31] dooboolab commented on #168
@punksta `initConnection` checks the availability for purchase in `ios` which is somewhat `trivial`. However, it is `critical` in `Android` because the `BillingService` in `Android` is not always running. To use the `billing` feature in `Android` you need to start `BillingService` which is what `initConnection` does.

[2018-10-18 10:32] dooboolab commented on #288
Currently, I prefer you to use `2.2.2` because we are solving `buySubscription` regression issue in `2.3.*`.

[2018-10-18 10:42] punksta commented on #168
I understand it, it's clear. however calling initConnection second time after endConnection sometimes crashes the app. I meant that the flow is not very clear.
`When you are done with the billing` is not very clear.
Should I call  initConnection before each purchase and endConnection just after each? Or better to use AppState to close connection when app in background? Users can use billing few ti

[2018-10-19 06:44] JJMoon commented on #279
I tested buySubscription in iOS device in sandbox mode.
It managed to success, but it shows some error message.
And Auto renewable subscription doesn't issue receipt.
I suggest to use buyProductWithoutFinishTransaction and finishTransaction instead of buySubscription.
Currently I have no device for test, I will track this issue later.

[2018-10-19 15:00] dooboolab commented on #279
Feels like this is only issue in `iOS` currently. Am I right?

[2018-10-19 15:17] mfentross commented on #279
@dooboolab No, also occuring on Android. The function returns undefined even before the first line in buyItemByType is called.

[2018-10-19 15:28] mfentross commented on #279
@dooboolab The problem is caused in the index.js:105. You should change the lines to something like

`
export const buySubscription = (sku, oldSku, prorationMode) => Platform.select({
    ios: () => RNIapIos.buyProduct(sku),
    android: () =>  RNIapModule.buyItemByType(ANDROID_ITEM_TYPE_SUBSCRIPTION, sku, oldSku, -1),
  })();
`
(I know this ignores prorationMode)

However after successfully subsc

[2018-10-19 20:52] chessbr commented on #162
https://github.com/facebook/react-native/issues/21490 basically clean caches (check end of the issue)

[2018-10-20 02:11] dooboolab commented on #279
@mfentross Which version of `react-native-iap` are you at? There is empty line in `RNIapModule.java:427`.

[2018-10-20 07:55] mfentross commented on #279
My fault: I edited a few lines. But the fix for the main problem is to edit the buySubscription function to

`
export const buySubscription = (sku, oldSku, prorationMode) =>
    Platform.select({
        ios: () => RNIapIos.buyProduct(sku),
        android: () => {
            if (!prorationMode) prorationMode = -1;
            return RNIapModule.buyItemByType(ANDROID_ITEM_TYPE_SUBSCRIPTION, sku,

[2018-10-20 16:53] mfentross commented on #279
@dooboolab Thanks, it works now 👍

[2018-10-20 17:42] JVallius commented on #288
I have same problem with iPhone 5s. In production environment, RNIap.getAvailablePurchases() returns an empty array when using iPhone 5s, sandbox works fine. On iPhone 7 purchase can be restored without problems in production. I'm using react-native-iap version 2.3.1

[2018-10-20 18:12] mars-lan opened #290 "Why use custom error messages?"
What's the rationale for manually mapping error codes to custom descriptions here:
https://github.com/dooboolab/react-native-iap/blob/98e9d230be99ce87f368e0446ed108656b0588b8/ios/RNIapIos.m#L311

Wouldn't it better to simply use whatever returned by https://developer.apple.com/documentation/foundation/nserror/1414418-localizeddescription?language=objc  ? This also has the benefit of localizing the

[2018-10-20 18:34] dooboolab commented on #290
Yeah maybe you can give a `PR` for this one.

[2018-10-21 01:55] #290 closed

[2018-10-22 06:47] Buwaneka1993 opened #292 "Check subscription is still active or not? (Both iOS and Android)"
### Version of react-native-iap
2.3.10
### Platforms you faced the error (IOS or Android or both?)
both
### Expected behavior
Simply check whether subscription is active or not (I'm using auto renewal option)
Can I use `getAvailablePurchases()` method for check whether user still subscribe or not?

* In my App , subscription cancel by user by their own or if there is some issue in their card(Payme

[2018-10-22 07:13] Buwaneka1993 opened #293 "Exactly identify already subscribed to specific item or not"
### Version of react-native-iap
2.3.10
### Platforms you faced the error (IOS or Android or both?)
Both
### Verify is this the correct way to do it
Simply check whether subscription is active or not (I`m using auto renewal option)
Can I use `getAvailablePurchases()` method for check whether user still subscribe or not?

* In my App , subscription cancel by user by their own or if there is some iss

[2018-10-22 09:49] Buwaneka-Sumanasekara opened #294 "How to get client info? (subscriber info such as email,name etc.)"
### Version of react-native-iap
2.3.10
### Platforms you faced the error (IOS or Android or both?)
both

[2018-10-22 12:51] JJMoon commented on #293
@Buwaneka1993 I hope you to refer to the example project.  I hope you to take a time and study, code, test enough. Use === instead of ==.

[2018-10-22 12:57] dooboolab commented on #294
I wasn't aware that we can get that from the purchase. Do you have any information that does this?

[2018-10-22 12:58] dooboolab commented on #292
`getAvailablePurchases` is to restore the `non-consumable purchase`. If you want to handle that you should check the `receipt` as explained in official Apple document.

[2018-10-22 12:58] #292 closed

[2018-10-23 02:47] Buwaneka1993 commented on #294
For Google pay we can do this it in this way(According to the Android developer site)
https://developer.android.com/google/play/billing/billing_library_overview#java

- From you app, send the **purchase token** and **user account credential** to your secure backend server. The secure backend server should associate the purchase with the user after verification has succeeded.
- After you get the to

[2018-10-23 11:32] jarvisluong opened #297 "Linking in android studio requires RNIapExample?"
### Version of react-native-iap 2.3.12

### Platforms you faced the error (IOS or Android or both?) Android

### Actual behavior
Doing gradle syncing and I got this error: The specified project directory '<Project path>/node_modules/react-native-iap/RNIapExample/android' does not exist.

I did all the manual project link

[2018-10-23 14:43] dooboolab commented on #297
I think you can remove some kind of dependency like that. The example doesn't exist in npm. I don't quite get how you achieve that. You could be more detail from me to reach your problem.

[2018-10-23 14:56] dooboolab commented on #279
@JJMoon He says if wrap method with `async` and `await`, it works. However, I am not quite sure how this could be possible. Wrapping with `async` and `await` is redundant in return value isn't it?

[2018-10-23 15:05] jarvisluong commented on #297
Is changing from “compile” to “implementation” the cause of this? That was the only change I made when linking the module.

[2018-10-23 22:42] dooboolab commented on #297
@jarvisluong No that isn't a problem. Can you delete `react-native-iap.iml` file in side our module and try that?

[2018-10-24 04:36] pehagg opened #298 "README API Reference doesn't match implementation"
### Version of react-native-iap

2.3.12

### Platforms you faced the error (IOS or Android or both?)

both

### Expected behavior

README and code docs should match. Affects at least `initConnection`, haven't checked the rest of the functions, but it'd be appreciated if the API Reference in README would match the code. Now I don't know which one to trust and need to start skimming through the impl

[2018-10-24 04:41] dooboolab commented on #298
@pehagg Sorry that we couldn't fully manage the outdated docs. I'll fix this with your help for creating issue. If you read the [ChangeLogs](https://github.com/dooboolab/react-native-iap/blob/master/CHANGELOG.md), you can see I've been supporting `canMakePayment` from `1.2.4`. It had no-ops in ios before.

[2018-10-24 07:29] #298 closed

[2018-10-24 07:34] jarvisluong commented on #297
@dooboolab yes it solved the problem, but I need to delete both ```react-native-iap.iml``` and ```android.iml``` inside the module too

[2018-10-24 07:34] #297 closed

[2018-10-24 07:38] dooboolab commented on #294
@Buwaneka1993 Could you also find us information on `ios` also? We need to think this as a new feature after some consideration.

[2018-10-24 10:17] dooboolab commented on #279
Please reopen when this is still occurring. Thank you for all helps.

[2018-10-24 10:17] #279 closed

[2018-10-24 10:43] anandwahed opened #299 "iOS in-app purchase failure when no payment method added"
### Version of react-native-iap

`react-native-iap": "^2.2.2`

### Platforms you faced the error (IOS or Android or both?)

iOS

### Expected behavior

- User selects the in-app purchase but no payment methods have been added in the Apple account
- User is taken to the Apple account settings page to add payment method
- User adds the card details and selects `Done`
- User's card is charged for the

[2018-10-24 10:54] dooboolab commented on #299
@anandwahed Hi. Thank you for the issue. Feels like #279 is related to this one which is recently resolved. Could you try `2.3.14` and come back?

[2018-10-24 11:45] longleTDT opened #300 "getAvailablePurchases RETURN array empty [] despite I have completed successfully purchase both IOS and Android platform"
### Version of react-native-iap
"react-native-iap": "^2.3.12",

### Platforms you faced the error (IOS or Android or both?)
both
### Expected behavior
array not empty
### Actual behavior
[]
### Tested environment (Emulator? Real Device?)
Iphone 6s and Samsung galaxy S6
### Steps to reproduce the behavior
I have purchased completed one subscription on android and one non-renewable subscription on i

[2018-10-24 14:30] dooboolab commented on #300
One of most question asked in issue. I think I should write this up in `Q&A` soon. I'll help you understand the process of in-app purchase better if you read the official docs provided in each platform (android & ios).

`getAvailablePurcahses` is used only when you purchase a non-consumable product. This can be restored only. If you want to find out if a user subscribes the product, you should che

[2018-10-24 15:47] dooboolab commented on #293
@Buwaneka1993 Please refer to #300. I will close this as a dupe.

[2018-10-24 15:47] #293 closed

[2018-10-24 15:50] dooboolab commented on #288
@JVallius If it works fine in `production`. I think it is a config problem that relies on your `apple account`. Try use different account for sandbox user and production user.

[2018-10-24 15:50] dooboolab commented on #288
Also I prefer you guys to use `2.3.14` which regression issue is solved today.

[2018-10-24 16:09] eis commented on #288
We are of course using different accounts for sandbox (testing) and prod, it is not possible even to do any other way. But the point is this:

| Environment        | Product           | Result  |
| ------------- |:-------------:| -----:|
| sandbox     | iphone 6 | works |
| production     | iphone 6      | works |
| sandbox     | iphone SE | works |
| production     | iphone SE     | doesn't work

[2018-10-24 16:09] eis commented on #288
But haven't yet upgraded the library, will try that next.

[2018-10-24 16:36] dooboolab commented on #288
@eis Ok it sounds like concurrent with issue in [flutter_inapp_purchase](https://github.com/dooboolab/flutter_inapp_purchase/issues/46). I feel this happens cause of fragile support on the `NSDictionary` which I might have to handle different way. Let me try this and comback.

[2018-10-24 17:07] dooboolab commented on #288
@eis I've just updated this in `2.3.15`. You may try this and please reopen when this is still occuring. I will close this for now. Thank you for the hard test by the way.

[2018-10-24 21:08] dooboolab commented on #287
Hi everyone. I hope it is fixed in our new version today which is `2.3.15`. I've have noticed that using `NSDictionary`in ios purely is not downward compatible and may cause unexpected behavior. I've fixed this hope now it works ok in every device. Please test this out.

[2018-10-24 21:10] dooboolab commented on #274
Could you try recent version now which is `2.3.15`?

[2018-10-24 23:02] curiousdustin commented on #275
I am also looking to use this library specifically for subscriptions. Both iOS and Android. Documenting the proper way to determine if a user has a valid subscription would be greatly appreciated. 😄

[2018-10-24 23:20] dooboolab commented on #275
@curiousdustin Apple's implementation on this is really terrible if you refer to [medium](https://medium.com/revenuecat-blog/ios-subscriptions-are-hard-d9b29c74e96f). Since you need to handle this kind of thing in your backend, we couldn't fully support this in our module. However, you can get `availablePurchases` in android using our method `getAvailablePurchases` which won't work on ios subscrip

[2018-10-24 23:29] #277 closed

[2018-10-24 23:31] dooboolab commented on #287
Please reopen when still facing the problem.

[2018-10-24 23:31] #300 closed

[2018-10-25 08:37] antbaobao opened #301 "IAP not prepared.Was prepare method called successfully?"
### Version of react-native-iap
2.0.3
### Platforms you faced the error (IOS or Android or both?)
Android
### Expected behavior

### Actual behavior

### Tested environment (Emulator? Real Device?)
Real Device
### Steps to reproduce the behavior

[2018-10-25 12:55] dooboolab commented on #301
@antbaobao Please use `initConnection` instaed since that was deprecated in `2.0`. Also try our recent version and come back. I will close this.

[2018-10-25 12:55] #301 closed

[2018-10-25 14:21] curiousdustin commented on #275
So are you saying the solution that @marcosmartinez7 and @kevinEsherick are working on in this thread is NOT a solution, and that a backend server other than Apple's is necessary to confirm the status of an iOS subscription?

From reading the Medium article you posted along with the Apple docs, it does seem that using a server is preferred, but it is not impossible to determine subscription status

[2018-10-25 15:03] dooboolab commented on #275
Sorry that I've missed some information in my writing. I will manage this now.
`Apple` suggests to save the `receipt` in your own server to prevent from middle attack. Therefore you can later check that receipt to find out whether receipt if valid or subscription is still available.

However, it isn't impossible to still try out with `react-native-iap` since we provide the direct fetch of validati

[2018-10-25 17:13] kevinEsherick commented on #275
Hey guys, sorry it's been more than a few days, I've been caught up in work but I'll still submit that PR to update the README. @curiousdustin the method I wrote about above definitely works and I'll add that to the docs. I'll submit the PR tonight or tomorrow :)

[2018-10-25 17:15] kevinEsherick commented on #274
Yea I'll take it for a spin at some point today

[2018-10-25 19:49] curiousdustin commented on #275
Thanks the the update.

One more thing I noticed from your example.

...

In my testing, purchases and renewalHistory aren't necessarily in any particular order. Wouldn't we need to sort them or something to verify we are using the one we intend to?

[2018-10-26 14:02] danrevah commented on #287
@dooboolab
I still get this issue while trying using `buySubscription()` using a sandbox itunesconnect user.

[2018-10-26 17:13] dooboolab commented on #287
@danrevah So you've tried our new version which is `2.3.15`? @JJMoon Can you please test this one more time?

[2018-10-26 18:06] evaleirasclapps opened #302 "Android - await RNIap.buySubscription is returning undefined"
### Version of react-native-iap
**2.3.15**

### Platforms you faced the error (IOS or Android or both?)
**Android**

### Expected behavior
Get purchase when subscription was completed successfully.
### Actual behavior
The promise resolves immediately (without the purchase is complete)

### Tested environment (Emulator? Real Device?)
Emulator

[2018-10-26 19:54] evaleirasclapps commented on #302
Resolved on PR #303

[2018-10-26 20:34] danrevah commented on #287
@dooboolab yes Im using that version.

[2018-10-26 21:11] dooboolab commented on #302
Could you try `2.3.16` ?

[2018-10-26 21:14] evaleirasclapps commented on #302
Was fixed?

[2018-10-26 21:17] evaleirasclapps commented on #302
Works

[2018-10-26 22:18] dooboolab commented on #302
Thanks. I'll close this.

[2018-10-26 22:18] #302 closed

[2018-10-26 22:21] dooboolab commented on #287
@danrevah Please try `2.3.16`.

[2018-10-27 01:37] andrewzey commented on #275
Same here. Purchases and renewalHistory are definitely not ordered, so we do have to sort first. In dev, that ends up being a lot of iterations.

[2018-10-27 02:02] andrewzey commented on #275
Here is the function I am using that works on both Android and iOS, properly sorting on iOS to ensure we get the latest receipt data:

[code]

[2018-10-27 12:32] dooboolab commented on #287
@JJMoon Do you have any clue on this? he is using iPhone6S

[2018-10-28 04:44] dooboolab commented on #287
I've reopened the issue.  cc @JJMoon

If more people votes to this issue, we will try harder to dig this more deeply.

[2018-10-28 08:31] JJMoon commented on #287
@danrevah I hope you to refer to this document.
https://developer.apple.com/library/archive/documentation/NetworkingInternet/Conceptual/StoreKitGuide/Chapters/Subscriptions.html#//apple_ref/doc/uid/TP40008267-CH7-SW6
To test subscription in sandbox mode, you need to re-purchase subscription after some time.
And you might need to cancel it to purchase again.
And there are some weird reactions from

[2018-10-28 11:02] dooboolab commented on #274
@kevinEsherick What's your result for this one?

[2018-10-28 11:02] #272 closed

[2018-10-28 11:03] dooboolab commented on #271
Closing this for dupe #275

[2018-10-28 11:03] #271 closed

[2018-10-28 11:05] dooboolab commented on #287
If @JJMoon case is the problem we may close this again. Please reopen if you still needs help on this one. @danrevah

[2018-10-28 11:05] #287 closed

[2018-10-28 11:05] #299 closed

[2018-10-28 18:57] marcosmartinez7 commented on #275
@andrewze

On the android scenario, if the subscription is auto-renewable it will be returned on availablePurchases

[2018-10-29 15:22] BakytzhanAkzhol opened #304 "Invalid product Id on iOS"
**Version of react-native-iap**
2.3.17

**Main Library**
expo: "30.0.0"
react: "16.3.1"
react-native: 30.0.0 from expo server

**Platforms you faced the error (IOS or Android or both?)**
iOS

**Expected behavior**
Returning list of subscription
Buy subscription

**Actual behavior**
Our app is already approved and ready for sale on App Store and all products is "Ready for Submit" but still when i c

[2018-10-29 16:51] dooboolab commented on #304
Q1: no
Q2: Have you gone through medium I've posted? It says you don't need to upload the app the testflight for testing this feature. You just need to do the step in the medium.
![image](https://user-images.githubusercontent.com/27461460/47666218-5502ad80-dbe6-11e8-8468-66d5675ad154.png)

Make sure your product is in `Ready To Submit` status.

[2018-10-30 04:43] BakytzhanAkzhol commented on #304
Hi, I read your article and made this step.But, I still can't get list subscriptions.
Right now, I have one item for subscription in purchase.

[2018-10-30 09:43] anandwahed commented on #299
@dooboolab Since you have edited the comment after closing the ticket we didn't get notification about the change. We used the version `2.3.14` as per the last comment and still have the issue. Now we are trying to use the latest version `2.3.17`

[2018-10-30 09:43] Buwaneka1993 opened #305 "iOS: Error while trying to call buySubcription function: 'restoreCompletedTransactionsFailedWithError'"
### Version of react-native-iap
2.3.10
### Platforms you faced the error (IOS or Android or both?)
IOS
While tring to call buySubcription function i`m getting error 'restoreCompletedTransactionsFailedWithError ' . and not showing any screen. I used sandbox testing account for this

### Tested environment (Emulator? Real Device?)
Tested in Both

[2018-10-30 11:16] Buwaneka1993 commented on #305
I have updated this package version to 2.3.17 and specified the error: its 'Cannot connect to iTunes Store' I have just tested it in Emulator. any idea for resolve it?

[2018-10-30 13:43] dooboolab commented on #305
For connection issue you should check your ios setup like the bundle id.

[2018-10-30 13:48] dooboolab commented on #304
I can't read your language so are you sure it is in `Ready to Submit` state?

[2018-10-30 13:49] dooboolab commented on #304
Also please refer to #256 who've explained the config step in detail.

[2018-10-30 14:00] mars-lan commented on #288
@dooboolab  I can confirm that this is still happening for `2.3.17`. Please re-open the issue.

[2018-10-30 15:21] wesleymonaro opened #306 "BuySubscription not works in IOS"
### Version of react-native-iap
2.3.13
"react": "16.2.0",
"react-native": "0.53.0",

### Platforms you faced the error (IOS or Android or both?)
IOS only

### Expected behavior
Call a window to confirm the subscription

### Actual behavior
Not firing any windows or message

### Tested environment (Emulator? Real Device?)
Both, iOS 11.4

### Steps to reproduce the behavior
Hi!
I need to call a buyS

[2018-10-30 15:22] wesleymonaro commented on #306
Information, I included a catch, to see any error message, but nothing happens :/

[2018-10-30 15:42] dooboolab commented on #306
@wesleymonaro Please try `2.3.17` and comeback.

[2018-10-30 15:53] wesleymonaro commented on #306
@dooboolab Nothing :/
react-native-iap reinstaled, with link comand line, and i tried manually too. Same problem. Nothing is fired

[2018-10-30 15:57] wesleymonaro commented on #306
Question: Even though Apple has not yet approved the new version of the app with IAP, something should come up, right?

[2018-10-30 18:37] BakytzhanAkzhol commented on #304
Yes, It says **Ready to Submit**. I forgot to translate for you. Sorry.

[2018-10-30 18:58] kevinEsherick commented on #274
Still not working. If I'm subscribed to monthly and switch to yearly it hits the catch clause. There have been some times where it has randomly worked but haven't found a way to reproduce yet. I will keep you updated on what I find and please do the same for me. Thanks!

[2018-10-30 19:15] kevinEsherick commented on #275
@curiousdustin @andrewzey You're right, purchases is not ordered. renewalHistory/latest_receipt_info, however, is always ordered for me. I remember realizing that purchases wasn't ordered but thought I had found some reason that this wasn't actually of concern. I'll look into this in a couple hours once I get home. I don't want to submit a PR til we have this figured out.

[2018-10-30 21:53] andrewzey commented on #275
@kevinEsherick Thanks! In my case, neither the purchases nor renewalHistory were ordered.

[2018-10-31 01:56] dooboolab commented on #306
@JJMoon can you test this out for him?

[2018-10-31 01:58] dooboolab commented on #304
Please refer to #256 and try again

[2018-10-31 01:59] JJMoon commented on #306
Did you make sandbox tester and test with that account in real device ?

[2018-10-31 02:01] JJMoon commented on #274
@kevinEsherick How did you "switch" the subscription? I guess you "cancel" monthly subscription, and  "buy again" yearly subscription. Is that right?

[2018-10-31 02:43] Buwaneka1993 commented on #305
I have checked the bundle id , there is no difference

[2018-10-31 10:18] anandwahed opened #307 "iOS in-app purchase failure when payment method added live when there is not payment method already present"
### Version of react-native-iap

`react-native-iap": "^2.3.17`

### Platforms you faced the error (IOS or Android or both?)

iOS

### Expected behavior

Payment should go through only when `finishTransaction` is being called

### Actual behavior

The amount is being detected after a payment method like credit card is added.
But the `RNIap.buyProductWithoutFinishTransaction(sku)` method reached.

#

[2018-10-31 14:20] wesleymonaro commented on #306
@JJMoon Yes. I created a sandbox account, and the test was maked in a real device

[2018-10-31 14:36] curiousdustin commented on #274
On iOS, can't you switch a subscription by going into the settings app to manage your subscriptions, and then choosing a different product within the same group?

[2018-10-31 16:02] dooboolab commented on #307
Sorry to say this but your code seem to have many syntax error. Please refer to our example project in our repo and compare with your code first.

[2018-10-31 17:07] kevinEsherick commented on #274
@JJMoon No, I simply buy the Monthly subscription in-app, then buy the Yearly subscription in-app. They're autorenewing subscriptions in the same subscription group. If two subscriptions (A and B) are in the same group on iTunes Connect, buying B while subscribed to A is supposed to automatically cancel A and subscribe you to B.

[2018-10-31 21:55] pehagg commented on #168
We're still experiencing issues with 2.3.12. The only way for me to get rid of the random errors we got because the connection was not open anymore or wasn't prepared, was to init the connection every time a purchase is being made and close it once the purchase is completed. However, this has now lead us to see these crashes in our logs:

`Illegal callback invocation from native module. This callb

[2018-10-31 22:41] dooboolab commented on #168
@pehagg You're missing `endConnection`. Please read the apis once more.

[2018-11-01 05:04] ZeroCool00 commented on #294
Hello... any news on this great feature?

[2018-11-01 06:16] zohaibahmed-22 commented on #307
@dooboolab
Thanks for the reply, the code that is posted over here is just for an example, this is not the exact that is being used in the real application.
i will try to explain what is the issue
1.  componentDidMount
     - connection in initiated by calling `RNIap.initConnection();`
     - then products are fetched and store in state by calling `RNIap.getProducts(product)`

2. when user click o

[2018-11-01 06:30] dooboolab commented on #307
Thanks for the detail. Your issue looks clear  now. @cc JJMoon

[2018-11-01 06:31] anandwahed commented on #307
@JJMoon

[2018-11-01 07:07] JJMoon commented on #307
@zohaibahmed-22 Is this sandbox test case ?

[2018-11-01 07:11] zohaibahmed-22 commented on #307
@JJMoon No, its a real environment case.

[2018-11-01 13:42] zohaibahmed-22 commented on #307
@dooboolab @JJMoon have a look at this one
https://forums.developer.apple.com/thread/6431

[2018-11-01 17:15] dooboolab commented on #307
I agree. cc @JJMoon

[2018-11-02 05:45] JJMoon commented on #307
@anandwahed I agree on you. It's my fault. Sorry for that.
I will look over the Apple's thread and take care of the issue.

[2018-11-02 14:18] pehagg commented on #168
I call endConnection in the finally block of a try-catch-finally, where the init, purchase, and consumption is all done in the try block.

[2018-11-03 03:57] dooboolab commented on #168
show us the code so we can figure out

[2018-11-03 18:58] dooboolab commented on #275
@kevinEsherick @andrewzey Can you guys give `PR` on this solution? We'd like to share with others who are suffering.

[2018-11-04 02:03] andrewzey commented on #275
Sure I'll prepare it right after we're done with our public app launch =).

[2018-11-04 05:12] kevinEsherick commented on #275
I was waiting for more conversation regarding my last comment. I brought up some issues that remain unresolved. Please see above for reference. Once we get that sorted out one of us can make a PR.

[2018-11-04 05:58] andrewzey commented on #275
@kevinEsherick Ah sorry, I missed that.

`expires_date_ms` is definitely unique for me on each renewal receipt. Perhaps I've misunderstood? I noticed that the renewals receipt list attached to each decoded receipt is the same regardless of which receipt is selected, so I could see that you may be right in the following (from my example) not being required:

[code]

But I did it anyways in service

[2018-11-05 01:56] ianataffinity opened #308 "After a successful subscription and clicking on OK from the success dialog, I am asked to verify iTunes, how can I prevent this?"
### Version of react-native-iap
2.3.16

### Platforms you faced the error (IOS or Android or both?)
IOS

### Expected behavior
No dialog

### Actual behavior
Verification dialog after a successful purcahse

### Tested environment (Emulator? Real Device?)
Real Device through Test Flight

### Steps to reproduce the behavior
* Successfully purchase a subscription
* Enter in Apple id to complete purch

[2018-11-05 01:59] ianataffinity commented on #308
Oh and just a quick note. I do call `RNIap.getSubscriptions(this.subscriptionIds)` to get a list of subscription product ID's to use. I don't hardcode the ID's

[2018-11-05 02:50] alorr10 commented on #306
Having this same problem too. Version 2.3.17. I call buyProduct(itemSKU) and no prompt comes up, the promise never gets resolved.

[2018-11-05 03:25] alorr10 opened #309 "RNIap.clearTransaction throwing error"
### Version of react-native-iap 2.3.17

### Platforms you faced the error (IOS or Android or both?) iOS

### Expected behavior RNIap.clearTransaction() should clear out any pending transactions and leave the app in a usable state

### Actual behavior throws an error "Exception 'Cannot finish a purchasing transaction' was thrown while invoking clearTransaction on target RNIapIos with params..."

##

[2018-11-05 05:33] JJMoon commented on #306
@wesleymonaro Did you try buyProduct or buySubscription? I hope you test at least twice. In sandbox mode, the first try doesn't work most of time.
@alorr10 If you tried buyProduct, this is another issue. I ask you to try with new sandbox tester and in real device.

[2018-11-05 05:53] JJMoon commented on #307
@anandwahed I guess it's right way to `finish transaction` when it's failed. Please look up this thread. https://stackoverflow.com/questions/11008636/inapp-purchase-skpaymentqueue-finish-transaction-doesnt-work
When it fails, there will be no receipt, so you don't apply the purchase product. And the finishing transaction doesn't always mean 'purchasing'.
Meanwhile, I will investigate thread 6431.

[2018-11-05 11:31] wesleymonaro commented on #306
@JJMoon Both methods. The same problem

[2018-11-05 17:16] alorr10 commented on #308
That's just a weird testflight thing. [This blog post](http://davidbarnard.com/post/164337147440/testing-auto-renewable-subscriptions-on-ios) explains testing subscriptions really well

[2018-11-05 19:05] #309 closed

[2018-11-05 19:05] alorr10 commented on #309
Signed out and in of icloud, restarted the phone, and it started working again

[2018-11-05 22:18] ianataffinity commented on #308
@alorr10 thanks for pointing me in the right direction.

[2018-11-05 22:18] #308 closed

[2018-11-06 04:35] hyperh commented on #304
Hmm having similar issues with invalid productId

[2018-11-06 11:18] pehagg commented on #168
Here's the code. The only plausible explanation I can come up with is that there's an exception that is swallowed up by RNIap, which would explain that the finally block doesn't get called at all, or then the actual endConnection call fails.

[code]

[2018-11-06 13:50] eminsr opened #310 "Attempt to invoke interface method 'IInAppBillingService.getPurchases()' on a null object reference"
### Version of react-native-iap
"react-native-iap": "^2.3.17"
### Platforms you faced the error (IOS or Android or both?)
Android
### Expected behavior
it should check if `mService` is null before calling `getPurchases()`
### Actual behavior
It doesn't check if `mService` is null and throws this error
`Attempt to invoke interface method 'android.os.Bundle com.android.vending.billing.IInAppBillingS

[2018-11-06 15:42] dooboolab commented on #304
Did you go over above issue I’ve mentioned?

[2018-11-06 15:59] dooboolab commented on #310
Can you show us in which line of code in `Android` it occurs? If it is wrapped with `ensure connection` it should be fine because it is checking whether `mService` is null. Where do you think the problem is occurring?

[2018-11-06 16:05] dooboolab commented on #288
This is strange because I've heard the fixes in `flutter_inapp-purchase` providing same [solution](https://github.com/dooboolab/flutter_inapp_purchase/issues/46). @mars-lan Could you provide in which line of code this is occurring? @JVallius @eis Could you also confirm this?

[2018-11-06 16:13] eminsr commented on #310
I think after `mBillingClient.startConnection()` called there is a time gap until `ServiceConnection` is actually connected. Until then `mService` is `null`. If I don't wait a few seconds before calling the `RNIap.getAvailablePurchases()` function, app crashes.

[2018-11-07 05:00] hyperh commented on #304
@dooboolab Thanks for the link. Followed it and it worked.

[2018-11-07 06:06] eis commented on #288
@dooboolab unfortunately we're having currently an unrelated issue which is getting our app rejected in app store review, so have been unable to test. Will come back to report once we get it resolved.

[2018-11-07 06:09] eis commented on #288
Note though that like I wrote in the initial message,

so if the fix was related to OS version like in the description of the issue you linked, it might be something different.

[2018-11-07 06:52] pehagg commented on #168
Just noticed that the crash is coming from another part of the code, where we initialise the IAPs for the first time. The structure is the same, without the purchase and consumption. Here's a stack trace of such a case:

[code]

In this case we got `E_SERVICE_ERROR` from `initConnection`. What happens if the `initConnection` call fails and you call `endConnection`, as this would be the case with t

[2018-11-07 20:54] JVallius commented on #288
Yes I can confirm that this strange problem is still here. I implemented a custom logging system for my app to see debug messages in production environment, here are the results.

When I'm trying to restore a purchase, the _RNIap.getProducts(itemSkus)_ method returns a correct in-app product from Apple. But next, when calling _RNIap.getAvailablePurchases()_ method, the return value is an empty arr

[2018-11-07 23:42] baytkod commented on #125
thanks !!

[2018-11-08 03:00] JJMoon commented on #307
I just read the thread 6431 (https://forums.developer.apple.com/thread/6431#14562)
The bottom line. Problem not solved since 2015. Wow..
There are two different ways to handle this 'store kit flow' effect.
1. Do not show any user alert.
2. Show the result.

And I learned two things.
A. We have to `finishTransaction` when it failed. (I guess with or without option, always)
B. Storekit flow makes fa

[2018-11-08 09:11] JJMoon commented on #306
@wesleymonaro Would you test with the example of this module? It's tested.
Just change product names, bundle id, you are ready to test.

[2018-11-08 09:12] JJMoon commented on #305
@Buwaneka1993 I hope you test with the example of this module.

[2018-11-08 09:13] JJMoon commented on #304
Nice to hear the issue was resolved. I'm closing this issue.

[2018-11-08 09:13] #304 closed

[2018-11-08 15:28] eminsr commented on #310
I spoke too soon it still causing a crash.

I think there is a time gap between `onBillingSetupFinished` and `onServiceConnected`. `initConnection()` resolves on `onBillingSetupFinished` but until the service is connected `mService` is null.

To fix it in `RNIapModule` I simply `catch` the `NullPointerException` and reject the promise than when `getAvailablePurchases()` is rejected, in the catch I

[2018-11-08 17:05] voidstarfire commented on #306
Also Facing the same problem. IAP not working with ```RNIap.buySubscription('sub')```

I can see the subscriptions with ```RNIap.getSubscriptions(itemSkus)```

I get an unknown error which is very unhelpful
[code]

Completely stuck for now.

[2018-11-08 17:15] dooboolab commented on #310
@eminsr Could you give a `PR` on what you've tried first? It might be helpful.

[2018-11-09 04:08] dooboolab commented on #310
Just merged your `PR` lets see what we can do. Also @LinusU can you give some help with this issue? I remember you've updated some codes here.

[2018-11-09 10:24] umutpiri opened #315 "Android crashes in many devices after release"
### Version of react-native-iap
 "react-native": "0.55.4"
"react-native-iap": "^2.3.2"
### Platforms you faced the error (IOS or Android or both?)
Android
### Expected behavior
Please help me, I need to fix this immediately. Because there are already +2k users
### Actual behavior
App crashes because of rniap in many devices. In play console, I saw this error causes the crash :
java.lang.RuntimeExc

[2018-11-09 10:34] LinusU commented on #310
@eminsr could we modify `ensureConnection` to wait for `mService` as well? That should work, right 🤔

[2018-11-09 10:38] eminsr commented on #310
@LinusU yea that should fix the issue.

[2018-11-11 05:38] umutpiri commented on #315
I can't. Because it was an immediate situation. So, I changed the iap package. Now there are no crashes in +3k users. But, thank you. I will try it in my next project.

[2018-11-11 15:11] jordan-jarolim opened #316 "getAvailablePurchases returns empty array (non-consumable)"
### Version of react-native-iap
2.3.18
### Platforms you faced the error (IOS or Android or both?)
IOS
### Expected behavior
getAvailablePurchases() should return array of previously purchased items
### Actual behavior
getAvailablePurchases() returns an empty array
### Tested environment (Emulator? Real Device?)
TestFlight
### Steps to reproduce the behavior
I am signed with my real apple id, I bu

[2018-11-11 19:42] jordan-jarolim commented on #316
Update: works correctly when running on connected physical device. So it seems theres some problem with TestFlight Accounts.

[2018-11-13 09:53] eminsr commented on #310
Maybe we can add a while loop to `initConnection()` but this doesn't seem like the right way to do it.
[code]

[2018-11-13 15:53] manish9456 opened #317 "Not able to get product list in both android and ios"
### Version of react-native-iap "^2.3.19"

### Platforms you faced the error (IOS or Android or both?) both

### Expected behavior --------- should have given product list

### Actual behavior ----- []

### Tested environment (Emulator? Real Device?) Real Device

### Steps to reproduce the behavior
[code]

[2018-11-13 18:35] dooboolab commented on #317
@manish9456 Do like below as mentioned in readme.
[code]

Please try the example project if you are not sure what todo.
Also, reading readme will help you solve your problem.

[2018-11-13 18:35] #317 closed

[2018-11-13 20:19] JulianKingman commented on #277
This thread got a bit off track, but I'm seeing the same original error when running the app through xcode on my device with a sandbox account (`Error: Cannot connect to iTunes Store`). I'm on 2.3.19, which I believe to be the most recent.

[2018-11-13 20:42] JulianKingman commented on #277
A note from apple in relation to this error: https://developer.apple.com/library/archive/technotes/tn2413/_index.html#//apple_ref/doc/uid/DTS40016228-CH1-ERROR_MESSAGES-CANNOT_CONNECT_TO_ITUNES_STORE

I think in my case, I get this error when attempting to subscribe to a product when I'm already subscribed to it. It also appears to come up when I'm subscribed and attempting to change my subscripti

[2018-11-14 04:52] BakytzhanAkzhol commented on #304
Problem solved.. My mistake was incorrectly filled out a tax form on the site of Apple.com. Thank you)

[2018-11-15 06:17] dooboolab commented on #306
`getSubscriptions` should be called first before actually `buySubscription` in `ios`. Also make sure you've done this.

[2018-11-15 15:42] TylerNoblett commented on #126
I was running into the same issue as @ilyakar, and using the code below I was able to clear the non-consumable purchase and test it again.

[code]

[2018-11-15 19:10] JulianKingman commented on #306
I'm getting this error when trying to change a subscription (`buySubscription` a second time with a different ID).

[2018-11-16 01:05] JJMoon commented on #316
@jordan-jarolim Thank you for your work. Testflight is for closed (and open) beta test tool for production. It's real Apple ID. I suggest not to use real ID for IAP testing. There is Sandbox tester for this purpose. I am closing this issue..

[2018-11-16 01:05] #316 closed

[2018-11-16 08:18] jordan-jarolim commented on #316
According to this article: http://help.testlio.com/testing-mobile-applications/testing-in-app-purchases-on-ios sandbox account is automatically created. So it should work the same way as the sandbox account created in itunes connect. Just help me understand why this shouldnt work please.

[2018-11-16 09:13] schumannd commented on #275
Any ETA on the PR? I am considering moving over from [this package](https://github.com/chirag04/react-native-in-app-utils) as it does not handle this case at all.

[2018-11-16 12:16] schumannd opened #318 "Supporting RN versions <54"
I want to use this package in a RN v51 project. Are there specific reasons why RN 54 is a requirement for this project or are lower versions just not supported?

[2018-11-16 19:25] Nolence opened #319 "Failed to create directory 'C:\...\node_modules\react-native-iap\android\build\intermediates\incremental\mergeDebugShaders'"
### Version of react-native-iap
react: 16.5.0
react-native-iap: 2.3.19
### Platforms you faced the error (IOS or Android or both?)
Android
### Expected behavior
To compile and run
### Actual behavior
Failed to build with an exception
### Tested environment (Emulator? Real Device?)
Windows computer on an Android Emulator in a bash shell.

I just followed the getting started instructions and receive

[2018-11-16 19:34] Nolence commented on #319
Stupid me. This is my first time trying to implement a purchasing feature and I just blindly copied this example code into my project as well and that was causing the crash:

[code]

I haven't actually setup any of the items in my play store.

Thanks

[2018-11-16 19:34] #319 closed

[2018-11-16 23:55] andrewzey commented on #275
@schumannd Given that the PR would be only to update the docs, you can move over to `react-native-iap` now.

I've confirmed that my code snippet does in fact work without issue in production with our recently launched app: https://itunes.apple.com/us/app/rp-diet/id1330041267?ls=1&mt=8

[2018-11-17 00:04] dooboolab commented on #318
You still can use this but you won't be able to use a validating receipt feature in the repository. That's all.

[2018-11-17 00:04] #318 closed

[2018-11-19 03:02] kevinEsherick commented on #275
@schumannd I second what @andrewzey said. Everything a PR would say is contained here in this post. I've been meaning to get around to it but it took us awhile to sort out exactly what needs to be done, and that mixed with travel and hectic startup hours mean I haven't had the time to PR it yet. I still plan to soon, but anyone else can step up in the meantime if they'd like. And @andrewzey congra

[2018-11-19 15:43] schumannd opened #321 "Property `description` missing from Product type description on README"
I have added it in PR #320

Also, title is described as `Returns the title Android and localizedTitle on iOS`. AFAIK title and description are also localized on android. Is this a reference to the property names of the native objects? If yes I would remove it as it can be confusing.

I think a complete documentation of types and functions somewhere could be helpful. Maybe simply introducing someth

[2018-11-19 16:27] schumannd opened #322 "Purchase product for specific users"
I think it's currently an iOS-only feature, but I think it should be implemented in this package.

It makes it possible to use multiple accounts with a single appstore/playstore account without sharing the purchases.

[2018-11-19 17:48] raynor85 opened #323 "RNIap.clearProducts is not a function"
### Version of react-native-iap
2.3.19
### Platforms you faced the error (IOS or Android or both?)
iOS
### Expected behavior
RNIap.clearProducts() should work
### Actual behavior
RNIap.clearProducts() raises this error: ` _reactNativeIap.default.clearProducts is not a function`
### Tested environment (Emulator? Real Device?)
Both
### Steps to reproduce the behavior
Simply run that code. I have fou

[2018-11-19 18:34] schumannd opened #324 "transactionReceipt equal to dataAndroid"
I would think that transactionReceipt should be equal to signatureAndroid. At least that's how I have seen it used in another package. Is there another reason for this design decision?

Also it is confusing that `transactionReceipt` contains a dict on android, but the actual receipt on iOS. Is this intended?

[2018-11-20 15:21] domhadfield opened #325 "Callback issue Android"
### Version of react-native-iap
`"react-native": "0.55.2"`
`"react-native-iap": "^2.3.19"`

### Platforms you faced the error (IOS or Android or both?)
Android

### Expected behavior
No crash

### Actual behavior
Fatal crash

Stacktrace:
[code]

### Tested environment (Emulator? Real Device?)
Live

### Steps to reproduce the behavior
Unable to reproduce, have many reports from live app before roll

[2018-11-21 09:50] Pingou commented on #325
Same problem.

[2018-11-22 02:07] dooboolab commented on #322
Are you saying you want to show different purchases to users in your app? If then, you may implement logic by yourself differentiating the type of users.

[2018-11-22 02:12] dooboolab commented on #324
You need to validate purchase in android with the returned `json` referred to google doc. Also [this](https://medium.com/@infinitesimal_/doing-android-purchase-validation-api-v3-in-java-5c46fc837368) may help. We've stored `transactionReceipt` that will be used to validate the purchases.

Please share something more if you have any other opinion or better solution.

[2018-11-22 02:20] dooboolab commented on #325
I think to figure out your case, you need to put log before each `function call` and try to find out where it is invoking methods. There may be some situations in your code which are not thread safe.

[2018-11-22 07:04] schumannd commented on #324
Thanks, that explains it.

[2018-11-22 07:04] #324 closed

[2018-11-22 08:38] schumannd opened #326 "getProducts and getSubscriptions seem to share their parameters"
### Version of react-native-iap

2.3.19

### Platforms you faced the error (IOS or Android or both?)

iOS

### Expected behavior

The docs for these functions mention, that they might return subscriptions *if* they are included in the list of SKUs. so in a call like:

[code]

I would expect to only get the products / subscriptions referenced by the SKUs supplied.

### Actual behavior

Surprisingly

[2018-11-22 08:44] schumannd commented on #318
Do you know how far back this package supports older RN versions? Maybe this number should be mentioned in the README, as it would encourage more users / contributors to use this package. Validating a reciept on the client side seems to be unsafe anyway, so I would think many could do without that feature.

I moved away from the [current iOS iap package](https://github.com/chirag04/react-native-in

[2018-11-22 12:36] Ollie-Saer-WBS opened #327 "RNIAP.getSubscriptions(itemSkus) returns undefined"
### Version of react-native-iap
2.3.19
### Platforms you faced the error (IOS or Android or both?)
iOS (Have not tried on Android as not required)
### Expected behavior
`console.log( products );` returning the array of my product.  This constant is the value returned by `RNIap.getSubscriptions(itemSkus);`
### Actual behavior
`console.log( products );` returns `undefined`.
### Tested environment (E

[2018-11-23 04:18] dooboolab commented on #327
Have you gone through `Q&A` session in the readme? This is one of most asked issue.

[2018-11-23 08:39] Ollie-Saer-WBS commented on #327
I've had a look at the Q&A briefly, but I'm unsure which one applies to me?  As the function does not return an error message or an empty array, just `undefined`.  Thanks very much for your help.

![Q&A Excerpt](https://user-images.githubusercontent.com/42766020/48934218-0b626580-eefb-11e8-8e1f-6c6065d6f8d2.png)

[2018-11-23 08:42] dooboolab commented on #327
The middle one. Unlinking and linking or manual linking would help.

[2018-11-23 08:53] Ollie-Saer-WBS commented on #327
Unfortunately, running `react-native unlink react-native-iap` and then running `react-native link react-native-iap` produces the same result.  I'll be having a look at manual linking over the weekend.  Thanks very much for your help thus far.

[2018-11-25 18:59] voidstarfire commented on #122
If you use the Prepare method it will crash on release for Android fyi. I'm stuck now cache. Can't use prepare on release APK. Can't validate subscriptions.

[2018-11-26 01:38] JJMoon commented on #322
@schumannd Thank you for your opinion. I am not fully aware of this issue, but it looks like.
This functionality (purchase a product with several Apple ID) might be prohibited by Apple. If it is necessary you just have to log out and sign in with other ID.
And another issue is.
IMHO, some functionality available in Android may (or should) not be included in iOS and vice versa.
Those platforms are

[2018-11-26 01:44] JJMoon commented on #326
Yes. the two methods call the same native objective-c methods, `getItems()`.
You can use this module with knowing this issue, but we will fix the code and document sooner or later.
Thank you for your concern.

[2018-11-27 18:43] lc3t35 opened #328 "RNIap.buySubscription error : E_DEVELOPER_ERROR"
### Version of react-native-iap
2.3.17

### Platforms you faced the error (IOS or Android or both?)
iOS 11.3.1

### Expected behavior
Purchase is done without error

### Actual behavior
This cryptic error is thrown :

InAppPurchase RNIap.buySubscription error :  `{"framesToPop":1,"code":"E_DEVELOPER_ERROR","nativeStackIOS":["0   shares                              0x0000000104454944 RCTFBQuickPerf

[2018-11-30 03:36] theoryweary opened #329 "App crashes after buyProduct on Android"
### Version of react-native-iap
2.3.19",
  "react-native": "0.57.1",
### Platforms you faced the error (IOS or Android or both?)
Android
### Expected behavior
App returns to foreground after completing a purchase
### Actual behavior
App crashes after completing a purchase.  The purchase is successful and exists after restarting the app, but the app should not crash.
### Tested environment (Emulato

[2018-11-30 06:37] dooboolab commented on #329
Well looks weird because it isn't crashing in the example project. Can you try that first and see what you've done differently?

[2018-11-30 07:36] CodeHunterDhi opened #330 "How to consume/cancel a subscription? Not working with consumePurchase"
###Version of react-native-iap
 2.0
"react-native": "0.53",
### Platforms you faced the error (IOS or Android or both?)
android

### Expected behavior
Consumption of a subscription before subscription period is over

### Actual behavior
Not working with  "await RNIap.consumePurchase(purchase.purchaseToken);"

### Tested environment (Emulator? Real Device?)
 In Real Device

### Steps to reproduce t

[2018-11-30 12:45] dooboolab commented on #330
You aren't understanding the iap correctly. You can't consume the subscription.

[2018-11-30 12:45] #330 closed

[2018-11-30 15:29] theoryweary commented on #329
Thanks for the quick response!

I just copied the iapExample/src folder into my react-native project and imported the app.js as my new entry point so that my app only uses the example stack navigator, first and second page. I'm now able to run the app and use the example screens to list my purchases and attempt to purchase my subscription.  Unfortunately I'm still getting the same error.

As far a

[2018-11-30 16:09] dooboolab commented on #329
I can't tell looking at it like this. If you find yourself trouble with other packages, it would be good to install them one by one and see which causes the problem.

[2018-11-30 16:09] #329 closed

[2018-11-30 18:30] theoryweary commented on #329
Hi, I just did more troubleshooting and reran the stack trace in Android Studio. I'm pretty sure that the error is actually coming from RNIapModule.java:430.   Here's the full stack trace:

E/AndroidRuntime: FATAL EXCEPTION: main
    Process: bundleID, PID: 433
    java.lang.NullPointerException: Attempt to invoke interface method 'java.lang.Object java.util.List.get(int)' on a null object referen

[2018-12-02 10:21] pyankoff opened #331 "Error when logged out off Play Store"
### Version of react-native-iap
2.3.19

### Platforms you faced the error (IOS or Android or both?)
Android

### Expected behavior
Graceful fail

### Actual behavior
Native error

### Tested environment (Emulator? Real Device?)
Real device

### Steps to reproduce the behavior
If you log out from Play Store accounts on the device, this line throws an error `Attempt to invoke virtual method 'int jav

[2018-12-02 13:16] superandrew213 commented on #309
Isn't the purpose of `RNIap.clearTransaction()` to clear the queue?

[2018-12-02 17:38] pyankoff commented on #325
Having the same problem with live version of the app :(
Trying to make sure I init and close connection just once by counting invocations. Anything else I can try for thread safety?

[2018-12-03 01:49] dooboolab commented on #331
Yeah. Good catch. We should fix this. Would you mind giving a `PR` for this?

[2018-12-03 11:46] schumannd commented on #322
@JJMoon

I may have been wrong about the reason [applicationUsername](https://developer.apple.com/documentation/storekit/skmutablepayment/1506088-applicationusername) and [restoreCompletedTransactionsWithApplicationUsername](https://developer.apple.com/documentation/storekit/skpaymentqueue/1505992-restorecompletedtransactionswith?language=objc) were introduced in iOS 7. Maybe you cannot do multipl

[2018-12-03 17:52] lefoy opened #332 "Cannot restore/consume a failed purchase on Android"
### Version of react-native-iap
2.3.17

### Platforms you faced the error (IOS or Android or both?)
Android

### Expected behavior
I should be able to restore/consume a consumable product after a payment has failed.

### Actual behavior
I am not able to retrieve the failed payment.

### Tested environment (Emulator? Real Device?)
Real Device

### Steps to reproduce the behavior
We are testing our

[2018-12-03 20:42] maxs15 commented on #307
@JJMoon does it mean we shouldn't use buyProductWithoutFinishTransaction ?

[2018-12-03 21:55] kevinEsherick commented on #274
No. Haven't had much time to address it lately. I'll look into it again soon.

[2018-12-04 03:31] dooboolab commented on #332
This sounds pretty promising. Currently, this is a new issue for me. I think I need to search on google for this weird experience. Also, `consumeAllItems` should work fine, and hard to tell why it isn't working in your case.

[2018-12-04 04:02] #331 closed

[2018-12-04 04:09] dooboolab commented on #332
@lefoy I just found wrong `npe` in `android` during `getAvailablePurchases` and fixed it in `2.3.20`. Would you mind trying this out?

[2018-12-04 05:36] JJMoon commented on #328
@lc3t35 This issue looks similar to #201, #287 as you point out.
Would you share your code ?

[2018-12-04 08:31] lc3t35 commented on #328
Sure, here is the code
[code]

[2018-12-04 10:58] dooboolab commented on #327
Any news?

[2018-12-04 11:05] Ollie-Saer-WBS commented on #327
Unfortunately, I wasn't able to complete the manual linking.  This is because while I am ejected to ExpoKit, I remove the ejection parameters from my `app.json` file.  This allows me to install most React Native community libraries in my project (which CRNA does not), but also allows me to use Expo to build my project.  This, unfortunately, has the knock-on effect of Expo ignoring Native Code duri

[2018-12-04 12:18] dooboolab commented on #327
Your items can be fetched correctly when the status is in `Ready to submit`. Then you can later request the review to reviewer selecting the purchases.

Also, you need to detach to expokit to correctly use our module. Now I see why you won't able to use our module. Since this doesn't seem to be an issue, I will close for now.

[2018-12-04 12:18] #327 closed

[2018-12-04 13:07] yasirsalim22 commented on #328
I am facing the same issue. Money gets deducted from the user apple store account and still, an exception is thrown. @dooboolab

[2018-12-04 13:09] dooboolab commented on #328
cc @JJMoon

[2018-12-04 13:54] lefoy commented on #332
Thank you for the reply. I tried the update but I get the same results, `getAvailablePurchases` returns an empty array and `consumeAllItems` returns `"All items have been consumed"` but I still get the message "Your already own this item" from Google when I tried the purchase again.

I am able to reproduce the issue when I turn off my wifi right after I click on the confirm transaction button in t

[2018-12-05 01:35] kevinEsherick commented on #274
Looking into it some and I've realized that it appears Apple recognizes the change in subscription at least to some extent. If I switch from, say, monthly to yearly, it shows the appropriate modal with language about modifying your subscription. When I purchase yearly, there's an error and buySubscription doesn't resolve. BUT, when I go back to make a purchase again, this time returning to the mon

[2018-12-05 10:50] lc3t35 commented on #328
@JJMoon Please, how can we debug this in order to urgently fix the issue (my app is on the store but users are unable to proceed with payment :=(  ). I'm not very familiar with iOS code but I can instrument/debug the library with your guidance to get more information.

[2018-12-05 13:03] Nits7029 opened #333 "RNIap.getProducts not working"
### Version of react-native-iap: 2.3.21

### Platforms you faced the error (IOS or Android or both?): android

### Tested environment (Emulator? Real Device?) : Real Device

check attached screenshot

![screenshot_2018-12-05-18-23-40-563_com josuq](https://user-images.githubusercontent.com/9457796/49515172-31551600-f8bc-11e8-9670-bb3eca1b9eae.png)

[2018-12-05 13:36] dooboolab commented on #333
Did you check [issue](https://github.com/facebook/react-native/issues/21754) in `react-native`? Check if your version of react-native may cause this problem. This error message doesn't belong to this module.

[2018-12-05 13:36] #333 closed

[2018-12-05 14:20] Nits7029 commented on #333
`async componentDidMount() {
  try {
    const result = await RNIap.initConnection();
     console.log('result', result); // getting true
    const products = await RNIap.getProducts('com.josuq'); // in this line i am getting an error
  } catch(err) {
    console.warn(err); // standardized err.code and err.message available
  }
}`

[2018-12-05 14:20] Nits7029 commented on #333
check my inline comment in above code, thanks

[2018-12-05 17:47] dooboolab commented on #333
Have you gone through the issue link I've posted earlier?

[2018-12-05 19:19] joshbalfour commented on #288
i am also seeing this in production on an iPhone X

[2018-12-06 00:31] pyankoff commented on #325
@domhadfield thanks for suggestion, will do that too as a temporary fix. I'll also try closing connection on switching to background.

I've also managed to crash the app in background by force closing Play Store app while the IAP connection is open. Here is the comment I've got this idea from: https://github.com/googlesamples/android-play-billing/issues/45#issuecomment-324466519

I'm not sure how

[2018-12-06 06:58] dooboolab commented on #321
merged.

[2018-12-06 06:58] #321 closed

[2018-12-06 20:45] sellmeadog commented on #275
I'm not convinced that this thread accurately documents the correct way to manage auto-renewing subscriptions in iOS but instead describes a "workaround" workflow per the API exposed by this library. However, this is entirely speculation on my part and I am well aware that I could be wrong so I would like feedback on the observations I've outlined below.

I have been researching the correct way to

[2018-12-07 04:52] JJMoon commented on #328
@lc3t35 Is this happen all the time ? 100% ?

[2018-12-07 05:37] kevinEsherick commented on #274
Looked into it again some today and I think I've found something of note. What seems to be happening is what was found in this error: https://github.com/bizz84/SwiftyStoreKit/issues/269. When switching between autorenewing subscriptions in the same group, the transaction does not go through because the user will not be billed until the current subscription expires. But it has been successfully reg

[2018-12-07 08:06] oper1782 opened #334 "Where should I write "RSA public key"?"
### Version of react-native-iap
Install the latest version yesterday
### Version of react-native
0.57.1
### Platforms you faced the error (IOS or Android or both?)
android
### Expected behavior
I did not write it but it run
### Actual behavior

### Tested environment (Emulator? Real Device?)
Emulator. Signed App distribute "Alpha Version"
### Steps to reproduce the behavior
const itemSkus = Platfo

[2018-12-07 08:19] dooboolab commented on #334
You don't need to write it down in recent iap module.

[2018-12-07 08:19] #334 closed

[2018-12-07 11:12] Nits7029 commented on #333
yes, it works now. but i am getting blank array now though i have added 2 products in google play console. so what else i need to check?

![screen shot 2018-12-07 at 4 41 54 pm](https://user-images.githubusercontent.com/9457796/49644658-152db200-fa3f-11e8-8403-d5ac04468151.png)

[2018-12-08 05:48] Nits7029 commented on #333
@dooboolab could you please tell me, thanks

[2018-12-08 07:14] dooboolab commented on #333
You need to wait for few hours if you created new products in playstore.

[2018-12-08 08:43] lc3t35 commented on #328
@JJMoon as it is only in production mode, I need your help to issue a ticket at apple and best describe what's happening in iap code exactly, are you available today ?

[2018-12-08 09:12] JJMoon commented on #328
@lc3t35 Have you got the approval on IAP products? The review of Apple ?

[2018-12-08 11:12] lc3t35 commented on #328
@JJMoon yes, products are approuved and app was successfully reviewed and pass the tests from Apple's review,and it works fine in sandbox mode.
I didn't pay enough attention to #307 , first users seems to be in that case : first purchase, card not registered), I will ask them to purchase another app to see if we are in the same case.

[2018-12-08 11:32] lc3t35 commented on #328
@JJMoon last test we've done shows that after the user has his card activated (with the 1$ debit check), then the user can subscribe successfully.

[2018-12-08 19:20] theoryweary commented on #292
I'm also not sure how to check if my subscription is valid on Android.   Using GetPurchaseHistory only returns the manual purchase that started the subscription, but I don't know what method to use to return the new subscription that was automatically purchased by the Play Store when the subscription renews.  Without the new subscription purchase, I don't have any receipt to validate.

Please help

[2018-12-09 01:04] JJMoon commented on #328
@lc3t35 Sorry for late reply. Can I say that this issue is resolved ?

[2018-12-09 10:05] lc3t35 commented on #328
The package must handle this case of error, if you prefer to continue this in #307 you can close this issue.

[2018-12-10 06:39] king804 opened #335 "[Android] cannot buy two time on same product id"
Version of react-native-iap
0.3.23

Version of React Native
react-native : 0.57

Platforms you faced the error (IOS or Android or both?)
Android

Tested environment (Emulator? Real Device?)
Real Device

The client only able to buy once, after that they can't buy again, keep no response on same item.

async componentDidMount() {
         await RNIap.prepare();
         const products = await RNIap.

[2018-12-10 16:15] dooboolab commented on #335
You need to `consumePurchase` to able to re-purchase. If your product isn't `consumable` you can't re-purchase.

[2018-12-10 16:15] #335 closed

[2018-12-11 00:14] Thomazella opened #336 "doboolab-welcome"
why?

[2018-12-11 01:00] king804 commented on #335
Is that every-time access the purchase page require consumer item?

i draft the code like this...correct?

getPurchases = async() => {
  try {
    const purchases = await RNIap.getAvailablePurchases();
    purchases.forEach(purchase => {
        await RNIap.consumePurchase(purchase.purchaseToken);
    })
  } catch(err) {
    console.warn(err); // standardized err.code and err.message available

[2018-12-11 01:05] king804 commented on #335
I just saw the documents, i already have 10~30 purchase and don't consumer, is that call consumeAllItems() is better?

[2018-12-11 05:11] dooboolab commented on #336
Why not?
This is nothing but to inform that this package belongs to `dooboolab`. This is what other great libraries are doing such as `react-native-elements` or `firebase`. I've just seperated package to `dooboolab-welcome` to reuse this in other module that's created by `dooboolab's forks`. If you've installed many modules that belongs to `dooboolab` it will just print once.

Thanks.

[2018-12-11 05:11] #336 closed

[2018-12-11 13:37] schumannd opened #337 "Provide access to SKReceiptRefreshRequest on iOS"
currently both getAvailablePurchases and getPurchaseHistory call the same method on iOS which uses `restoreCompletedTransactions`.

The problem with this method is [this intermittent issue](https://stackoverflow.com/questions/42312927/apple-in-app-purchase-transaction-id-of-one-purchase-changes-sometimes). As an alternative to circumvent this issue it is suggested to use SKReceiptRefreshRequest to

[2018-12-12 14:03] xVanilla commented on #199
We need news please, I have no ideas how to fix this

[2018-12-12 22:01] VLanc opened #338 "Android: check if introductory period is still active"
### Version of react-native-iap
2.3.17
### Version of react-native
0.50.4
### Platforms you faced the error (IOS or Android or both?)
Android
### Tested environment (Emulator? Real Device?)
Real Device

I try to implement subscription with the introductory price. I want to change the text on my subscription screen depending on whether the introductory period is still active but there isn't a neces

[2018-12-13 11:30] schumannd opened #339 "cleanup transactionReceipt / purchaseToken / dataAndroid for android"
In the docs `purchaseToken` is labeled a ios/android key. But for iOS it seems to be always None.

On android `transactionReceipt` returns a stringified JSON containing duplicate data already available a level above in the data structure.

I propose the following:
- remove the `purchaseToken` key and instead save its value in `transactionReceipt` for android

[2018-12-13 13:07] yasirsalim22 commented on #287
@JJMoon  I have faced the same issue. any solution? buySubscription throws exception and yet payment is deducted. I need to have results data to store and validate them.

[2018-12-13 13:57] hyochans commented on #339
I am quite confused about what you are on to reading it. Could you explain what exactly you want to achieve from here? What was your test case?

[2018-12-13 14:46] hyochans commented on #338
I haven't tested this feature yet. It would help me figure out your experiment like what you've done and what you are getting.

[2018-12-13 15:12] schumannd commented on #339
My goal is to make the package more easily accessible to new users by making the data structures more consistent and improving documentation.

I was confused by `receipt` containing a stringified json containing data already available. `additionalData` also confuses me as it is not documented and terribly named.

I opened this issue to find out whether it is in the interest of the maintainers to i

[2018-12-13 17:07] sellmeadog commented on #275
@schumannd

I'm not sure we're understanding or talking about the same issue.

Receipt **validation** should be done on the server. [Per Apple's own documentation](https://developer.apple.com/library/archive/releasenotes/General/ValidateAppStoreReceipt/Chapters/ValidateRemotely.html#//apple_ref/doc/uid/TP40010573-CH104-SW1):

I understand the "cheat" in the referenced article as specifically the s

[2018-12-14 12:08] Nits7029 commented on #333
ok, can i get products in debug mode or it will work only in release mode?

[2018-12-14 12:38] Nits7029 commented on #333
ok, thanks.

[2018-12-14 16:54] schumannd commented on #339
Oh, I haven't even considered googles own API to send data like that... If that is the case, maybe we shouldn't change it.

What do you mean by that?

[2018-12-15 09:36] hyochan commented on #306
@JulianKingman This wasn't in my test case so it is hard for me to test out. Could you provide some example that I may look closer?

[2018-12-15 09:37] hyochan commented on #339
@schumannd I just wanted to look at the returned `json` you're looking at.

[2018-12-15 09:41] hyochan commented on #323
@raynor85 Are you still facing this? Have you tried `unlinking` and `linking` again?

[2018-12-15 10:00] hyochan commented on #323
Seems like this is an linking issue. Please reopen when you face this.

[2018-12-15 10:00] #323 closed

[2018-12-15 10:04] #288 closed

[2018-12-15 10:05] hyochan commented on #288
@eis @mars-lan I've been experimenting this issue today, and found one missing changes when `fetching products`. Please install `2.3.22` and try again. Feel free to reopen when still facing the issue.

[2018-12-15 12:55] JJMoon commented on #337
I think it's cross platform issue and lousy Apple IAP system issue. Anyway, I don't remember why the two methods have same functionality. It's because of the naming convention and differences between iOS and Android. @hyochan and I will discuss about the naming.
About the intermittent issue about SKReceiptRefreshRequest, and restoring action changing the transaction ID, I suggest you to use receip

[2018-12-15 13:00] JJMoon commented on #307
@maxs15 I didn't mean that. Sorry for confusing.
The StoreKit flow can happen at any purchasing. It's iOS issue, not this module.
For now, I don't have any clue, either. This thing happens in any native iOS apps. Right?
We will dig more in our free time.

[2018-12-15 13:00] JJMoon commented on #328
@lc3t35 I guess this issue is better to be open currently.

[2018-12-15 13:01] JJMoon commented on #326
I hope this is remind..  Closing this issue.

[2018-12-15 13:01] #326 closed

[2018-12-15 13:07] JJMoon commented on #306
I tested yesterday, RNIap.buyProductWithoutFinishTransaction works. Can you share the source code?

[2018-12-15 13:09] JJMoon commented on #305
I hope this issue is resolved. Closing..

[2018-12-15 13:09] #305 closed

[2018-12-15 13:16] JJMoon commented on #274
I hope when changing the IAP subscription, use the URL in this document.
https://developer.apple.com/library/archive/documentation/NetworkingInternet/Conceptual/StoreKitGuide/Chapters/Subscriptions.html

Enabling users to manage subscriptions..
https://developer.apple.com/library/archive/documentation/NetworkingInternet/Conceptual/StoreKitGuide/Chapters/Subscriptions.html#//apple_ref/doc/uid/TP400

[2018-12-16 16:37] Ilario17 commented on #315
Hi, can you reopen this issue? I have the same problem and I'm using version 2.3.21

[2018-12-16 16:42] hyochan commented on #315
@LinusU Could you help us out here? Why would `callback.run()` crashes in release? Should we check whether `callback` is null in `ensureConnection`?

[2018-12-16 16:44] hyochan commented on #325
Related #315. We will keep this issue up there.

[2018-12-16 16:44] #325 closed

[2018-12-16 18:19] LinusU commented on #315
Hmmm, what does `RuntimeException` mean here, is there no more info? @hyochan why do you think that `callback` was `null`? 🤔

[2018-12-16 21:51] hyochan commented on #174
Expo has announced [this](https://blog.expo.io/expokit-2019-1e5cb02106f8) recently about the future plan in 2019. You will be able to link `native modules` then.

[2018-12-17 01:36] JJMoon commented on #307
@hyochan If you connect the real server (yours), whether you are in debug mode or release mode doesn't matter. I guess you have 2 options.
1. You run on the real device in debug mode in Xcode. Use JS console log.
2. You run on the real device in release mode in Xcode. Use NSLog in objective-c code.
Both methods should work.

[2018-12-17 03:46] hyochan commented on #307
@JJMoon Yeah, I've figured that out already but still that I couldn't make live purchase testing in ios. Is this [stackoverflow](https://stackoverflow.com/questions/6294865/how-to-test-in-app-purchase-without-sandbox) true? Then how can I solve this problem? We have to test the live purchase.

[2018-12-17 03:48] hyochan commented on #307
Anyone who is facing this problem, I am sure all of them do, please give us an idea of how to encounter this problem. `in-app purchase fail when payment method added live` as described in issue title. How could I debug this?

[2018-12-17 06:54] anandwahed commented on #307
@hyochan No we didn't contact Apple support.

[2018-12-17 07:14] hyochan commented on #307
I think we need to contact `apple` for this and this looks really terrible that there is a different test case which is not reproducible in `sandbox` environment (this really makes my heart sick). For those who want to understand the problem, I've recorded the screen and you can see the [clip here](https://firebasestorage.googleapis.com/v0/b/cooni-ebee8.appspot.com/o/Github_iOS_iap_COONI_2018-12-1

[2018-12-17 07:18] hyochan commented on #315
@LinusU If you don't have any idea about this one, I'd consider rolling this back to where we were at previously.

[2018-12-17 09:53] LinusU commented on #315
Okay, here is the problem:

https://github.com/facebook/react-native/blob/370bcffba748e895ad8afa825bfef40bff859c95/ReactAndroid/src/main/java/com/facebook/react/bridge/CallbackImpl.java#L27-L31

[2018-12-17 10:51] hyochan commented on #315
@LinusU Looks great because you are in a track! Could you give us a `PR` for this?

[2018-12-17 12:51] Nishit-Chauhan opened #340 "getProducts : Empty Array"
### Version of react-native-iap
2.3.19
### Version of react-native
0.56.0
### Platforms you faced the error (IOS or Android or both?)
IOS
### Expected behavior
Array with products and subscription
### Actual behavior
Empty Array in both  products and subscription
### Tested environment (Emulator? Real Device?)
simulator
### Steps to reproduce the behavior
i have followed all the steps,
also done m

[2018-12-17 13:04] hyochan commented on #340
@Nishit-Chauhan Did you followed the [readme](https://github.com/dooboolab/react-native-iap#invalid-productid-in-ios)?

[2018-12-17 13:38] schumannd commented on #339
Ok, first of all I got confused with the naming in my code when explaining my issue the first time. I have edited it and it should now be clearer.

When calling `buySubscription` I get something like the following json:

[code]
Similar for `buyProduct` and `getPurchaseHistory`. As you can see, there is quite a bit of duplicate information. But maybe it is sent like that from google.

So my problem

[2018-12-17 13:56] hyochan commented on #339
@schumannd
1. `purchaseToken` is labeled as both android and iOS key. It is always None for me on iOS. Does it have some relevancy in iOS that I have not found out about yet? Or is it an error in the docs.
- Is your product consumable in `ios`?

2. dataAndroid and `transactionReceipt` contain a lot of duplicate data. Or am I missing some edge case here where some data in these keys is of practical

[2018-12-17 13:58] schumannd commented on #339
@hyochan
No they are not consumable. I assume then a purchaseToken would be set for iOS?

[2018-12-17 14:04] hyochan commented on #339
@schumannd Actually, I think the readme was wrong. I will update it. `purchaseToken` is only for android.

[2018-12-17 14:06] hyochan commented on #339
@schumannd Sorry, I was confused. I think the purchaseToken should be returned. Were you testing this in `sandbox`?

[2018-12-17 14:10] hyochan commented on #339
@schumannd I've just looked in the code and realized missing `purchaseToken` field in ios today. Actually, this was the `cp` of `transactionReceipt` previously. So I think I need to change this is doc that `ios` is not returning this anymore.

[2018-12-17 14:43] schumannd commented on #275
This describes the problem I have with this approach. You don't get notified of any renewals / cancellations / expiration etc. if the user does not open your app.

Other than that, it seems like a good alternative to the approach I described. I wonder which one is used the most for production apps.

[2018-12-17 19:07] hyochan commented on #339
`purchaseToken` is needed for `android` to consume the actual purchase which `ios` doesn't have that functionality. I think we can close this for now.

[2018-12-17 19:07] #339 closed

[2018-12-17 19:07] #340 closed

[2018-12-17 19:30] lefoy commented on #332
@hyochan I'm using 2.3.21, which I think is the latest release

[2018-12-17 19:54] schumannd commented on #339
Well, the `purchaseToken` would still be available. I don't think this issue has been resolved. Or is the answer "Won't fix"?

[2018-12-17 20:47] hyochan commented on #332
Ok. I am currently unaware of this issue. Let's see who's coming next.

[2018-12-17 20:48] hyochan commented on #339
I don't quite get your problem here. How would you like the changes to be?

[2018-12-17 20:50] lefoy commented on #332
I'm not sure I understand your answer, you're saying there's no way to fix this issue? @hyochan

[2018-12-18 08:49] Ilario17 commented on #315
Why is there a RuntimeException in that method?

[code]

is not something like this enough?

[2018-12-18 10:14] LinusU commented on #315
@hyochan sorry, didn't get time to look at this yesterday, hopefully I can take a look soon

@Ilario17 It's probably to flag that there is a logic error somewhere, to be fair, we shouldn't call that method multiple times

[2018-12-18 10:42] hyochan commented on #332
@lefoy Yes, because `consumeAlltems` should do that job correctly but you are still seeing this. I think we need to hold on for some solution in your case.

Also could you try `await consumeAllItems` serveral times and comback again?

[2018-12-18 10:45] hyochan commented on #332
@lefoy I've just updated the code for you to move forward. Try `2.3.24` and do `await consumeAllItems` and please tell me what's comming.

[2018-12-18 10:57] hyochan commented on #315
@LinusU So you mean `onBillingSetupFinished`, we should remove the `billingClientStateListener`. This should be an easy fix. Would someone try this one out to be part of us?

[2018-12-18 18:10] VLanc commented on #338
@hyochan
This is what I do on my subscription screen:
[code]

After it, I get the array with an object of subscriptions in subscriptions constant.
iOS (there isn't a necessary field to check whether the introductory period is still active):
![image](https://user-images.githubusercontent.com/29314707/50162157-abd75a00-02ee-11e9-9273-cc7c906facf1.png)

Android (there isn't a necessary field too):
![

[2018-12-18 18:46] schumannd commented on #339
I proposed:

instead of:

[code]

to return

[code]

The second format contains all data contained in the first one. And it is much easier to understand. If we want to capture additional data, we can add the `dataAndroid` key again.

[2018-12-19 06:56] ZeroCool00 opened #341 "RNIap.getProducts not returning promise on ios"
### Version of react-native-iap
"react-native-iap": "^2.3.25"

### Version of react-native
 "react-native": "0.57.4",

### Platforms you faced the error (IOS or Android or both?)
IOS
### Expected behavior
buyProduct should return promise ( .then() is not call ),
### Actual behavior
buyProduct not returning any promise, in android its working fine, **.then()** call successfully, but in ios its not.

[2018-12-19 08:59] hyochan commented on #341
@LinusU I think @JJMoon was right. I've removed all the `async` and the problem comes up again. What do you think? @ZeroCool00 Would you downgrade to `2.3.24` for now?

[2018-12-19 09:02] hyochan commented on #341
@ZeroCool00 Actually, would you please try `2.3.26` for us?

[2018-12-19 09:57] m-sanders opened #342 "Expose priceLocale for iOS"
**Use case**

We're offering a monthly and annual auto-renewing subscriptions on our iOS app. We want to display a comparable monthly equivalent price for the annual subscription formatted for the specific App Store locale. As a device can have a different locale from App Store, we cannot rely on the device locale to format the currency price. We also cannot rely on the currency code, for example,

[2018-12-19 10:04] ZeroCool00 commented on #341
@hyochan i'll test soon.. and let you know, and thank you for the quick reply.

[2018-12-19 10:36] Ilario17 commented on #315
I have no way to test, because on my devices it never crashes, but something like that could go?

`RNIapModule.java`
in `ensureConnection`

[code]

and on `onBillingSetupFinished`:

[code]

[code]

`isBillingClientReady` is a simple boolean, in this way the code should enter in`onBillingSetupFinished` just when start and when the service disconnected.

Maybe it's not the best way but how temporary

[2018-12-19 10:38] sagarguhe commented on #340
@hyochan I am facing this issue on Android as well

[2018-12-20 07:16] ZeroCool00 commented on #341
@hyochan  i tried with 2.3.26, it not working? any solution?

[2018-12-20 08:44] hyochan commented on #341
@ZeroCool00 Then I must be a linking problem. You should try to `unlink` and re-`link` again.

[2018-12-20 08:44] #341 closed

[2018-12-20 09:03] ZeroCool00 commented on #341
i tried, event i unlink and than unistall and than install again, and link again. but it still not working

[2018-12-20 12:51] LinusU commented on #315
If you want a quick and dirty solution, I would add a local variable to that function, `didCallCallback = false`. Then guard the call to `callback.run()` behind `if (didCallCallback) { didCallCallback = true; callback.run() }`.

A cleaner solution would simply be to deregister the listener after the first call altogether...

[2018-12-20 13:41] Nits7029 commented on #333
i have checked, its still returning a blank array. so what i should do now? for in app purchase, merchant account setup, payment method setup needed in google play console or its not mandatory?

[2018-12-21 01:41] hyochan commented on #307
Today we received [answer](https://forums.developer.apple.com/thread/112099) from apple. There may be callback returned again after `failure`. We are working on workaround solution but I am afraid this could be very nasty. We are working on workaround solution in #343.

[2018-12-21 04:45] ZeroCool00 commented on #341
@hyochan  i m on mac, and i unlink and than uninstall and then install 2.3.24, and do manual setup, follow each step, it working with android, in ios its still not showing. process is working fine. i m getting popup and product also getting purchase, but no promise return.?

is there any other configuration for ios? i m stuck here.

[2018-12-21 07:04] hyochan commented on #341
@JJMoon Could you help @ZeroCool00 ?

[2018-12-21 07:06] hyochan commented on #341
@ZeroCool00 Also try removing `Alert` and use `console` to test instead. Because `ios` automatically generate native `Alert` when the purchase is being processed which may interrupt your code.

[2018-12-21 08:53] lc3t35 commented on #328
After update to 2.3.23, it seems to be fixed. Thanks.

[2018-12-21 08:53] #328 closed

[2018-12-21 10:51] edo1493 commented on #306
I see this when trying to switch plans. For example I buy a subscription via buyProductWithoutFinishTransaction and then try to buy a different plan. I get the error on the second try.

[2018-12-22 05:07] ZeroCool00 commented on #341
@hyochan  Plz reopen this.. i tried everything.. i also remove Alert. even i  stop debugging and check.. its just not working. i wanted to publish my app, but i m stuck here. i even tried this lib https://github.com/chirag04/react-native-in-app-utils

this lib also has a same problem.. **purchasing process working fine but not getting any promise.**

is there any lifecycle method where i get event

[2018-12-22 09:48] hyochan commented on #341
@ZeroCool00 Could you try to use `async` and `await` also? I'm also using this in our app and we are not facing this issue.

[2018-12-22 10:05] ZeroCool00 commented on #341
@hyochan  can you please provide your demo.. how are you using it.. it would be a great help.

[2018-12-22 16:45] JulianKingman commented on #306
@hyochan I don't think there's a solution for this. As an example if you have 2 subscriptions in the same subscription group with different prices, purchase one, then upgrade to the other, then you get the error.

[2018-12-22 16:53] hyochan commented on #306
@JulianKingman Since your issue has different personality compared to the previous one, I hope you to open a new issue. Also, since we are working on some other solutions, I hope you can try `PRing` too. Thanks.

[2018-12-22 16:53] #306 closed

[2018-12-22 16:55] hyochan commented on #306
@JulianKingman Your issue may be followed up in #274.

[2018-12-22 21:47] OthmanAba opened #346 "Failure to get iOS subscriptions"
### Version of react-native-iap
`2.3.21`

### Version of react-native
`0.57.7`

### Platforms you faced the error (IOS or Android or both?)
- iOS

### Expected behavior
- Returns a list of subscriptions

### Actual behavior
- Empty array

### Tested environment (Emulator? Real Device?)
- Simulator (iPhone X)

### Steps to reproduce the behavior
1. Have capital letters in the app bundle id, i.e. `c

[2018-12-23 01:34] JJMoon commented on #346
I tested this right now, and it works fine.
The capital letter in the bundle name doesn't look good to me. It might not the error, but never seen before.
`getSubscription` works fine in simulator.
I guess you didn't complete the content of each products.
Would you check them again?

[2018-12-23 09:47] OthmanAba commented on #346
- I am waiting on the contract to be processed.
- I think it might be better to move the blog tutorial on how to add products to the repo and update it with the project.

[2018-12-23 22:59] hyochan commented on #307
I've released to `2.4.0-beta1`, trying to make a workaround for this problem. The `PR` #348 has been added to this version and you can also see the readme in `PR` talking about `advanced purchase 3`.

[2018-12-24 03:03] #307 closed

[2018-12-24 16:04] fabricioasap opened #349 "Error when buying subscriptions: E_DEVELOPER_ERROR"
Happy holidays!

### Version of react-native-iap
2.3.23

### Version of react-native
0.57.4

### Platforms you faced the error (IOS or Android or both?)
Android

### Expected behavior
Be able to buy the subscription and get the purchase info

### Actual behavior
I'm seeing a message saying "This version of the application is not configured for billing through Google Play."

### Tested environment

[2018-12-24 16:12] fabricioasap commented on #349
I'm getting the same error with versions `2.23.26` and `2.4.0-betal`

[2018-12-25 23:38] hyochan commented on #349
This error doesn't belong to our module and really in android `iap` itself. Please read [stackoverflow](https://stackoverflow.com/questions/11068686/this-version-of-the-application-is-not-configured-for-billing-through-google-pla).

[2018-12-25 23:38] #349 closed

[2018-12-26 02:48] hyochan commented on #315
I've just released `2.4.0-beta2` to make fixes on this. Please try.

[2018-12-27 08:02] JongGyuChoi opened #350 "Android Build Failed"
### Version of react-native-iap
^2.4.0-beta2
### Version of react-native
0.56.0
### Platforms you faced the error (IOS or Android or both?)
 android

Build failed with below message

node_modules/react-native-iap/android/src/main/java/com/dooboolab/RNIap/RNIapPackage.java:26: error: RNIapModule(ReactApplicationContext) has private access in RNIapModule
    modules.add(new RNIapModule(reactContext)

[2018-12-27 08:09] hyochan commented on #350
Oops. There was a regression issue in ‘2.4.0-beta2’. I will update to beta3 soon. Please try ‘2.4.0-beta1’ for now.

[2018-12-27 08:39] Ilario17 commented on #315
@hyochan I will try this new version

[2018-12-27 08:39] #350 closed

[2018-12-27 08:46] Nishit-Chauhan commented on #340
i have already configured manually on ios and it was working fine before few days,
but now the getProducts function returns blank array

[2018-12-27 08:47] hyochan commented on #315
Please try 2.4.0-beta3 since beta2 had regression issue.

[2018-12-27 09:16] hyochan commented on #310
I will close this since this is related #315

[2018-12-27 09:16] #310 closed

[2018-12-27 12:07] ZeroCool00 commented on #341
async forIOS() {
    let purchase =  await RNIap.buyProduct('max_asl_unlimited_access');
    console.log("BannerPurchase >>",purchase);  **<--- THIS IS NOT GETTING CALL**
    if(purchase) {
      console.log("Purchase >>", purchase)
      this.props.getPurchase();
      this.setState({
        loading: false,
        receipt: purchase.transactionReceipt,
      });
      console.log('Purchase succe

[2018-12-27 14:48] hyochan commented on #341
Since many others use our modules these days, your case looks quite weird. It'd be hard for us to figure out unless we have a full working code of yours.

[2018-12-27 17:21] IsaevTimur commented on #341
@hyochan Having the same issue like @ZeroCool00
Just upgraded from 2.3.26 to 2.4.0-beta3, the same story.
Getting this in logs for devices

[code]

But pop-ups with purchase show up, with success story. But none reaction in Javascript Thread on it :(
Promise is not resolved or rejected in iOS module.

[code]

```AFTER BUY```
Don't even shows up. The same story without async/await, with resolving `

[2018-12-27 17:31] hyochan commented on #341
Could you try ` 2.4.0-beta4`?

[2018-12-28 05:50] Nits7029 opened #351 "what is itemSkus? package name or product id?"
### Version of react-native-iap
latest

### Version of react-native
0.56

### Platforms you faced the error (IOS or Android or both?)
Android

### Expected behavior
it should return products defined in play console

### Actual behavior
getProducts empty array

### Tested environment (Emulator? Real Device?)
Real Device

### Question
RNIap.getProducts(itemSkus) -> what to give in itemSkus? its pack

[2018-12-28 06:08] ZeroCool00 commented on #341
@IsaevTimur  how did you solve it? its still not working.

[2018-12-28 06:13] Nits7029 commented on #351
got it, its product id.

there are default product id's provided android.test.purchased, android.test.canceled, android.test.item_unavailable

so if you update your readme for the same then it would be great for other users to quickly integrate.

Thanks

[2018-12-28 06:13] #351 closed

[2018-12-28 06:41] ZeroCool00 commented on #341
@hyochan  we could have teamviewer communication to see my code and actual process of what is going on, if you want..

[2018-12-28 06:44] JJMoon commented on #199
OK. I will look over it.

[2018-12-28 07:00] ZeroCool00 commented on #341
@hyochan  Here is the Full code of my inapp purchase module

[code]

[2018-12-28 08:33] zdf01082413 opened #352 "'E_NETWORK_ERROR', 'The service is disconnected (check your internet connection.)'"
### Version of react-native-iap

### Version of react-native

### Platforms you faced the error (IOS or Android or both?)

### Expected behavior

### Actual behavior

### Tested environment (Emulator? Real Device?)

### Steps to reproduce the behavior

[2018-12-28 08:34] zdf01082413 commented on #352
'E_NETWORK_ERROR', 'The service is disconnected (check your internet connection.)'

[2018-12-28 08:34] zdf01082413 commented on #352
'E_NETWORK_ERROR', 'The service is disconnected (check your internet connection.)'

[2018-12-28 09:01] IsaevTimur commented on #341
@ZeroCool00

Make sure that you are using - 2.4.0-beta4.

Also, make sure that you are using SANDBOX user (under development). Which can be configured in iTunes connect. These users created here - https://appstoreconnect.apple.com/access/users, under Sandbox section.

Hope it helps :)

[2018-12-28 09:21] ZeroCool00 commented on #341
but my app store purchase process is working finem that meant everything is confiured, and yes i m using 2.4.0-beta4.

here is my entry on package.json file

`"react-native-iap": "^2.4.0-beta4",`

[2018-12-28 10:35] ilyakar commented on #199
Thanks!!! :)

[2018-12-28 10:45] Ilario17 commented on #315
@hyochan after the update the error is still there :(

[2018-12-28 12:32] #352 closed

[2018-12-29 02:19] zdf01082413 opened #353 "{ [Error: The service is disconnected (check your internet connection.)]"
### Version of react-native-iap

### Version of react-native

### Platforms you faced the error (IOS or Android or both?)

### Expected behavior

### Actual behavior

### Tested environment (Emulator? Real Device?)

### Steps to reproduce the behavior

[2018-12-29 10:51] #353 closed

[2018-12-29 13:58] ZeroCool00 commented on #341
@hyochan  i finally solved the issue..  problem is when i first test i didnt write this line `await RNIap.finishTransaction(); ` in .then() method. i added it afterward. that was the problem, solution is i need to clear transaction(`await RNIap.clearTransaction();`), and it work.

Thanks again for your support n for this great library.

[2018-12-29 17:01] TheInternet commented on #174
I have been trying to make @EvanBacon's code above work but my NativeModules is empty and as a result RNIapModule is undefined.  (on iOS at least)

Have others encountered this issue?  Does this mean I am not correctly linked?

FWIW, react-native link appears to have worked but I suspect I may need to link manually which thus far I haven't been able to do.
`$ react-native link react-native-iap
rnp

[2018-12-30 01:45] hyochan commented on #341
@ZeroCool00 Congrat for success!! Yeah, those kinds of the problem should be solved better on your side because we need some traction on what've you've done wrong. Thanks for coming back again for those who might be suffering on same thing.

[2018-12-30 14:12] Ilario17 commented on #315
@hyochan why not just remove the listener, as @LinusU  said?

[2018-12-30 15:11] hyochan commented on #315
@Ilario17 I was curious if that's the right solution. Also, I feel `onBillingServiceDisconnected` should be notified.

[2018-12-31 02:40] JJMoon commented on #322
@schumannd Thank you for your suggestion. I think it makes sense. I will implement it.
Anyway, we are borrowing some methods from this rn-in-app-util library.

[2018-12-31 18:44] scottmcpherson opened #354 "What is the correct way to purchase a subscription on ios?"
Trying to figure out what the correct way to purchases a subscription. The documentation seems to suggest different approaches.

My current approach completely stoped working. The purchase confirmation no longer appears on a physical device:

[code]
`checkIsValidReceipt` never gets called because `buyProductWithoutFinishTransaction` never resolves and the confirm purchase modal never shows.

Is th

[2019-01-01 17:59] rom1k commented on #315
I don't know if this is related but I'm getting this crash in 2.4.0-beta5. It's easy to reproduce in emulator:
I mount the component where IAP loads, unmount it and then mount it again, boom crash. Downgrading now to see if it helps.

[code]

[2019-01-01 20:01] EricWiener commented on #160
This is still an issue. When testing a non-consumable subscription, I get `type: 'Do not use this. It returned sub only before',`

[2019-01-02 02:05] JJMoon commented on #354
@scottmcpherson I think your code is OK. First of all, did you log the `products` in componentDidMount ?
The transaction you started with `buyProductWithoutFinishTransaction` won't not disappear unless you explicitly call `finishTransaction` method.
And you should log out your Apple ID, when you test IAP in sandbox mode.
You can log out sandbox in the Setting App.

[2019-01-02 06:06] hyochan commented on #160
@EricWiener If you are only seeing the `message`, that is expected. It is telling you that attribute won't do anything.

[2019-01-02 06:11] hyochan commented on #315
@rom1k Well this would not work in android emulator. Please try in real device.

[2019-01-02 10:41] Ilario17 commented on #315
@hyochan I notice that the version 2.4.0-beta3 has a 50% less crash, but still not enough

[2019-01-02 22:10] csumrell commented on #315
For 2.4.0-beta3 on Android I am getting error "Purchase failed with code: 0 (OK)" just from calling getProducts. beta 4 and 5 actually cause it to crash. I downgraded to 2.3.5 and it works fine, but I need the ios listener bug fixes in the 2.4.0-beta

[code]

[2019-01-03 01:16] scottmcpherson commented on #354
Yeah, products are good. There was some really weird stuff going on with with my sandbox user. So I ended up deleting and creating a new one. And then, an endless flood of confirm to purchase popups started showing up. So I had to erase all my content and settings on my phone.

Anyways, all is good now. Closing this issue.

[2019-01-03 01:16] #354 closed

[2019-01-03 16:08] mars-lan commented on #288
I can confirm that 65cea1e0df96d7bcf44646f1125190b83ea7546e didn't fix this issue. User still failed to restore purchase redeemed via promo code on iPhone SE. @eis @JVallius @joshbalfour can you confirm the same too?

[2019-01-03 23:53] Purii opened #356 "[iOS] Option to validate receipts locally"
Thanks for that great component!

It would be great to have an option to validate receipts locally without any network requests.
Currently [`validateReceiptIos `](https://github.com/dooboolab/react-native-iap/blob/4eb8ab9ac4867e291501d7649902ec4be8cc9080/index.js#L194-L211) doesn't support that.

Apple suggests a solution to validate receipts locally. This can be done on each app launch.
Basically

[2019-01-04 06:39] JJMoon commented on #199
I wonder if this method is already implemented regarding #307.
It is about unfinished transaction handling. And I guess Promoted Purchased Transactions can be handled in the same manner.
I committed a PR regarding this, and it is not deployed yet. I hope you to check this PR.
https://github.com/dooboolab/react-native-iap/pull/347

Do you think this is the solution for this issue ?

[2019-01-04 06:54] ravishankar3961 opened #357 "E_UNKNOWN, Cannot connect to iTunes Store.(IPv6)"
### Version of react-native-iap
    react-native-iap : 2.3.26
### Version of expokit
 expokit : 31.0.2
 expo : 31.0.2
### Version of react-native
 react-native : 0.57.1
### Network Type
IPv6
Testing App on the real device on IPv6,
### Platforms you faced the error (IOS or Android or both?)
Both
### Expected behavior
Purchase the Non-Consumable product successfully
### Actual behavior
E_UNKNOWN, Ca

[2019-01-04 10:56] Ilario17 commented on #315
@hyochan @LinusU  with version 2.4.0-beta5 the error is still there.

[2019-01-04 13:40] hyochan commented on #357
Closing this and will follow up this in #174. Expo currently don't support native modules.

[2019-01-04 13:40] #357 closed

[2019-01-04 13:43] Purii commented on #275
@sellmeadog I think that's the same idea I posted here: #356
Validating receipts locally is one method, apple recommends. That's completely independent of any server / network request.

Yep. There are downsides regarding "no network connection - no validation".
But there are use cases for that.
I want a fast validation of the receipt on every app launch and don't want to keep track about in-app pu

[2019-01-04 13:46] Purii commented on #356
This seems like a comparable implementation for Cordova: https://github.com/AlexDisler/cordova-plugin-inapppurchase/pull/48/files

[2019-01-04 16:12] turcottedanny commented on #309
@superandrew213 You can't finish a transaction in purchasing state.
From Apple:
https://developer.apple.com/documentation/storekit/skpaymentqueue/1506003-finishtransaction?language=objc

But I managed to get out of this situation, by calling `clearTransaction` one time for each of the pending transactions in my account (it raised an error each time)

@alorr10 Are you able to reproduce this state ?

[2019-01-06 04:34] evaleirasclapps commented on #185
What are the ProrationMode possible values for android?? The documentation mention {number}, but what numbers??

Thanks!

[2019-01-06 16:47] robertherber opened #358 "Improving error messages / documentation regarding error messages"
### Version of react-native-iap
2.3.26

### Version of react-native
0.57 (Expo 31)

### Platforms you faced the error (IOS or Android or both?)
Both

### Expected behavior
I'd like to be able to discern between potentially critical errors and errors that are just because users canceled the purchase. This could be both a matter of improving documentation and maybe improving the error messages expos

[2019-01-06 21:44] mitchellmcm27 commented on #315
I have some information relevant to this discussion.

On 2.4.0-beta5, I am getting the following error

`Attempt to invoke virtual method void com.android.billingclient.api.BillingClient.querySkuDetailsAsync(...) on a null object reference`

pointing to `RNIapModule.java` line 223. This implies that `mBillingClient` is unexpectedly `null` here.

The variable `clientReady` is being used to track if

[2019-01-07 01:07] hyochan commented on #358
Hi. Thank you for the issue! Are you aware that linking native modules are not yet supported by `expo`?

[2019-01-07 01:18] hyochan commented on #185
@evaleirasclapps Please check the constant value [here](https://developer.android.com/reference/com/android/billingclient/api/BillingFlowParams.ProrationMode).

[2019-01-07 01:44] hyochan commented on #315
@mitchellmcm27 Thanks for your catch. This is very promising and I agree with you. It was hard for me to fix the problem without any minimal reproduction. Also, I'd like to solve the problems together.

Please give us any `PR` if you have any thought of enhancing this problem.

Best, regards.

[2019-01-07 14:46] xVanilla commented on #199
@JJMoon I don't know for now. I will take a look at it when I got some times to work on it. Thanks!

[2019-01-07 21:57] robertherber commented on #358
@hyochan Of course. As I mentioned I'm using this library in production. It's a detached Expo project.

[2019-01-08 08:56] JJMoon commented on #199
@xVanilla Thank you for your reply. Currently, we need some test. In real App Store promotion.
If this can be done successfully, this issue can be resolved.

[2019-01-08 08:57] JJMoon commented on #274
I hope this issue can be handled by the methods I mentioned.
Closing...

[2019-01-08 08:57] #274 closed

[2019-01-08 09:36] gaykov opened #360 "localizedPrice returns wrong value on iOS"
Hello,

We're facing a weird issue on iOS. The price for our in-app item is `$4.99` and we're trying to display it in user's currency using `localizedPrice`. On Android, everything works fine, and the price is converted and the currency is displayed correctly.

But on iOS, our customers from Russia, that should see `RUB 349` see `$349`, which is pretty funny for them, but not so funny for us  😕.

[2019-01-08 17:33] mitchellmcm27 commented on #315
I've released 2.4.0-beta6 in the latest version of my app, with a few thousand upgrades so far. No crashes yet 👍

[2019-01-09 03:17] hyochan commented on #342
This has been reverted in #345.

[2019-01-09 10:04] Ilario17 commented on #315
I already have some crash with the same stacktrace but much less than before.

[2019-01-10 06:49] gaykov opened #361 "RuntimeException on onSkuDetailsResponse"
Hello,

I'm seeing crashes in Google Play Developer console that related to this library. For whatever reason, Crashlitycs doesn't catch this crash so I only have a stack trace from Play Console, which looks like this:

[code]

And the Exception is
[code]

I totally understand that this is not enough data to say something in particular, but maybe someone has ideas about the possible reason of the

[2019-01-10 07:14] Liqiankun commented on #269
@selcukitmis It works.

[2019-01-10 16:24] edo1493 commented on #309
We are seeing this in production too, not sure if this is due the fact the user has to change payment details and then is brought back into the app.

[2019-01-10 22:51] levpopov commented on #315
Also still getting same stacktrace on 2.4.0-beta6

[2019-01-11 09:52] Ilario17 commented on #315
I think this bug report should be reopened.

![schermata 2019-01-11 alle 10 51 20](https://user-images.githubusercontent.com/33326791/51026461-daafbb80-158e-11e9-8949-7b24f599f83d.png)

In less than 24 hours.

[2019-01-11 13:57] LinusU commented on #315
I'm not sure that the recent changes didn't cause their own problems, e.g. if `mBillingClient` isn't null, but it isn't yet ready, the `ensureConnection` function will simply overwrite `mBillingClient` with a new client, throwing away the old one 🤔

[2019-01-12 08:18] ravi-vinfotech opened #362 "React-native After eject manual installation library folder not found"
After eject react native project for IAP integration beed to manual linking for setup, but my ejected code dont have library folder.
is there any way to resolve this issue.
Thanks in advance

[2019-01-12 16:08] hyochan commented on #362
@ravi-vinfotech Could you be more specific? I don't get your question.

[2019-01-13 03:52] wasedaigo commented on #315
I would like to know which version started showing this error, so that I can roll back to a stable version.

[2019-01-13 09:03] JJMoon commented on #360
I am not using `i18n.t `, but it seems like you must not include '4.99' in the list.
The localizedPrice has its currency units and price like "$ 3.44".
If you change location, the string will be "RUB 344" automatically.
I guess the price is Tier 4. ($ 4.99 ?). So, there is no way this module make that issue.

[2019-01-13 23:40] mitchellmcm27 commented on #315
I too think the issue should be reopened. The original issue had to do with the callback, and the fixes for that surfaced the "null object reference" error. Although the latter may have been fixed (I agree with @LinusU that there may be more problems there), we are still dealing with the original issue.

I've gotten a few crashes related to the callback in beta6 as well.

[2019-01-14 01:07] JJMoon commented on #360
@gaykov OK. Then one thing I want to ask you to test.
Use '$ 4.99' or 'USD 4.99' instead of just '4.99'. Then you can see the difference.

[2019-01-15 06:51] hyochan commented on #315
I've reopened this. Hope someone can give `PR` for this.

[2019-01-15 14:44] Coinizy1 opened #364 "undefined is not an object (evaluating 'RNIapIos.canMakePayments') && [Unhandled promise rejection: ReferenceError: Can't find variable: products]"
### Version of react-native-iap
latest 2.4.0-beta6
### Version of react-native
16.3.1
### Platforms you faced the error (IOS or Android or both?)
IOS
### Expected behavior
Get items details or something else
### Actual behavior
[19:38:36] itemSkus :  Array [
[19:38:36]   "Get_SlickFit_Workout_Plans_Great",
[19:38:36] ]

[19:38:41] >>>>>>>>>>>>>>>>>>>>>  undefined is not an object (evaluating 'RNIa

[2019-01-15 14:51] hyochan commented on #364
I think the module is not linked properly to your project. Please unlink and link again or do manual linking if you keep facing this.

[2019-01-15 14:51] #364 closed

[2019-01-15 14:52] Coinizy1 commented on #364
this code is correct?
thanks

[2019-01-15 14:53] Coinizy1 commented on #364
how do i do that can you please guide?
thanks

[2019-01-15 19:04] Coinizy1 commented on #364
Sir i can pay a small amount please help me.
thanks
i have unlinked and linked again but no help.
thanks

[2019-01-16 04:15] hyochan commented on #364
@Coinizy1 Please try manual installation.

[2019-01-16 04:19] Coinizy1 commented on #364
How can i link manually i am using expo.

On Wed, 16 Jan 2019 at 9:15 AM, Hyo Chan Jang <notifications@github.com>
wrote:

[2019-01-16 05:46] hyochan commented on #364
That question should be asked to `expo`. This [thread](https://github.com/dooboolab/react-native-iap/issues/174) might help you too.

[2019-01-16 09:04] Coinizy1 commented on #174
@cellis  can you tell me more how you made the inapp work i am trying for 1 week now can you show the code please?
thanks
and did you build with expo or xcode after pod install?
thanks

[2019-01-16 09:21] Coinizy1 commented on #174
do all the same stuff you would normally do
switch back to master to add js code
when coding in master wrap your IAP module code with the following:
@EvanBacon  what is the meaning of above lines?

[2019-01-16 13:16] ljuborados opened #365 "Calling getSubscriptions second time returns an error"
### Version of react-native-iap
2.3.26
### Version of react-native
0.57
### Platforms you faced the error (IOS or Android or both?)
Android
### Expected behavior
When calling getSubscriptions for the second time (without killing the app), even if RNIap.endConnection has been callled, I'd expect it to return the available subscriptions as in the first call.
### Actual behavior
It returns:
[code]
##

[2019-01-16 14:08] hyochan commented on #365
I think you are not showing codes where the problem actually occurs because I see `Purchase failed` message not `getSubscriptions` message.

[2019-01-16 20:25] timraybould opened #366 "What is the right way to test?"
Umbrella question: what is the proper way to test in app purchases before release? I'm not sure if my implementation is working or not. Specific questions in bold below.

### Environment
* React Naive 0.57.8
* react-native-iap 2.4.0-beta6
* Simulator: various devices
* Physical device: iPhone XS

### Stripped down code
[code]

### What Happens
* My subscription product successfully logs to console

[2019-01-17 03:38] theoryweary opened #367 "IAP does not prompt user to sign in to PlayStore if they are signed out."
### Version of react-native-iap
"react-native-iap": "2.3.23",

### Version of react-native
    "react-native": "0.57.1",

### Platforms you faced the error (IOS or Android or both?)
Android

### Expected behavior
When buySubscription is called and the user is not signed in to the Play Store, the device should present a popup to ask the user to sign in.  On iOS this works, but on Android I don't kn

[2019-01-18 02:00] hyochan commented on #367
If what you've generated is normal behavior in android (unlike ios), currently I think you should `Alert.alert` something based on the `rejected error`.

[2019-01-18 02:01] #365 closed

[2019-01-18 02:02] #362 closed

[2019-01-18 06:41] tranhiepqna opened #368 "Need help for non-renewable subscription in iOS"
Hi all,I want to implement in-app purchase in my app and I am new on this. In my app users have to pay for each new their post. Currently my in-app purchase product is set type Consumable but Apple rejected my app. Apple said

I change my in-app purchase product to non-renewable. When I pay my first post, its ok. But when I try to pay the next post, it shows a message "You have already purchase th

[2019-01-18 09:03] hyochan commented on #368
I think this kind of question is more likely to be asked to `apple`. We are just supporting the bridging. Your question is more related to the `iap` feature of Apple which you should firstly understand before using this module. I don't know actually why Apple rejected your `consumable` products but it should be `consumable` if you want to purchase the item again.

[2019-01-18 09:03] #368 closed

[2019-01-18 22:00] csumrell commented on #275
How are you supposed to check if the IOS user renewed or cancelled their subscription without prompting them to login to the itunes account via something like getAvailablePurchases?

For Example:
Upon first purchase of subscription, we validate the receipt and save the expiration date to their firebase profile. We use that firebase node to check on start-up if they have an active subscription. The

[2019-01-18 22:38] d7laungani opened #369 "Sending iap-purchase-event with no listeners registered"
### Version of react-native-iap
2.4.0-beta6
### Version of react-native
https://github.com/expo/react-native/archive/sdk-31.0.0.tar.gz
### Platforms you faced the error (IOS or Android or both?)
ONLY IOS
### Expected behavior
.then is hit after    const purchase = await RNIap.buySubscription(sku).then(purchase => {
### Actual behavior
After a successful subscription and I get the message that the

[2019-01-19 09:39] #367 closed

[2019-01-19 09:45] hyochan commented on #369
You are receiving this because of the recent feature we've implemented. See [this](https://github.com/dooboolab/react-native-iap#purchase-example-3-advanced). I think you can ignore the error message and hopefully I think that doesn't affect your current code.

In addition to that, I can see easily that your code is wrong because you are using `await` and `then` at the same time. Please use one of

[2019-01-19 09:45] #369 closed

[2019-01-20 14:36] curiousdustin opened #370 "Amazon Appstore"
Does this module support Amazon Appstore IAPs?

[2019-01-20 23:38] augustbjornberg opened #371 "Check if user is signed into iTunes Store"
Question/Feature request:

If a user is reinstalling the app, and on a previous install made non-consumable in app purchases, i would like to attempt to restore the functionality that the user has previously paid for.

I'm currently able to query if the user has previously purchased any extra content. However, if the user is not logged into the iTunes store, they will be greeted with an iTunes log

[2019-01-21 10:17] edo1493 commented on #315
Do you guys know when this was introduced? I'd be more than happy to roll back.

[2019-01-21 14:10] hyochan commented on #370
No. We don't support kindle device because we don't have one here. There is [PR](https://github.com/dooboolab/flutter_inapp_purchase/pull/39) on our flutter plugin but no one yet contributed to this one.

[2019-01-22 20:46] robertherber commented on #357
I'm suspecting I have a similar issue, although I haven't been able to confirm it.

There is nothing that suggests this has to do with Expo (expect the coincidence of both me and @ravishankar3961 working with detached Expo apps) - since as far as I know Expo only adds functionality on top of React Native - it doesn't change React Native Core functionality which is what this library depends on.

Co

[2019-01-22 21:02] robertherber opened #373 "buyProductWithoutFinishTransaction for subscriptions"
I can't understand from the documentation if buyProductWithoutFinishTransaction is meant for use with subscriptions as well?

[2019-01-22 21:40] hyochan commented on #373
@robertherber I think it is enough to just use `buySubscription`. The actual story of implementing `buyProductWithoutFinishTransaction` (if I remember correctly) was to solve an issue like #307 which I think didn't work quite well. Correct me if I am wrong (cc @JJMoon). So just use `buySubscription` will be fine.

[2019-01-23 04:17] #373 closed

[2019-01-23 08:06] anhdvz opened #374 "App Crashed when buy product"
### Version of react-native-iap
2.4.0-beta6
### Version of react-native
0.57.5
### Platforms you faced the error (IOS or Android or both?)
Android
### Expected behavior
Buy success
### Actual behavior
app crashed
### Tested environment (Emulator? Real Device?)
Real device
### Steps to reproduce the behavior
1. Buy product from google
2. Press home button to close app
3. Launch app from icon on scr

[2019-01-23 16:29] dajaffe commented on #315
I can confirm the crashes exist on beta6 as well as 2.3.23 on Android. Fairly easy to recreate per this [1] comment.

[1]
https://github.com/googlesamples/android-play-billing/issues/45#issuecomment-324466519

[2019-01-23 21:32] fjcaetano opened #375 "[TypeScript] Duplicate definitions of `freeTrialPeriodAndroid`"
### Version of react-native-iap

2.4.0-beta6

### Version of react-native

Any

### Platforms you faced the error (IOS or Android or both?)

Both

### Details

There are two definitions of `freeTrialPeriodAndroid` under Subscription in [index.d.ts](https://github.com/dooboolab/react-native-iap/blob/master/index.d.ts#L32). One being an optional string, the other a required one, which renders the fo

[2019-01-23 21:40] fjcaetano opened #376 "[TypeScript] `addAdditionalSuccessPurchaseListenerIOS` lacking return type definition"
### Version of react-native-iap

2.4.0-beta6

### Version of react-native

Any

### Platforms you faced the error (IOS or Android or both?)

Both

### Details

`addAdditionalSuccessPurchaseListenerIOS`'s definition is lacking a return type in [index.d.ts](https://github.com/dooboolab/react-native-iap/blob/master/index.d.ts#L193) which renders the following error when `noImplicitAny` is enabled on

[2019-01-23 21:55] robertherber commented on #373
But wouldn’t this mean the same behavior would be true for subscriptions? #307 is probably as relevant for subscriptions, am I not right?

[2019-01-24 08:16] EightPool commented on #199
Any news on this feature?

[2019-01-24 12:00] #375 closed

[2019-01-24 12:05] #376 closed

[2019-01-24 14:33] pierregoutheraud opened #380 ""You already own this item" for Android consumable"
Hello,

I created a consumable on iOS and everything is working fine : I can buy the consumable as many times as I want.
However on Android, I am getting this error when trying for the second time:
"Error: You already own this item."

Am I missing something or we can not buy Android consumables multiple times ?

Thank you.

### Version of react-native-iap
2.4.0-beta6

### Version of react-native
0

[2019-01-24 14:44] pierregoutheraud commented on #380
Okay this is a copy of https://github.com/dooboolab/react-native-iap/issues/126
For people wondering (this is not quite clear in the doc), on Android you need to "consume" your products after the purchase so they are able to buy again. (You can use consumeAllItems())

[2019-01-24 14:44] #380 closed

[2019-01-24 17:25] hyochan commented on #374
I think this issue is also related to #315.

[2019-01-25 02:31] kevinEsherick commented on #275
@csumrell @curiousdustin do you guys have this behavior confirmed in a production environment? I'm wondering if it could just be occurring because of sandboxing, with the sandbox account needing to sign in since there's presumably another, non-sandbox account on your device, whereas in production the user will presumably be signed into their normal account and this module might be able to getPurch

[2019-01-25 07:45] Coinizy1 opened #381 "Convert consumable to non-consumable please for me"
### Version of react-native-iap
latest
### Version of react-native
latest
### Platforms you faced the error (IOS or Android or both?)
iOS
### Expected behavior
Want to add non-consumable purchase
### Actual behavior
it is consumable
### Tested environment (Emulator? Real Device?)
Real
### Steps to reproduce the behavior
I want to add restore purchase to my app and non-consumable purchase.
I dont u

[2019-01-25 08:38] MikePodgorniy opened #382 "Document purchase transaction format mistake. 2.4.0-beta6"
### Version of react-native-iap
2.4.0-beta6

### Platforms you faced the error (IOS or Android or both?)
Android

### Expected behavior
transactionReceipt receipt will return purchaseToken for android.
https://github.com/dooboolab/react-native-iap#consumption-and-restoring-purchases

### Actual behavior
It returned the same as dataAndroid

### Tested environment (Emulator? Real Device?)
Real devic

[2019-01-25 08:59] hyochan commented on #381
I think this kind of question is more likely to be asked to `stackoverflow`.

[2019-01-25 08:59] #381 closed

[2019-01-25 09:04] hyochan commented on #382
You might want to see #339.

[2019-01-25 09:04] #382 closed

[2019-01-25 10:02] hyochan commented on #374
Please try `beta8` then come back again.

[2019-01-25 10:03] hyochan commented on #315
I've merged #379 and released to `beta8`. Please try that.

[2019-01-25 13:39] LeomarAmiel opened #384 "Return value of validateReceiptAndroid"
Just a question, does `validateReceiptAndroid`return the value from this [resource representation](https://developers.google.com/android-publisher/api-ref/purchases/subscriptions)?

[2019-01-25 15:18] curiousdustin commented on #275
Sorry, I have NOT confirmed that `getAvailablePurchases()` causes password prompts in production.

I just assumed it would because the docs talk about this method being used for the feature commonly referred to as Restoring Purchases, which in my experience involves authentication, at least on iOS.

@hyochan @JJMoon  Could we get more info on this as well? Specifically, is there a way to reliably

[2019-01-26 00:21] hyochan commented on #384
@LeomarAmiel I referred to [in-app-purchase](https://github.com/voltrue2/in-app-purchase) node.js module when building this.

[2019-01-26 05:15] kevinEsherick commented on #275
@curiousdustin yea so when I sign out of my normal iTunes account and into the sandbox account it no longer prompts me to login when this method is called. So my guess/hope is that in production, where the users don't have a sandbox account in use, the issue should not be popping up. Beta testing should work the same way as production bc the users don't have sandbox accounts set up on device, it's

[2019-01-28 00:44] marf commented on #371
Same problem here

[2019-01-28 02:00] #384 closed

[2019-01-28 04:00] ming436534 opened #385 "getPurchaseHistory gets empty array in production"
### Version of react-native-iap
2.4.0-beta6

### Version of react-native
0.55.4

### Platforms you faced the error (IOS or Android or both?)
iOS

### Expected behavior
getPurchaseHistory result is not empty.

### Actual behavior
The library generally works perfectly, but there is one case that confused me a lot. A user claimed that he subscribed a renewable product, for some reason the first purch

[2019-01-28 16:49] ivan133 commented on #3
But how to use it?

[2019-01-28 19:15] johnmartel opened #386 "Buying `android.test.canceled` product crashes the app"
### Version of react-native-iap

2.4.0-beta8

### Version of react-native

0.55.4

### Platforms you faced the error (IOS or Android or both?)

Android

### Expected behavior

Purchase promise is rejected with `E_USER_CANCELLED, "Cancelled."`

### Actual behavior

App crashes:
[code]

### Tested environment (Emulator? Real Device?)

Real device

### Steps to reproduce the behavior

- Purchase the

[2019-01-29 04:56] hyochan commented on #386
Thanks for the issue with the solution. @johnmartel I hope you to give us a `PR` if you already know how to solve the problem.

[2019-01-29 10:49] marcojr opened #387 "JSON value {...} of type NSMUtableDictionary cannot be converted to NSArray"
![simulator screen shot - iphone x - 2019-01-29 at 11 01 04](https://user-images.githubusercontent.com/856617/51903901-395d9d80-23b5-11e9-9e51-1f3e82e9e427.png)
### Version of react-native-iap: ^2.4.0-beta9

### Version of react-native: 0.58.3

### Platforms you faced the error (IOS or Android or both?) : iOS

### Expected behavior  : No error

### Actual behavior : The error on the subject

### T

[2019-01-29 12:08] hyochan commented on #387
@marcojr I think I need to dig this more to see which actually causes the problem. `react-native@0.58`?

[2019-01-29 12:12] johnmartel commented on #386
@hyochan I am working on the issue right now, I will submit a PR as soon as I can. Problem is the lib is severely lacking tests and it is hard to be sure I am not breaking anything else.

[2019-01-29 12:14] marcojr commented on #387
Yes, sir ! 0.58.3

As I mentioned before: Just start a new react-native app, follow your instructions to install (automatic, react-native-link), use your own example of the git page... this is all I did.

[2019-01-29 12:35] hyochan commented on #386
@johnmartel Yeah. I always wish to implement some test modules but currently, I am always running out of time 😿.  We'll have to check on runtime ourselves before releasing..

[2019-01-29 12:37] hyochan commented on #387
@marcojr Yeah. I have to test if this is `react-native@0.58` problem or our module by installing them and run it. I'll comeback to you after that.

[2019-01-29 12:45] marcojr commented on #387
Thanx @hyochan !

[2019-01-29 12:48] marcojr commented on #387
More possible pertinent details to help:

Xcode: 10.1
iOS: 12.1 (Emulator)

[2019-01-29 12:59] hyochan commented on #387
@marcojr Thanks. I also hope you to try out last release version which is `2.3.23` to scope down the problem area.

[2019-01-30 20:38] #199 closed

[2019-01-31 03:57] anhdvz commented on #374
i tried beta11 and this issue still happen

[2019-01-31 05:45] jimji1005 commented on #374
Issue is `Map already consumed`, meaning you are purchasing the same item again. Google docs states you need to `consume` your purchase before buying it again.

[2019-01-31 06:02] anhdvz commented on #374
@hyochan Did you close app (move to background) and launch app again from app's launch icon? When I did that, the processing of google iap is stop, and when i buy again, app crashed.
@jimji1005 How to do it? because I am in the middle of processing iap and I close it, so purchase did not happened and i can not consume it.

[2019-01-31 06:11] anhdvz commented on #374
in my component:
 async componentDidMount() {
    try {
      await RNIap.initConnection();
      RNIap.consumeAllItems();
    } catch (err) {}
  }

  async componentWillUnmount() {
    await RNIap.endConnection();
  }

[2019-01-31 06:11] hyochan commented on #374
@anhdvz The PR #379 by @dajaffe attempt to fix an issue as you've described lastly. However, you are saying no luck. I think we need this to supported from `react-native` to provide guide of handling background services especially in `android`.

[2019-01-31 13:24] neilco opened #389 "Promoted product event not raised on older devices"
### Version of react-native-iap
Master

### Version of react-native

### Platforms you faced the error (IOS or Android or both?)
iOS only.

### Expected behavior

After launching the app from a terminated state via an App Store promoted product, the `iap-promoted-product` event received immediately.

### Actual behavior

The `yap-promoted-product` is never received.

### Tested environment (Emulat

[2019-01-31 13:47] hyochan commented on #389
I am very pleased with your work and all your contributions so far.
I think what you've suggested is already an excellent option `IAPPromotionObserver` as we've discussed this in earlier `PR`, no-ops on `android` would be fine.

Thank you again for your great work.

[2019-01-31 16:35] neilco commented on #387
@marcojr The problem here is how you’re defining your `itemSkus`:

[code]

You’re missing `Platform.select`. That is:

[code]

[2019-02-01 21:07] ulrellik opened #391 "Support for DEFERRED proration mode"
### Version of react-native-iap
2.3.23

### Version of react-native
0.57.8

### Platforms you faced the error (IOS or Android or both?)
Android

### Expected behavior
When setting the proration mode to DEFERRED when calling RNIap.buySubscription, it should activate the subscription as [defined by Google](https://developer.android.com/google/play/billing/billing_subscriptions#set-proration-mode)

#

[2019-02-01 22:32] MartinMasek commented on #174
Hi Evan,
thank you for the suggestion. I've followed the advice and I have no errors (I've linked react-native-iap manually). However, the hasIAP function is returning false even though RNIap.initConnection(); returns true. I test it with this simple piece of code.
`async componentDidMount() {
    try {
      const result = await RNIap.initConnection();
      console.log("hasIAP " + hasIAP())

[2019-02-01 23:14] withinboredom commented on #174
According to the docs, https://docs.expo.io/versions/v32.0.0/sdk/payments/, have you set up payments on your device? (simulator wouldn't make sense to test this with)

[2019-02-02 23:17] csumrell commented on #275
So when you validate on your own server by calling the App Store server /verifyReceipt endpoint from your app, it will always return the latest update to date info for that user with just the original first purchase receipt.

Does anyone know if using the local validate method will also always return the most up to date info? Or is it strictly for that receipt that you locally validate it with?

A

[2019-02-04 16:39] chiragpurohit71085 opened #392 "Android gives subscription failed, after successfully subscribing subscription"
### Version of react-native-iap

### Version of react-native

### Platforms you faced the error (IOS or Android or both?)

### Expected behavior

### Actual behavior

### Tested environment (Emulator? Real Device?)

### Steps to reproduce the behavior

[2019-02-04 16:44] chiragpurohit71085 commented on #392
I am trying to integrate for subscriptions. After subscribing it goes to catch block. Following is sample code....

 try{

     const products = await RNIap.getProducts(['subscription_2']);

    console.log('products');
      console.log(products);

      const purchase = await RNIap.buyProduct('subscription_2');

      console.log(purchase);
    }catch(err)
    {
      console.log('err - ');

[2019-02-05 01:51] #392 closed

[2019-02-05 13:48] csumrell commented on #275
@kevinEsherick yes but getPurchaseHistory will trigger the Itunes login popup. I am talking about saving the original receipt to local storage when the user first purchases. Then instead of calling getPurchaseHistory to check the next billing, calling validateReceiptIos(originalReceipt) which is locally validated. However, I am unsure if validateReceiptIos returns the up to date transactions like

[2019-02-05 17:22] kevinEsherick commented on #275
@csumrell Gotcha. Well that's quickly and easily testable. Have you not tried it? If not I will check it out later today.

[2019-02-05 17:31] kevinEsherick commented on #371
@augustbjornberg how are you able to query their purchases without prompting them to login? getPurchaseHistory prompts iTunes login even if they're signed in. Is there another method?

And, not that this is a fix, but if they just downloaded your app it will be exceedingly rare that they won't be signed in because they would have to be signed in to download it. Such a rare edge case as to possibly

[2019-02-05 18:49] ramondelmondo opened #393 "validateReceiptAndroid always returns undefined"
### Version of react-native-iap
2.4.0-beta6

### Version of react-native
0.57.8

### Platforms you faced the error (IOS or Android or both?)
Android

### Expected behavior
When I try to use validateReceiptAndroid, I expected an object like this:
{
  "kind": "androidpublisher#subscriptionPurchase",
  "startTimeMillis": long,
  "expiryTimeMillis": long,
  "autoRenewing": boolean
}

### Actual behavi

[2019-02-06 14:26] lxcid commented on #336
Thanks for the explanation. I recommend adding this explanation to README.md under FAQ. When reviewing libraries, it can be scary at times to see dependencies that seems a little bit out of place. Also, as the package is not open sourced (though you can review the source if you have install it), it make it a little suspicious. (Thus, I'm also recommending opening sourcing the small package)

I hav

[2019-02-06 18:40] hyochan commented on #393
Have you gone through [readme](https://github.com/dooboolab/react-native-iap#receipt-validation)?

[2019-02-06 18:52] ramondelmondo commented on #393
Yes, I followed the steps of this [post](https://stackoverflow.com/questions/35127086/android-inapp-purchase-receipt-validation-google-play?utm_medium=organic&utm_source=google_rich_qa&utm_campaign=google_rich_qa)

[2019-02-07 02:45] yansfil opened #394 "[IOS] Can't recognize the purchase after Registering a card because of non-registered card"
![kakaotalk_photo_2019-02-07-11-34-56](https://user-images.githubusercontent.com/14955500/52387157-6e13d800-2acc-11e9-94f6-a39793f144f9.jpeg)

Our clients who couldn't get coins after purchase increases.
because Clients didn't register card or write wrong informations, IAP let them go to ios-play-store and force to input new card infos. After that, Purchase was successful(money came out) on ios-pl

[2019-02-07 06:13] hyochan commented on #394
Yeah, this was one of the critical issues we've faced in #307 and I've supported this in #348. You can go over the [readme](https://github.com/dooboolab/react-native-iap#purchase-example-3-advanced) and see how to add this feature.

Also, I hope your company can participate as a [backers](https://opencollective.com/react-native-iap#backers) of our module because this becomes quite large to be hand

[2019-02-07 07:55] hyochan commented on #336
@lxcid Oh! I understand your concern now. Yeah, there was a serious attack with `npm packages` and sure many people will be curious about this. Also, I'll just make [dooboolab-welcome](https://github.com/dooboolab/dooboolab-welcome) public for now (I didn't know it wasn't).

[2019-02-07 08:24] hyochan commented on #394
I just looked into this again, and I think you are facing a different problem. Are you really sure that you are not getting the value out of `addAdditionalSuccessPurchaseListenerIOS`? I think you want the customers to actually rebuy the item. Looks like the products should be `consumable` but I think it is currently `non-consumable`.

[2019-02-07 08:50] TylerIlunga opened #395 "'IAPPromotionObserver.h' file not found"
### Version of react-native-iap
2.4.0-beta12

### Version of react-native
^0.55.4

### Platforms you faced the error (IOS or Android or both?)
IOS

### Expected behavior
"Build succeeded"

### Actual behavior
"Build failed"
'IAPPromotionObserver.h' file not found

### Tested environment (Emulator? Real Device?)
Never gets to this stage due to the build failing

### Steps to reproduce the behavior

[2019-02-07 09:57] hyochan commented on #395
@neilco Could you help this one out?

[2019-02-07 12:38] #332 closed

[2019-02-07 12:51] hyochan commented on #387
Oh you are right. I can't believe how I've missed this.

[2019-02-07 12:51] #387 closed

[2019-02-07 14:07] Thomazella commented on #336
@hyochan That's what I was trying to say. I was just having a bad day that day. Please excuse me for that. Also, last time I checked, the welcome package itself depends on `chalk`...

[2019-02-07 14:38] cbfranca commented on #287
+1 I've the same problem

[2019-02-07 16:27] hyochan commented on #336
@Thomazella Yes. `dooboolab-welcome` uses chalk to color the letters. Is there any vulnerability inside?

[2019-02-07 16:31] hyochan commented on #287
Try using [addAdditionalSuccessPurchaseListenerIOS](https://github.com/dooboolab/react-native-iap#purchase-example-3-advanced) in `buySubscription` also. This is same issue as in #307.

[2019-02-07 17:48] kevinEsherick commented on #275
@hyochan what specific solution are you funding? We've provided a few here in this thread, and I think my latest comment provides the strongest solution yet with the fewest issues. Are you funding someone to collect these solutions into one concise PR to the README? Or is this there an actual code problem you still want to see resolved?

[2019-02-07 18:16] cbfranca commented on #287
Is it works with subscription too ?

[2019-02-07 18:19] gborges0727 commented on #370
Not sure if anybody has begun work on this, however I've started implementing the functionality to support the Amazon Appstore IAPs. Hopefully will have a PR ready soon.

[2019-02-07 18:29] hyochan commented on #275
@kevinEsherick

Yes. This is absolutely right. Also, I just wanted to test out how `issue hunt` could work out of the box. My next plan is to fund on making test cases.

[2019-02-07 18:30] hyochan commented on #370
@gborges0727 I think you are in. I've changed the label to `working`. Thank you!

[2019-02-08 20:45] cbfranca commented on #287
Someone already using in production ?

[2019-02-09 20:20] KDVL opened #396 "react-native-iap:compileReleaseJavaWithJavac FAILED"
I want to update my application but i can't. Compliation failed

### Version of react-native-iap
2.3.26

### Version of react-native
0.56.1"

### Platforms you faced the error (IOS or Android or both?)
Android

### Expected behavior
./gradlew assembleRelease

### Actual behavior

/Users/kevin/Documents/ReactNative/GameQuestion/node_modules/react-native-iap/android/src/main/java/com/dooboolab/RNIap

[2019-02-10 13:18] wasedaigo commented on #316
I might be getting this issue in production(2.2.0). Some users report me that purchases items won't appear.

[2019-02-10 14:11] hyochan commented on #396
We need more information to help you out. Please try other native modules and see if this actually is a problem from our module. There are several issues that aren't related to this which actually comes from `react-native` bridge.

[2019-02-10 18:12] KDVL commented on #396
@hyochan thank's for your response.
Yes, the bridge package isn't find, do you know why ?

[2019-02-11 04:44] hyochan commented on #396
I think you should better ask this kind of question in `stackoverflow` because there are more people watching to answer to your question. Also, I'd like to know your specific environment like are you using `expo`? What other native modules you using? and etc.. <== (better post in addition to reducing writing thread when you also post a new question.)

[2019-02-11 04:44] #396 closed

[2019-02-11 13:21] cbfranca commented on #287
I've tried to do that but without success.

`if (subscription && subscription.success) {
      this.props.subscribe(subscription.result);
    } else {
      if (Platform.OS === 'ios') {
        const sub = RNIap.addAdditionalSuccessPurchaseListenerIOS(async (purchase) => {
          this.props.subscribe(purchase); // -> This code is never fired
          sub.remove();
        });
      }
    }`

[2019-02-11 13:57] hyochan commented on #287
@cbfranca Please follow the actual code. You are not even using `promises`. You should listen to `addAdditionalSuccessPurchaseListenerIOS` after the promise rejection.

Also you do not need extra `Platform.OS === 'ios'`.

[2019-02-11 17:19] cbfranca commented on #287
@hyochan
Sorry for my ignorance, but I do not think I understood correctly. I followed the same bases of the example, suiting my scenario.  I created an abstraction that treats this promise using async / await. This subscription object is returned by my abstraction.

[code]

[2019-02-11 18:39] neilco commented on #395
@TylerIlunga Does the **Header Search Paths** build setting in Xcode contain `$(SRCROOT)/../node_modules/react-native-iap/ios`? If not, add it and then rebuild.

[2019-02-12 04:39] #315 closed

[2019-02-12 04:53] csumrell commented on #275
@kevinEsherick You are correct, local validation with validateReceiptIos does in fact return the latest info about the subscription using only the original first transaction ID (stored in redux state)

I will be using this method to avoid having to set up my own server, and to avoid the itunes login popup while checking if the subscription is active.

[2019-02-12 05:41] hyochan commented on #287
@cbfranca
[code]

Check above code. I think you need to refactor your code to fit its lifecycle.

[2019-02-12 11:40] cbfranca commented on #287
@hyochan Not works for me.

My test cenario is:
 - Purchase the monthly subscription plan - Ok
 - Upgrade to annual subscription plan - Fails and listener not working

Another doubt: Do I have to use finishTransaction() in subscriptions too ?

[2019-02-12 21:03] martnst commented on #386
How about just checking if the `purchases` are `null` like so?

[code]

[2019-02-12 23:09] kevinEsherick commented on #275
A note for those considering using this validation flow that @csumrell and I have laid out: I've found that in development the iTunes login prompt is still popping up on first launch. This does not happen in production. As long as you're following the steps we've laid out all should be fine. As to why it's doing this, perhaps when iOS sees that IAP is being used/is part of the module map in develo

[2019-02-13 04:20] nushydude commented on #294
Docs say that the Google Profile information is only available for purchases made with 'Subscribe with Google'. Don't really understand what they are.
https://newsinitiative.withgoogle.com/subscriptions

[2019-02-13 18:43] SamMatthewsIsACommonName opened #398 "Importing this module causes weird babel helper crash in production build"
### Version of react-native-iap: 2.4.1

### Version of react-native 0.55.2

### Platforms you faced the error (IOS or Android or both?) Android

### Actual behavior

Works fine when running on debug build, as soon as I got release build I get this error:

`Fatal Exception: java.lang.RuntimeException: com.facebook.react.devsupport.JSException: t.typeof is not a function. (In 't.typeof("function"==t

[2019-02-13 19:10] SamMatthewsIsACommonName commented on #398
flag that sorry, it happened after importing and then now I remove it it keeps happening, it must be unrelated.

[2019-02-13 19:10] #398 closed

[2019-02-15 11:10] ganeshzehntech opened #400 "How to get response from IAP if payment made by Redeem Code."
I used the react-native-iap and works when buy my non consumable product with debit or credit card in iOS and Android for my application.
But I want to buy with Reedem Code option on IAP popup for buy product .
I didn't find anything that how can we set this , either we need to use another methods or packages to get the success response or in the same method we can get the response after Reedem Co

[2019-02-15 11:58] dakiesse commented on #333
@Nits7029 have your solved the problem? I have the same now and I can't understand how to get products

[2019-02-15 14:42] #236 closed

[2019-02-15 14:44] hyochan commented on #400
I think this isn't covered yet in our module.

[2019-02-15 14:56] mrozilla opened #401 "App/Bundle ID mismatch results in empty response for getProducts/getSubscriptions"
### Version of react-native-iap
`2.4.0`

### Version of react-native
`0.58.3`

### Platforms you faced the error (IOS or Android or both?)
Both

### Expected behavior
I'm torn between an error saying none of the requested `itemSkus` could be found and the current behaviour.

### Actual behavior
An empty array is returned

### Tested environment (Emulator? Real Device?)
Both

### Steps to reproduce

[2019-02-15 18:01] vberegovoy commented on #385
Getting same issues.
Please help.

[2019-02-16 02:05] abdielou opened #404 "Should Podspec point to master or to the release tag?"
I'm not sure if this is a problem or not. The Podspec points to master and not to the release tag. Isn't this problematic when building with older versions? When you install/update the pods, it will grab whatever is the latest, right? But, what if I'm running an older version?

https://github.com/dooboolab/react-native-iap/blob/b3cac16377c9ea4b66cbde701a65e7cc08efb36f/RNIap.podspec#L13

[2019-02-17 00:30] tmjordan commented on #401
@mrozilla I have the same problem, i always receive an empty array, and i don't understand why.

[2019-02-18 13:05] 13ArturBruno opened #405 "I can test RNiap Without have a app in production ?"
react-native-iap "^2.4.1"

react-native any

on IOS

Real Device

[2019-02-18 13:07] hyochan commented on #405
I hope you to ask a question in `StackOverflow`

[2019-02-18 13:07] #405 closed

[2019-02-18 13:10] hyochan commented on #401
@mrozilla If the package name is different from what has been created in `store`, of course, you won't get products correctly. If you want any additional doc to improve, it is always welcomed.

[2019-02-18 14:50] andersmandersen commented on #385
We had a simular issue, and created the following bug report, which has been closed:
https://github.com/dooboolab/react-native-iap/issues/227

[2019-02-20 15:37] Cnordbo commented on #385
Same issue here! This is critical!

Locally and in Testflight, everything is correct.

[2019-02-20 15:57] hyochan commented on #385
@Cnordbo I don't think you are on the same issue because to re-purchase the item, you should make it as `consumable`.

[2019-02-20 17:04] hyochan commented on #385
@Cnordbo Oh, I see. Yes, then you are on right track. Unfortunately, since I may not dig this problem for a while, I think you need someone else's help or dig yourself with this issue.

[2019-02-20 21:17] hyochan commented on #385
Have you guys tried ‘getAvailablePurchases’?

[2019-02-21 01:31] ming436534 commented on #385
I almost forget I still keep this issue open. I can share how I 'solved' the problem. As I really didn't know how to fix this issue and only one of our user has this problem, I told the user to refund. The user refunded successfully and magically calling getPurchaseHistory from his phone was not returning empty array anymore but an array with one result(which showed that the order was refunded). T

[2019-02-21 08:30] ganeshzehntech commented on #400
Okay, but I found something in current version:
Image was taken from the section from https://www.npmjs.com/package/react-native-iap
What is this related it's not related to buying a product with redeem code

![image](https://user-images.githubusercontent.com/40742110/53154339-8ca3c400-35e0-11e9-91cd-9efaa2ca0d7b.png)

Please let me know on this, I hope you understand what I am saying...
One more