[2017-10-24 00:53] daijun4you opened #1 "How to use it?"

[2017-10-24 01:49] JJMoon commented on #1
We are working on it. Sorry for misunderstanding.

[2017-10-24 15:29] dooboolab commented on #1
Will be done in 1 week.

[2017-10-25 06:28] daijun4you commented on #1
thx, very much. I want to be the first user, haha

[2017-10-26 02:23] daijun4you commented on #1
by the way, I used react-native-in-app-utils to do purchase, but I found some user losed his order on production env, but I cannot reproduction, hope you can notice this.

[2017-10-30 06:56] dooboolab commented on #1
Hi. We released beta version for this library today and will keep working on it to release the stable version which will be v1.0.0.

However, you can try this library these day so your feedback will help us for next release.
Currently subscribing is not supported yet. Only getItems => buyItems => getting receipt string is supported now.

Thank you for all your regrads.

[2017-11-03 06:56] daijun4you commented on #1
Good! I will try it next week!

[2017-11-13 04:41] #1 closed

[2017-12-06 13:24] anoopda opened #3 "Restore Purchase - iOS"
Any updates on iOS restore purchase feature?

[2017-12-07 08:28] JJMoon commented on #3
We wil update soon. Maybe before 2018.

[2017-12-12 11:32] fmoessle opened #5 "ItemSKUs"
Hi!,

I have a question regarding the ItemSKUs.

In the docs i found:

`const itemSkus = {
  ios: [
    'com.cooni.point1000',
    'com.cooni.point5000',
  ],
  android: [
    'point_1000',
    '5000_point',
  ],
};
`

In itunes-connect I only got a SKU for my app, not for products i created.

Is there any information about how to get the SKU for a product (only productid is available in iTunes-co

[2017-12-12 11:55] fmoessle commented on #5
Solved it myself,

simply use Product-Id as SKU :)

[2017-12-12 11:55] #5 closed

[2017-12-14 18:20] KjellConnelly commented on #3
@JJMoon @dooboolab
Btw how do we restore purchases on Android? I know Google Play allows you to query for non consumable purchases, but then that leaves me with a few questions:

1) Is the idea to query for IAPs when the app loads, and restore functionality on each app load (saving locally of course so the app can work offline as well)?
2) Which function should I use? I see:
``
refreshPurchaseItem

[2017-12-14 22:01] iSaadSalman opened #6 "Linking issue: 'React/RCTDefines.h' file not found"
I'm facing this linking issue "'React/RCTDefines.h' file not found"

I using expo version of react native 0.48.4 (21.0.2 expo) & react-native-iap version 0.1.10

Could you help me with this?
Thanks

[2017-12-14 23:39] KjellConnelly commented on #6
@iSaadSalman
Expo doesn't work with react-native-iap unless you detached, nor do repos with native code in them. If you did detach, this is a linking issue that is common with React Native projects. Try a google search to find a solution as you'll find the same problem with other native modules you add and isn't specific to this git repo.

[2017-12-14 23:46] KjellConnelly opened #7 "Do we really need SDK version 26?"
Looks like I can't build my app on Android without SDK version 26 (Oreo) using this repo. Is it really needed to be that high? According to a recent blog post I read, only 0.5% of Android users have Oreo or above. And since IAPs have been out since... idk a long time, it doesn't seem like we would need v26.

Nevertheless, I am pretty much a noob when it comes to Android, so maybe someone could ans

[2017-12-14 23:46] iSaadSalman commented on #6
@KjellConnelly I did indeed detached. Just the sdk version of react-native is expo curated.

I have couple of modules like
@expo/vector-icons
and react-native-fbsdk
which are linked but do not give this issue

--

Regarding the issue, I searched but could not get hold of the correct answer. Also, I'm quite new to this so if you have experienced this issue and found the solution, please point me in

[2017-12-17 09:38] dooboolab commented on #7
@KjellConnelly
Hi KjellConnelly~ You can change your buildToolsVersion as your taste. You can set it to sdk 23 when you prefer it.

[2017-12-17 09:42] dooboolab commented on #6
@iSaadSalman
KjellConnelly is definitely right for this. The vector-icons is not linked to your project it is just inside expo. You are miss understanding about react-native link and expo sdk. Expo sdk imbeds library that should be linked by users but if those libraries are not insdie expo sdk, you need to detach from it. Above two library you mentioned is not needed to detach because it is alread

[2017-12-17 09:53] dooboolab commented on #3
@KjellConnelly
Answering you questions~
1. You need to query for IAPs at first. When you want to query items offline and you are sure that lists of items won't change~ you can save them in LocalStorage.
2. Sorry for that. As we told in head of this repo, we are interested in making IAP the same behavior between IOS and ANDOIRD platform. Therefore we missed out that tutorial officially. getPurchase

[2017-12-17 23:03] KjellConnelly commented on #3
@dooboolab Thanks for the reply :) Could you help me understand a bit better how the process works for Android? I am coming from an iOS background, so I will use iOS terms to try to make sense of this.

Imagine the situation where I have two IAPs
1) Premium Version ($3.99), non-consumable.
2) 100 Coins ($0.99), consumable.

In iOS, I would first query for the product IDs, then call the buy functio

[2017-12-18 10:53] dooboolab commented on #3
@KjellConnelly

Sorry that I've missed this. I've not implemented Sku.Type option to get consumable products in android since implementation from ios was delayed. Before you could only getPurchasedItems lists for non-consumable products only. I just fixed this to support for querying both consumable and non-consumable products.
--------------------------- screenshots below ------------------------

[2017-12-18 10:59] #7 closed

[2017-12-18 14:04] dooboolab commented on #3
@KjellConnelly

Yes! It was about items for subscriptions. OMG... I was confused too. Thanks again to point that out. Sorry that I was confused by busy work ..

It seems we've been missing some support for this senario. We didn't actually distinguish between consumable and non-consumable product in our library. Since you need this part, we will support for this near future. Thanks for sharing.

[2017-12-19 16:20] IosDevAhmed opened #9 "InApp Purchase error"
I got this error from logs :

TypeError: undefined is not an object (evaluating '**RNIapIos.fetchProducts**')

and thus can't guess what is the issue with that.

Any idea? Thanks.

[2017-12-21 10:47] #6 closed

[2017-12-22 18:22] KjellConnelly commented on #9
a) Why don't you call the Javascript fetch method instead? ```getItems()``` I believe
b) Usually I get Undefined in RN Modules when I didn't link properly. What do you get when you call ```console.log(NativeModules.RNIapIos)```? If that's undefined, I am guessing you didn't link properly.

[2017-12-27 05:01] dooboolab commented on #9
@IosDevAhmed
Yes. please check if you are linked correctly. Also as KjellConnelly mentioned in a), it is recommneded to use provided functions we described in readme.

[2018-01-08 01:05] #9 closed

[2018-01-15 01:43] KjellConnelly commented on #3
@dooboolab If you have time, could you add Restore Purchase support for iOS? Will be needing it soon and was hoping this feature to be implemented by 2018. Thanks!

[2018-01-15 07:37] JJMoon commented on #3
@KjellConnelly
Sorry for delay. I will implement that method soon. Happy new year.. !!

[2018-01-22 02:00] KjellConnelly commented on #3
Thank you!! I really appreciate it :)

[2018-01-23 15:55] dooboolab commented on #3
@KjellConnelly
Checkout later version of @0.2.2 for update.
Thank you!

[2018-01-24 23:52] robyweb opened #14 "Installation in Cocoapods project"
I'm building an ejected Expo app which uses cocoapods in the xcode project. To install the IAP component, I followed the manual install. When I add the link to libRNIap.a, the build fails with the error:

'React/RCTDefines.h' file not found

Is there a way to install using cocoapods or can you help me figure out how to get around this issue?

Thanks!

[2018-01-25 01:26] dooboolab commented on #14
@robyweb
Hi there! Yes this is known issue in cocoapod installation. Actually you don't need to manually install this even you are in pod project. After you installed in manually or by react-native link, you should add `$(SRCROOT)/../../../ios/Pods/Headers/Public` header path as `recursive` in RNIap Header Search Path. Could you try this? Check the screenshot below also.

<img width="866" alt="201

[2018-01-25 01:56] robyweb commented on #14
That worked perfectly!

Thank you!

Fred

On Wed, Jan 24, 2018 at 5:26 PM, Hyo Chan Jang <notifications@github.com>
wrote:

[2018-01-26 16:39] rmoreira0 opened #15 "Can't receive the receipt"
Hi!

I'm having a problem when i buy a item. Everything works great, i can prepare the function, load the products from the store but when i purchase the item, i can't receive the receipt, doesn't show anything. This is the code i'm using when trying to buy:

[code]
The purchase works because i receive the email from google and in the android studio i can see the purchase:

![Image](https://i.imgu

[2018-01-27 14:13] dooboolab commented on #15
@rmoreira0
Hi there. The screenshot you pasted seems you are getting the receipt correctly.
Can you give me more specific information? Or if you don't know what receipt should look like in android, the json string you printed
[code]
is correct receipt.

[2018-01-27 14:23] rmoreira0 commented on #15
@dooboolab
The problem is i can't receive the receipt in the react native. I think there is a problem firing the callback, in this line

` buyItemCB.invoke(null, purchases.get(0).getOriginalJson());`

Thank you.

[2018-01-27 15:20] dooboolab commented on #15
@rmoreira0
Ah.. I now got what you mean. Maybe it is because I let android method to consume item right away when purchasing it. Therefore I am suspecting if your item is not consumable, it may occur something wrong. I just get rid of it now in npm package 0.2.6. Could you try this?

Also it would be good if you share any error messages.

[2018-01-27 15:57] rmoreira0 commented on #15
Your last version didn't work and unfortunately there is no error messages :/

I experimented put two alerts, one inside the RNIapModule.buyItem and the other one outside. The first one "Need to call 1" appears, but the other one "Need to call 2" don't appears

[code]

Thank you.

[2018-01-28 04:50] dooboolab commented on #15
@rmoreira0
I've just tested in android device and I could not reproduce your problem.
Could you please share more codes of yours where it is not receiving receipt?

Thank you.

[2018-01-28 15:44] rmoreira0 commented on #15
@dooboolab

Oh man... Everything is working great, the problem is that i was expecting to see the alert and the alert never appears. So i save the receipt in the state and its there xD

I'm sorry for this and thank you so much for the help!
Keep up the great work!

[2018-01-28 15:45] #15 closed

[2018-01-28 16:28] dooboolab commented on #15
@rmoreira0
Great that it is working. Yeah~ Since Alert is happening in UI thread, your code will be interrupted with UI thread being used by Android after purchase. Therefore to avoid it you should give some delay with timeout or use InteractionManager to make your Alert being called. I knew it but I’ve missed that from your question tough.

Thank you.

[2018-01-28 21:26] dawidvdh opened #16 "Building on Android"
Hey Great Project, I am however getting an error when i attempt to build the project:

[code]

I have run `react-native link` and it was successful I have checked all the various android files where native components usually need to be referenced.

Any Ideas? Or any further information I could supply you with?

[2018-01-28 23:38] rmoreira0 commented on #16
Hi @dawidvdh. In the MainApplication file, you have to change the import for this one:

`import com.reactlibrary.RNIapPackage;`

[2018-01-29 04:08] dooboolab commented on #16
@dawidvdh @rmoreira0

rmoriira0 is correct you should
[code]

as described in the Readme. Can you please try again?
Sometimes react-native link does not work as expected so it is better to compare what is in readme.

[2018-01-29 07:19] dawidvdh commented on #16
Oh awesome that solves it thanks, must have missed that part of the read me.

[2018-01-29 07:19] #16 closed

[2018-01-29 11:01] ankurToko opened #17 "Hi. Is there a way to get the list of subscribed plans for the user."
Hi. Is there a way to get the list of subscribed plans for the user so that we do not display the subscription UI if the user is already on a paid plan.

[2018-01-30 05:58] dooboolab commented on #17
@ankurToko
sure you can in Android but ios, I think it is not fully supported at the moment. @JJMoon will answer your question soon.

[2018-01-30 05:59] ankurToko commented on #17
@dooboolab @JJMoon  Yeah, I had the ios usecase. Any work around or solution?

[2018-01-30 06:01] JJMoon commented on #17
Please refer the Apple document : https://developer.apple.com/library/content/documentation/NetworkingInternet/Conceptual/StoreKitGuide/Chapters/Subscriptions.html

I will implement regarding this in the near future.

[2018-01-30 06:08] dooboolab commented on #17
@ankurToko @JJMoon
`getPurchaseItemsAndroid(inapp : string)`
We are missing above method currently for IOS.
Also looking for the contributor!

[2018-01-30 07:14] ankurToko commented on #17
Hi @JJMoon @dooboolab

Is there some breaking change in the RNIapIos.m file? The code that was working earlier now shows exception here

`NSDictionary *dic = @{ @"productId" : theProd.productIdentifier,
                         @"price" : theProd.price,
                         @"currency" : theProd.priceLocale.currencyCode,
                         @"title" : theProd.localizedTitle,

[2018-01-30 07:26] dooboolab commented on #17
@ankurToko
It would be better if you paste your js codes here too so we can tell what is going wrong.

[2018-01-30 07:28] ankurToko commented on #17
@dooboolab  There you go. Just the simple buy stuff.

`RNIap.getItems(itemSkus).then(items=> {
      console.log("get items called: ", items);
      RNIap.buyItem('xyz').then(receipt=> {
        console.log("bought items: ", receipt);
      }).catch(errorCode=>{
        console.log("ErrorCode: ", errorCode)
      })}
    ).catch(error=>{
console.log("Error: ", error)
    })`

[2018-01-30 07:44] dooboolab commented on #17
@ankurToko
Is item called? I mean can you see the logs? If you do, in which line does the crash occurs?
If you got crashed in `RNIap.getItems(itemSkus)` then I suspect your item has not been set properly in [itunesconnect]('itunesconnect.apple.com'). Could you check that?

[2018-01-30 07:46] ankurToko commented on #17
@dooboolab
I get the correct valid product count and the product ids get listed correctly. Also earlier it was working fine, but then recently i tried upgrading the library, but that didnt work out. After that when I tried rolling back to the older version that I was using, it showed this error to me. Earlier I was using 0.1.10

[2018-01-30 07:48] dooboolab commented on #17
@ankurToko
If you see the Readme, you can see what has been changed critically.
How is your import statement done?
Just said, we need more information to guide you.
Please review my previous comment too.

[2018-01-30 07:55] ankurToko commented on #17
@dooboolab

**Import statement** is `import * as RNIap from 'react-native-iap';`

**The code stops here**
`NSDictionary *dic = @{ @"productId" : theProd.productIdentifier,` in RNIapIos.m

**My itemSkus is**
[code]

My in-app products in the iTunes are correctly configured as i get them in the valid Product count in the logs and also it used to work until i tried upgrading.

Currently I am on 0.2.0

[2018-01-30 08:03] dooboolab commented on #17
@ankurToko
Looks you've updated to `0.2.*` correctly.
Can you tell where it exactly is crashing? Is it when you buyItem or when you getItems?

[2018-01-30 08:03] JJMoon commented on #17
Are 'xyz', 'abc' product IDs? You should not use Identification Infomation. And usually the ID use same notation with bundle id, like prod.second.mysite.com etc

[2018-01-30 08:07] ankurToko commented on #17
@JJMoon I have just masked those values. And as mentioned earlier, it was working earlier and I was able to buy the product in my sandbox environement.

@dooboolab it is crashing in the getItems. The logs start coming

`2018-01-30 12:51:48.196 [info][tid:com.facebook.react.RNIapIosQueue][RNIapIos.m:46]

 Obj c >> InAppPurchase  :: fetchProducts

 .
2018-01-30 12:51:48.196370+0530 APP NAME[772:1917

[2018-01-30 08:14] dooboolab commented on #17
@ankurToko
It is quite inefficient to solve your issue here because there hasn't been chages from `0.1*` to `0.2.*` for getting items in ios. So we need to try some test and trials to find out your problem. Could please getItems one by one for your ios products?
[code]
one by one. It might not be the issue but need to do some test yourself because we are not in your environment..

[2018-01-30 08:18] ankurToko commented on #17
@dooboolab
Alright. Will be on it.

[2018-01-30 09:13] dooboolab commented on #17
@ankurToko
Please tell us again if you are still in trouble or any experience!

[2018-01-30 09:14] ankurToko commented on #17
@dooboolab
I still haven't been able to resolve it. Trying upgrading. The single item thing didn't work out.

[2018-01-30 09:27] dooboolab commented on #17
@ankurToko
Could you try example code in [here](https://github.com/dooboolab/react-native-iap/tree/master/RNIapExample)?

I will invite you to this itunesconnect test project if you share your apple id. If you feel private with this one you can send me an email([dooboolab@gmail.com](mailto:dooboolab@gmail.com)).

Maybe you can compare with your configuration in itunesconnect and sample codes.

[2018-01-31 09:50] ankurToko commented on #17
@dooboolab @JJMoon
I rectified the issue that I had. It was because of 0.1.15 As in the package.json there was a '^' it was taking the latest version of 0.1.15, but when i removed the '^' then it remained on 0.1.10 and worked just like before.

I suppose this has something to do with any of your latest updates.

[2018-01-31 11:04] dooboolab opened #18 "Get the list of subscribed plans for the user."
`getPurchaseItemsAndroid(inapp : string)`

We are missing above method currently for IOS.
Also looking for the contributor!

[2018-01-31 11:06] dooboolab commented on #17
@ankurToko
Glad that it is solved. I've told you previously that there is critical bug in `0.1.15` that @JJMoon  born. Good that you found out. Also, I've created another issue for previous question [here](https://github.com/dooboolab/react-native-iap/issues/18). Because there are mixed personality in this issue thread.

I've just seperated bugs with getting the list of subscribed plans for the us

[2018-01-31 11:08] #17 closed

[2018-01-31 11:49] ankurToko commented on #17
Yeah, but then I didnt know that it was referring to 0.1.15 and not the latest one i.e. 0.2.6

Anyways, thanks for your help and the library itself.

[2018-02-01 18:21] rmoreira0 opened #19 "Cancel purchase"
Hi @dooboolab!

When the user cancel the purchase i don't receive any callback. So i opened the RNIapModule.java file and checked the onPurchasesUpdated method.

[code]

Seems that it is not being validated when the user cancels the purchase, so i changed for this and now is working.

[code]

I don't know if this is the correct way to resolve the problem, can you please verify?

Thanks!

[2018-02-02 04:22] dooboolab commented on #19
Yes you've made it! You should do that to handle user cancel action return.
Thanks for help. I'll publish this to `0.2.7`.

Also this could be your opportunity to be our committer. If you want to become our committer, please give us a pull request with below code. I'll be waiting for you for 24 hours. If you've not give us a pull request within 24 hours then I'll just commit it and publish to `0.2

[2018-02-02 15:38] dooboolab commented on #19
[DONE](https://github.com/dooboolab/react-native-iap/pull/20)!!

[2018-02-02 15:38] #19 closed

[2018-02-04 16:53] dooboolab commented on #18
@ankurToko
Should sheck this out. So @JJMoonl, would you implement restoreIosNonConsumableProducts method? Or just leave it like this? What is a plan?

[2018-02-05 08:02] JJMoon commented on #18
OK.  I will change and commit..

[2018-02-06 00:54] gitbyzin opened #23 "Can you add introductory price?"
Your awesome package is well used.
I need introductory price infomation.
Can you add introductory price?

getIntroductoryPrice()
getIntroductoryPriceCycles()
getIntroductoryPricePeriod()

[2018-02-06 04:46] JJMoon commented on #23
OK. We will implement these methods. Thank you for your concern.

[2018-02-06 16:41] KjellConnelly opened #24 "prepareAndroid"
To simplify things, prepareAndroid should be called and ignored, with and then run the promise for ios devices. Currently, on ios, prepareAndroid does nothing, and crashes on attempted promise.

[code]

Instead, I had to write conditional code

[code]

Could you make it so ios still handles the promise?

[2018-02-07 02:51] JJMoon commented on #24
I tested module in iOS, but never crashed at that part.
I guess we used await instead of promise handling.
Please refer to the line 43 in example. https://github.com/dooboolab/react-native-iap/blob/master/RNIapExample/src/components/pages/First.js

We will change that part, not to crash.
Thank you for your help.

[2018-02-07 03:25] JJMoon commented on #24
I guess you can use await everywhere in RN project.
But, you define the function which use await as async. Just like the above componentDidMount in  First.js. I hope this will help.

[2018-02-08 15:12] dooboolab commented on #24
@KjellConnelly @JJMoon
Is this solved?

[2018-02-08 15:13] dooboolab commented on #23
@gitbyzin
Just wondering. Is this feature supported in Android too?

[2018-02-08 17:52] KjellConnelly commented on #24
@JJMoon Thanks for letting me know about adding ```async``` in front of the function. I didn't know, and just assumed it wasn't a feature that worked. After testing it, it works - sort of... But there is still a problem on ios:

```prepareAndroid()``` should either return a message, or an errorCode. Before, when we were using ```prepare()```, I would do it like this:

[code]

The equivalent using

[2018-02-08 22:05] KjellConnelly opened #25 "refreshAllItems() (android)"
I know that this function shouldn't work all the way when using the emulator, but for testing purposes, it seems it should call the catch function. Not sure if it doesn't work on both emulator and real device, but it doesn't work on emulator it seems.

[code]
This function never ends since it is indefinitely waiting for results or an exception.

[2018-02-10 09:49] dooboolab commented on #25
@KjellConnelly
Will [this](https://github.com/dooboolab/react-native-iap/commit/a2e597011b16eca3c2b33ea4c34ab2f35d665630) be a fix?

[2018-02-10 11:00] JJMoon commented on #24
@KjellConnelly I tested with the Example in our repository. It's fine on iOS simulator. And it didn't catch the error. The only difference in our codes are
[code]
instead of member function.
So, I suggest you to test with our example, edit the bundle ID, and product ids.
I hope you have fine result.

[2018-02-10 12:06] dooboolab commented on #25
@KjellConnelly
I've just published to `0.2.9`. Please try again with new version.
I'll close this. Tell me again if you still have a problem.

[2018-02-10 12:06] #25 closed

[2018-02-10 13:37] KjellConnelly commented on #24
@JJMoon I believe the example code does not use a try/catch. It just awaits a response. If in componentDidMount, you add the try/catch statement, it’ll always catch on my iOS real device.

Try/catch should be used since catch will catch android error codes

[2018-02-11 02:51] dooboolab commented on #24
@KjellConnelly
Can you share what version you are using? Because this should not happen in later version of ‘0.2.*’

[2018-02-11 04:00] KjellConnelly commented on #24
@dooboolab I just updated to the current github version, and it looks like it is working now :) Sorry about that. I didn't update since you made the fixes. Didn't realize that you made them.

[2018-02-11 04:00] #24 closed

[2018-02-20 07:55] Froelund opened #31 "Signature missing from Android purchase."
Hi!

I need to validate purchases from the backend, but I'm missing signature on the purchase.

The Purchase class `com.android.billingclient.api.Purchase` already contains the signature, but it needs to be passed in the response.

[2018-02-20 16:12] #31 closed

[2018-02-22 05:32] JJMoon commented on #31
I am not Android specialist, but it looks like 'buyItem' method returns Purchase object, and send back to RN side as it is. ( RNIapModule.java line 419 )
I found signature on getPurchasedItemsAndroid. Can you use that instead?

[2018-02-22 08:22] cometkim opened #34 "CONTRIBUTING.md and LICENSE is needed"
Thanks you maintainers for your awesome work :+1:
This would be helpful to someone like me who's not familiar with android/ios native.

It would be better if there's some guideline for contributors like `CONTRIBUTING.md`.
Also `LICENSE`, what charges to use this in my project?

[2018-02-22 13:56] dooboolab commented on #34
Thanks for our new issue. Yeah, actually I am not sure about writing `CONTRIBUTING.md`. I will look for it somewhere. Basically, it is all free of charge and anyone can contribute to our project. If you know basics about this one, you may write basic stuff for this too.

[2018-02-22 20:43] tehong opened #35 "Android RNIapModule.getItems() method response 404 caused app crash"
[code]

Looking at the code in RNIapModule.java:

[code]

It appears that toString() method on the last line caused the crash.  I believe the HTTP response was 404 Not Found based on the crash log.

[2018-02-23 02:37] dooboolab commented on #35
Thank you for the notice. I will debug it soon. Could you tell me which version of react-native-iap you are using?

[2018-02-23 03:19] dooboolab commented on #35
@tehong I've just published the module to npm `0.2.13`. Please review `breaking changes` section. Also I applied changes for your crash log. Thank you.

[2018-02-23 03:19] #35 closed

[2018-02-23 15:45] tehong commented on #35
@dooboolab My version is ```0.2.9```.  I see that you've made some changes to the latest ```0.2.13``` that fixes this problem.  I will upgrade to that and thanks for the ```breaking changes``` reminder. Most of all,  thanks for the quick fix.

[2018-03-01 00:11] rikur opened #44 "React pod has been deprecated"
[code]

I had to remove some other libs that pull in the deprecated React pod as it causes weird errors sometimes. Could this be fixed?

[2018-03-01 00:12] rikur commented on #44
Also documentation doesn't mention that you have to:
[code]

after linking the library to pull in the pod.

[2018-03-01 00:13] rikur commented on #44
And... I can't use this library:

[code]

New React Native and Cocoapods don't work if you pull in the React pod.

[2018-03-01 03:03] rikur commented on #44
Tried to fix this in my fork, but ttill getting `TypeError: Cannot read property 'fetchProducts' of undefined`.

[2018-03-01 03:11] rikur commented on #44
`react-native link react-native-iap` doesn't seem to work. My forked version and manual linking solved my problems.

[2018-03-01 04:50] brentjanderson opened #46 "Android ExpoKit: undefined is not an object (evaluating 'RNIapModule.prepare')"
### Version of react-native-iap
0.2.14

### Expected behavior
`RNIap.prepareAndroid()` prepares android

### Actual behavior
Errors out with `undefined is not an object (evaluating 'RNIapModule.prepare')`

### Steps to reproduce the behavior
Running `RNIap.prepareAndroid()`. I tried creating a fresh-from-scratch ExpoKit project to duplicate the issue, and it actually worked just fine. I've tried a

[2018-03-01 05:58] dooboolab commented on #46
Did you `link` the project properly?
Actually, it won't work in `expo` project without detaching.

[2018-03-01 06:04] dooboolab commented on #44
I've just merged this and published to npm `0.2.15`. We'll see how it goes. Thanks.

[2018-03-01 06:18] rikur commented on #44
Thanks and wow.. I would have kept it in master for a bit before releasing.. I didn't test every version of React Native/Cocoapods, only the latest.

[2018-03-01 06:20] #44 closed

[2018-03-01 18:35] henkkasoft opened #49 "Android: Incorrect RNIapPackage import with react-native link"
### Version of react-native-iap
0.2.15
react-native: 0.53.3
### Expected behavior
react-native link react-native-iap should update MainApplication.java and android/app/build.gradle correctly
### Actual behavior
link adds MainApplication.java
import com.dooboolab.RNIap.RNIapPackage;
it should be: com.reactlibrary.RNIapPackage

Also:
compile project(':react-native-iap') is not updated to android/app

[2018-03-02 01:24] dooboolab commented on #49
@henkkasoft
I've just tried `react-native link react-native-iap` with clean project from `react-native init` and worked fine.
[code]

I've checked into android project and everything linked properly. Also compile project has been done successfully with out manually installing it.

[code]

I've heard react-native link system is not that perfect so we've written manually installing guide. However mo

[2018-03-02 01:54] brentjanderson commented on #46
@dooboolab You're right about `expo` requiring a detach, which I did. And I have run `react-native link react-native-iap` several times. I have verified with the manual steps as well, and I can't figure out what the difference is - I tried from a fresh Expo project, detached, installed the module, and it worked fine.

[2018-03-02 02:27] brentjanderson commented on #46
Also tried unlinking and relinking the project just now, targeting a prod build instead of a debug build, still no dice. Also, thank you for your prompt reply!

[2018-03-02 03:43] brentjanderson commented on #49
I have seen the same issue on the project I'm working on, FWIW. Linking uses `import com.dooboolab.RNIap.RNIapPackage;` instead of `com.reactlibrary.RNIapPackage;`. I have had to use the manual linking steps accordingly.
(refs #46)

[2018-03-02 05:33] dooboolab commented on #46
@brentjanderson
Don't actually understand why that is happening either because it is not happening in my environment. Also, my understanding from your writing is that
1. You've succeeded linking from a clean install from `clean` expo detached app.
2. However, linking is still having a problem when unlinking an linking again. But this time I feel like you are referring to ios. If so, sharing more r

[2018-03-02 05:56] dooboolab commented on #49
@henkkasoft @brentjanderson
Thank you for the bug report. I've just updated npm to `0.2.16` with breaking changes readme. Now the package name will be fixed to `com.dooboolab.RNIap.RNIapPackage`. This will be updated when you install `npm install --save react-native-iap@0.2.16` and just open up the android studio with `android` dir of your react-native project. Then it will warn you with no module

[2018-03-02 09:07] 12343954 opened #51 "what's the "receipt" means ? where can i get the order information ?"
### Version of react-native-iap
: "^0.2.14"

following the steps, i can get the `receipt` , it's means "Purchase Successful!" ?

and how can i use the "receipt.data" ? send it to the apple iap server to check the order ?

thank you very much !

[2018-03-02 09:13] dooboolab commented on #51
@12343954 receipt string will be used to validate from app store.
you can read the article [here](https://futurice.com/blog/validating-in-app-purchases-in-your-ios-app). Also search for in app purchase validation.

[2018-03-02 09:16] #18 closed

[2018-03-02 09:32] 12343954 commented on #51
thank you ! you answered very fast !

you did not provide the "Receipt validation" api, you means it's the development server must do it for safe ?

[2018-03-02 15:10] dooboolab commented on #51
@12343954 Usually, validating receipt was done in own backend server like the image you pasted. However, I also found out that it can also be done locally. It is actually your taste which one you feel more safe and reliable. Also, validating in app purchase locally isn't implemented yet. We are also looking for the contributor.

[2018-03-02 21:59] rikur commented on #51
It would be great if we could decode the receipt locally (to get the contents like expiry date). I couldn't find a JS code/lib to do it, only some in Ruby and Java, like this one:
https://gist.github.com/lxcid/4441003

The receipt is Base64 encoded.. but the payload is not plain JSON and I couldn't find a way to parse it.

[2018-03-02 23:16] rikur commented on #51
Apples Doc: https://developer.apple.com/library/content/releasenotes/General/ValidateAppStoreReceipt/Chapters/ValidateLocally.html#//apple_ref/doc/uid/TP40010573-CH1-SW19

[2018-03-03 04:12] dooboolab commented on #51
@rikur
We will look into this one. We actually didn't bother about retrieving data from receipt string. We were thinking of just validating it to prevent from hacking. Receipt string for android is JSON but for ios it is BASE64 encoded. Actually we referred to `in-app-purchase` [repository](https://github.com/voltrue2/in-app-purchase) for using node.js server.

[2018-03-04 08:46] rikur commented on #51
@dooboolab yeah I'm using a serverless architecture and `in-app-purchase` to verify the receipt for now. I'm granting the user premium right away if the response has a receipt and update it once more when vefification is done by the BE.

[2018-03-05 01:01] obsidianart opened #54 "Help with documentation and crash after purchrase"
### Version of react-native-iap
0.2.16

I'm not an Android or IOs developer and I'm starting now with the purchase system. Among all libraries for react native yours seems the only one with cross platform support and subscription. Thanks for your amazing job.

My questions following:

1) Is there anything bad in checking the subscription status every time the app loads?

2) What's the difference b

[2018-03-05 01:29] lwansbrough opened #55 "BAD CONSUMPTION FUNCTIONALITY!!"
`refreshAllItems` is very poorly named!! The implementation uses `fetchHistory` on iOS which is non-mutative operation, and uses `consumeItem` on Android, which destroys purchase history! This is either very bad naming, or very poor purchase flow behaviour! I'll nominate it for both!

I can't think of a single case where I'd want to immediately consume all purchased items. What I would expect is t

[2018-03-05 01:41] lwansbrough commented on #55
https://developer.android.com/google/play/billing/billing_integrate.html

[2018-03-05 01:48] lwansbrough commented on #55
Here's what you need instead of `getPurchases`: you need `getPurchaseHistory`. https://developer.android.com/google/play/billing/billing_reference.html#getPurchaseHistory

[2018-03-05 06:24] dooboolab commented on #54
Hi! Thanks for sharing your problem. So I will quickly answer your questions as much as possible.

1. Is there anything bad in checking the subscription status every time the app loads?
    - As you need this feature to be called, it surely is not a big deal since it will do the job in another thread. However, if you need to wait for its callback to continue your app, I'd recommend you to do this

[2018-03-05 08:05] dooboolab commented on #55
@lwansbrough Hi! thank you for really important testing. As you can see we are out of time just focusing on this module. However, I am trying hard to maintain this so others can use `in-app-purchase` functionality easy as possible. Thank you for the link, I've found out that they implemented new api since `2017.05` for `getPurchaseHistory`. I've just changed method name `refreshAllItems` to `fetch

[2018-03-05 08:15] obsidianart commented on #54
That's an amazing and fast answer.

My understanding is that a subscription item is something like "billed every month", which is my case. I created a monthly recurrent item on google play and it works with the standard buyItem. In your guide the "Subscription" section use "buyItem", that's why I'm confused, since the name "buySubscriptionItem" seems for the section "Subscription". Also, you say "

[2018-03-05 08:40] lwansbrough commented on #55
@dooboolab I've taken my somewhat rough criticism and have turned it into constructive change! Here's my work so far: https://github.com/TrackerNetwork/react-native-iap/commit/25e7e9b278cd02e9333590252e0c9e0684ed7182

I've refactored a considerable portion of the code base (very much a work in progress still) with the intent of making it more stable and more readable. I've also cleaned up the API

[2018-03-05 09:11] dooboolab commented on #55
@lwansbrough Sorry to hear that. Be sure module version without `1.0.0` release is under construction and needs some testing before actually load into your running app. Would you mind me commiting changes to npm module `0.2.17`? Could you work from there?

[2018-03-05 09:47] obsidianart commented on #54
I finally got the android logs from google play
[code]

[2018-03-05 12:26] dooboolab commented on #54
@obsidianart Sorry for the readme. I've just udpated the readme to avoid confusion like you've experienced.
Also, having NullPointerException in your code,  did you add your account as a tester in play store console? Also, try with sku id `android.test.purchased`. If this won't work you should check if your account has been added to a tester.
Also, if `buyItem` works fine, you'd better check if yo

[2018-03-05 12:33] obsidianart commented on #54
I'm afraid I have hard time understanding the difference. it's an "in app subscription" (attached how it looks like). The id I use is "monthly" and not "something.something.monthly". Please notice that the item is actually bought correctly. Since is an actual beta release trough the store is it relevant if it's a tester or not?

![screen shot 2018-03-05 at 12 28 27](https://user-images.githubuserc

[2018-03-05 12:40] dooboolab commented on #54
@obsidianart
To retrieve your purchase you might want to use module `0.2.17` and use `fetchHistory` method.
By the way, I need to look into your codes why it crashes at last.

[2018-03-05 12:51] obsidianart commented on #54
That's my full code. I didn't try to clean up as often this kind of crash is a typo. I'm aware there are still things from your example but I don't expect them to crash, only to be skipped. I didn't look into the IOs yet.

[code]

[2018-03-05 13:00] dooboolab commented on #54
In your code,

could you change
[code]
to
[code]

[2018-03-05 13:08] obsidianart commented on #54
I'm trying to keep the code as cross-platform as possible, I'll give it a go with fetchHistory first :D

[2018-03-05 13:21] dooboolab commented on #54
@obsidianart yes. But `refreshPurchaseItemsAndroid` kind of method is not in `ios` as I know currently. Everything is handled by `ios` side unlike the `android`. However, if you need to restore this purchase in android, it would help you you that method and it won't affect the ios code. Just FYI.

[2018-03-05 14:20] obsidianart commented on #54
so, ```buySubscribeItem``` fixed the crash, which is great, and ```fetchHistory``` returns the receipt. I still don't know what "refreshPurchaseItemsAndroid" is for, it's after the user deleted and reinstalled the app?

[2018-03-05 14:29] dooboolab commented on #54
@obsidianart great that your problem is solved. `refreshPurchaseItemsAndroid` is to refresh either consumable & non-consumable product in android. If you refresh the consumable product, it will consume all your items in your app which I won't recommend. However, some developers uses this way if they are not sensitive about information tracked by the playstore. In this case most developers work wit

[2018-03-05 14:31] #46 closed

[2018-03-05 14:31] #49 closed

[2018-03-05 19:06] lwansbrough commented on #55
@dooboolab I think getting version out `0.2.17` out when you can would be a great start.

[2018-03-07 08:49] obsidianart commented on #54
My bad, fetchHistory returns an empty array (I had the original receipt in state).
That's my updated code, the purchase works but ```fetchHistory``` returns an empty array.
I'm not 100% sure I understand the meaning of "refreshing" products, but my understanding is that I should not call it.
Thanks for your help

[code]

[2018-03-08 03:48] brentjanderson commented on #46
@dooboolab late reply to your previous message:

1. I have succeeded linking from a clean install from a clean expo detached app
2. At one point it was working on Android and iOS. It now only works on iOS, so I am troubleshooting Android

One error that I noticed when starting Android Studio that may be useful:

[code]

I am still baffled by this and will be shipping the iOS version with IAP (Than

[2018-03-08 04:54] brentjanderson commented on #46
Figured it out. For future reference:

* Expo Detach produces all the stuff that goes into the android project, including AndroidManifest.xml
* I modified the AndroidManifest.xml to accommodate deep linking schemes, and in doing so I disabled the `.MainActivity` section, relying instead on the `.LauncherActivity` section for deep linking and `MAIN` and `LAUNCHER` intent.
* Because the `MainActivit

[2018-03-08 07:31] henkkasoft commented on #49
Just another comment on instructions.

iOS manual instructions step 2 is missing "ios" folder:
Go to node_modules ➜ react-native-iap and add RNIap.xcodeproj
should be:
Go to node_modules ➜ react-native-iap ➜ ios and add RNIap.xcodeproj

Didn't want to create a new issue for so obvious small thing.

[2018-03-08 12:35] alanlanglois opened #59 "Play with subscriptions"
### Version of react-native-iap
2.17

I need to deal with both in app and subscriptions (on both android & iOS).
I've created 1 inapp and 1 subscription on the google play console :
Let's say their ids are : com.test.inapp & com.test.subscription

When I call
RNIap.getItems({ android: ['com.test.inapp', 'com.test.subscription' ]});
I only get com.test.inapp as a result.

I guess it's because com.t

[2018-03-08 12:42] alanlanglois commented on #59
I got it working!

I passed an object (and not a string) to getSubscribeItems
{ android: ['com.test.subscription' ]}
and it worked.

@dooboolab I think you should update the doc to avaid confusion :)

[2018-03-08 12:42] #59 closed

[2018-03-09 02:58] javier-artiles commented on #55
@Iwansbrough thank you for clarifying these concepts and sending the PR. After your experience with the code, what do you think are areas we can improve moving forward ? I must admit I have a vested interest (my own RN apps out there) in this library being robust and well documented, so I'd like to put time aside to contribute here.

[2018-03-09 07:02] dooboolab commented on #55
@javier-artiles
You can see the remaining issues in this repo. Testing local receipt validation might be useful too. Also, before all that, we need to test @lwansbrough code and update readme and announce users for migration who's already using our module.

[2018-03-09 14:53] javier-artiles commented on #55
@dooboolab No worries, I know it can be hard to balance personal and day job projects. Will start by spending some time reading through the codebase, @lwansbrough fork, and currently reported issues.

[2018-03-10 14:58] alanlanglois commented on #18
What about this method?
I get a  RNIap.getPurchaseItemsAndroid is not a function error.
What are the params needed by this function?

[2018-03-12 14:09] 12343954 opened #61 "for fast, how about use the api "SKPayment.paymentWithProductIdentifier(product_ID)" instead of "SKPayment.paymentWithProduct(theProd)" ?"
### Version of react-native-iap
:^0.2.14

### Expected behavior
the purchase is very very slow ! i want to make it faster !

why don't you use the api "SKPayment.paymentWithProductIdentifier(product_ID)" ?

i don't want to check the product_id in the validProducts (without `fetchProducts`).

`
[code]

[2018-03-12 15:11] 12343954 commented on #61
![image](https://user-images.githubusercontent.com/1804003/37291854-8b0657b2-264a-11e8-8a81-906f18503969.png)

RNIap.buyItem().catch() // catch lots of codes < 0 ,what's means ?

[2018-03-13 03:07] JJMoon commented on #61
OK.  According to document below, paymentWithProductIdentifier is deprecated.
https://developer.apple.com/documentation/storekit/skpayment/1623907-paymentwithproductidentifier
But, I don't this this api slow down the purchasing process. The purchasing process in iOS takes times more than we usually expect. But, we will change that in the next deployment.

[2018-03-13 03:40] 12343954 commented on #61
thank you for reply! i know it !

but another question :
RNIap.buyItem(item) can receive the receipt , but in `VerifyReceipt` returns lots of code < 0 some times .
i see the inner exception, it shows "Unable to connect to the iTunes Store. "
is it means i lost the purchase order, even the user paid the money ?!

thank you !

[2018-03-13 08:09] 12343954 commented on #61
![image](https://user-images.githubusercontent.com/1804003/37329463-dd4a07e2-26d8-11e8-9a18-04f081541f8f.png)

[2018-03-14 03:15] juragansandhy opened #63 "Force Close after Buy Item android.item.canceled"
### Version of react-native-iap
^0.2.17

After i testing to buy item android.item.canceled. My Apps is force close.
Would you like to fixing them?

This is log when apps force close

`03-14 10:12:44.340  1497 13372 D ActivityTrigger: ActivityTrigger activityPauseTrigger
03-14 10:12:44.341  3353  3353 W BillingHelper: Couldn't find purchase lists, trying to find single data.
03-14 10:12:44.341  335

[2018-03-14 05:28] dooboolab commented on #63
@juragansandhy Thank you for the bug report. We are now working on the major update in the module which will come as `0.3.0`. We are trying hard to release it in this month. Hope you can try that version!

[2018-03-15 05:56] juragansandhy commented on #63
@dooboolab okay i will try that version when that version is available

[2018-03-17 04:17] vadermemo opened #64 "InAppPurchase response always is "invalid items""
Hi guys,

  I have a big problem, when a test on my iphone with my variable itemSkus initialized, always get the next message:

"InAppPurchase   ###  didReceiveResponse :: Valid Product Count ::  0"

Never get a "valid items", even with a double checking list:

1. Check the "Id Pack" from Itunes Connect is the same from Xcode's bundle identifier.
2. Check the list of "Products ID" from Itunes Conn

[2018-03-21 09:55] dwyanelin commented on #46
@brentjanderson

Sorry, I have no idea about how to modify the AndroidManifest.xml to accommodate deep linking schemes, and how to  disable the .MainActivity section, relying instead on the .LauncherActivity section for deep linking and MAIN and LAUNCHER intent.

May i ask how to implement that?

[2018-03-21 23:03] gregoireLem opened #65 "No valid Product returned !!"
I have the error "No valid Product returned !!" after getItems. Any idea of what could be the causes ?

Thanks a lot for the lib

[2018-03-22 01:55] brentjanderson commented on #46
Here is a snippet from my AndroidManifest.xml file (located in `android/app/src/main` in my detached ExpoKit project), showing the `<application>` XML element (which I did not modify), followed by the MainActivity declaration:

[code]

I commented out the section of AndroidManifest.xml a few lines lower that refers to `android:name=".MainActivity"` since it would seem to me to be conflicting to ha

[2018-03-22 03:53] dwyanelin commented on #46
@brentjanderson

Thank you very much! I learned how to add deep link scheme, and how to add intent to another activity. I added it into the same intent block. Thanks again!

[2018-03-22 05:48] dooboolab commented on #65
@gregoireLem Which platform did you tried? Please check if you created your IAP products in app store or android playstore first.

[2018-03-22 06:31] JJMoon commented on #64
The 'Valid Product Count :: n' is from productRequest method in iOS, which is several times tested.
I guess the definition of products in iTunesConnect is not completed. Would you share the settings of them?
Another issue is.
You have to wait some time to test after setting this products in iTunesConnect.
It took sometimes several hours or a day.
Implementation and test in IAP of iOS takes time.

[2018-03-22 09:04] gregoireLem commented on #65
For know I just tried on iOS. And yes I have to products that are in App Store.

[2018-03-23 17:19] ilyakar opened #66 "Cannot read property 'fetchProducts' of undefined"
### Version of react-native-iap
0.2.17

### Expected behavior
Should fetch the products

### Actual behavior
[code]

### Steps to reproduce the behavior
1. Run `yarn install react-native-iap`
2. Run `yarn link react-native-iap`. (I have a cocoapods projects so it adds the following line: `pod 'RNIap', :path => '../node_modules/react-native-iap'` to my Podfile
3. Run `cd ios`, Run `pod install`
4.

[2018-03-23 17:22] ilyakar commented on #66
Here is my Pods screenshot from XCode:

![screen shot 2018-03-23 at 18 21 29](https://user-images.githubusercontent.com/1760709/37844135-16381b3e-2ec7-11e8-939d-ca255c0228b5.png)

[2018-03-24 02:25] dooboolab commented on #66
@ilyakar  did you fetch the correct product ids that you have set in your iTunes connect?
![image](https://user-images.githubusercontent.com/27461460/37859374-f7bd31d2-2f55-11e8-99e7-03755d0faf96.png)
Check if you set up your products correctly.

[2018-03-24 02:25] dooboolab commented on #65
@gregoireLem So is this solved?

[2018-03-24 02:49] dooboolab commented on #63
@juragansandhy `0.3.0-alpha` has been released. Please try it out.

[2018-03-24 09:16] #54 closed

[2018-03-24 09:17] dooboolab commented on #55
`react-native-iap@0.3.0-alpha1` has released. Be sure there is bug in `react-native-iap@0.3.0-alpha` so please try `react-native-iap@0.3.0-alpha1`.

[2018-03-24 09:27] JJMoon commented on #61
OK. If you got the receipt, your purchase transaction was successful.
The case of crash ? (the image above) looks like normal failure process.
Would you describe the steps more detail ?

[2018-03-24 09:41] ilyakar commented on #66
Hi. Yes. When I remove the podfile from the ios folder the plugin installs correctly and everything works. But I am using a podfile for other plugins so this isn’t a permanent solution.

Kind regards,
Ilya

[2018-03-25 06:54] jirgl opened #73 "Displays login dialog each time application is started"
I just fetched `getProducts`, bought products `buyProduct` and everything was successful. Since first purchase each time I launch application I see login dialog to my account (iOS platform). I am using `0.3.0-alpha1` but I had this problem earlier at `0.2.*`. What am I doing wrong? Code was inspired by example app.

[2018-03-25 10:21] JJMoon commented on #73
I have been experiencing exactly same process. I guess it's the iTunes Connect bug.
In order to test IAP in iPhone, you need to logout your account, and login to sandbox tester.
During testing IAP process, you implicitly login with that sandbox account.
But, in this process, you can see some side effects which looks like bugs.
If you use Apple Music service (like me), you lost downloaded songs, an

[2018-03-26 14:46] tehong opened #76 "Android force close when skuDetailList is no there due to invalid HTTP response on getItems()"
### Version of react-native-iap
0.2.13

### Expected behavior
getItems() should be able handle no skuDetailList

### Actual behavior
getItems() resulted in forced close when getItems() with no skuDetailList.

### Steps to reprodue the behabior
getItems() encountered HTTP error with no skuDetailList .

**It looks like we need more robust handling of the error when Android getItems() encounters HTTP

[2018-03-26 16:38] ilyakar opened #77 "Android getItems returns empty array"
### Version of react-native-iap
0.2.17

### Expected behaviour
To return the array populated with four in-app purchases with are active on Google Play (my app is published in alpha release)

### Actual behaviour
returns: `[]`

### Steps to reproduce the behaviour

This is a snippet from my code:
[code]

Here's the log output:
![screen shot 2018-03-26 at 18 34 52](https://user-images.githubusercont

[2018-03-27 03:15] dooboolab commented on #76
@tehong Alright. So you are talking about NPE handling when there is no items. I'll support that. Also, it would be good to know that `0.3.0-alpha1` is released for more clean and reliable code base.

[2018-03-27 03:46] dooboolab commented on #66
@ilyakar Are you still having trouble? This module shouuld work even if you are in cocoapods project.

[2018-03-27 04:20] dooboolab commented on #77
@ilyakar Hi. This is really strange. Have you tested in ios platform too? Also could you check with `'android.test.purchased` with this if you are receiving anything?

[2018-03-27 09:27] ilyakar commented on #66
Hi @dooboolab Yes, I still cannot get it to work with cocoapods. Am I missing something? Should I install plugins using cocoapods differently than the following?
1. Run `yarn install react-native-iap`
2. Run `yarn link react-native-iap`. (I have a cocoapods projects so it adds the following line: pod 'RNIap', :path => '../node_modules/react-native-iap' to my Podfile
3. Run `cd ios`, Run `pod insta

[2018-03-27 09:29] ilyakar commented on #77
False alarm. Thank you for getting back though. It seems I needed to wait a few more hours to see the in-app purchases from Google Play (recently published app).

[2018-03-27 09:29] #77 closed

[2018-03-27 18:12] alanlanglois commented on #66
@ilyakar  did you tried this:
https://github.com/dooboolab/react-native-iap/issues/14

[2018-03-27 18:34] jirgl commented on #73
Yes, it looks like a bug at iTunes Connect side. In case of app from TestFlight and tester's account is everything OK. Thank you for your hint.

[2018-03-27 18:35] #73 closed

[2018-03-28 17:01] neilco opened #82 "Pod install fails due to empty description in package.json"
### Version of react-native-iap

- react-native-iap 0.3.0-beta3
- cocoapods 1.4.0

### Expected behavior

`pod install` completes without any errors

### Actual behavior

`pod install` fails because `description` in `package.json` is empty.

[code]

### Steps to reprodue the behavior

- `npm install react-native-iap --save`
- `react-native link react-native-iap`
- `cd ios`
- `pod install`

[2018-03-29 03:44] JJMoon commented on #82
We don't use pod in react-native-iap. I followed your steps, but it doesn't reproduce the errors.
Can you share the podfile?

[2018-03-29 08:25] neilco commented on #82
It seems that `react-native link react-native-iap` adds this to my Podfile:

[code]

I guess the README needs to be updated to let others know they should remove this line. I can submit a pull request if you like.

[2018-03-29 08:47] dooboolab commented on #82
@neilco Yes it would be helpful if you give us PR. Please give us PR to `dev` branch following the contributing guidelines.

[2018-03-29 08:48] dooboolab commented on #66
@ilyakar can you delete `pod 'RNIap', :path => '../node_modules/react-native-iap'` from your Podfile? It should not be there. I will update this one.

[2018-03-30 11:08] alanlanglois opened #84 "[ANDROID] Subscription keep being here wherease it has been canceled"
### Version of react-native-iap
0.3.0-beta3
### Expected behavior
if a subscription is canceled, it shouldn't appear anymore when calling: getAvailablePurchases()

### Actual behavior
When calling getAvailablePurchases I keep receiving a subscription I previously canceled (and not present in the google play store anymore

### Steps to reprodue the behabior

Receiving:
`[InApp] checkSubscription ::

[2018-03-30 11:10] alanlanglois commented on #84
I just tried to restart the phone, and it worked, the subscription disappear from the list received callinggetAvailablePurchases()

[2018-04-01 14:59] dooboolab commented on #84
@alanlanglois This is quite ambiguous because it may depends on your playstore status. Please tell us again if this is keep happening..

[2018-04-02 10:09] ilyakar opened #86 "Android price returned is actually the localizedPrice"
### Version of react-native-iap
0.2.17

### Expected behavior
On Android, product.price should be a number e.g., 23.99

### Actual behavior
Returns "CZK 23.99"

### Steps to reproduce the behavior
-

[2018-04-02 10:22] alanlanglois opened #87 "[Android] RNIapModule.prepare got 0 argument, expected 1"
### Version of react-native-iap
0.3.0-beta3

### Expected behavior
Expected to work on production.

### Actual behavior
It works fine when testing localy, but when testing in production (beta channel) I got this error when first starting the app.
![image](https://user-images.githubusercontent.com/712986/38192859-52d40fc6-366f-11e8-96ef-2c9e1dd582cd.png)

When trying to get the list of products I g

[2018-04-02 10:27] alanlanglois commented on #87
I re link the lib, rebuild it and re-upload it, and it seems to work now.
Maybe it was a problem with the module not beeing updated correctly.

I close this issue.

[2018-04-02 10:27] #87 closed

[2018-04-02 18:31] tehong commented on #76
I've upgraded to 0.3.0-alpha1 I think that fixed my problem of HTTP response is not OK.  I'm not worry about no items at this point.  I am mainly interested in the HTTP response is not OK.

[2018-04-02 20:57] alanlanglois opened #90 "[iOS] Apple reject app : Guideline 3.1.1 - Business - Payments - In-App Purchase"
### Version of react-native-iap
0.3.0-beta3

### Expected behavior
Pass through Apple App Store validation

### Actual behavior
Apple keep rejecting the app invoking Guideline 3.1.1 - Business - Payments - In-App Purchase

We only use consumable products (we don't even have other products set in itunes connect.

### Steps to reprodue the behabior
Submit an app with inapp purchase and subscription

[2018-04-02 21:08] #84 closed

[2018-04-03 05:51] dooboolab commented on #86
@ilyakar Hi! Thank you for the bug report. I've just fixed this one and published to npm version `0.3.0-beta5`. Could you try this one?

[2018-04-03 05:55] dooboolab commented on #76
@tehong That is strange because we've not updated anything with the HTTP response since `0.2.*` to `0.3.*`. I think you should better check the connection to your play services or network. I am doubting you are living in `China` don't you?

[2018-04-03 05:56] dooboolab commented on #66
@ilyakar any update?

[2018-04-03 05:57] #63 closed

[2018-04-03 06:04] JJMoon commented on #90
Is the product you define a consumable product? If it is, you must setup your server and restore process of your own. That contains some steps as follows.

[2018-04-03 06:06] #14 closed

[2018-04-03 06:07] #82 closed

[2018-04-03 06:14] JJMoon commented on #90
I think I misunderstood your question.

I guess you setup a non-consumable products.
In this case, you need 'restore' button in your app, to restore previous purchased non-consumable products. "Restore Purchases" feature means this button (or any other mean).

I hope this is the right answer

[2018-04-03 06:41] alanlanglois commented on #90
Yes I use only one consumable product.
The purpose of this inapp is to kind of speed up the completion of an action.
In my case, we have stories displayed 1 chapter a day, buying an inapp let you "unlock" the story and read all the chapters in one time if you want to (and  not one chapter a day as before)

Apple says I'm using non consumable product (that can be restore) but it's a little confusin

[2018-04-03 06:47] JJMoon commented on #90
I think your product is 'consumable'. Because, it doesn't match any story. It can vary.
But, it can be considered as non-consumable at the first look. Because, many game stages, stories can be eternally unlock via con-consumable payment.

But, you must implement backend server for this situation.

[2018-04-03 08:37] alanlanglois commented on #90
Ok, it doesn't really match the description given by Apple:

There is no account / login system in the app, it will take some time to implement if really needed.

Nothing in the extension code could let them automaticaly think it is non-consumable products?

[2018-04-03 09:38] ilyakar commented on #66
Thanks for the responses guys! I still didn't get to trying this out as we're focused on the marketing aspects now, but I will and let you know!

[2018-04-03 09:40] ilyakar commented on #86
Okay. I'll give it a try, thanks. The reason I'm still sticking to 0.2.17 is because I had some problems on Android with the `.prepare()` method of 0.3.0-beta4. Apparently, it's expecting some attributes, unlike 0.2.17?

[2018-04-03 13:10] dooboolab commented on #86
@ilyakar `prepare()` method is just same for `prepareAndroid()`. If it is not working as expected could you please share?

[2018-04-03 15:10] kodie opened #93 "getProducts always returns an empty array on iOS"
### Version of react-native-iap
0.3.0-beta5

### Expected behavior
Should return an array of purchasable products just like in Android.

### Actual behavior
Returns an empty array.

### Steps to reproduce the behavior
[code]

Yes I do have the in app purchases set up in iTunes Connect:

![screen shot 2018-04-03 at 10 08 46 am](https://user-images.githubusercontent.com/603949/38258014-142d6ce6-3727

[2018-04-03 15:44] tehong commented on #76
@dooboolab No, I'm from US.  I'm talking about this line that was put in getItemBy* places on 03/05/2018:

[code]

That should fix my problem with 0.2.13.  That line should guard against all getItemBy*() error response.

[2018-04-04 01:36] dooboolab commented on #93
@kodie Hi! Thank you for the issue. Well, we've been testing this case lots of time and this should work fine. Maybe app store is pending for your In-App Purchase so you might wait some time or could you check other things like your pacakage name and that you are in correct dev account?

[2018-04-04 01:44] JJMoon commented on #93
Check the names. I see PRO and pro.
There are several names in iOS products.

[2018-04-04 13:07] Emberice86 opened #96 "Error getAvailablePurchases()"
### Version of react-native-iap 0.3.0-beta5

### Expected behavior Receive list of user's purchases

### Actual behavior Receive next Error:
{
framesToPop:1,
code: E_NOT_PREPARED,
line:135,
column:4004,
sourceURL:"index.android.bundle"
}

### Steps to reprodue the behabior
try {
    const purchases = await RNIap.getAvailablePurchases();
    let purchase = '';
    purchases.forEach(p => {
      if

[2018-04-04 13:36] neilco commented on #96
@Emberice86 Did you call `await RNIap.prepare()` before calling `await RNIap.getAvailablePurchases()`?

[2018-04-04 13:41] kodie commented on #93
@dooboolab @JJMoon I have tried both names. Officially are we supposed to use the Reference Name or the Product ID? I have had the product added in iTunes Connect for quite some time. Package name is fine. The IAP has had a "Waiting for Review" status for weeks. I have tried submitting the app to the app store and they denied it due to not being able to purchase the in app product because I can't

[2018-04-04 13:44] Emberice86 commented on #96
Man, thanks a lot! I absolutely forgot about this! You saved my time!

[2018-04-04 13:44] #96 closed

[2018-04-04 14:11] kodie commented on #93
Also, on the device itself I'm not logged into any account. If I go ahead and do `getAvailablePurchases()` after `getProducts()` (even though it's empty) I get a dialog that asks me to log in. If I log into my sandbox account I get the following error:

[code]

[2018-04-04 17:53] Suraj-Tiwari opened #98 "[COMPILE ERROR] Property 'subscriptionPeriod' not found on object of type 'SKProduct *'"
### Version of react-native-iap
Latest
### Expected behavior
Successful Compile
### Actual behavior
Crash [While Compiling Issue is here file #ref](https://github.com/dooboolab/react-native-iap/blob/2fc12ca05cbddd7e3895a92104c6407ebff7c651/ios/RNIapIos.m#L227)
### Steps to reprodue the behabior
1) npm intall react-native-iap --save
2) Manual link IOS (Library & Binary file)
BUILD environment DEBUG

[2018-04-04 21:28] dooboolab commented on #98
@Suraj-Tiwari I've just updated the readme and the published new version `0.3.1`. Could you follow the readme once more? @neilco have gave us [PR](https://github.com/dooboolab/react-native-iap/pull/99/commits/4e7d528694545ad9685a3dc78e39323cf576aa0f) which might help manual installation for pod project.

[2018-04-04 22:40] dooboolab commented on #93
@kodie your are suppose to use the product id. Also, it is hard for me to figure out your problem because I am not in your environment. What I am doubting about your problem is that configuration on app store for your iap products. Could you share the screentshot for your IAP you setup on [itunesconnect](https://itunesconnect.apple.com)? Also, I am writing some blog on medium about in-app-purchase

[2018-04-04 22:48] dooboolab commented on #76
@tehong Thank you for sharing. That is already fixed in our newer version of `react-native-iap` which will be above `0.3.0-alpha1`. I've just published `0.3.1` also with some thorough testing. Just FYI.

[2018-04-05 07:19] Suraj-Tiwari opened #100 "IAP subscription purchase error."
### Version of react-native-iap
Latest
### Expected behavior
data
### Actual behavior
Error
### Steps to reprodue the behabior
Well in my case, Install -> manual merge -> then this code
[code]

Error message: Type Error Cannot read property of getitems of undefined.

[2018-04-05 08:04] dooboolab commented on #100
@Suraj-Tiwari Check the version and the readme. There is breaking changes in method name.

[2018-04-05 08:04] #100 closed

[2018-04-05 09:09] JJMoon commented on #90
You need 'account / login' system for consumable products.
Non-consumable products belong to Apple Account (for AppStore), so Apple server takes care of it.

[2018-04-05 12:41] Suraj-Tiwari commented on #100
Well that was an example
[code]
This code produce same error too.

[2018-04-05 13:50] dooboolab commented on #100
Could you describe the issue properly? Because I am confused. You wrote `buySubscription` on the code but the error message is `buyProduct` of undefined. Please provide the problem thorougly, so we can understand the problem.

[2018-04-05 13:53] dooboolab commented on #90
@alanlanglois Ok. Sounds like not our issue tough. Please come back to us when there is some other issue.

[2018-04-05 15:51] Suraj-Tiwari commented on #100
Alright, Main issue is Both functions are firing `undefined` error for different variables and other functions too like getProducts() etc..
[this message is on simulator](https://github.com/dooboolab/react-native-iap/issues/100#issuecomment-378922176)

And same code gave this error on Physical device

![Error](https://user-images.githubusercontent.com/22210490/38376661-b9e17bb4-3916-11e8-913d-4cb0

[2018-04-05 15:53] Suraj-Tiwari commented on #100
That's why i filed an issue because i was confused too #reopen this issue until it's resolved.
I'll try to Resolve from my end too.

[2018-04-06 03:35] dooboolab commented on #100
Did you link the library properly? If you checked the version perperly and used the proper methods name, I think that would be the reason you get `undefined`.

If you did, provide us our `module version` and your `react-native version` for more info.

[2018-04-06 04:57] Suraj-Tiwari commented on #100
Ok so this was happening because i forgot to add libRNIap.a
but after adding i Got this #98 again
![ISSUE](https://user-images.githubusercontent.com/22210490/38404054-06556636-3985-11e8-8b9f-11bc6fb63676.png)

[2018-04-06 04:59] Suraj-Tiwari commented on #100
### "react-native-iap": "^0.3.1",
### Successful purchase
### Errors
### Install library > link manually IOS> and again compile error

[2018-04-06 18:00] kodie commented on #93
@dooboolab Between changing the status to "Waiting for Review" and also making sure that I had contracts under "Paid Applications" submitted, I've got it working. Thank you so much for your assistance and your react native module!

[2018-04-06 18:00] #93 closed

[2018-04-08 13:08] ragnorok commented on #90
So would this be the same as having copies of a program for an event? Would you be able to use consumables? Or would it be a non consumable for that event.

[2018-04-09 06:32] dooboolab commented on #76
I think this issue is closed for version above `0.3.0-alpha1` will close this issue.

[2018-04-09 06:32] #76 closed

[2018-04-09 06:54] dooboolab commented on #90
@ragnorok I am not sure, but from my understanding from above, reviewer issues on non-cosumable products.

[2018-04-09 08:28] kasterlod opened #102 "[BUG][ANDROID][0.3.2] cannot find symbol purchaseList"
### Version of react-native-iap
0.3.2
### Expected behavior
android build with succeed
### Actual behavior
node_modules/react-native-iap/android/src/main/java/com/dooboolab/RNIap/RNIapModule.java:236: error: cannot find symbol
 if (purchaseList != null && responseCode == BillingClient.BillingResponse.OK) {
### Steps to reprodue the behavior
react-native run-android with react-native-iap: 0.3.2

po

[2018-04-09 09:12] dooboolab commented on #102
@kasterlod Sorry for that. I've seen your PR but closed it since you commited to `master` branch. Please do this to `dev` branch and we've updated our module to `0.3.3` fixing this mistake. But didn't commited to github waiting for your PR.

[2018-04-09 09:12] #102 closed

[2018-04-09 10:28] dooboolab commented on #86
I think your primary issue is solved.

[2018-04-09 10:28] #86 closed

[2018-04-09 20:41] lunchbag commented on #51
Does this mean there's no way to get information on the purchase, such as the actual price the user paid for the item?

[2018-04-09 20:43] lwansbrough opened #106 "[iOS] promisesByKey is not thread-safe"
### Version of react-native-iap
0.3.0-beta3

### Expected behavior
This dictionary can be accessed by multiple threads at the same time

### Actual behavior
This dictionary crashes when accessed by multiple threads at the same time.

### Steps to reproduce
Hard to reproduce, but here's a log:

<img width="940" alt="screen shot 2018-04-09 at 1 40 44 pm" src="https://user-images.githubusercontent.co

[2018-04-09 20:55] lwansbrough commented on #106
FYI I'm not working on a fix for this right now.

[2018-04-10 08:41] neilco commented on #98
For anyone else who hits this issue, this is where the error originates:

[code]

Since the module is using [an API introduced in iOS 11.2](https://developer.apple.com/documentation/storekit/skproduct/2936884-subscriptionperiod), you'll need use **Xcode 9.2** or later in order to compile the iOS library.

[2018-04-10 17:26] lwansbrough commented on #90
Subscriptions are non-consumable. Any non-consumables must have a restore button. This part of the review process is not determined by what code is in your app, but instead if you expose restore functionality in your UI. Closing as this library is not impacting your review.

[2018-04-10 17:26] #90 closed

[2018-04-10 17:38] lunchbag commented on #51
@dooboolab Thanks for the reply! The result of buyProduct only returns me: { transactionId, transactionDate, transactionReceipt, productId }. If I call getPurchaseHistory or getAvailablePurchases, it returns nothing .... however I am using Sandbox user. If it's regular user, would I see a different output maybe?

[2018-04-11 01:36] ragnorok commented on #90
Thanks!

On Tue, Apr 10, 2018 at 1:26 PM, Loch Wansbrough <notifications@github.com>
wrote:

[2018-04-11 07:44] juragansandhy opened #113 "RNIap.getProducts() not working"
### Version of react-native-iap
0.3.5
### Error
[code]

### My Scripts
[code]

[code]

[2018-04-11 08:11] dooboolab commented on #113
@juragansandhy Um.. what you've shared here seems NP. Could you give us more details like how did you import and the configuration for your IAP in playstore and itunesconnect. Did this happen in both platforms?

[2018-04-11 09:44] simpleblack opened #114 "RN.RNIap.buyProduct() Android Error"
### Version of react-native-iap
react-native: 0.54.4
react-native-iap: 0.3.5

### Expected behavior

This is fabric error log
Android alpha test

[code]
### Actual behavior
[code]
### Steps to reprodue the behabior

In my case getProducts success.
I get an error when I run buyProduct.

[2018-04-11 10:08] dooboolab commented on #114
@simpleblack Sorry for this one. This should be fixed earlier but the code wasn't merged properly from the previous version. So could you please use version `0.3.6`? This should be fixed.

[2018-04-11 10:24] vshab opened #118 "Shouldn't there be endConnection call somewhere for Android?"
Hello!

According to https://developer.android.com/reference/com/android/billingclient/api/BillingClient.html

But i can't find this in the code. Shouldn't it be somewhere actually?

As far as i know similar package for android has this: https://github.com/idehub/react-native-billing#close

Thanks.

[2018-04-11 10:27] simpleblack commented on #114
0.3.7 Error
[code]

[2018-04-11 10:36] dooboolab commented on #114
@simpleblack Yes. I've also seen this. There was some issue in PR. So I am fixing it. `0.3.9` will work fine. Sorry man~.

[2018-04-11 10:45] simpleblack commented on #114
@dooboolab Thanks.

[2018-04-11 10:45] #114 closed

[2018-04-11 12:02] JJMoon commented on #51
I guess not. In consumable products, you get the receipt when you purchase it. You need to verify the receipt then, and apply to user's asset. That's it. You can get non-consumable products when you call getPurchaseHistory.

[2018-04-12 04:46] dooboolab commented on #118
@vshab I've just implemented `endConnection` method on `android` and tested. I think unlike in `react-native-billing` suggested, I think you can just call this method when a component is unmounted from your billing page instead calling it in every transaction. I've written how to use this in the `README` too.

[2018-04-12 10:06] vshab commented on #118
@dooboolab thanks for so fast fix.
Currently i'm working on iOS part of my app and will get to Android in a few days. I'll write here how it is as soon as I test it.

[2018-04-12 10:11] vshab opened #121 "Implement canMakePayments for iOS"
Hello.

According to Apple guidline https://developer.apple.com/library/content/documentation/NetworkingInternet/Conceptual/StoreKitGuide/Chapters/ShowUI.html

It would be really nice to have `canMakePayments`(https://developer.apple.com/documentation/storekit/skpaymentqueue/1506139-canmakepayments?language=objc) exposed to JS.

Thanks.

[2018-04-12 10:15] JJMoon commented on #121
OK. We will implement the function soon.

[2018-04-12 13:36] Symyon commented on #118
Typo in readme. "componentWillUnmount" instead of "componentWillUnMount"

[2018-04-12 15:09] Symyon opened #122 "getAvailablePurchases() returns empty array"
### Version of react-native-iap
0.3.10

### Platforms you faced the error (IOS or Android or both?)
iOS, did not tried on Android yet

### Expected behavior
Get all the unconsumed purchases.

### Actual behavior
I get []

### Steps to reproduce the behavior
on iOS buy some consumable items. Try to buy again, it says these are already bought, so restoring.
Trying to get getAvailablePurchases() to b

[2018-04-12 15:59] Symyon commented on #122
OK, I had to "prepare" the RNIap first.

[2018-04-13 05:32] ilyakar opened #123 "Android app crashes randomly"
### Version of react-native-iap
0.2.17

### Platforms you faced the error (IOS or Android or both?)
Android

### Expected behavior
No crashing

### Actual behavior
App crashes randomly for some users

### Steps to reprodue the behabior
It only happened once for me and was quite random. But a crash ocurred for 40% of my users. I have a Crashlytics stacktrace for you
![13f9384c-3d7e-4c19-92d0-aaf438

[2018-04-13 05:33] ilyakar commented on #123
Here are the devices affected:

![610f5ce3-a67c-461a-898f-198bd0b1e0b1](https://user-images.githubusercontent.com/1760709/38718352-f984cbaa-3eec-11e8-9354-6302ca2803bc.png)

[2018-04-13 07:49] dooboolab commented on #123
@ilyakar Hi. Thank you for the kind report. Hm... could you please try version `0.3.10` and try to release the connection by calling `endConnection` when you leave the billing page? I think there could be an issue for handling billing services.

[2018-04-13 08:55] dooboolab commented on #122
@Symyon This is strange because nothing will happen in ios for `prepare` method. This only affects android billing service to start. Maybe there could be some delay in ios payment to update your products.

[2018-04-13 08:55] dooboolab commented on #118
@vshab glad that you like it. Also @Symyon thank you for the report. I will change readme in next update.

[2018-04-13 08:55] #118 closed

[2018-04-13 09:00] ilyakar commented on #123
Thank you for the reply. I’ll try that today. And will also test the podfile issue we discussed last week.

Kind regards,
Ilya

[2018-04-13 09:51] Suraj-Tiwari commented on #98
@neilco  yup you are right it was an xcode outdated version issue (as i was super lazy to udate :P ) Issue was fixed after i updated it.

[2018-04-13 10:30] companytest1206 commented on #122
@dooboolab I am receiving same error in android. I have added **prepare** method but stills it returns empty array.

[2018-04-13 10:33] companytest1206 opened #124 "getProducts always return null"
@dooboolab I am receiving null array after calling getProducts method after prepare method.

[2018-04-13 11:00] dooboolab commented on #124
@companytest1206 This should not happen. Could you please share more information? Such as your codes, your products status, os, devices, and etc. For in-app products configuration, please refer to [blog](https://medium.com/@dooboolab/react-native-in-app-purchase-121622d26b67).

[2018-04-13 11:26] companytest1206 commented on #124
Here is my code..

`async componentDidMount() {
    try {
      await RNIap.prepare();
      const products = await RNIap.getProducts(itemSkus);
      console.log('Products', products);
    }
    catch (err) {
      console.warn(err.code, err.message);
    }
    this.fetchData();

  }`

My app status is in alpha mode. Using nexus 6 for debugging.

[2018-04-13 12:00] dooboolab commented on #124
@companytest1206 Your code seems fine. What about your product configuration in `playstore` or `itunesconnect`?

[2018-04-13 16:49] ilyakar commented on #123
Okay I tried the latest version, but what's with this new endConnection function? I tried implementing it when the user leaves the billing page, but if the user decides he wants to make a purchase after all, then there is no connection and no purchase screen is opened.

Anyway, I'll try pushing version 0.3.10 to Google Play and see if the app keeps crashing for people.

[2018-04-13 16:51] ilyakar commented on #66
0.3.10 seems to work fine for me. I currently deal with plugins by removing my podfile and then installing them, then adding the podfile back. I haven't tested if the newer version solve the podfile problems.

[2018-04-13 16:51] #66 closed

[2018-04-13 17:32] dooboolab commented on #123
@ilyakar endConnection is to finish the billing thread in android. So if you want to reopen the billing service you need to`prepare` again. So it is recommended to use `prepare` method in `componentDidMount` and `endConnection` in `componentWillUnMount`.

[2018-04-13 18:02] ilyakar commented on #123
Oh I see. Great timing @dooboolab I was about to publish the way it way. I made the necessary changes and will give this a shot. I'll get back in a few days if this solved the crashing. Thank you!

[2018-04-13 18:16] bakedbean opened #125 "buySubscription returning E_UNKNOWN on iOS"
### Version of react-native-iap
0.3.10

### Platforms you faced the error (IOS or Android or both?)
iOS

### Expected behavior
A subscription purchase receipt is returned

### Actual behavior
'E_UNKNOWN', 'An unknown or unexpected error has occured. Please try again later.'

I've followed the setup instructions and am able to call `getSubscriptions()` and get back a valid subscription product.

Wh

[2018-04-13 18:51] ilyakar opened #126 "Doesn't let rebuy Android item on test account"
### Version of react-native-iap
0.3.10

### Platforms you faced the error (IOS or Android or both?)
Android

### Expected behavior
Should be able to rebuy an item as many times as I need since I'm just testing

### Actual behavior
Returns
[code]

### Steps to reprodue the behabior
Buy an item more than once using a test account

[2018-04-13 19:13] ilyakar commented on #126
Hi @dooboolab, it's not a consumable product.  Users have it forever. There's a way to restore the product so it's good to let users known in production that they cannot buy the same product again since they already bought it. But for testing purposes, it gets very uncomfortable to have to use a different account each time all the purchases have been bought.

[2018-04-13 19:13] ilyakar commented on #126
I don't think I had this problem in 0.2.17

[2018-04-14 03:00] dooboolab commented on #126
@ilyakar Ah.. Sorry I was confused. Actually, if it is `non-consumable` product, you can't actually rebuy it. If that was possible in `0.2.17` that must be working awkwardly.. Only consumable products are able to rebuy it. It is same in both platforms (ios and android). If user want to restore the item they have to do it optionally but as in [LINK](https://android.stackexchange.com/questions/61426

[2018-04-14 11:31] dooboolab commented on #123
@ilyakar what is SQ7 device? Hm, are you sure that they're able to use play service? Some Chinese device might crash like that because they don't have the playstore installed. We'll support feature like `isBillingAvailable` method in future.

[2018-04-14 11:32] ilyakar commented on #123
Unfortunately I don’t have more information than that. I’ll let you know if the crashes increase to a drastic rate.

Kind regards,
Ilya

[2018-04-15 07:14] JJMoon commented on #125
You can test 'getProducts' in the simulators, but the other methods in the real devices.
I hope you implement and test as in the example. https://github.com/dooboolab/react-native-iap/blob/master/RNIapExample/src/components/pages/First.js
The apple IAP server sometimes work slowly, or does not work, test it several hours later.

[2018-04-15 15:52] gregoireLem commented on #65
Nop still have no valid products ...

[2018-04-16 01:04] #122 closed

[2018-04-16 01:46] dooboolab commented on #65
@gregoireLem Sorry. I've closed this because you've not given us reply for long time, so I felt you are fine with this. Could you please upgrade to 0.3.10 and try again following the [Blog](https://medium.com/@dooboolab/react-native-in-app-purchase-121622d26b67) I've posted here? I think there might be a configuration problem which someone asked earlier.

[2018-04-16 15:04] dooboolab commented on #126
@ilyakar I've got feedback from my friend developer and he also faced the same problem. Therefore, I came up with solution to use `refreshItems` method that only occurs in `android`. You can use this in `react-native-iap@0.3.13`. Try using it after `prepare` method. My friend was facing this issue because he couldn't find the token of purchased product to consume. Therefore, this `method` is just

[2018-04-16 15:39] bakedbean commented on #125
thanks @JJMoon I appreciate the feedback.  I got it working, it turned out that I needed to be logged into the device using an itunes connect sandbox test user account.

[2018-04-16 15:39] #125 closed

[2018-04-16 16:11] dooboolab commented on #126
Also [this article](https://stackoverflow.com/questions/23712615/android-in-app-billing-getpurchases-returns-empty?utm_medium=organic&utm_source=google_rich_qa&utm_campaign=google_rich_qa) will help you understand what ‘refeshItems’ would solve you.

[2018-04-16 20:53] Symyon commented on #122
@dooboolab  Sorry for the delay. And for the misunderstanding.
My question/issue is for iOS, but my comment with "prepare" is for Android.

So on iOS I am unable to consume my purchased items and for that reason I am unable to re-buy.
getAvailablePurchases() is an empty array.

For Android I also had the problem getting available purchases,  but that was solved with "prepare".

I am still debuggin

[2018-04-16 21:56] gregoireLem commented on #65
Ok I did the upgrade to 0.3.10, now I don't have any errors but my products are empty.

`
const itemIAP = Platform.select({
  ios: [
    'gregoire.test.TipsyDrinkingGame.allMode',
    'gregoire.test.game.shortMode',
  ],
  android: [
  ],
});

async componentDidMount() {
      try {
        await RNIap.prepare()
        const products = await RNIap.getProducts(itemIAP);
        Alert.alert("produc

[2018-04-18 18:42] Symyon opened #131 "Buying the same product twice will give an error"
### Version of react-native-iap
0.3.13

### Platforms you faced the error (IOS or Android or both?)
iOS

### Expected behavior
Expected to buy a product without an issues

### Actual behavior
First time I buy a product_A on a "new" device  - it works.
Second time I try to buy the same product_A (no matter if I restart the app or not)
will not work. The error message is: "An unknown or unexpected e

[2018-04-19 07:00] JJMoon commented on #131
Is the product consumable or non-consumable?

[2018-04-19 11:40] Symyon commented on #131
@JJMoon consumable.
![2018-04-19_07h40_09](https://user-images.githubusercontent.com/1674549/38989446-ea6a5ff6-43a4-11e8-8642-850133fcf1c4.png)

[2018-04-19 16:43] christophercotton opened #133 "0.3.14 Won't compile on iOS"
### Version of react-native-iap
0.3.14

### Platforms you faced the error (IOS or Android or both?)
iOS

### Expected behavior
Compile

### Actual behavior
node_modules/react-native-iap/ios/RNIapIos.m:214:39: String literal must be prefixed by '@'

### Steps to reprodue the behabior
compile the app.

Looks like the 0.3.14 has an error that makes it not compile on iOS. Just need to fix the string l

[2018-04-19 16:44] christophercotton commented on #133
`return [NSString stringWithFormat:"%@ (Error code: %d)", descriptions[0], code];`

should be changed to:

`return [NSString stringWithFormat:@"%@ (Error code: %d)", descriptions[0], code];`

[2018-04-19 20:06] dooboolab commented on #133
@christophercotton I saw you reviewed the PR. I've just fixed this. Also follow the readme that version that is not mentioned in `changelog` may occur some bug because I've not tested that yet.

[2018-04-19 20:12] christophercotton commented on #133
Is there a way to only have tested items show up in NPM? It seems quite difficult for new people using the project like me, and wondering why it wasn't working.

[2018-04-19 20:45] benevbright commented on #133
I'm sorry my bad.
I tried to compile it at this time and made PR again.
Sorry again.

[2018-04-19 22:25] #133 closed

[2018-04-20 00:50] benevbright commented on #131
latest v0.3.15 will give you the error code.
So can you please try the latest release again and what the error code is?
If the error code is -1001, it might be a temporary sandbox's issue from Apple.
I will look this issue as well.

[2018-04-20 19:42] Symyon commented on #131
After the update to 0.3.15 the issue disappeared on iOS.

[2018-04-21 07:30] benevbright commented on #131
Good to hear that!
It may be a temporary issue from Apple since new release does not change anything but the log.
There have been so many problems when we test with the sandbox.
Most cases do not happen in production released by App Store.

[2018-04-21 21:09] #131 closed

[2018-04-23 05:38] trops opened #136 "ProxyBillingActivity?"
### Version of react-native-iap
0.3.15

### Platforms you faced the error (IOS or Android or both?)
Android

### Expected behavior
Making a purchase should work

### Actual behavior
Getting the error
[code]
### Steps to reprodue the behabior
Install react-native-iap with Android manual installation instructions. iOS is running fine it seems through testing, Android can get the subscriptions, but f

[2018-04-23 06:59] ilyakar commented on #126
Yes @deadcoder0904, that's the whole concept of Android test accounts. Which do work fine with the plugin, but as I have pointed out, you cannot make the same purchase twice.

[2018-04-23 09:03] dooboolab commented on #136
@trops Can you share the code in which you face the error? That might be helpful for us to guess the problem.

[2018-04-23 09:58] dooboolab commented on #126
@ilyakar You're saying that it is still not working. Did you tried calling `refreshItems` after buying product? As described in [here](https://stackoverflow.com/questions/12930792/cant-re-buy-in-app-billing-item-on-google-play-after-it-was-refunded?utm_medium=organic&utm_source=google_rich_qa&utm_campaign=google_rich_qa), it may cause some delay in playstore. However, you can force consuming the p

[2018-04-23 10:25] ilyakar commented on #126
Hi @dooboolab, I was just responding to @deadcoder0904 with my previous knowledge. I'm afraid I have not tried your solution and probably won't for some time since it's not an urgent fix. But I will let you know in the future when I have.

[2018-04-24 01:35] trops commented on #136
In the error it asks if I have declared "this activity in your AndroidManifest.xml". so it seems something during the installation went awry

Here is how I am calling it, also, I can load the products successfully.
[code]

[2018-04-24 01:49] trops commented on #136
Turns out, just like the error suggests, the activity was missing. This isn't part of the installation instructions so I was a bit confused when I saw it.

Here is what I added to the AndroidManifest.xml file
[code]

[2018-04-24 05:04] dooboolab commented on #136
@trops Sounds happy that it is solved. However, this is strange because most users didn't need that step to use our module. Also, it wasn't mentioned in android guideline too. Which one is your project created with `react-native init` or `CRNA` or `expo`?
Anyway thank you for your work. I'll update my readme for those who may have problem as you do.

[2018-04-25 13:27] dooboolab commented on #51
@12343954 I just implemented `validateReceiptIos` and `validateReceiptAndroid` methods. However, serverless validation only works in `ios` which is `validateReceiptIos`. The reason for this is written in readme. Could you try these?

[2018-04-25 14:35] martinberbesson opened #140 "[Android] getProducts return always an empty array"
### Version of react-native-iap
0.3.15

### Platforms you faced the error (IOS or Android or both?)
Android

### Expected behavior
Get All products

### Actual behavior
All work fine on iOS but getProducts return always an empty array on android.
I think its a config problem however i followed each step...

APK upload with billing permission / merchant account set up / Create in app purchase...

[2018-04-25 22:09] vadermemo commented on #140
Same issue here

My snippet:

      RNIap.prepare().then(responsePrepare => {
        console.log("=============>responsePrepare:" + responsePrepare);
        RNIap.getProducts(itemSkus).then(response => {
            this.setState({ items  : response});
            console.log("=============>response:" + JSON.stringify(response));
        });
      });

My response on adb.logcat (Android)

208 28

[2018-04-26 05:11] dooboolab commented on #140
Hi~ Could you share your js code for `itemSkus`? Did you set up like below code?
[code]

[2018-04-26 06:26] JJMoon commented on #106
Thank you for your help. I will check.

[2018-04-26 08:16] JJMoon commented on #23
@gitbyzin Sorry for late reply. But, I found there would be nothing to implement in source code. It's some more setting in iTunesConnect product page.
It looks like matter of parsing the product information.

[2018-04-26 15:26] vadermemo commented on #140
Hi @dooboolab

This is my data
const itemSkus = Platform.select({
  ios: [
  	'com.iap.cart',
        'com.iap.doublecoins'
  ],
  android: [
    'double',
    'cart_1500'
  ],
});

Best regards

[2018-04-26 15:52] dooboolab commented on #140
@vadermemo this souds really bad to me.. sorry for that. It works fine in my environment. I will debug more tommorow and surely get back tommorow!

[2018-04-26 16:33] martinberbesson commented on #140
i think i need to have a alpha release... Upload a apk with billing permission is not enough

[2018-04-26 17:54] vadermemo commented on #140
@dooboolab  Well, if there exists a something help for you, maybe is next point:

when I put the configuration on react-native-billing I putted in the resources file "string.xml" the param  <string name="RNB_GOOGLE_PLAY_LICENSE_KEY">
but in react-native-iap I can't see this parameter in action.

The try-catch that you required throws the next log:

1. Change my itemsSkus

const itemSkus = Platform

[2018-04-26 23:08] vadermemo commented on #140
@martinberbesson @dooboolab  Incredible!!

I made another app with the same steps and the app is working on iOS and Android!!. I can`t believe it.

I don´t know which is the reason, but I think is something configuration on code or google console.

PD I was waiting 5 hours to get the correct itemSkus.
PD2 The old app not get itemsSkus even with 24 hours .
PD3 @dooboolab Now You can sleep quiet. :)

[2018-04-27 01:20] vadermemo opened #142 "App Crashed on RNIap.buyProduct"
### Version of react-native-iap
  "dependencies": {
    "react": "16.3.1",
    "react-native": "0.55.3",
    "react-native-iap": "^0.3.19"
  },
  "devDependencies": {
    "babel-jest": "22.4.3",
    "babel-preset-react-native": "4.0.0",
    "jest": "22.4.3",
    "react-test-renderer": "16.3.1"
  },
  "jest": {
    "preset": "react-native"
  }
### Platforms you faced the error (IOS or Android or bo

[2018-04-27 04:45] dooboolab commented on #142
@vadermemo NP bro. What is your test environment by the way?

                 Do's
1)Create sign apk for your application.
2)Upload your apk on Google play store.
3)Create product for your application.
4)wait for 6-12 hour for update item's on store.
5)Give Billing permissions in Manifest.xml

                   Don't
1)Don't use emulator for testing its does not support Billing Services.
2)Don't

[2018-04-27 04:54] dooboolab commented on #140
@vadermemo Glad that it is working.

[2018-04-27 14:10] 12343954 commented on #51
thank you for your job !

I've already implemented the IAP with server backend!

but one problem is , in purchase, app can get the the receipt(the receipt stored in DB), and call the server to validate the receipt, but failed occasionally !  it's so bad the user experience !

i always think that, using your sdk, app get the receipt(and write in the DB) , it's means purchase is succeed.  i let app

[2018-04-27 20:06] dooboolab commented on #51
@12343954 I think reading [this](https://heroiclabs.com/docs/in-app-purchase-validation/) would answer your question.

[2018-04-29 07:24] dooboolab commented on #142
@vadermemo Could you share some repo having problem? So I can debug in your environment. Mine with some others I know of works fine.

[2018-04-29 21:43] rikur commented on #51
@12343954 This might apply to a "premium" purchase or subscription only, but here's what I do: Immediately after receiving the receipt, I give the user a premium status for 48 hours. When the receipt has been validated by the BE, I update the premium status to either be permanent or valid until the end of the subscription.

Gives a relatively nice UX and works flawlessly most of the time. A hacker

[2018-04-30 09:10] #140 closed

[2018-04-30 10:40] dooboolab commented on #142
@vadermemo I really want to hear back from you. Also your experience in other module too.

[2018-05-01 08:56] puckey commented on #142
After calling:
[code]

I experienced the following crash:

(After starting the app again, it seems the purchase did go through)

[code]

[2018-05-01 09:58] dooboolab commented on #142
@puckey Could you try `react-native-iap@0.3.23`? I am not quite sure why this is happening. Also, it looks like you are receiving the purchase data correctly. I've just avoided exception rejection in another thread in `react-native-iap@0.3.23`, hope you can try this one.

[2018-05-01 11:01] puckey commented on #142
The problem went away when I upgraded to 0.3.22.. I will do some more testing to be certain though. (Thanks for the amazing library by the way!)

[2018-05-02 12:57] sanilcgs commented on #124
I have the same issue.

[2018-05-02 16:29] axelkennedal commented on #65
This issue should be closed @dooboolab

[2018-05-02 16:52] vadermemo commented on #142
@dooboolab  All is fine. Please close this horrible bug

Thanks a lot.

[2018-05-02 17:49] vadermemo opened #149 "empty data on AvailablePurchases or purchaseHistory"
### Version of react-native-iap
0.3.20
### Platforms you faced the error (IOS or Android or both?)
iOS
### Expected behavior
An  array not empty of AvailablePurchases or purchaseHistory
### Actual behavior
Empty data on iOS, on Android all is fine

### Tested environment (Emulator? Real Device?)
real device
### Steps to reproduce the behavior
Send the next snippet

const purchases = await RNIap.ge

[2018-05-02 19:55] phlco opened #150 "Error fetching subscriptions - Cannot read property 'getItems' of undefined"
### Version of react-native-iap
0.3.23

### Platforms you faced the error (IOS or Android or both?)
iOS

### Expected behavior
`RNIap.getSubscriptions` should return subscription products

### Actual behavior
Error

[code]
### Tested environment (Emulator? Real Device?)
Emulator

### Steps to reproduce the behavior
I merely followed the example from the readme.

[code]

[2018-05-02 22:04] systemride commented on #140
Per #124 I think this is still occurring - at least for existing apps which it would be good to have a solution for this as well.

[2018-05-03 02:42] vadermemo commented on #150
@phlco  getItems?

Exists these method?
I can see this example in the repo
And you must use a REAL Device to use this npm

[2018-05-03 10:55] dooboolab commented on #150
Fetching products works in IOS simulator but purchase should be in real device. @phlco it seems `react-native-iap` module is not linked to your project because you get `undefined` result in calling the native modules. Please try to link library properly. `react-native link` or follow the manual guideline.

[2018-05-03 10:57] dooboolab commented on #142
@vadermemo NP. Sorry that it wasn't working well in your environment. Unlike `ios`, android may have more issues depends on the device. There still remains issues in pure android's `IAP` module though. We will keep maintain this issue and support for problems. Thank you. I will close this.

[2018-05-03 10:57] #142 closed

[2018-05-03 11:26] JJMoon commented on #149
How many products in your application?

[2018-05-03 11:30] dooboolab commented on #124
@systemride @sanilcgs Could you please share the platforms you are having trouble with using `getProducts` method?

[2018-05-03 12:07] JJMoon commented on #149
The method actually calls restoreCompletedTransactions. So, if you don't have pre-purchased non-consumable products with that id (sandbox tester), it will return empty list.

[2018-05-03 12:27] axelkennedal commented on #124
I'm having trouble with this on Android 7.0 (running on an LG G6), developing on MacOS 10.13.4 @dooboolab

[2018-05-03 12:31] sanilcgs commented on #124
Created my app using **create-react-native-app** package. For integrating in-app purchase I have detached my app. After that I integrated **react-native-iap** into my app. For me the issue is happened in both iOS and android. I am using Android Studio 3.0.1 and Xcode 9.3.  @dooboolab

[2018-05-03 12:39] axelkennedal commented on #124
According to [https://github.com/idehub/react-native-billing](this README) of another library it should be possible to get the available products when running in a debug environment (not an Alpha/Beta release), is that correct? (I'm thinking it should be the same for this library as that probably is dependant on how Google handles the IAP).

[2018-05-03 12:42] axelkennedal commented on #124
Another related question; should the SKUs be prefixed with the package name? In other words; is "unlock_premium" or "com.kimer.unlock_premium" correct when the ID I have specified in Google Play Console is "unlock_premium"?

[2018-05-03 12:57] vadermemo commented on #149
@JJMoon  I got 5 products, 3 consumable y 2 non-consumable

I have this message on all the products "This In-App purchase has already been bought. It will be restored for free". So I think can get those 2 non.consumables products with getPurchaseHistory or getAvailablePurchases, but I only get a empty array.

[2018-05-03 13:59] vadermemo commented on #149
@JJMoon Woooow! With a new sandbox tester all is fine, bro.
I think I make a mistake with the other user tester' data.
Thanks a lot.
This bug is not real, please close it. My bad.

[2018-05-03 14:12] 12343954 commented on #51
Thank you, @dooboolab   @rikur , I will think about it !

[2018-05-03 14:19] vadermemo commented on #124
@axelkennedal The SKUS don´t have any format, are totally customizables. In few words: "unlock_premium" or "com.kimer.unlock_premium"  are correct.

[2018-05-03 14:52] axelkennedal commented on #124
**UPDATE:**
It is now working for me 😄! I tried a couple of things but I'm not sure what was key to getting it to work 🤔 This is anyways what I did:

1. Reinstalled the package
2. Changed my import statement from `import InAppPurchase from "react-native-iap;" to "import * as InAppPurchase from 'react-native-iap';"`
3. Changed my SKU in the code from "com.kimer.unlock_premium" to "unlock_premium"

[2018-05-03 14:52] vadermemo commented on #124
@axelkennedal  you must use any name, but you must use on Google Play Console> your application > Google Play store> in app products. And the SAME name you must use on source code.

[2018-05-03 16:12] phlco commented on #150
@dooboolab Yes! Thank you! I skipped the manual installation.

[2018-05-03 16:12] #150 closed

[2018-05-04 01:34] JJMoon commented on #149
@vadermemo Congrats!!
That happens all the time. Never mind..
Closing this issue.  Thank you for your concern...

[2018-05-04 01:34] #149 closed

[2018-05-04 10:31] JJMoon commented on #106
@lwansbrough Looks like you got this error when you restore non-consumable purchases.
Did you add some other actions after you start the first action?

[2018-05-04 11:44] sanilcgs commented on #124
@dooboolab When I am trying to execute RNIap.buyProduct('*****') with my productID, I got the error message **That item is unavailable**. Actually my managed product is in active state. What will be the issue? I can able to list the product details using RNIap.getProducts(itemSkus). Do I need to add the license key into my app??

[2018-05-04 12:05] dooboolab commented on #124
@sanilcgs could you tell me which platform you are facing error?

[2018-05-04 12:37] dooboolab commented on #124
@sanilcgs are you using our newer module which is ‘0.3.23’? Also similar issue can be found here. https://github.com/dooboolab/react-native-iap/issues/142

[2018-05-04 12:49] sanilcgs commented on #124
@dooboolab  Yes I'm using '0.3.23'. My problem is now with **RNIap.buyProduct('*****')**. I got this error **'Error: That item is unavailable.'**.  Currently I have released my alpha version and published it to google play.

[2018-05-04 12:57] dooboolab commented on #124
@sanilcgs I posted some help info for that in above issue. I will paste here again. Please check below.

             Do's
1)Create sign apk for your application.
2)Upload your apk on Google play store.
3)Create product for your application.
4)wait for 6-12 hour for update item's on store.
5)Give Billing permissions in Manifest.xml

               Don't
1)Don't use emulator for testing its does no

[2018-05-04 13:16] sanilcgs commented on #124
@dooboolab As I already said that my app is not released to production. Now I have released my alpha version only. So can I test this **RNIap.buyProduct('********')** with my alpha version or do I need to release my production for testing purchase???

[2018-05-04 13:38] dooboolab commented on #124
@sanilcga If you read above throughly, you should be aware you do not need to release apk to production. Just alpha or beta is fine but your apk should be signed as explained. Check above once more and see what you are missing first.

[2018-05-04 16:01] axelkennedal opened #151 "Fatal exception in production build"
### Version of react-native-iap
0.3.23

### Platforms you faced the error (IOS or Android or both?)
Android

### Expected behavior
No crashing

### Actual behavior
Application crash

### Tested environment (Emulator? Real Device?)
Android 7.0 running on an LG G6

### Steps to reproduce the behavior

1. Set up an IAP product as described in the Medium article
2. Call `getProducts(itemSKUs)` and `ge

[2018-05-04 16:09] axelkennedal commented on #151
Here is the stacktrace from `adb logcat`:

[code]

[2018-05-04 16:48] axelkennedal commented on #151
After thinking a little bit about it I realized it seemed like the issue was that the functions of module were somehow not called in the intended order and that it had to do with timing, so I figured out the source of the problem. I changed the componentDidMount from this:

[code]

to this:

[code]

My confusion came from the fact that I thought the `await`s in `getProductInfo()` and `getPreviousP

[2018-05-04 16:48] #151 closed

[2018-05-05 13:51] axelkennedal opened #152 "Proper way to wait until prepare is done"
### Version of react-native-iap
0.3.23

### Platforms you faced the problem (IOS or Android or both?)
Android

### Problem
Some methods of this library are getting called before `prepare()` is done.

### Description
I'm wondering what the recommended way is for waiting until the library is ready to process requests on Android.  The example provided in the README cannot really be applied directly t

[2018-05-06 03:41] dooboolab commented on #152
What happens if you try to prepare with `await` before calling `getProducts` in `componentDidMount`?

[2018-05-06 05:54] #65 closed

[2018-05-06 05:57] dooboolab commented on #126
@ilyakar becareful using `refreshItems` because it will consume all the products user has bought. You can only use it if you don't care about those information stored in playstore because you have your won server. Also, this problems use to occur like I posted 13 days ago from [here](https://stackoverflow.com/questions/12930792/cant-re-buy-in-app-billing-item-on-google-play-after-it-was-refunded?u

[2018-05-06 09:01] axelkennedal commented on #152
The point is that I want my class to be a manager of all things related to IAP in my app. and it should be initialized when the app launches. I want to use it in another component aswell, so I don't think putting the `prepare()` in the `componentDidMount()` in my other component (not `App.js`) would be the best idea.

Can I call `prepare` multiple times without any issues? If I use functions from

[2018-05-06 09:09] axelkennedal commented on #152
Perhaps a mutex could be used to solve this issue? I'm thinking that the mutex would be locked in the beginning of the `prepare()` of my class, and that the other functions of my class would wait until that mutex is unlocked. I found [this](https://www.npmjs.com/package/async-mutex) library for JS mutexes.

[2018-05-06 10:02] dooboolab commented on #152
@axelkennedal You can use `prepare` method anywhere, but be sure that you call `endConnection` when you are not needing it. Therefore, call `prepare` in `componentDidMount` and call `endConnection` in `componentWillUnmount` will be fine.

[2018-05-07 11:58] axelkennedal commented on #152
But what if I use the library in two components that load at the same time? Isn't it highly likely then that `prepare()` will be called simultaneously in both components and this creating a race condition?

[2018-05-07 17:05] dooboolab commented on #152
@axelkennedal You need your programming skill to solve this kind of problem currently. If I were you, I would set one global variable that manages if you've called `prepare` method or not. I'll write some code that might help you to solve this kind of problem. You may find better solution tough.
[code]

[2018-05-08 06:08] axelkennedal commented on #152
Yeah, that might be the beginning of a solution, but I think it needs to be paired with a mutex, otherwise there is still the chance that both components call `prepare()` at the same time (the second one manages to call it before the first one has finished and set the global variable). I'll see what I can do, though I think this library should handle this sort of thing built-in.

[2018-05-09 10:14] alanlanglois opened #153 "Crash when consuming product [ANDROID]"
### Version of react-native-iap
0.3.23

### Platforms you faced the error (IOS or Android or both?)
Android (seems to work on iOS)

### Expected behavior
Consume product without crashing

### Actual behavior
It crashes the app

### Tested environment (Emulator? Real Device?)
Real Device (nexus 5X)

### Steps to reproduce the behavior

Prepare iap, buy inapp and consume it:

[code]

The app doesn't

[2018-05-09 16:48] dooboolab commented on #153
@alanlanglois Thanks I will update the doc soon.

[2018-05-09 16:52] dooboolab commented on #152
@axelkennedal
Alright, I will consider your opinion. However, there is very very low chances(close to 0) to assign variable at the same time because once it is being assigned, it will be blocked from the memory based on computer science theory. Therefore, I guess above code will be working fine beyond your concern.

[2018-05-09 18:18] axelkennedal commented on #152
The way that you describe it there are two possible ways of interpreting it.

1. Use a global variable `ready` which is `false` before any call to the library, and `true` once `prepare()` has finished running

OR

2. Use a global variable `openBilling` which is `false` before any call to the library and set to `true` in the very beginning of the implementation of `prepare()`

For interpretation 1

[2018-05-10 04:07] dooboolab commented on #152
@axelkennedal I exactly agree with what you've described above. I just posted the starter solution for your problem. It could be improved, like when you call `getProducts` and get failure message you can call it again after few seconds setting `timeout` method. Also, using `mutex` must be a better solution and for sure I should manage this in the native side. Will come back to you if I've done it.

[2018-05-10 04:46] #153 closed

[2018-05-10 10:05] axelkennedal commented on #152
I'm happy to hear you agree 😄 Yes, this should for sure be handled on the native side 👍

[2018-05-10 21:47] systemride commented on #124
@dooboolab The do's and don'ts above are helpful. For noobs, this would be really helpful to explain in the documentation that you can only test this on an alpha/beta release and if you test this in a dev build on emulator, it will always return an empty array. I see no mention of that anywhere. I'm happy to add this in a pull request if you'd like?

[2018-05-12 07:01] dooboolab commented on #124
@systemride Any PR is appreciated!

[2018-05-12 17:07] Amnesthesia opened #155 "Build fails with deprecation warnings on iOS"
### Version of react-native-iap
Latest (0.3.23)

### Platforms you faced the error (IOS or Android or both?)
Only iOS - Android is working fine.

### Expected behavior
Building and linking should succeed

### Actual behavior
Build fails with deprecation

### Tested environment (Emulator? Real Device?)
Either.

### Steps to reproduce the behavior
Build against iOS 11 SDK

It fails at this point:

[

[2018-05-13 05:44] lwansbrough commented on #55
@dooboolab Please refer to this issue again, as the method has been reimplemented. We need to find a better name for this action. It is very misleading and in cases where someone doesn't pay very close attention to the documentation, they can irreversibly delete transaction information.

[2018-05-13 05:45] lwansbrough commented on #55
Perhaps it would be more appropriate to make a new issue - I haven't checked if the source code does the same thing as it used to, but it sounds like it does based on the description.

[2018-05-13 08:35] dooboolab commented on #55
@lwansbrough Alright what about calling the method name `consumeAllProducts`? Someone need this method because sometimes they need to wait for 24 hours if they refunded the item and try to buy the same thing again. If the app doesn't care about transaction information, this method is quite useful.

[2018-05-13 08:53] #23 closed

[2018-05-13 08:54] #51 closed

[2018-05-13 08:54] #123 closed

[2018-05-13 08:55] #126 closed

[2018-05-13 08:56] #136 closed

[2018-05-13 09:17] lwansbrough commented on #55
Yeah fair enough, I can see the use case is valid. consumeAllProducts is good, or you could call it dangerouslyRefreshAllItems - as long as it’s clear the method does something destructive.

[2018-05-13 09:25] JJMoon commented on #155
I just tested in simulator with current master, which is fine.
I don't get the error message, because it's type error which can be caught in compile time.

`
if (@available(iOS 11.2, *)) {
    NSLog(@"  check  : 11.2 available  %@", product.subscriptionPeriod);  // << break point here..
    itemType = product.subscriptionPeriod ? @"sub" : @"iap";
  }
`

I suggest you to set a break point as above,

[2018-05-14 07:43] dooboolab commented on #155
@Amnesthesia I've just release `1.0.1 to npm. Please try this and comeback to us.

[2018-05-14 07:44] dooboolab commented on #55
@lwansbrough I've renamed `refreshItems` to `consumeAllProducts` in npm `1.0.1`. Closing this again.

[2018-05-14 07:44] #55 closed

[2018-05-15 11:28] mayankbaiswar-CSE commented on #124
@axelkennedal did all those things, I'm still getting an empty array. Any ideas?

[2018-05-15 13:53] feluxz opened #157 "E_NOT_PREPARED "IAP not prepared"
I cloned the example code and tried in the android emulator. Got the following message:

E_NOT_PREPARED "IAP not prepared. Check if Google Play service is available.

Do i have to do something to get the Example code working?

[2018-05-15 17:27] quick-brown-fox opened #158 "Crash in getPurchaseData on iOS"
### Version of react-native-iap
0.3.21

### Platforms you faced the error (IOS or Android or both?)
iOS

### Actual behavior
Application sometimes crashes on the first start:
[code]

https://github.com/dooboolab/react-native-iap/blob/master/ios/RNIapIos.m#L292 The problem is that `receiptData` can be `nil`.

### Tested environment (Emulator? Real Device?)
Real Device

[2018-05-16 05:59] AgNm opened #159 "Undefined is not an object while running sample app"
### Version of react-native-iap
"react": "16.3.2",
"react-native": "0.55.3",
"react-native-iap": "^1.0.1",

### Platforms you faced the error (IOS or Android or both?)
Android 5.1

### Expected behavior
App should work properly

### Actual behavior
While running sample app given here, I am getting error message "Undefined is not an object evaluating..."

### Tested environment (Emulator? Real Devi

[2018-05-16 06:52] dooboolab commented on #159
@AgNm I'll look into this one. Currently, the example may not work as expected because it isn't up to date. Android IAP policy has changed since then.

Below information will be helpful to actually implement yourself. I'll look at the example when I have time. Also, example may not work in ios and android because they might need release bundle key for android and provisioning for ios. Will check h

[2018-05-16 07:04] JJMoon commented on #158
OK. I'll fix it. Thank you for your report.

[2018-05-16 11:14] marciobueno1 opened #160 "Get iOS Subscriptions - Problem"
### Version of react-native-iap
1.0.1

### Platforms you faced the error (IOS or Android or both?)
iOS

### Expected behavior
Get the iOS Subscriptions

### Actual behavior
Always gets an empty array

### Tested environment (Emulator? Real Device?)
Real Device (iPad)

### Steps to reproduce the behavior
only run RNIap.getSubscriptions(itemSkus)

The problem is that on the type field on iOS now hav

[2018-05-16 11:25] marciobueno1 commented on #160
I saw that the iOS code already has this deprecated item type, but it is still used on the JS file:

https://github.com/dooboolab/react-native-iap/blob/master/index.js#L56

[2018-05-16 12:53] dooboolab commented on #160
@marciobueno1  @JJMoon will be back to you since he committed this changes. Also, I've heard ios doesn't distinguish between 'sub' and 'inapp' like 'android'. You could try to create 'inapp' product too  and test it before he is back.

[2018-05-16 14:50] vishalgadhiya91 commented on #159
I have same issue,

I have implement "react-native-iap" in my project but it gives error :

**undefined is not an object (evaluating 'RNIapModule.prepare')**

- I have try to detach expo and link iap but, its gives same error.

- I have also try to manual installation and everything but same problem

Note: My project config with expo

So, Whats problem hear ???

Thanks.

[2018-05-16 15:02] vishalgadhiya91 opened #161 "undefined is not an object (evaluating 'RNIapModule.prepare')"
### Version of react-native-iap
1.0.1

### Platforms you faced the error (IOS or Android or both?)
Android

### Expected behavior
Working
### Actual behavior
undefined is not an object (evaluating 'RNIapModule.prepare')
### Tested environment (Emulator? Real Device?)
Real Device
### Steps to reproduce the behavior

My Project is configured with expo

Steps
npm install — save react-native-iap
react

[2018-05-16 16:29] feluxz commented on #157
Thanks, i got it working on device.
I used the product ID provided by google, 'android.test.purchased'.
They weird thing is that it only worked once. Iv'e reinstalled the app, i even did a new APK and installed. Still not working. Is there something that has to be set after purchase? Reset something?
This is my code, It's a simple button that increments after successful purchase:

[code]

[2018-05-16 16:33] feluxz commented on #157
I should add that nothing happens when i press the button, as it did the first time with the whole google pay alerts.

[2018-05-16 17:08] dooboolab commented on #161
@vishalgadhiya91 Could you try to open up the android studio and do `clean` and `rebuild`? That may happen because our module is not linked to your project properly.

[2018-05-17 07:22] #160 closed, assigned to JJMoon

[2018-05-17 07:56] JJMoon commented on #158
Did you get this when 'start up' of App ? Or did you touch button?

[2018-05-17 07:59] quick-brown-fox commented on #158
I get this right on the application start. It crashes when trying to process my previous sandbox purchases.

[2018-05-17 09:40] koloff opened #162 "Error: Cannot find module 'react-transform-hmr/lib/index.js'"
Hello! Everytime I try to install react-native-iap, my app will not run. I am having the following error:

[code]

The same error shows if I try to link the package.

If i remove the package and run npm install, everything works as expected. The platform is IOS. The version of react-native-iap is 1.0.3.

[2018-05-17 10:08] #162 closed

[2018-05-17 17:51] capslock35 opened #163 "itemSkus"
### Version of react-native-iap
1.0.0
### Platforms you faced the error (IOS or Android or both?)
both
### Expected behavior
library working properly
### Actual behavior
it is not
### Tested environment (Emulator? Real Device?)
both
### Steps to reproduce the behavior
what is a itemskus exactly? my app's bundle id is org.reactjs.native.whatsappwebapp , my product id is com.whatsappweb.forever and

[2018-05-18 06:44] JJMoon commented on #163
I guess you don't have basic concept in IAB and IAP. I suggest you to look over the guidelines of Google and Apple. You need development accounts of both platform and application of your own for test and debugging. This is not for explaining those instructions.
So, I close this issue.

[2018-05-18 06:44] #163 closed

[2018-05-18 06:52] JJMoon commented on #158
@quick-brown-fox  Why do you process previous purchase? You have to initiate new transaction if you failed a purchase.
And you have to call 'finishTransaction' explicitly after you validate the receipt in iOS.
We changed this very recently.

[2018-05-18 07:05] JJMoon commented on #124
@axelkennedal `getProducts()` in iOS works well on simulator. Purchasing actions should be test on the real device with sandbox apple account.

[2018-05-18 07:07] JJMoon commented on #106
@lwansbrough I added some sync queue to manage the actions. I hope you check the source. It's on the PR.

[2018-05-18 07:09] JJMoon commented on #61
@12343954 Any progress on this issue? We made some more protective code to iOS side. Would you try again? I will close this issue in the near future.

[2018-05-18 07:11] JJMoon commented on #64
Issue too old. Closing

[2018-05-18 07:11] #64 closed

[2018-05-18 07:53] quick-brown-fox commented on #158
I use `buySubscription` method to purchase subscriptions. In this case transaction should be finished automatically.
The only call I make on the application start is:
[code]

[2018-05-18 21:38] rikur commented on #113
I'm getting similar error to `adb logcat`. Works fine on iOS, but getSubscriptions() fails on Android. Will update.

[2018-05-18 21:58] rikur commented on #113
Figured it out. My Google Account had been signed off on the emulator. Once I signed in, the error went away.

[2018-05-18 22:54] rikur opened #165 "validation"
the validation scripts provided don't use shared secret (apple) or purchase signature (android). MITM attack could make face purchases.

I also think it's a bit dangerous to store the Google API key in the app.

[2018-05-19 05:13] dooboolab commented on #165
@rikur could you explain more detailed? What validation script are you talking about? receipt validation? We are not storing google api in the app.

[2018-05-19 05:29] rikur commented on #165
I just re-read the documentation and noticed you're discouraging the use those methods on the device, which is good.

[2018-05-19 05:35] rikur commented on #165
I'm trying to do validation of both purchase receipts and historical purchases (restore purchases). I can't use npm package `voltrue2/in-app-purchase` because `react-native-iap` doesn't return the same JSON as Google Play does.

I'll close this issue. I was just surprised to see on-device validation scripts included, since those shouldn't be trusted.

[2018-05-19 05:35] #165 closed

[2018-05-19 06:09] JJMoon commented on #106
This issue is applied on 1.0.4.

[2018-05-19 06:10] dooboolab commented on #158
@quick-brown-fox I've published fix to `1.0.4`. Could you check if this is fixed too in your environment?

[2018-05-19 06:10] #106 closed

[2018-05-19 06:18] #158 closed

[2018-05-20 04:33] dooboolab commented on #152
@axelkennedal I've released `1.0.5` fixing this. When you called `prepare` method, then before you call `endConnection` it won't start billing client again. I'll close the issue. Please reopen it when you still have problem in `1.0.5`.

[2018-05-20 04:33] #152 closed

[2018-05-20 04:36] dooboolab commented on #161
@vishalgadhiya91 Still having problem? Please try linking other libraries too because you might have trouble in linking and not our module. Try something like [react-native-linear-gradient](https://github.com/react-native-community/react-native-linear-gradient) which is simple easy one. Detached expo app should do this with np.

[2018-05-20 11:37] axelkennedal commented on #152
I'm not sure I understand what you mean. Are you telling me that the other functions of the library will now wait until `prepare` has finished?

[2018-05-20 11:41] axelkennedal commented on #124
@JJMoon if you read my comments you would have known I'm on Android, not iOS.

[2018-05-21 19:29] raduflp commented on #124
@axelkennedal being passive aggressive with the people who voluntarily spend their precious time trying to help you will not get you a long way.

@JJMoon @dooboolab  thank you for the great work

[2018-05-22 12:00] axelkennedal commented on #124
@raduflp lol what are you talking about? I just pointed out that we are on different platforms

[2018-05-22 13:16] Amnesthesia commented on #155
Thank you @dooboolab :-) Everything is working great!

And thank you so much for the time and effort you've put into this library! I've tried out many different ones, but this is **the** one :-)

[2018-05-22 13:16] #155 closed

[2018-05-22 13:20] SlZeroth commented on #151
I have same error .. did you found solution

[2018-05-22 20:33] dooboolab commented on #124
@raduflp Thank you for your kind response and concern. I don't think @axelkennedal meant it to be aggressive. He is just too overwhelmed using `react-native-iap`. Feel like this issue can be closed so I'll close it. Also, any PR is appreciated that may help new generations.

[2018-05-22 20:33] #124 closed

[2018-05-22 20:35] #161 closed

[2018-05-23 04:35] rikur commented on #159
@dooboolab quick note: you need to upload an apk with the Billing permission enabled before you can create IAPs.

[2018-05-23 11:46] nullarch opened #168 "Errors with calling 'await RNIap.prepare();' for in app purchase in Android"
### Version of react-native-iap
the lastest version for now

### Platforms you faced the error (IOS or Android or both?)
Android

### Expected behavior
calling 'await RNIap.prepare();' succesfully

### Actual behavior
I got an error message saying 'Illegal callback invocation from native module. This callback type only permits a single invocation from native code'

I have an error at the 347 line

[2018-05-23 15:00] dooboolab commented on #168
@SlZeroth What is the version of your react-native? I'll watch this one tommorow. It's 12 PM in here, need to go to sleep :(

[2018-05-24 01:15] andrideng opened #169 "Cannot read property 'buyProduct'"
### Version of react-native-iap
"react-native-iap": "^1.0.5",

### Platforms you faced the error (IOS or Android or both?)
IOS

### Expected behavior
Can buy Product

### Actual behavior
Can't buy product. got this error.
Screen shoot: [https://ibb.co/mhzeBT](url)

### Tested environment (Emulator? Real Device?)
Emulator.

### Steps to reproduce the behavior
When click to trigger buyProduct('Produ

[2018-05-24 09:19] JJMoon commented on #169
You cannot make purchase test in iOS simulator. Please use actual device. I will close this some days later for your review.

[2018-05-24 13:48] guzza82 opened #170 "getProducts: Empty product array"
### Version of react-native-iap
the lastest version for now

### Platforms you faced the error (IOS or Android or both?)
IOS

### Expected behavior
Read and buy product

### Actual behavior
After RNiap.prepare, I invoke the getProducts method on a static array of bundle ids associated with products already loaded and approved on iTunesConnect. The response is empty array, What could be the problem

[2018-05-24 17:38] dooboolab commented on #168
@SlZeroth I've just tested in my environment and couldn't reproduce this one. Are you calling any native modules when trying to use `react-native-iap` method? Also, [this](https://github.com/Microsoft/react-native-code-push/issues/1259) might be helpful to you.

[2018-05-24 19:50] dooboolab commented on #159
@rikur That is already in the readme. What's the point of mentioning this one?

[2018-05-26 15:48] fergalindez opened #171 "How to implement changes in the user subscription plan (downgrade or upgrade) or cancel the subscription"
### Version of react-native-iap
1.0.5
### Platforms you faced the error (IOS or Android or both?)
Both

[2018-05-28 01:41] JJMoon commented on #171
In iOS you can cancel subscription in `setting` app.

[2018-05-28 01:43] dooboolab commented on #171
For android, users can view the status of all of their subscriptions and cancel them if necessary from the app's screen in the Play Store app. Currently, the In-app Billing API does not provide support for programmatically canceling subscriptions from inside the purchasing app.

[2018-05-28 01:52] fergalindez commented on #171
thanks a lot @JJMoon @dooboolab

[2018-05-30 00:14] jordanmkoncz commented on #140
For anyone who's still running into this issue, you should first of all read https://stackoverflow.com/a/35132936/1374827 and ensure you've met all the requirements outlined in that post.

If that stuff is all good, check that you are calling the appropriate function. For me, I had an app where I was only using Subscription in-app purchases, but I was mistakenly calling `RNIap.getProducts` and of

[2018-05-30 13:35] kristfal opened #172 "[Android] Return storeReceipt.data in getAvailablePurchases"
### Version of react-native-iap

Latest

### Platforms you faced the error (IOS or Android or both?)

Android

### Expected behavior

Calling `getAvailablePurchases` should return the full purchase object, similar to the purchase object returned during a purchase, eg:

[code]

### Actual behavior

Right now, data is omitted. The result is an array of:

[code]

### Tested environment (Emulator? Rea

[2018-05-30 13:57] kristfal commented on #172
Looking at the code, you seem to return data in `getPurchaseHistory`, however that method fails with:

[code]

Any advise on how to move forward?

[2018-05-30 22:37] noahhayes commented on #122
I have the same issue. I was wondering if it had something to do with not calling finishTransaction or because I'm using a sandbox user.

[2018-05-31 00:48] noahhayes commented on #122
hey @Symyon not sure if you figured it out... but for anyone else that needs help, the solution is to make sure you're not signed into a sandbox testing account. Once I signed into my real Apple account, getAvailablePurchases prompted me to authenticate correctly.

[2018-05-31 01:50] dooboolab commented on #172
@kristfal Will this help? I will update npm for your [PR](https://github.com/dooboolab/react-native-iap/pull/173).

[2018-05-31 03:43] noahhayes commented on #122
Okay another update. So the problem came back and then I was able to make it work after I signed out of my apple account and signed back in as the sandbox. Something about signing in and out seems to reset it.

[2018-05-31 06:56] kristfal commented on #172
Thanks for the merge. Yes, that resolves my issues. Keep in mind that I was still unable to make `getPurchaseHistory` work, but I don't need it for my use case now that `getAvailablePurchases` returns all fields. Closing for now.

[2018-05-31 06:56] #172 closed

[2018-05-31 09:41] Swyanmitra opened #174 "In app purchase in expo"
Hello,

We are using Expo to create our project. In our project one important topic is in-app purchase. Could you help me
how to implement in-app purchase using expo and what are necessary steps we need to follow to implement this.

[2018-05-31 12:15] nico1510 commented on #152
@dooboolab do you know of any disadvantages of calling `prepare` just once for the whole application lifetime instead of before every API call ? I don't plan to use this library in components but in a redux saga which is running the whole time.

[2018-05-31 13:55] cliff commented on #170
I had the same problem and I checked all the steps multiple times, in the end this fixed my problem:

1. Use only the ProductID not the BundleID + ProductID for SKUs (instead of "com.example.myapp.product1" use just "product1")
2. I had to submit the app and then "developer reject" it right after.

[2018-05-31 22:37] EvanBacon commented on #174
Simply:
* create a new branch `detached`
* run `exp detach`
* do all the same stuff you would normally do
* switch back to `master` to add js code
* when coding in `master` wrap your IAP module code with the following:
[code]
* This way your code won't crash when calling IAP methods
* When deploying or testing IAP use the detached branch - or just skip the branches altogether and go rogue >:)

The

[2018-06-01 03:14] #171 closed

[2018-06-01 12:48] pehagg commented on #168
I'm having the same issue, appears to happen when we reset the app state (user signs in or out of Facebook and we need to re-sync all data). We essentially end up in a state where we call prepare for a second time.

The error in the console is: `The callback prepare() exists in module RNIapModule, but only one callback may be registered to a function in a native module.`.

Running RN 0.55.3 and RN

[2018-06-01 13:33] pehagg commented on #168
Workaround, track if prepare has been called at all and call endConnection before any subsequent calls.

[2018-06-01 16:33] SlZeroth commented on #168
@pehagg hmm .... I got same error The callback prepare() exists in module RNIapModule, but only one callback may be registered to a function in a native module..  on real device ,  where console did you saw  "Error: The service is disconnected (check your internet connection." error  ??

[2018-06-01 16:36] SlZeroth commented on #168
@pehagg  I tested react native iap module after upload alpha APP.

[2018-06-01 16:38] SlZeroth commented on #168
import React, { Component } from 'react';
import {
  Platform,
  StyleSheet,
  Text,
  View,
  Image,
  TouchableHighlight,
  ImageBackground,
  TouchableOpacity,
  FlatList,
  Alert,
  AsyncStorage
} from 'react-native';

import {
  WaveIndicator
} from 'react-native-indicators';

import * as RNIap from 'react-native-iap';

import { MAIN_COLOR } from '../utils/Color'
import { getUserInformation }

[2018-06-01 16:38] SlZeroth commented on #168
`import React, { Component } from 'react';
import {
  Platform,
  StyleSheet,
  Text,
  View,
  Image,
  TouchableHighlight,
  ImageBackground,
  TouchableOpacity,
  FlatList,
  Alert,
  AsyncStorage
} from 'react-native';

import {
  WaveIndicator
} from 'react-native-indicators';

import * as RNIap from 'react-native-iap';

import { MAIN_COLOR } from '../utils/Color'
import { getUserInformation

[2018-06-01 16:38] SlZeroth commented on #168
import React, { Component } from 'react';
import {
  Platform,
  StyleSheet,
  Text,
  View,
  Image,
  TouchableHighlight,
  ImageBackground,
  TouchableOpacity,
  FlatList,
  Alert,
  AsyncStorage
} from 'react-native';

import {
  WaveIndicator
} from 'react-native-indicators';

import * as RNIap from 'react-native-iap';

import { MAIN_COLOR } from '../utils/Color'
import { getUserInformation }

[2018-06-01 16:39] SlZeroth commented on #168
`
export default class PaymentScreen extends Component {
  static navigatorStyle = {
    tabBarHidden: true,
  };

  constructor(props) {
    super(props)

    this.state = {
      cashItems: [],
      cash: ''
    }

  }

  async getInapp() {
    try {
      await RNIap.prepare();
      const products = await RNIap.getProducts(itemSkus);
      console.log(products)
      this.setState({ cashItems

[2018-06-01 16:39] SlZeroth commented on #168
export default class PaymentScreen extends Component {
  static navigatorStyle = {
    tabBarHidden: true,
  };

  constructor(props) {
    super(props)

    this.state = {
      cashItems: [],
      cash: ''
    }

  }

  async getInapp() {
    try {
      await RNIap.prepare();
      const products = await RNIap.getProducts(itemSkus);
      console.log(products)
      this.setState({ cashItems:

[2018-06-01 16:40] SlZeroth commented on #168
`export default class PaymentScreen extends Component {
  static navigatorStyle = {
    tabBarHidden: true,
  };

  constructor(props) {
    super(props)

    this.state = {
      cashItems: [],
      cash: ''
    }

  }

  async getInapp() {
    try {
      await RNIap.prepare();
      const products = await RNIap.getProducts(itemSkus);
      console.log(products)
      this.setState({ cashItems:

[2018-06-02 08:15] nico1510 commented on #152
@dooboolab thanks I'll follow your advice :)

[2018-06-02 16:21] evanjmg opened #176 "RNIapIos.m:3:9: 'React/RCTLog.h' file not found"
### Version of react-native-iap
1.0.1 and 1.0.6 - haven't tried other versions
### Platforms you faced the error (IOS or Android or both?)
iOS
### Expected behavior
Builds should work with react-native-iap
### Actual behavior
On Build,
/node_modules/react-native-iap/ios/RNIapIos.m:3:9: 'React/RCTLog.h' file not found

### Tested environment (Emulator? Real Device?)
Real Device builds and emulator

[2018-06-02 16:41] evanjmg commented on #176
Seems I was importing the pods and linking. No need for the pod with react-native link.  Sorry.

[2018-06-02 16:41] #176 closed

[2018-06-03 11:44] martnst opened #177 "AndroidRuntime: FATAL EXCEPTION with android.test.canceled"
### Version of react-native-iap
1.0.6

### Platforms you faced the error (IOS or Android or both?)
Android

### Expected behavior
no crash, instead fail gracefully

### Actual behavior
crash in android native module

### Tested environment (Emulator? Real Device?)
Device: Motoralo Moto G4

### Steps to reproduce the behavior
Testing my app with test iap id `android.test.canceled` I get the followi

[2018-06-04 07:15] dooboolab commented on #177
@martnst I haven't tried this one. I'll come back to you if I try this.

[2018-06-04 10:08] vshab commented on #171
@dooboolab I think there is a method to upgrade or downgrade subscriptions on Android: https://developer.android.com/google/play/billing/billing_subscriptions#Allow-upgrade

Do you think we can have this? :)

[2018-06-05 00:58] younes200 commented on #170
Same here for me, bot ProductID and BundleID+ProductID not working at least for iOS, not tested yet on android.
@cliff what do mean by "developer reject" it right after ? you app didn't get validated because of that ?

[2018-06-05 09:49] coldfins opened #178 "Facing issue in IOS."
Hey @dooboolab  I am facing issue

It's working fine in Android. Every setup is done correctly for IOS.
<img width="1437" alt="screen shot 2018-06-05 at 3 18 54 pm" src="https://user-images.githubusercontent.com/30524626/40968705-d6e8f3e4-68d3-11e8-9be9-56981b2546f0.png">

[2018-06-05 11:56] vsingh-techracers commented on #151
@SlZeroth
prepare() method is used for android according to docs on this module so need to end the connection for android. If we do not end the connection get the error "java.lang.RuntimeException: Illegal callback invocation from native module"

**add this in your code file**
  async componentWillUnmount() {
    await RNIap.endConnection();
  }

[2018-06-06 08:26] JJMoon commented on #170
@younes200 'Developer reject' means you apply app (product) review (to Apple company in iTunesConnect) and reject it before the review. But, it is not necessary. I test without this process.
I guess you should check the IDs on iTunesConnect and strings in JS array.

[2018-06-06 08:28] JJMoon commented on #169
@andrideng Your screen shot link is broken.
Did you solve the problem?

[2018-06-06 10:14] andrideng commented on #169
yes. it solved. thanks 👍

[2018-06-06 10:14] #169 closed

[2018-06-06 10:14] andrideng commented on #178
@coldfins try to connect the module manually. :D

[2018-06-07 05:55] yasheshkt commented on #177
Even I am facing the same issue with **android.test.canceled**.

[2018-06-07 06:35] chris-divvito commented on #178
+1 same issue at the moment, checking out the manual connection option now

[2018-06-07 10:19] dooboolab commented on #177
@martnst @yasheshkt Sorry for late come back guys. I was really busy these days. Could you please try `1.0.8`? I've just tested this out and found out there purchases could be null when `buyProduct`. Please reopen when it is still crashing in `1.0.8`. Thank you for the report!

[2018-06-07 10:19] #177 closed

[2018-06-07 10:38] coldfins commented on #178
@JJMoon & @andrideng thanks for your suggestions. iOS link was broken fixed it by manually linking.  :D

[2018-06-07 10:41] coldfins opened #179 "IOS thumb purchase."
Hello, Is there any way I can Purchase using thumb imprint in IOS? Is there any workaround for that?

[2018-06-07 11:51] dooboolab commented on #168
@SlZeroth Are you still suffering? Have you read [this](https://github.com/Microsoft/react-native-code-push/issues/1259)?

[2018-06-07 11:52] #157 closed

[2018-06-07 11:54] benevbright commented on #179
Because you’re testing it in the sandbox.
It will be Ok with using thumbs when it’s in production.

[2018-06-07 11:55] JJMoon commented on #179
I have no clue how to do it. There are several authorizing methods out there, we have to arrange those methods first.

[2018-06-07 11:56] JJMoon commented on #179
Wel.. @benevbright answered very well. We will close this issue after some time.
@coldfins Thank you for your concern.

[2018-06-07 23:31] chris-divvito commented on #178
Can confirm, manual linking worked fine - of note, I had to also remove the line from the podfile as per the ejected expo app suggestion (although mine is not an ejected app)

[2018-06-08 08:11] wasedaigo opened #180 "Any reason Purchase does not include orderId(Android Only) ?"
I am thinking of using orderId to identify the purchase on Android (originalTransactionIdentifier for iOS). It seems like purchaseToken can be used for this purpose, however it appears too large compared with orderId. Is there any specific reason you are not including orderId in the response?

[2018-06-08 08:42] wasedaigo commented on #180
Oh ok... it seems transactionId represents orderId on Android. Got it.

[2018-06-08 08:42] #180 closed

[2018-06-08 08:52] wasedaigo opened #181 "Add explanation of transactionId to ReadMe"
I want to confirm, how things work.
My understanding is it behaves as follows in case of managed products:

iOS (transactionId=transactionIdentifier)
- ```transactionId``` can change even for the same user-product pair
-  ```originalTransactionId``` is always the same, but empty for the very first purchase

Android (transactionId=orderId)
- ```transactionId``` is empty for sandbox environment (is

[2018-06-08 09:51] wasedaigo commented on #181
It is also missing the explanation for attributes such as "signature" and "data"

[2018-06-08 10:53] wasedaigo commented on #168
I am getting the same error:
This is my dependencies:
[code]

[2018-06-08 11:01] kasterlod opened #182 "[QUESTION][ANDROID] how to get active subscriptions?"
### Version of react-native-iap
- 1.0.8
### Platforms you faced the error (IOS or Android or both?)
- Android
### Expected behavior
- get actual active subscription
### Actual behavior
- getPurchaseHistory/getAvailablePurchases returns transactions even if was cancelled
### Tested environment (Emulator? Real Device?)
- both

I will be pleasure for any information if its available to achieve this [

[2018-06-08 11:06] wasedaigo commented on #168
ok, basically there is a pass that a promise can be called multiple times. In case I hit this line, the same promise will be invoked twice.
https://github.com/dooboolab/react-native-iap/blob/master/android/src/main/java/com/dooboolab/RNIap/RNIapModule.java#L119

[2018-06-08 11:51] wasedaigo opened #183 "The app hangs when buyProduct() has an error"
Version 1.0.8

If I have a line like this, this will never get returned - it hangs.
In my case the error is *responseCode: 7(ITEM_ALREADY_OWNED)*
[code]
I think this is an unwanted side effect caused by this commit.
You probably should at least resolve the promise if you do not want to reject it.
https://github.com/dooboolab/react-native-iap/commit/d74846c4e0e6bbf65e3a4a1749aa675a53bf1724#diff-b21

[2018-06-08 14:03] donjordano opened #184 "Android hangs on RNIap.prepare()"
### Version of react-native-iap
1.0.8

### Version of React Native
0.55.4

### Platforms you faced the error (IOS or Android or both?)
Android

### Expected behavior
prepare for a purchase or return an error

### Actual behavior
The app hangs and not returning nothing.
### Tested environment (Emulator? Real Device?)
Real device

### Steps to reproduce the behavior
Here is the test code:
[code]

Hi

[2018-06-08 14:42] dooboolab commented on #183
@wasedaigo I've get that code away because below code does that when purchaseListener is called.
![image](https://user-images.githubusercontent.com/27461460/41164177-7f9aab74-6b75-11e8-843b-e54d57904cfe.png).
However, I've revived this code again for you to see how it works. It is in `1.1.0`.

[2018-06-08 14:47] dooboolab commented on #182
@kasterlod could [this](https://github.com/anjlab/android-inapp-billing-v3/issues/278#issuecomment-307199619) help? Think you need to clear the cache. Please try this solution and give me any advice for enhancement.

[2018-06-08 14:55] dooboolab commented on #181
@wasedaigo Alright, I couldn't care all the docs since there were lots of contributions. Thank you for your point out. I'll soon update the readme(maybe next week)? Also, I'm not sure about getting empty transactionId in sandbox environment. Maybe, I need to ask google for that. Please, come back to us when you find any updates.

[2018-06-08 14:56] dooboolab commented on #184
@donjordano Could you share what is printing after `RNIap.prepare()`? Do like below.
[code]

[2018-06-08 15:13] dooboolab commented on #168
@wasedaigo Sounds good if not calling `endConnection` was an issue. I felt like calling and finishing services in every purchase would result in some side effect so I left to other developers taste. I've just suggested to them starting service in billing component and ending it when `componentWillUnmount`. I'll be more specific in the readme sooner.

[2018-06-08 16:09] #179 closed

[2018-06-08 17:18] wasedaigo commented on #168
As long as it is clearly state in the docs calling endConnection is fine. I saw other libraries did open/close for this as well.

As long as we can avoid this magical error from appearing we should be able to close this issue

[2018-06-08 19:07] wasedaigo commented on #183
Ok, this is not hanging anymore.
I needed to do a bit work as android errors were not documented.
Here is how I am handling the error. Does this look alright? You can close the issue now.

[code]

[2018-06-08 19:28] vshab opened #185 "Subscription upgrade in Android"
### Version of react-native-iap
1.1.0

### Platforms you faced the error (IOS or Android or both?)
Android

### Expected behavior
Be able to upgrade subscription

### Actual behavior
There is no way to upgrade subscription in Android

### Tested environment (Emulator? Real Device?)
Real Device

### Steps to reproduce the behavior
See API

### Description

Hello!

In iOS upgrading is handled by the

[2018-06-09 01:34] JJMoon commented on #181
@wasedaigo Please take a look at IAP document.
https://developer.apple.com/documentation/storekit/skpaymenttransaction/1411288-transactionidentifier
TransactionID is the id of a `transaction`, which is a purchasing action of a product on a specific time.
For example, you purchased a product named 'BOX' at 6th June 2018 whose transaction id is 'jk32lk'.  If you restore that product, the transaction

[2018-06-09 06:15] donjordano commented on #184
@dooboolab here is the result:
[code]

[2018-06-09 06:44] donjordano commented on #184
@dooboolab I manage to fix it. The issue was in **settings.gradle**  somehow these two lines:
[code]
appear 3 times. So I deleted dublicated lines and it work.

[2018-06-09 16:09] dooboolab commented on #185
@vshab Since, I am really busy these days, hope you could give us some `PR` to this repo for new features or new features won't be applied for a while..

[2018-06-09 16:12] dooboolab commented on #184
@donjordano Yes~ react-native link still has some bugs when linking. You should check the changes in your project files every time you use this command to link automatically.

[2018-06-09 16:12] #184 closed

[2018-06-09 16:15] dooboolab commented on #183
@wasedaigo Good idea. I understood that. I think I can manage this one but since I am really busy these days, I may not upgrade this feature for a while.. I am out of time with my work so these days I am just maintaining this module for those who needs help or fixing critical bugs. I maybe helpful maybe after 2~3 months from now. Sorry for that. However, I may have time to review the `PR`.

[2018-06-10 03:16] dooboolab commented on #183
I've publshed your PR to `1.1.2`. I will close this for now.

[2018-06-10 03:16] #183 closed

[2018-06-10 06:41] #178 closed

[2018-06-10 10:12] wasedaigo commented on #183
I can help with PR at some pint, but I need to know what you would like to do.

[2018-06-10 18:03] Prudwell commented on #140
Ok after wrestling with this, my issue turned out to be my inexperience with android. I had been messing with the package name in dev and while it ran fine on the device, the package name not being set up perfectly is why it was returning an empty array. After following [these steps](https://stackoverflow.com/a/37390022/4766311) and [these](https://stackoverflow.com/questions/13117081/the-item-you

[2018-06-11 06:25] #168 closed, assigned to nobody

[2018-06-11 11:35] kasterlod commented on #182
Thank you. I found something which I thing is acceptable solution.

RNIap.getAvailablePurchases returns purchased subscriptions, which contain "autoRenewing" field.
If true, the subscription is active, and will automatically renew on the next billing date. If false, indicates that the user has canceled the subscription which is valid until expiration date (transactionDate + duration of the subscri

[2018-06-11 11:55] #185 closed

[2018-06-11 12:02] BenIrving opened #190 "validateReceiptIos always returns false"
### Version of react-native-iap
1.0.7
### Platforms you faced the error (IOS or Android or both?)
iOS
### Expected behavior
validateReceiptIos returns true for valid receipts
### Actual behavior
validateReceiptIos always returns false
### Tested environment (Emulator? Real Device?)
Real device, sandbox app store
### Steps to reproduce the behavior

I am able to make subscription purchases successf

[2018-06-12 04:37] dooboolab commented on #190
@BenIrving Oops, my mistake. Could you try `react-native-iap@1.1.5` and come back again?

[2018-06-12 09:30] immohdali opened #191 "An unknown or unexpected error has occured - react-native-iap"
Getting error after login to apple for in app purchase payment

Err. message - An unknown or unexpected error has occured. Please try again later.

Err.Code - E_UNKNOWN

First I am loading product via product id then calling for payment

async buyplan() {
        try {
            await RNIap.prepare();
            const products = await RNIap.getProducts([`${this.state.productid}`]);

[2018-06-13 01:46] JJMoon commented on #191
In your source code.
[code]
Why did you enclose the productid with ${} ? How about to try this ?

[code]

Of course, the productid should be string.

[2018-06-13 05:17] immohdali commented on #191
Version of react-native-iap
"react-native-iap": "^1.1.6"

Platforms you faced the error (IOS or Android or both?)
Only IOS

Tested environment (Emulator? Real Device?)
Real Device + Simular

Steps to reproduce the behavior
No idea

[2018-06-13 12:20] immohdali commented on #191
What is a meaning of E_UNKNOWN error..?

please help me it very urgent.

[2018-06-13 14:14] martnst commented on #177
@dooboolab thanks for the quick fix. It working fine for me now.

[2018-06-14 04:59] JJMoon commented on #191
@immohdali Would you read my answer above ?

[2018-06-14 05:01] dooboolab commented on #191
@immohdali  You are wrapping the two possible err handling at once so it would be better to seperate them and see which line it exactly is occuring.
[code]
[code]

Do something like below.
[code]

We need to understand the problem to help you out.

[2018-06-14 06:58] immohdali commented on #191
@JJMoon  Yes...

@dooboolab ... I implement your code but still i am getting E_UNKNOWN error after login for payment

[2018-06-14 08:45] immohdali commented on #191
try {
            //await RNIap.prepare();
            const products = await RNIap.getProducts([`${this.state.productid}`]);
          } catch (err) {
            console.warn(`getProducts: ${err}`);
          }

          try {
            await RNIap.buyProduct(this.state.productid).then(purchase => {
                console.warn('done')
            }).catch(err => {
                console.war

[2018-06-15 08:00] dooboolab commented on #191
@immohdali Alright, you are having problem from getting product which means your app is having problem fetching `in-app` items. Have you followed [blog](https://medium.com/@dooboolab/react-native-in-app-purchase-121622d26b67)? Have you checked your product id?

[2018-06-15 08:58] immohdali commented on #191
No.. products are fetching properly. it will be helpful if u help me via teamviewer

[2018-06-15 09:04] dooboolab commented on #191
@immohdali Alright. Today, I am out of time. I'll comeback 18 hours later from now. Is it fine?

[2018-06-15 09:08] immohdali commented on #191
Its only 2 min work for you...actually from tomorrow 2 days holidays. I hope you understand

[2018-06-15 09:09] immohdali commented on #191
if you want i will share you files you can update and send me again

[2018-06-15 09:24] dooboolab commented on #191
@immohdali I am working on phone right now and will not stay with my pc for today.. Yeah it will be better if you can share the repo instead files.

[2018-06-15 09:51] immohdali commented on #191
Repo link - https://github.com/immohdali/janmo.git

I added my src folder where all components

Its a matrimonial site below i shared you login access when u will click on profile chat icon it will redirect you to membership screen.

Login Details :
Email :  prasad@gmail.com
Password : 123456

[2018-06-15 15:49] lc3t35 commented on #170
@younes200  @guzza82 did you solve this issue ?

[2018-06-16 03:05] dooboolab commented on #191
@immohdali Hey, I've looked your repo just now and I can't help you with this. You gotta give me your complete building environment to just start the project. Also you've not given me your itunesconnect which I can't help either. You should think yourself how you can help somebody with this to.

[2018-06-16 03:19] dooboolab commented on #191
@immohdali I have to go out exactly after 90 minutes from now.. I'll be back at night which is 8hours from now.

[2018-06-16 03:27] immohdali commented on #191
no problem. i will be there after 8 hours from now

On Sat, 16 Jun 2018, 8:49 am Hyo Chan Jang, <notifications@github.com>
wrote:

[2018-06-16 03:28] immohdali commented on #191
no problem i will be there after 8 hours from now

[2018-06-16 09:46] dooboolab commented on #191
@immohdali Sorry, I think I'll take two more hours to be back home.

[2018-06-16 09:51] immohdali commented on #191
no problem. i am waiting

Add me at skype - immohdali

On Sat, 16 Jun 2018, 3:16 pm Hyo Chan Jang, <notifications@github.com>
wrote:

[2018-06-16 10:07] dooboolab commented on #191
I am not using skype. What about slack? Here is invitation [link](https://join.slack.com/t/reactnativeseoul/shared_invite/enQtMzgyNjkyMDYzNDkxLTg1Y2RjNGI1NmE3YTY2NDBmMThmZTU1YTRmN2Q3YjA3MTZiMTQ3MjQ4ZGEzMzJiMDZmZmM0ZTAxODAxMTgwYWQ)  for ReactNativeSeoul.

[2018-06-16 12:29] dooboolab commented on #191
@immohdali I am on now. Write me something on slack.

[2018-06-16 12:30] #191 closed

[2018-06-16 12:32] #190 closed

[2018-06-16 14:01] immohdali commented on #191
Sorry... there was internet issue... please tell me when u will be
available..?

On Sat, Jun 16, 2018 at 6:00 PM, Hyo Chan Jang <notifications@github.com>
wrote:

[2018-06-17 03:53] dooboolab commented on #191
@immohdali Can't help you more than that. I've look into your code remotely more than an hour yesterday and told you how to improve your code in slack. It was not a bug or anything but just your immature coding skill. You need to solve your problem yourself. I can answer your question and guide your coding like I've did yesterday but I won't edit your code anymore. I've done this kind of thing lot

[2018-06-17 20:33] feluxz opened #193 "Build on Appstore doesn't fire the in-app purchase"
Hello, i've tried this for a while with test flight and have now uploaded the app to AppStore. In Testflight it works perfect, when i press the button (for a consumable) i get a request to log in to buy the product. Now when i press on the release build on app store nothing happens. Any idea why this is?

[2018-06-18 12:34] feluxz commented on #193
I had missing metadata on the in-app purchase. So the app was released without in-app purchase attached. Now my in-app purchase is on review on iTunes connect and i have uploaded a new binary with in-app purchase.

[2018-06-18 12:34] #193 closed

[2018-06-19 09:36] dawidvdh opened #194 "App title included in product title"
### Version of react-native-iap

### Platforms you faced the error (IOS or Android or both?)

Android, I have not yet tested iOS

### Expected behavior

`title` property in products returned from `RNIap.getProducts` should be the same as the title set in the store.

### Actual behavior

`title` property is set as the title in the store with the addition of the App name in parentheses, like so `Som

[2018-06-20 23:25] wasedaigo opened #195 "Return an JSON parse error"
I got a report from a customer that she does not seem to be able to restore her items correctly. I am suspecting something is failing during the JSON parse of BillingResponse. (for example, if orderID is missing, this would fail) I want to catch this error and throw it to Crashlytics.

Another approach is instead of returning an error, keep an empty field empty instead of relying on GetString() to

[2018-06-21 06:12] Ashi90 opened #197 "Didn't get restore item in ios"
Hello All,
I'm using inApp Purchase in one of my App for both iOS  and Android, and I've successfully bought an item using this library. But when I go to restore purchase it returns me multiple items in the Array. So please let me know how can I found my product.

### Version of react-native-iap : 1.0.3

### Platforms you faced the error (IOS or Android or both?): iOS

### Expected behavior: I nee

[2018-06-21 08:33] lc3t35 opened #198 "[SOLVED] RNIap.getSubscriptions error : [TypeError: undefined is not an object (evaluating 'RNIapIos.getItems')]"
### Version of react-native-iap
1.20

### Platforms you faced the error (IOS or Android or both?)
tested on iOS only

### Expected behavior
get list of subscriptions

### Actual behavior
RNIap.getSubscriptions error :  [TypeError: undefined is not an object (evaluating 'RNIapIos.getItems')]

### Tested environment (Emulator? Real Device?)
both

### Steps to reproduce the behavior

[code]
I not abl

[2018-06-21 09:43] ilyakar opened #199 "Promote IAPs from App Store?"
Does this plugin support SkPaymentTransactionObserver method so that the In-App Purchases can be promoted on the iOS App Store?
https://developer.apple.com/app-store/promoting-in-app-purchases/

[2018-06-21 09:47] dawidvdh commented on #170
Having the exact same issue, even having a in app purchase Product ID being: `com.product.product.allitems` and just using `allitems` for the sku did also not work.

[2018-06-21 09:52] ilyakar commented on #199
Here’s the PR of react-native-in-app-utils and how they solved this:

https://github.com/chirag04/react-native-in-app-utils/pull/179

[2018-06-21 13:48] lc3t35 commented on #198
I had to manually install as described...
[code]

[2018-06-21 13:51] lc3t35 commented on #198
This time after it ask me to connect (disconnect on your real device first), I was able to grab the subscription detail
[code]

[2018-06-21 13:53] #198 closed

[2018-06-21 14:17] lc3t35 commented on #198
FYI, RNIap.getSubscriptions(itemSkus) works also in simulator.

[2018-06-21 19:59] noahhayes opened #200 "[QUESTION][IOS] Renewing after cancellation."
Scenario:
User purchases subscription.
User cancels subscription.
User is prompted to renew subscription.
User purchases (renews).

So my question: What will the renewed purchase receipt look like? Will it use the Original Transaction ID or will it have a totally new Transaction ID?

It seems to be impossible to test this in sandbox so I'm hoping somebody knows!

[2018-06-22 01:19] JJMoon commented on #199
No. We didn't implement this yet. We will implement this sooner or later.

[2018-06-22 01:30] JJMoon commented on #200
I think it can be tested in real device in sandbox mode. Subscription time passes faster during test. For example, 5 minutes instead of 1 day.
The process looks like semi-abusing. And I don't this that works.
@noahhayes Can you test this ?

[2018-06-22 01:33] JJMoon commented on #197
@Ashi90 Restore item recovers already bought items of non-consumable products.
Would you make a new sandbox tester and process with it again?
How many non-consumable products are there in your app?

[2018-06-22 06:31] lc3t35 commented on #170
I've closed this issue https://github.com/dooboolab/react-native-iap/issues/198 that can give you some steps to success ;)

[2018-06-22 07:55] dawidvdh commented on #170
Thanks @JJMoon realised that I was doing something dumb elsewhere (hadn't set u all the tax info on itunesconnect), all works on my end thats for the help.

[2018-06-23 07:00] umeshpatadiya commented on #153
How to consume product once it's purchased? I don't have the product details I bought.

[2018-06-23 09:45] sekhuat opened #201 "buySubscription return E_DEVELOPER_ERROR error in IOS"
### Version of react-native-iap
1.2.1

### Platforms you faced the error
IOS

### Expected behavior
Return the subscription details.

### Actual behavior
Return E_DEVELOPER_ERROR error as below
[code]

### Tested environment
Both in iOS emulator and real device

### Steps to reproduce the behavior
Below is my portion of code that caused the issue when execute.

[code]

I also tried to call getSubs

[2018-06-23 12:46] sekhuat commented on #201
Managed to find out the issue after dig into the ios code RNIapIos.m. I need to call the getSubscriptions() before calling buySubscription(). The reason is there is a variable "validProducts" that need to fill with product data before I can call buySubscription(). Seem like this sequence didn't specify in the README.md.

[2018-06-24 15:47] younes200 commented on #170
Thanks @JJMoon.  it seems that contact info was misssing, I'll re-check that after the Apple finish processing my infos.

[2018-06-24 16:02] #201 closed

[2018-06-25 12:43] lc3t35 opened #202 "[Question] How do you know which subscription is active and if it has not been cancelled by user"
### Version of react-native-iap
1.2.1

### Platforms you faced the error (IOS or Android or both?)
iOS (but same question for Android)

In testing environment, it is not very easy to understand how getAvailablePurchases and getPurchaseHistory work. I only use ***renewable subscriptions***. Here is a dump of what it returns :
[code]
What a mess !
Last transaction is for com.shares.sharesapp.plus (t

[2018-06-25 13:07] lc3t35 commented on #202
About the autorenewable in test environnement :
[code]
I got 5 renewals as expected (https://help.apple.com/app-store-connect/#/dev7e89e149d)

and in history (I removed past events)
[code]
Do you understand something ?

[2018-06-25 15:28] lc3t35 opened #203 "How to decode base64 result.latest_receipt returned by validateReceiptIos ?"
### Version of react-native-iap
1.2.1
### Platforms you faced the error (IOS or Android or both?)
iOS
I was digging into validateReceiptIos to get more information on subscriptions status, I did this
[code]
result.latest_receipt is a base64 encoded json, does someone know the best way to convert it to readable json ?

Ref links :
https://developer.apple.com/library/archive/releasenotes/General/Val

[2018-06-26 05:59] dooboolab commented on #203
@lc3t35 Thank you for your correction. Could you give us a `PR` so that you can be the contributor? Or do you just want me to do this?

[2018-06-26 06:08] JJMoon commented on #202
In iOS you can refer this page for subscription.
https://support.apple.com/en-us/ht202039

[2018-06-26 06:17] dooboolab commented on #195
Merged just now.

[2018-06-26 06:17] #195 closed

[2018-06-26 08:17] dooboolab commented on #203
@lc3t35 I've just fixed it and publisehd to `1.2.3`.

[2018-06-28 07:45] sanilcgs opened #204 "In-App purchase in iOS."
@dooboolab Hi, I have a doubts regarding IAP. I have added three IAP products into app store connect. By mistake, I haven't added any screen shot and promotional images of two of my IAP products. But all the IAPs are getting approved by apple and shows a message **An in-app purchase has been returned and is highlighted in the table below.**. But one of my approved products have submitted with all

[2018-06-28 09:19] dooboolab commented on #204
@sanilcgs Haven't had that issue for me. Since I haven't experienced your case, it is hard to tell.  However, I may guess your status when you put some screenshot for me to read. Cheers.

[2018-06-28 11:50] sanilcgs commented on #204
@dooboolab I have tested with my approved in-app product, but I got the error message **Invalid product ID**. Also when I call the **getProducts** method I got an empty array. In my case, two more in-apps are there with approved status. But I haven't submitted the required images for those products at the time of submission.

[2018-06-28 12:54] lc3t35 commented on #203
Thank you @dooboolab , any idea for decoding base64 encoded json receipt ?

[2018-06-29 12:56] mul1sh commented on #194
Getting this same behavior in android, any help or can I do a pr to fix this?

Thanks

[2018-06-30 05:37] sk25649 opened #205 "transactionDate, originalTransactionDate are undefined for Purchase object"
### Version of react-native-iap
1.2.3
### Platforms you faced the error (IOS or Android or both?)
IOS
### Expected behavior
Both are defined and returned
### Actual behavior
They are undefined
### Tested environment (Emulator? Real Device?)
Real Device
### Steps to reproduce the behavior
1. Get purchases from getAvailablePurchases()
2. Iterate through each purchase's `transactionDate` & `originalT

[2018-06-30 14:13] dooboolab commented on #203
@lc3t35 Haven't had idea yet. I've just use this to verify that the purchase is not malformed. Could you share if you find any news?

[2018-06-30 14:15] dooboolab commented on #202
@lc3t35 You can use `getSubscription` method to know if user subscribe your `iap`.

[2018-06-30 15:20] lc3t35 commented on #202
@dooboolab getSubscription returns an Array of products , but nothing indicates which one the user subscribed ?

[2018-06-30 15:52] lc3t35 commented on #203
@dooboolab  I think there is a problem with the receipt I get, I've tried with another receipt such this one shown here https://github.com/j3k0/cordova-plugin-purchase/issues/215 which decodes well.

[2018-06-30 16:42] lc3t35 commented on #203
It seems that I can get renewal.auto_renew_status ("0" or "1") from
[code]
Is this enough to know if the user has not cancelled his subscription, in this case renewal.auto_renew_status is "0" (i.e. not automatically renewable) ?

[2018-07-01 04:49] dooboolab commented on #202
@lc3t35 I've understood what you are trying to do now.. along with [issue](https://github.com/dooboolab/react-native-iap/issues/203) here. I'll look into this one too next weekend (No time this week..).

[2018-07-01 05:58] JJMoon commented on #202
I hope this might help.
https://stackoverflow.com/questions/26015386/how-do-i-know-that-auto-renewalbe-subscription-is-cancelled-or-not
https://developer.apple.com/library/archive/releasenotes/General/ValidateAppStoreReceipt/Chapters/ValidateRemotely.html
Simply. Verification receipt might help.

[2018-07-03 04:05] mradzinski commented on #194
@dooboolab This is totally the expected behavior and the same provided by Google's `BillingClient` if used natively, so nothing you can do about it.

[2018-07-03 13:02] JJMoon commented on #205
I guess this is right value. Would you take a look at this ?
https://developer.apple.com/documentation/storekit/skpaymenttransaction/1411273-transactiondate

[2018-07-04 17:59] dooboolab commented on #194
@mradzinski Thank you for your update. Then, I will close this issue for now.

[2018-07-04 17:59] #194 closed

[2018-07-06 08:03] AnthonyHaykal opened #206 "Validate iOS Subscription [IOS]"
### Version of react-native-iap
react-native-iap: 1.2.3

### Platforms you faced the error (IOS or Android or both?)
Platform: iOS

### Expected behavior

Returns the status of the receipt.

### Actual behavior

Returns 21004 error code.
The error code says that we need to pass a secret key according to Apple's docs.

### Tested environment (Emulator? Real Device?)

Real Device

### Steps to repro

[2018-07-06 08:32] AnthonyHaykal commented on #202
I don't know if this might help you, but we can use getPurchaseHistory and get the final receipt.
After that, use that receipt to validate it, when validated we get an expiry_time.
We then compare with the current date if the subscription is active or not.

[2018-07-06 11:07] lc3t35 commented on #202
@AnthonyHaykal the problem is now how to decode this receipt -> look at #203

[2018-07-06 11:20] #206 closed

[2018-07-11 02:42] dooboolab commented on #121
@vshab This is released in `react-native-iap@1.2.4`. Sorry for late update. JJMoon hasn't been working on this one! Please reopen when there is an issue.

[2018-07-11 02:42] #121 closed

[2018-07-11 02:50] dooboolab commented on #202
@lc3t35 I'll close this one because validating receipt issue is left.

[2018-07-11 02:50] #202 closed

[2018-07-11 02:51] #61 closed

[2018-07-11 02:51] #170 closed

[2018-07-11 02:52] dooboolab commented on #204
@sanilcgs Yes. You should submit the required images in in-app. I'll close this one since you've solved your issue.

[2018-07-11 02:52] #204 closed

[2018-07-16 09:45] KevinColemanInc commented on #174
@ImArtur

At least for me, Expo development environment is much easier to work with than having to create native builds.  Also, having a free multi-platform push notification service with a singular interface is also super convenient.

[2018-07-16 10:15] dooboolab commented on #174
@KevinColemanInc Yes. I understand because I've been heavy expo user earlier. I really want expo to integrate the `iap` module however I understand it isn't easy for expo to maintain it's environment including `iap` feature. Apple will reject `Expo Client` app in app store firstly.

[2018-07-16 14:33] KevinColemanInc commented on #174
@dooboolab

Heck, as others have proposed, I'd be cool if it was just stubbed out for testing.  I just like expo for the dev experience.

I am considering breaking it out into its own branch in git and keep the dev branch expo friendly.  Once its time for deployment, I could merge in the ejected code, test it, and them deploy the app.

[2018-07-16 18:10] ilysorc opened #207 "Invalid Product ID error on IOS"
### Version of react-native-iap
"react-native-iap": "^0.3.24",
### Platforms you faced the error (IOS or Android or both?)
IOS
### Expected behavior
buying a product
### Actual behavior
returns always invalid product Id error.
### Tested environment (Emulator? Real Device?)
Emulator.
### Steps to reproduce the behavior
I added my first in app purchase feature and i waited for a week but it always

[2018-07-16 23:23] StuartMorris0 opened #208 "Items is not defined"
### Version of react-native-iap
Latest

### Platforms you faced the error (IOS or Android or both?)
Both

### Expected behavior
No Error

### Actual behavior
Error occurs: Items is not defnied

### Tested environment (Emulator? Real Device?)
Both Emulator and Real Device

### Steps to reproduce the behavior

We have a method setup as follows:
[code]

I am finding that the console.warn is getting c

[2018-07-17 17:18] dooboolab commented on #207
@ilysorc That is expected behavior. You can't test the actual purchase in the simulator. Also refer to [medium](https://medium.com/@dooboolab/react-native-in-app-purchase-121622d26b67), your iap status should be `Ready to submit`.

[2018-07-17 17:19] dooboolab commented on #208
@StuartMorris0 If you are having a problem in just fetching the products, our module may not be properly linked to your project. Please try the manual installation either.

[2018-07-17 18:38] ilysorc commented on #207
@dooboolab thank for your reply. i checked medium now. first step says "You need to complete the Payments and Financial Reports" but i clicked this menu i only see reports. How can i configure these steps?
<img width="1298" alt="screen shot 2018-07-17 at 21 34 15" src="https://user-images.githubusercontent.com/2563790/42838484-9f7304fc-8a09-11e8-95a0-4f16450b3cc4.png">

[2018-07-18 06:57] dooboolab commented on #208
@StuartMorris0 It will just return an empty array if it fails to fetch the products. Not sure about your symptoms yet.

[2018-07-18 06:59] dooboolab commented on #207
Oops. I meant you need to complete the `Agreements, Tax and Banking`. Sorry for that.

[2018-07-18 11:29] ilysorc commented on #207
@dooboolab thank you. that is fixed problem.

[2018-07-18 21:53] EvanBacon commented on #174
@ImArtur the question is "In app purchase in expo". You can read about the pros and cons of Expo here: https://docs.expo.io/versions/latest/introduction/why-not-expo

[2018-07-19 09:38] MarkBlythe opened #209 "App store rejection -"
### Version of react-native-iap
1.2.5
### Platforms you faced the error (IOS or Android or both?)
iOS
### Expected behavior
prepare() method should return false with app store restrictions on
### Actual behavior
prepare() method returns true
### Tested environment (Emulator? Real Device?)
real device (iPhone 8)
### Steps to reproduce the behavior

- Set up in app purchases as described in the docu

[2018-07-20 02:05] JJMoon commented on #209
@MarkBlythe I am afraid to say that this is not the issue of this module.
I didn't go through this document, but what I grasped is
you should make some steps (obstacles ?) to purchase the products.

https://developer.apple.com/app-store/parental-gates/

[2018-07-20 07:07] MarkBlythe commented on #209
@JJMoon Apologies, on further discussion with Apple I realised the rejection was 100% their end not the module. This module is great and I plan to use it again in future projects. It would be awesome if we could identify that restrictions on the device were in place however that would be a feature request and not an issue.

[2018-07-20 07:07] #209 closed

[2018-07-20 07:15] Gribadze opened #210 "Undefined is not a function (evaluating 'RNIap.prepare()')"
When I run react-native run-android --variant=release, function .prepare() is undefined
But when I run react-native run-android, .prepare() is a function
my android/build.gradle
`buildscript {
    repositories {
        google()
        jcenter()
    }
    dependencies {
        classpath 'com.android.tools.build:gradle:3.1.3'
        classpath 'com.google.gms:google-services:4.0.1'
  }
}

allproj

[2018-07-20 07:44] Gribadze commented on #210
I've tried to import react-native-iap like this:
import RNIap from 'react-native-iap'
and
import * as RNIap from 'react-native-iap'

[2018-07-20 08:02] JJMoon commented on #207
I guess the issue was resolved. I am closing this issue.

[2018-07-20 08:02] #207 closed

[2018-07-20 09:52] Gribadze commented on #210
I've solved this problem, you may close this issue

[2018-07-20 14:55] dooboolab commented on #210
@Gribadze Ah. Sorry for late comeback. Could you share your experience for those who might face same problem as you do? Thanks.

[2018-07-23 02:13] chris-divvito opened #211 "Invalid source in podspec"
### Version of react-native-iap
Current

### Platforms you faced the error (IOS or Android or both?)
iOS

### Expected behavior
specification can be found

### Actual behavior
specification is not found

### Tested environment (Emulator? Real Device?)
N/A

### Steps to reproduce the behavior
pod 'RNIap' in pod file
`pod install`

"https://github.com/author/RNIap.git" is listed as the source for th

[2018-07-25 08:45] #208 closed

[2018-07-25 18:14] ramonsenadev commented on #203
@lc3t35
For decode this base64 (from subscriptions), you will need to send it to apple server. Like described in https://developer.apple.com/library/archive/releasenotes/General/ValidateAppStoreReceipt/Chapters/ValidateRemotely.html

I was trying to copy the base64 from console while I was debugging my app and trying to make the call to Apple end-point, but it looks like the chrome was truncating

[2018-07-27 08:37] sanilcgs opened #218 "Consuming in-app purchase in android."
I have successfully integrated react-native-iap into my app. Now I have a doubt regarding in-app products in android. I have added 3 managed products in my google play console.  The issue I am facing is when I try to purchase an item for the second time, no action happening. My doubt is, do I need to invoke the **consumePurchase()** method for consuming that item?

[2018-07-27 10:16] rayess opened #219 "how to configure PublishKEY in Android ?"
how to configure PublishKEY in Android ?

[2018-07-29 16:06] dooboolab commented on #219
@rayess Have you gone through the [medium](https://medium.com/@dooboolab/react-native-in-app-purchase-121622d26b67)? You don't need any publishKey to work with our `iap`.

[2018-07-29 16:08] dooboolab commented on #218
@sanilcgs If your product is not `consumable` you can't sue `consumePurchase` method. If your product is `consumable` you may use that to rebuy the item.

[2018-07-29 20:18] cellis commented on #174
Hello and thanks for creating this library! I'm wondering if ( after detaching ) you're supposed to continue to build with exp, or with xcode, in the "detached" branch? Thanks!

[2018-07-30 09:33] bigchamp opened #220 "TypeError: Cannot read property 'canMakePayments' of undefined in IOS"
### Version of react-native-iap
"react-native-iap": "1.3.0",

### Platforms you faced the error (IOS or Android or both?)
both
### Expected behavior
Must be called on Android before any other purchase flow methods. In ios, it will simply call canMakePayments method and return value.
### Actual behavior
TypeError: Cannot read property 'canMakePayments' of undefined in IOS
### Tested environment (Em

[2018-07-30 10:31] dooboolab commented on #220
@bigchamp Could you update our module (currently it's version in 1.3.5) and try to unlink and link again? It is because `react-native-iap` isn't linked properly to your project.

[2018-07-30 21:32] louiskhenghao commented on #220
i am facing exact same issue, the version i've installed was 1.3.5 (tried on emulator)

[2018-07-31 09:27] LuckyLuky opened #221 "E_SERVICE_ERROR Billing is unavailable. This may be a problem with your device, or the Play Store may be down."
### Version of react-native-iap

1.3.5

### Platforms you faced the error (IOS or Android or both?)

Android

### Expected behavior

Working RNIapExample example.

### Actual behavior

When I run RNIapExample, I immediately get this warning:
`E_SERVICE_ERROR Billing is unavailable. This may be a problem with your device, or the Play Store may be down.`
I get the same error when I press `Get availa

[2018-07-31 11:13] dooboolab commented on #221
@LuckyLuky I think the play service is not installed in your device or you are not logged in to playstore. Could you check that?

[2018-08-02 06:49] LuckyLuky commented on #221
@dooboolab Yes, that was it, I wasn't logged in to Playstore. Thank you.

[2018-08-02 06:49] #221 closed

[2018-08-02 10:36] louiskhenghao commented on #220
reinstall the package and relinking solved my issue :D

[2018-08-02 15:34] kddc opened #222 "[QUESTION][IOS] Payment overview with touch id instead of popup"
Hey,

i would expected the touch id payment overview for in app purchase like in the app store or in other apps (see screenshot), but i only saw the old in app purchase popup. Is this due to the sandbox environment or will it always look like this?

Sorry, i'm quite new to in-app purchases and for me it's hard to get any information, without knowing what im actually searching for.

Other than that

[2018-08-02 18:14] kddc commented on #222
Found it here https://medium.com/revenuecat-blog/testing-in-app-purchases-ruins-your-phone-3751665ca5c1

[2018-08-02 18:14] #222 closed

[2018-08-04 18:33] saimemre opened #223 "The callback getItemsByType() exists in module RNIapModule"
I'm testing on the actual device on the android platform.
iap Version ^ 0.3. *.
Error: The callback getItemsByType() exists in module RNIapModule, but only one callback may be registered to a function in a native module.

[2018-08-05 03:56] dooboolab commented on #223
@saimemre Could you share your code? Also, I prefer you to upgrade our module to recent version that fixed lots of potential bugs previously.

[2018-08-11 06:58] phuongwd opened #224 "Android - FAILURE: Build failed with an exception."
### Version of react-native-iap
^1.3.6

### Platforms you faced the error (IOS or Android or both?)
Android

### Expected behavior

### Actual behavior

### Tested environment (Emulator? Real Device?)
Real Device - Samsung S8 - Android 8

[code]

[2018-08-11 07:25] #197 closed

[2018-08-11 07:26] #218 closed

[2018-08-11 07:26] #219 closed

[2018-08-11 07:26] #220 closed

[2018-08-11 15:49] saimemre commented on #223
@dooboolab thanks for answer.

I updated my new account, Now, when the app is opened for the first time, the payment page is not opened and then it opens when it is entered.

`'use strict';

import React, {Component} from 'react';
import {connect} from 'react-redux';
import {Container, Content, List, ListItem, Right, Left, Radio, Text, Button, Header, Icon, Body, Title } from 'native-base';
import

[2018-08-11 23:30] dooboolab commented on #223
@saimemre Could you put all your code in `componentWillMount` to `componentDidMount`? This may cause race condition in your code. Please try again then.

[2018-08-11 23:58] charles85 opened #225 "How to check Payment Decline status in Android Google Play Store @question"
Hi,

Question:

Recently few of our customers payment has been declined in the Google Play store Transaction history. I don't any API or status reference where we can check Payment decline from Google Play store. Any Advice?

We are using RNIap.buyProductWithoutFinishTransaction(id);

Does validateReceiptAndroid help to validate transaction response from Google Play?

Response from Google Play
{"p

[2018-08-13 09:03] Hjord opened #227 "getAvailablePurchases and Promo Codes"
### Version of react-native-iap
0.3.23

### Platforms you faced the error (IOS or Android or both?)
iOS

### Actual behavior
I have 2 devices with the same Apple ID.
2 different items bought with promo code (Non-consumable)
When calling getAvailablePurchases only the purchase made from the other device is restored.
If I restore on a 3rd device, both items is restored.

In short: In app products 'b

[2018-08-13 13:33] dooboolab commented on #225
@charles85 I am not sure about this one but validating receipt may help you find out the problem.

[2018-08-13 13:37] charles85 commented on #225
Ok. We will try with validating receipt on server side because we saw few transaction payment was cancelled after 30 mins user made the purchase. Do we have a callback on this part?

[2018-08-13 16:19] blaues0cke commented on #207
I sill have this issue. Can receive consumable products and subscriptions without any problems. Even buying subscriptions is working pretty well. Only the `RNIap.buyProduct('any sku even the ones from .getProducts()');` result in:

[code]

Do you have any idea? Have no pending contracts, the in app purchases are "Ready to submit" and I am using a working sandbox account.

[2018-08-13 22:29] lc3t35 opened #228 "RNIap.prepare : canMakePayments is not a function"
### Version of react-native-iap :  1.3.6

### Platforms you faced the error (IOS or Android or both?) : iOS 11.4.1

### Expected behavior : no error expected

### Actual behavior

RNIap.prepare sometimes throws an error :
RNIap.prepare error :  TypeError: a.canMakePayments is not a function. (In 'a.canMakePayments()', 'a.canMakePayments' is undefined)

### Tested environment : real device iPhone6s

[2018-08-14 02:30] dooboolab commented on #228
@lc3t35 I am suspecting the mismatch version of `react-native-iap` with the native side. Did you use `react-native-code-push` to actually publish new version of your app? `canMakePayments` had been implemented in later version so currently, I am doubting about it.

[2018-08-14 05:40] JJMoon commented on #227
I cannot understand what your question means.
I guess you are testing restoring non-consumable products.
I suggest you to make a new sandbox tester and test from the scratch.
Your question looks irrelevant to this module itself.

[2018-08-14 05:51] charles85 commented on #225
Yes.

[2018-08-14 06:10] dooboolab commented on #225
@charles85 If user canceled the purchase, I think you can't manage it unless you check the receipt manually. Check `transactionReceipt` field in the readme. Maybe there could be better approach, but currently I think checking the `receipt` is the only way. Check [receipt-validation](https://github.com/dooboolab/react-native-iap#receipt-validation).

[2018-08-14 06:29] naldyn opened #229 "Android Static responses don't work"
### Version of react-native-iap
1.4.0

### Platforms you faced the error (IOS or Android or both?)
Android

### Expected behavior
Use one on the following product IDs during a purchase operation:
android.test.purchased
android.test.canceled
android.test.refunded
android.test.item_unavailable

### Actual behavior
Error message: An error occurred when the server information was retrieved ([DF-BA-AH-

[2018-08-14 07:09] dooboolab commented on #229
@naldyn This is related to [play service issue](https://productforums.google.com/d/msg/play/3dV1K-yk9XY/B0iuvo4nCAAJ). Could you follow [this](https://productforums.google.com/d/msg/play/3dV1K-yk9XY/B0iuvo4nCAAJ)?

[2018-08-14 07:18] Hjord commented on #227
I have updated original post.
It may be irrelevant, I honestly don't know. It's a really weird behavior

[2018-08-14 07:30] hungvu193 commented on #100
i face this issue with react-native 0.5.4 and  react-native-iap : ^1.3.5

[2018-08-14 07:35] andrideng commented on #100
@hungvu193 try to connect the library manually, it works for me. 👯‍♂️

[2018-08-14 07:46] blaues0cke opened #230 "SKUs not merged in getProducts and getSubscriptions"
### Version of react-native-iap

1.3.6

### Platforms you faced the error (IOS or Android or both?)

iOS

### Expected behavior

Get a valid internal list merged with the results of `getProducts` and `getSubscriptions`

### Actual behavior

The internal `validProducts` only contains the last result set of `getProducts` or `getSubscriptions`. This will end up in app store calls resulting in "Error:

[2018-08-14 08:26] JJMoon commented on #230
I am afraid that I don't understand your question.
But, I suggest you to use itemSkus which is defined by you in your source code.
Please refer to the example code. https://github.com/dooboolab/react-native-iap/blob/master/RNIapExample/src/components/pages/First.js

[2018-08-14 08:46] blaues0cke commented on #230
Sorry. I try to be more specific:

1) I use `RNIap.getProducts(productSkuList)` to get a list of all purchasable products available for my app. This will make contain the objc-variable `validProducts` a valid list of products.
2) Then I call `RNIap.getSubscriptions(subscriptionSkuList)` to get a list of all subscriptions available for my app. This will **overwrite** the objc-variable `validProduct

[2018-08-14 09:07] lc3t35 commented on #228
@dooboolab  no, I don't use react-native-code-push but I've detached from expo, add manually as explained in Readme (I can see in Xcode the correct code with canMakePayment), and update code if needed with exp publish.

[2018-08-14 10:56] Suraj-Tiwari commented on #100
There are many fluctuations with latest react-native version.  IF facing any issue try to go previous build,

[2018-08-14 14:03] lefoy opened #231 "Possibility to purchase more than 1 of the same consumable?"
Do you think it would be possible to implement the quantity property for iOS? I need to be able to purchase the same product multiple time.

https://developer.apple.com/documentation/storekit/skmutablepayment/1506170-quantity

Thank you!

[2018-08-14 16:40] dooboolab commented on #231
@lefoy If you find same funtionality in `android`, I'd consider this in next update.

[2018-08-14 16:55] lefoy commented on #231
Unfortunately we didn't find the same functionality on Android :(

Maybe we could add a parameter to the buyProduct function and do nothing with it on Android? I know it's a bit counter intuitive but it would be a great addition for iOS.

The other plugin we were using for IAP is having some issues so we are thinking about switching to this plugin instead. The quantity parameter is very important

[2018-08-14 17:04] dooboolab commented on #231
@lefoy Thanks. If you desperately need this feature, I'd request you to implement `buyProductWithQuantityIOS` to make sure that it only works in `ios`. `PR` will be good.

[2018-08-14 18:31] cuiying408 commented on #228
Same issue here

[2018-08-14 22:16] kolyaVV opened #232 "Error in 2.0.0-alpha3 release (Android)"
### Version of react-native-iap
2.0.0-alpha3

### Platforms you faced the error (IOS or Android or both?)
Android
### Expected behavior
Work properly
### Actual behavior
Error
### Tested environment (Emulator? Real Device?)
Both
### Steps to reproduce the behavior
Just clone 2.0.0-alpha3 and try to run the Android example.

### Solution is
There are probably just typos in the latest release.

FILE

[2018-08-15 01:47] ernestcdc commented on #232
Hi, I am experiencing the same issue. How do you get around this?

[2018-08-15 02:13] ernestcdc commented on #232
I can confirm this issue exists in 2.0.0-alpha3. Workaround is indicated above by @kolyaVV.

Reference: https://developer.android.com/reference/com/android/billingclient/api/Purchase

[2018-08-15 04:57] dooboolab commented on #232
@kolyaVV Fixed in `2.0.0-alpha4`. Sorry I don't know why my editor changed that to lowercase. Please reopen when still causing problem.

[2018-08-15 04:57] #232 closed

[2018-08-15 05:00] dooboolab commented on #228
@lc3t35 @cuiying408 Are you both using expokit? Will this [link](https://github.com/dooboolab/react-native-iap/issues/14) help? Or [this](https://github.com/dooboolab/react-native-iap/issues/178) one.

[2018-08-15 05:09] dooboolab commented on #228
@lc3t35 Also, if you `publish` from expo without releasing new native app, this might cause the problem. `publish` just works as same as that in `react-native-code-push`.

[2018-08-15 08:05] swapkids opened #233 "getProducts() crashes on iOS < 11.2 because introductoryPrice is nil"
### Version of react-native-iap
2.0.0-alpha3

### Platforms you faced the error (IOS or Android or both?)
iOS

### Expected behavior
not crash

### Actual behavior
crashes:
*** Terminating app due to uncaught exception 'NSInvalidArgumentException', reason: '*** -[__NSPlaceholderDictionary initWithObjects:forKeys:count:]: attempt to insert nil object from objects[9]'

### Tested environment (Emulat

[2018-08-15 08:53] dooboolab commented on #233
@swapkids Thanks. Will publish this to `2.0.0-alpha7`.

[2018-08-15 08:53] #233 closed

[2018-08-15 09:55] lc3t35 commented on #228
@dooboolab  please read Actual behaviour : "RNIap.prepare SOMETIMES throws an error :" ;)my app is working fine in sandbox mode as I test it before submitting to Apple (it was submitted yesterday for review).
I just noticed that **sometimes** I have this message, but I was not able to track why it happens.
I suppose it might happen when the user cancels the authentication process on appStore if th

[2018-08-15 10:00] lc3t35 commented on #228
@dooboolab you mean that I have to submit a new app each time I publish ? so what is the interest of react-native if I can hot push RN modifications of the app without touching the app ...

[2018-08-15 10:02] dooboolab commented on #228
@lc3t35 I've read the behavior and I was suspecting if you've upgraded our module and just published to `expo` where `canMakePayments` method is missing in native side. If you've upgraded our module, you must submit new app to apply the native side too.

[2018-08-15 10:30] lc3t35 commented on #228
@dooboolab ok I should have stated that the module was already published with the correct current version that has canMakePayments method. Even the previous build already had the last version of react-native-iap. Of course if there is an update in react-native modules such as react-native-iap, you have to resubmit a build of the app. The current build of the app has the current version of react-na

[2018-08-15 12:22] LinusU opened #236 "Wishlist for 2.0"
Just started using this library and noticed a few shortcomings that I would love to get fixed before 2.0 is out as stable:

- [x] Remove `RNVersion` as parameter from `validateReceipt*` (just read this from `react-native` or simply drop support for old versions)
- [ ] Proper error handling
  - [ ] Add `code` property to all errors
  - [x] Let `prepare` throw an error when payments are disabled on

[2018-08-15 12:32] dooboolab commented on #228
@lc3t35 That's ok. I just tried to share things that I know of. I think we need more information for this one to actually solve it. Please come back to us when you find something new.

[2018-08-15 12:35] dooboolab commented on #236
@LinusU Thanks. We will make this as a todo list before submitting to `2.0`. Will love your `PR` too.

[2018-08-15 13:18] LinusU commented on #236
Nice! Thanks!

Feel free to start with #235 ☺️

[2018-08-15 15:24] fabianunger opened #237 "validateReceiptIos always returns false"
### Version of react-native-iap
2.0.0-alpha3
(I tried 1.1.5 as well, same issue)
### Platforms you faced the error (IOS or Android or both?)
iOS
### Expected behavior
validateReceiptIos returns 0/1/true for valid receipts
### Actual behavior
validateReceiptIos always returns false
### Tested environment (Emulator? Real Device?)
Real device, sandbox app store
### Steps to reproduce the behavior
I a

[2018-08-15 15:39] LinusU commented on #237
At which line are you inserting the log at? 🤔

[2018-08-15 15:44] LinusU commented on #236
#238 addresses the first point

[2018-08-15 16:11] LinusU commented on #236
(added point about `price`/`localizedPrice` to first post)

[2018-08-15 18:00] dooboolab commented on #237
@fabianunger Strange. Should be fixed in #190. Could you share some codes?

[2018-08-16 01:40] JJMoon commented on #230
Oh. I got the point. I will fix it.
Sorry for that.

[2018-08-16 07:09] fabianunger commented on #237
[code]

[2018-08-16 07:13] fabianunger commented on #237
"react": "^16.3.2",
    "react-native": "^0.55.3",

[2018-08-16 08:34] LinusU commented on #236
@dooboolab do you want to merge #235 and #238, and tag a new alpha? Would love to get those changes in ☺️

Or do you want to accumulate all the changes in one big release? I personally prefer keeping incremental, but I'm fine either way 👍

[2018-08-16 08:43] fabianunger commented on #237
@dooboolab It does not need a shared secret somewhere, right?

[2018-08-16 08:52] LinusU commented on #237
@fabianunger Could you try out [this version](https://github.com/dooboolab/react-native-iap/pull/239) and see if it gives you a more detailed error message?

[code]

[2018-08-16 09:04] fabianunger commented on #237
@LinusU @dooboolab
I just added the shared secret in the receiptBody and now it seams to work out.
Maybe I just missed it somewhere in the docs? Or is that not the way it is supposed to happen?
[code]

[2018-08-16 09:40] fabianunger commented on #237
@LinusU
I tested it also with your version: Same outcome.
As a response I get {"status":21004, "environment":"Sandbox"}.

Works by adding the shared secret as the 'password' within the receiptBody. In general: Is this the regular way anyway?

[2018-08-16 11:07] dooboolab commented on #237
@fabianunger You've done it right. For more information [ref](https://developer.apple.com/library/archive/releasenotes/General/ValidateAppStoreReceipt/Chapters/ValidateRemotely.html) here.

[2018-08-16 23:13] backmeupplz opened #241 "'React/RCTLog.h' file not found RNIapIos"
### Version of react-native-iap
`2.0.0-alpha8`

### Platforms you faced the error (IOS or Android or both?)
iOS

### Expected behavior
App builds

### Actual behavior
App doesn't build

### Tested environment (Emulator? Real Device?)
Emulator and real device

### Steps to reproduce the behavior
1. Add `react-native-iap` to the project `npm install react-native-iap --save`
2. Enable iaps in the Xco

[2018-08-16 23:57] backmeupplz commented on #241
Manual installation works

[2018-08-17 04:26] dooboolab commented on #241
@backmeupplz The linking system itself isn't perfect. If something doesn't work you should first try open xcode and build from there and try the manual linking.

[2018-08-17 04:26] #241 closed

[2018-08-17 05:59] dooboolab commented on #231
[PR](https://github.com/dooboolab/react-native-iap/pull/240) merged.

[2018-08-17 05:59] #231 closed

[2018-08-18 08:51] dooboolab commented on #236
@LinusU Merged in `2.0.0-alpha9`. Thank you for the work!

[2018-08-18 10:36] LinusU commented on #236
Awesome! Thanks, really appreciate a release, it helps me keep up with the changes in my app ❤️

[2018-08-19 02:45] 12343954 opened #243 "buyProduct() second time when the first time error"
### Version of react-native-iap
"react": "16.4.1",
"react-native": "0.56.0",
"react-native-iap": "^1.4.0",

### Platforms you faced the error (IOS or Android or both?)
iOS only

### Expected behavior
I want to start a new purchase，whatever success or failure before.

### Actual behavior
in fact, IAP shows:
You have purchased this in-app purchase.
This project will be free to recover.

### Tested e

[2018-08-19 04:05] dooboolab commented on #243
@12343954 I've described [here](https://github.com/dooboolab/react-native-iap/pull/240#discussion_r210671095) about the difference between `buyProductWithoutFinishTransaction` and `buyProduct`. I will try to manage the docs soon. I am trying to release version 2.0.0 today, so it may take time.

You should use `finishTransanction` method after `buyProductWithoutFinishTransaction` to finish up the p

[2018-08-19 04:33] 12343954 commented on #243
@dooboolab very good man！

[2018-08-20 05:50] Hjord commented on #227
No one who know, what may cause this?

[2018-08-22 06:26] Hjord commented on #227
After a bit more research I have found out Promo Codes does only work in production environment.
I cannot test it in sandbox.

[2018-08-22 18:53] greenkeeper[bot] opened #246 "Action required: Greenkeeper could not be activated 🚨"
🚨 You need to enable Continuous Integration on all branches of this repository. 🚨

To enable Greenkeeper, you need to make sure that a [commit status](https://help.github.com/articles/about-statuses/) is reported on all branches. This is required by Greenkeeper because it uses your CI build statuses to figure out when to notify you about breaking changes.

Since we didn’t receive a CI status on th

[2018-08-23 06:55] #246 closed

[2018-08-25 15:36] haotangio commented on #229
Also having the same issue.
@dooboolab I did follow the guideline there but the issue is not solved.
Did someone overcome this problem?

[2018-08-27 11:10] Hjord commented on #227
Update:
I have added some logging for the production app.
And I can confirm that the only thing returned when restoring, is the  product unlocked on the other device.

[2018-08-29 01:27] JJMoon commented on #227
I found same symptom here.
https://github.com/bizz84/SwiftyStoreKit/issues/113
I hope when you test, erase the app, turn off the device.
@Hjord  Thank you for your post.

[2018-08-29 06:34] Hjord commented on #227
I just tried uninstalling the app, restart the phone, install the app and restore.
Same thing happens.

I have tried with a newly create Apple ID. Here it works as expected.

[2018-08-29 10:47] muha-loop4 opened #247 "How to purchase same product again"
"react-native-iap": "^2.0.0-alpha12"
"react": "16.3.1",
"react-native : 55

I want to know is it possible to buy the in app product again, after buying it, because when i try to buy it again, using

 buyItem = async sku => {
    try {
      console.info("buyItem: " + sku);
      //const purchase = await RNIap.buyProduct(sku);
      const purchase = await RNIap.buyProductWithoutFinishTransaction(sk